.open-row {
  background-color: #a6e1ec;
}

.master-row {
  background-color: #fff;
}

.subversion-row {
  background-color: #f2f2f2;
}

.empty-col {
  border-bottom: 0 solid white;
}

.open-accordion {
  border-left: 4px solid #aaa;
}

.categoryLevel1 {
  background-color: #f5f5f5;
}

.categoryLevel2 {
  background-color: #f0f0f0;
}

.categoryLevel3 {
  background-color: #e5e5e5;
}

.categoryLevel4 {
  background-color: #e0e0e0;
}

.categoryLevel5 {
  background-color: #d5d5d5;
}

.categoryLevel6 {
  background-color: #d0d0d0;
}

.categoryLevel7 {
  background-color: #c5c5c5;
}

.categoryLevel8 {
  background-color: #c0c0c0;
}

.categoryLevel9 {
  background-color: #b5b5b5;
}

.categoryLevel10 {
  background-color: #b0b0b0;
}

.open-row {
  background-color: #f2f2f2;
}


.slideUp.ng-hide {
  opacity: 1;
}

.slideUp.ng-hide-add.ng-hide-add-active,
.slideUp.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.slideUp.ng-hide {
  opacity: 0;
}

.accordion-panel-heading span {
  color: #3a87ad;
}

.store-instance-review-accordion .panel-title {
  color: #3a87ad;
}

.accordion-cell-details {
  color: #888;
  display: inline-block;
  margin: 1rem 2rem;
}

.accordion-cell-closed {
  display: none;
}

.accordion-wrapper {
  display: table;
  width: 100%;

  .accordion-header {
    display: table-header-group;
  }

  .accordion-footer {
    display: table-footer-group;
  }
}
