.open-row {
  background-color: #a6e1ec;
}

.master-row {
  background-color: #fff;
}

.subversion-row {
  background-color: #f0f0f0;

}

.empty-col {
  border-bottom: 0 solid white;
}

.open-accordion {
  border-left: 4px solid #5e5e5e;
}

.slideUp.ng-hide {
  opacity: 1;
}

.slideUp.ng-hide-add.ng-hide-add-active,
.slideUp.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.slideUp.ng-hide {
  opacity: 0;
}

.accordion-panel-heading span {
  color: #3a87ad;
}

.store-instance-review-accordion .panel-title{
  color: #3a87ad;
}
