.open-row {
  background-color: #a6e1ec;
}

.master-row {
  background-color: #f0f0f0;
}

.subversion-row {
  background-color: #fff;

}

.empty-col {
  border-bottom: 0 solid white;
}

.open-accordion {
  border-left: 4px solid black;
}

.slideUp.ng-hide {
  opacity: 1;
}

.slideUp.ng-hide-add.ng-hide-add-active,
.slideUp.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.slideUp.ng-hide {
  opacity: 0;
}

.accordion-panel-heading span {
  font-size: 15px;
  color: #3a87ad;
}

.panel .accordion-panel-heading h3{
  font-size: 1.4em;
  font-weight: 700;
  color: #3a87ad;
  margin-top: 0;
  margin-right: 10px;
  display: inline;
}
