.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
	outline:none;
}

.item-top {

	height:45px;

	.btn {
		font-size: 16px;
		font-weight: 100;
		border-radius: 0;
	}

	@media(max-width:$screen-sm-min){

		.btn {
			font-size:13px;

		}

	}

	.btn:nth-child(2) {
		border-left:0px;
		border-right:0px;
	}

}

.top-header {

	.btn{
		margin-left:5px;
	}

}
