/*
 *	Global Colors
 */

$header-bg-color:#565D5E;

/*
 *	Uploader Colors
 */

$upload-bg-color: #FCFCFC;
$upload-drag-color: #97A1C8;

/*
 *	Form/Input Colors
 */

$input-border-color: #ccc;
$form-header-bg-color: #F2F2F2;

/*
 *	Button Colors
 */

/*
$btn-bg-color: #e7e7e7;
$btn-blue-bg-color: #52b3e2;
$btn-blue-color: white;
$btn-blue-border-color: #067286;
*/

$btn-group-bg-color: #cce3b0;
$btn-border-color: #77C797;
$active-btn-bg-color: #94cb66;
$active-btn-border-color: #249057;
