body {
}

.info-container {
  padding-bottom: 25px;
}

.main-container {
  margin-top: 8rem;
}

.module-container {
  padding-left: 71px;
  margin-bottom: 20px;
}

.module-container-epos-configuration {
  padding-left: 320px;
  margin-bottom: 20px;
}

.manualECS-container {
  margin-top:7rem;
}

.manual-epos-container {
	margin-top:30rem;
}

@media (max-width: $screen-sm-min) {
  .manual-epos-container {
  	margin-top:40rem;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .manual-epos-container {
  	margin-top:35rem;
  }
}

.bottom-footer{
  width:100%;
  position: fixed;
  left:30px;
  right:0px;
  bottom: 0px;
  padding: .8em;
  z-index: 10;
  background:$form-header-bg-color;
  border-top:1px solid lightgray;

  p{
    font-size:13px;
    margin-top:15px;
    color:gray;
    font-weight:100;
  }

}

@keyframes newfadeoutgreen
{
  0%   { background-color: rgba(223, 240, 216, 1) }
  100% { background-color: rgba(223, 240, 216, 0) }
}

@-webkit-keyframes newfadeoutgreen
{
  0%   { background-color: rgba(223, 240, 216, 1) }
  100% { background-color: rgba(223, 240, 216, 0) }
}

.new{
  -webkit-animation: newfadeoutgreen 3s linear 2s;
  animation: newfadeoutgreen 3s linear 2s;
}
