/* Uploader Styles */

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    min-width: 200px;
    min-height: 100px;
    height: auto;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    font-size: 2em;
}
.dragover {
    border: 5px dashed blue;
    background: #97A1C8;
}
.thumbnails{
    display:block;
    background: #F8F8F8;
    width:100%;
    padding:1em;
    border-radius:5px;
    margin-top:1em;
}
.img-thumbnail{
    max-width:128px;
}
.img-thumbnail p{
    text-align:center;
    margin-bottom:0;
}
.upload-container button{
    margin-bottom:1em;
    margin-top:1em;
}
.qr-upload-container button{
    margin-bottom:1em;
    margin-top:1em;
}

.qr-code{
    border-radius:5px;
    padding:1em;
}

.qr-code .btn{
    width:128px;
    margin-top:10px;
}