/* Uploader Styles */

.drop-box {

    background: $upload-bg-color;
    border: 5px dashed #DDD;
    min-width: 200px;
    min-height: 100px;
    height: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom:25px;
    margin-top: 10px;
    font-size: 2em;

    p {
        font-size:16px;
        font-style:italic;
    }

}

.dragover {
    border: 5px dashed blue;
    background: $upload-drag-color;
}

.dragover-err {
    border:5px dashed orange;
}

.thumbnails {
    display:block;
    background: $upload-bg-color;
    width:100%;
    padding:1em;
    border-radius:5px;
    margin-top:1em;
}

img.thumbs{
    max-width:128px;
}

.img-thumbnail p{
    text-align:center;
    margin-bottom:0;
}

.upload-container button{
    margin-bottom:1em;
    margin-top:1em;
}

.qr-upload-container button{
    margin-bottom:1em;
    margin-top:1em;
}

.qr-code{
    border-radius:5px;
    padding:1em;

    .btn{
        width:128px;
        margin-top:10px;
    }

}