/* Uploader Styles */

.drop-box.retail-drop-box {
    background: $upload-bg-color;
    border: 5px dashed #DDD;
    min-width: 200px;
    min-height: 100px;
    height: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom:25px;
    font-size: 2em;
    margin-bottom:10px;
    line-height:1.5;

    p {
        font-size:16px;
        font-style:italic;
    }

}

.drop-box{
    background: $upload-bg-color;
    border: 5px dashed #DDD;
    min-width: 200px;
    min-height: 100px;
    height: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom:25px;
    font-size: 2em;
    margin-bottom:10px;

    p {
        font-size:16px;
        font-style:italic;
    }

}

.dragover {
    border: 5px dashed blue;
    background: $upload-drag-color;
}

.dragover-err {
    border:5px dashed orange;
}

.thumbnails {
    display:block;
  //  background: $upload-bg-color;
    width:100%;
  //  padding:15px;
  //  border-radius:5px;
    margin-top:1em;

      /*  p{
            width:115px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }*/

        .progress{

            margin-bottom:0px;

                b{
                    text-shadow:0px 0px 3px black;
                    padding-left:5px;
                }
        }
}

img.fileTest {
  position: absolute;
  top:-1000px;
  left:-1000px;
}

/*img.thumbs{
    max-width:150px;
    padding:1rem;
}

.img-thumbnail p{
    text-align:center;
    margin-bottom:0;
}&*/

.upload-container{
    .thumbnails{
        margin-bottom:1rem;
    }
}

.qr-code{

    border-radius:5px;
    padding: 1rem;

    .btn{
        width:128px;
        margin-top:10px;
    }

}
@media(min-width:$screen-sm-min){

    .tab-content{
     border: 1px solid #ddd;
    }

}

.tab-content{
    background: white;
    padding: 1rem;
    border-top: 0;
    border-radius: 2px;
    margin-bottom: 1rem;
}

qr-create .tab-content{
    padding-right:2rem;
}

qr-create .form-group{

    margin-top:10px;

}

qr-upload{

    .btn{
        margin-bottom:0px;
    }

    .form-group{
        margin-bottom:0px;
    }

    .thumbnails{
        margin-bottom:1rem;
    }

}
