@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,latin-ext);
@import "font-awesome/scss/font-awesome";

@font-face {
  font-family: 'icomoon';
  src:url('#{$fonts-path}/icomoon.eot?-tou0sx');
  src:url('#{$fonts-path}/icomoon.eot?#iefix-tou0sx') format('embedded-opentype'),
  url('#{$fonts-path}/icomoon.woff?-tou0sx') format('woff'),
  url('#{$fonts-path}/icomoon.ttf?-tou0sx') format('truetype'),
  url('#{$fonts-path}/icomoon.svg?-tou0sx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
