@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,latin-ext);
@import "font-awesome/scss/font-awesome";

@font-face {
  font-family: 'icomoon';
  src:url('#{$fonts-path}/icomoon.eot?-tou0sx');
  src:url('#{$fonts-path}/icomoon.eot?#iefix-tou0sx') format('embedded-opentype'),
  url('#{$fonts-path}/icomoon.woff?-tou0sx') format('woff'),
  url('#{$fonts-path}/icomoon.ttf?-tou0sx') format('truetype'),
  url('#{$fonts-path}/icomoon.svg?-tou0sx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: $screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}
