/* Items */

/* Edit Controls */
.edit-controls .btn-group {
  margin:2rem 0;
}
.edit-controls .btn-group .btn {
  width:33%;
}

/* List + Edit Controls */
.list-controls,
.edit-controls {
  margin:2rem 0;
}

.list-controls .collapse {
	margin-top:2rem;
}

/* List Form */
.list-form table {
  margin:0;
}

/* List Footer */
.list-footer {
  margin:2rem 0;
}

.list-footer .dropup {
  display:inline-block;
  margin:0 5px;
}

.list-footer nav {
	display:inline-block; 
}

.list-footer select {
	display:inline-block;
	width:auto; 
}

.list-footer .displaying {
  margin-top:-10px;
}

.list-footer .pagination {
  margin:0;
}