/* Items */

.panel .pull-right.btn {
  line-height: inherit;
  height: auto;
  font-size: 10px;
  padding: 5px 10px;
}

/* Edit Controls */

.view-name {
  margin:0;
  font-size:26px;
}

.edit-controls .btn-group {
  margin:2rem 0;
}

.edit-controls .btn-group .btn {
  width:33%;
}

.form-nav.btn-group {
  width:100%;
  margin-bottom: 2rem;
}

.edit-form h3 {
  position:relative;
  padding:1rem;
  background:$form-header-bg-color;
  font-size:16px;
  border-radius:2px;
}

.form-inline label {
  display:block;
  margin:10px 0;
}

/* List + Edit Controls */
.list-controls,
.edit-controls {
  margin:2rem 0;
}

.item-list-row {
	padding-bottom:1em;
}

/* List Form */
.list-form table {
  margin:0;
}

/* List Footer */
.list-footer {
  margin:2rem 0;
}

.list-footer .dropup {
  display:inline-block;
  margin:0 5px;
}

.list-footer nav {
	display:inline-block;
}

.list-footer select {
	display:inline-block;
	width:auto;
}

.list-footer .displaying {
  margin-top:-10px;
}

.list-footer .pagination {
  margin:0;
}

.top-header{
  width:100%;
  position: fixed;
  left:30px;
  right:0px;
  top: 56px;
  padding-bottom: 1em;
  padding-right:1em;
  padding-left:1em;
  z-index: 10;
  background:$form-header-bg-color;
  border-bottom:1px solid lightgray;

    p{
      font-size:13px;
      margin-top:15px;
      color:gray;
      font-weight:100;
    }

}

.create-item-form label{
  font-weight:100;
  font-size:16px;
}

.create-item-form{
  z-index:1;
  position:relative;
  top:18rem;
}

.post-trip-data-form {
  z-index:1;
  position:relative;
  top:8rem;
  
  .datepicker-container {
  
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.crew-commission-form {
  z-index:1;
  position:relative;
  top:8rem;
}

@media(max-width:$screen-lg-min){

  .top-header{

    .container{
      max-width:90%;
    }

  }

}

@media(max-width:$screen-sm-min){

  .top-header{
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
  }

  .create-item-form{
    z-index:1;
    position:relative;
    top:20rem;
  }
  
}

.item-image-thumbnail {
  display: block;
  margin:0 auto;
  max-width: 48px;

}
