/* Items */

.panel .pull-right.btn {
  line-height: inherit;
  height: auto;
  font-size: 10px;
  padding: 5px 10px;
}

/* Edit Controls */

.view-name {
  margin:0;
  font-size:26px;
}

.form-nav.btn-group {
  width:100%;
  margin-bottom: 2rem;
}

.edit-form h3 {
  position:relative;
  padding:1rem;
  background:$form-header-bg-color;
  font-size:16px;
  border-radius:2px;
  clear: both;
}

.edit-controls excel-upload {
  display:inline-block;
}

.form-inline label {
  display:block;
  margin:10px 0;
}

/* List + Edit Controls */
.list-controls,
.edit-controls {
  margin:2rem 0;
}

.item-list-row {
	padding-bottom:1em;
}

/* List Form */
.list-form table {
  margin:0;
}

/* List Footer */
.list-footer {
  margin:2rem 0;
}

.list-footer .dropup {
  display:inline-block;
  margin:0 5px;
}

.list-footer nav {
	display:inline-block;
}

.list-footer select {
	display:inline-block;
	width:auto;
}

.list-footer .displaying {
  margin-top:-10px;
}

.list-footer .pagination {
  margin:0;
}

.top-header{
  width:100%;
  position: fixed;
  left:30px;
  right:0px;
  top: 56px;
  padding-bottom: 1em;
  padding-right:1em;
  padding-left:1em;
  z-index: 10;
  background:$form-header-bg-color;
  border-bottom:1px solid lightgray;

    p{
      font-size:13px;
      margin-top:15px;
      color:gray;
      font-weight:100;
    }

}

.create-item-form label{
  font-weight:100;
  font-size:16px;
}

.create-item-form{
  z-index:1;
  position:relative;
}

.top-header.top-header-small {
	padding-bottom: 0;
}

.post-trip-data-form {

  label {
  	font-weight:100;
  	font-size:16px
  }

  .datepicker-container {

    .row {
    	margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .employee-id {

  	.form-group {

  		.row {
  			margin-bottom: 10px;
  		}
  	}

  	.employeeID-multiple-select {
    	width: 100%;
    	margin-right: 10px;

    	.select2-choices {
        border-color: #ccc;
        border-radius: 2px;
    	}
  	}
  	.btn {
  		vertical-align: bottom;
  	}
 	}
}

.post-trip-data-list {

	label {
		width: 100%
	}

  .datepicker-container {

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .startDateContainer {
      margin-bottom: 15px;
    }
  }

  .departure-time-from, .arrival-time-from {
  	float: left;
  	width: 45%;
  	margin-right: 8px;
 	}

  .departure-time-to, .arrival-time-to {
  	float: left;
  	width: 45%;
 	}
}

.import-from-file {
  height: 35px;

  input[type="file"] {
    padding: 6px;
    border: 1px solid #46b8da;
    float: left;
    margin: 0 !important;
  }

  li {
    cursor: pointer;
  }

  #importFromData {
    display: inline-block;
    white-space: nowrap;
  }

  .collapse {
    display: none;
    visibility: hidden;
  }

  .collapse.in {
    display: block;
    visibility: visible;
  }

  tr.collapse.in {
    display: table-row;
  }

  tbody.collapse.in {
    display: table-row-group;
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
  }
}

.employee-commission-form {

  label {
  	font-weight:100;
  	font-size:16px
  }

  .datepicker-container {

  	.startDateContainer {
  		margin-bottom: 15px;
  	}
  }
  .retail-name-multiple-select {
    width: 100%;
    margin-right: 10px;

    .select2-choices {
      border-color: #ccc;
      border-radius: 2px;
    }
  }
}

.global-reason-code-form {

  label {
  	font-weight:100;
  	font-size:16px
  }

  .form-inline {

  	label {
  		margin-top: 0;
  		margin-bottom: 5px;
  	}

  	.form-control {
  		width: 80%;
  	}
 	}
}

.company-reason-code-form {

  label {
  	font-weight:100;
  	font-size:16px
  }
}

.delivery-note-form {

  label {
    font-weight:100;
    font-size:16px
  }

  .datepicker-container {

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media(min-width:$screen-sm-min){

  .delivery-note-form {

    .well {
      padding: 10px 19px;

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

.delivery-notes-list {

  label {
    font-weight:100;
    font-size:16px
  }
}

.create-form-container {
	margin-top:18rem;
}

@media(max-width:$screen-lg-min){

  .top-header{

    .container{
      max-width:90%;
    }

  }

}

@media(max-width:$screen-sm-min){

  .top-header{
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
  }

  .global-reason-code-form {

  	.form-inline {

  		.form-control {
  			display: inline-block;
  			vertical-align: middle;
  		}
 		}
 	}

}

.item-image-thumbnail {
  display: block;
  margin:0 auto;
  max-width: 48px;
}

.stock-dashboard {

  label {
    font-weight:100;
    font-size:16px
  }
}

.stock-dashboard-container {
  margin-top:23rem;
}

.stock-take-container {
  margin-top:24rem;
}

.stock-take-review-container {
  margin-top:24rem;
}

.stock-take-report {

  label {
    font-weight:100;
    font-size:16px
  }
}

.popover {
  min-width: 300px;

  .popover-title {

    .close {
      position: relative;
      bottom: 3px;
    }
  }

  textarea {
    width: 100%;
    border-color: #ccc;
  }
}

/* item import */
.drop-table tbody .empty-drop-zone{
  cursor: default;
}
.drop-table tr.on-drag-hover{
  border: 2px solid #77c797;
  border-top: 24px solid #249507;
}

.drop-table tr.on-drag-enter{
  border: 2px solid #77c797;
  border-top: 2px solid #77c797;
}
