*:focus,
*:hover,
*:active {
  outline: none;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

.navbar-default {
  background-color: $header-bg-color;
  color: #FFF;

  &::after {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    content: "";
    height: 1px;
    left: -2%;
    position: fixed;
    width: 104%;
    will-change: top, left;
  }

  .navbar-brand {
    color: #FFF;

    &:hover {
      color: #7CC143;
    }
    &:focus {
      color: inherit;
    }
    .breadcrumb {
      @extend .navbar-brand;
      margin-bottom: 0;
      background-color: inherit;
      color: #fff;
    }
  }
}

.panel-blue {
  background-color: #BCE4F0;
  border-color: #29A1DB;
  .panel-heading {
    background-color: inherit;
    border-bottom: 1px solid #29A1DB;
  }
}

.panel {
  .company-name {
    font-size: 150%;
  }
  .pull-right {
    line-height: 3rem;
  }
}

/* navbar */
.navbar-fixed-top,
.navbar-fixed-bottom {
  // temporary fix until datepicker  is modified to go above
  // z-index 1029
  z-index: 9;
}
