*:focus,
*:hover,
*:active {
  outline: none;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

.row-as-table {
  position: relative;
  .type-info {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.navbar-default {
  background-color: $header-bg-color;
  color: #FFF;

  &::after {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    content: "";
    height: 1px;
    left: -2%;
    position: fixed;
    width: 104%;
    will-change: top, left;
  }

  .navbar-brand {
    color: #FFF;

    &:hover {
      color: #7CC143;
    }
    &:focus {
      color: inherit;
    }
    .breadcrumb {
      @extend .navbar-brand;
      margin-bottom: 0;
      background-color: inherit;
      color: #fff;
    }
  }
}

.ts5-logo {
  background-position: center;
  background-repeat: no-repeat;
  a.navbar-brand {
    span {
      font-size: 20px;
    }
  }
}

.panel-blue {
  background-color: #BCE4F0;
  border-color: #29A1DB;
  .panel-heading {
    background-color: inherit;
    border-bottom: 1px solid #29A1DB;
  }
}

.panel {
  .company-name {
    font-size: 150%;
  }
  .pull-right {
    line-height: 3rem;
  }
}

.table {
  margin-top: 1rem;
}

/* navbar */
html .navbar,
.navbar-fixed-top,
.navbar-fixed-bottom {
  // temporary fix until datepicker  is modified to go above
  // z-index 10
  z-index: 9;
}

.warning-row {
  background-color: #FFD4D4;
}

.animate-switch-container {
   overflow:hidden;
   width:100%;
   min-width:100%;
   left:0;
   right:0;
 }


/* tax-rates-management */
 .animate-switch{
  position:relative;
 }

 .animate-switch.ng-enter{
   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
   animation: fadeIn 0.5s;
 }

 .animate-switch.ng-leave.ng-leave-active,
 .animate-switch.ng-move,
 .animate-switch.ng-enter {
   opacity:0;
 }

 .animate-switch.ng-leave,
 .animate-switch.ng-move.ng-move-active,
 .animate-switch.ng-enter.ng-enter-active {
   opacity:1;
 }

 .tax-rates-dates{
   top:7px;
   max-width:125px;
   min-width:100px;
   padding:5px;
 }

 .tax-rates-ui-select{
   top:7px;
   max-width:150px;
   min-width:125px;
   padding:5px;
 }

 .tax-rates-ui-select .ui-select-toggle{
   overflow:hidden;
 }

 .tax-label{
   margin-right:5px;
 }

 .tax-rates-multi-select{
   top:7px;
   max-width:150px;
   min-width:150px;
   padding:5px;
 }

 .tax-rates-input{
   top:7px;
   max-width:100px;
   min-width:85px;
   padding:5px;
 }

 .tax-rates-action{
   top:12px;
   max-width:75px;
   min-width:50px;
   padding:5px;
 }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
