#leave-view-model {
  .modal-body {
    padding: 1em;
  }
}

.ng-toast {
  strong {
    color: #222;
  }
}

#warning{
  .modal-header {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
