.navbar{
	box-shadow: -10px -10px 10px 10px #767676;
	z-index: 11;
	border:0px;
}

.nav-tabs a:focus, .nav-tabs a.focus, .nav-tabs a:active:focus, .nav-tabs a:active.focus, .nav-tabs.active a:focus, .nav-tabs a.active.focus{
	outline:none;
}

.nav-left{

	padding-top:8px;

		span{
			font-size:30px;
		}

		li{
			margin-right:2em;
			font-size:24px;
		}
}