.panel-transparent {
  margin-bottom: 0px;
  border: none;
  box-shadow: none;

  .panel-body {
    padding: 15px 0;
  }
}

.panel-custom .bg-white {
  background-color: $white-bg-color;
}

.panel-custom .bg-gray {
  background-color: $gray-bg-color;
}
