.panel-transparent {
  margin-bottom: 0px;
  border: none;
  box-shadow: none;

  .panel-body {
    padding: 15px 0;
  }
}

.panel-custom .bg-white {
  background-color: $white-bg-color;
}

.panel-custom .bg-gray {
  background-color: $gray-bg-color;
}

.panel-divider {
  width:100%;
  margin-bottom:1em;
  border-bottom: 1px lightgray solid;
}

.header-blue {
  font-weight: bold;
  color: blue;
  font-size:1.5em;
}

.manual-epos-panel-option {
  width: 33%;
  display: inline-block;
  margin-bottom: 5px;
  min-width: 100px;
  float: left;
}

.epos-panel-option-text{
  margin-top:5px;
}
