@media print {
  html body .btn {
    display:none;
  }

  body .main-container {
    margin-top:1rem;
  }

  body .module-container {
    padding-left:1rem;
  }

  body *.hide-from-print {
    display:none;
  }

}
