.option-container {
  margin-top: 10px !important;
}

.tooltip-button {
  font-size: 18px!important;
  color: #5bc0de!important;
  padding: 0!important;
  border: none!important;
  background: none!important;
}

.back-office-radio-button {
  padding-top: 3px!important;
  max-height: 31px!important;
  padding-left: 15px!important;
  margin-top: 5px!important;
  margin-bottom: 10px!important;
}

.back-office-percentage-number {
  padding-top: 0px!important;
  max-height: 31px!important;
  padding-left: 15px!important;
  margin-top: 5px!important;
  margin-bottom: 10px!important;
}

.back-office-number {
  padding-top: 0px!important;
  max-height: 31px!important;
  padding-left: 15px!important;
  margin-top: 3px!important;
  margin-bottom: 10px!important;
}

.back-office-select {
  padding-top: 0px!important;
  max-height: 31px!important;
  padding-left: 15px!important;
  margin-top: 3px!important;
  margin-bottom: 10px!important;
}
