/* --- INVENTORY PAGES --- */
.fuelux .wizard {
  overflow: inherit;
}

.fuelux .wizard .steps {
  margin-left: 0 !important;
}

.fuelux .wizard .actions {
  position: relative;
  background: none;
  border-left: none;
}

.fuelux .wizard .top-actions {
  position: absolute;
  top: 8px;
  right: 10px;
}

.fuelux .wizard .datepicker-calendar-wrapper {
  z-index: 9999;
}

.fuelux .wizard .well .table {
  margin-bottom: 0;
}

.fuelux .wizard .well .table caption {
  font-size: 1.5em;
  font-weight: bold;
  color: #3a87ad;
}

.fuelux .wizard .well h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #3a87ad;
  margin-top: 0;
}

.fuelux .wizard .info-bar-status-packing:after {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #999;
    content: "Ready For Packing";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .info-bar-status-inbound-seals:after {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #999;
    content: "Ready For Inbound Seals";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .info-bar-status-seals:after {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #999;
    content: "Ready For Seals";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .info-bar-status-dispatch:after {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #999;
    content: "Ready For Dispatch";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .info-bar-status {
    position: relative;
    padding-top: 50px;
}

.fuelux .wizard .well.seal-color-blue:after {
    background-color: #66ccff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #fff;
    content: "Outbound";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .well.seal-color-green:after {
    background-color: #33cc33;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #fff;
    content: "Hand Over";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .well.seal-color-yellow:after {
    background-color: #ffcc00;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #fff;
    content: "Inbound";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .well.seal-color-white:after {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px 0 4px 0;
    color: #3a87ad;
    content: "High Security";
    font-size: 1.5em;
    font-weight: 700;
    left: -1px;
    padding: 5px 15px;
    position: absolute;
    top: -1px;
}

.fuelux .wizard .well.seal-color {
    position: relative;
    padding-top: 50px;
}

.fuelux .wizard .well.seal-color-with-copy-buttons {
    position: relative;
    padding-top: 19px;
}

.fuelux .wizard .panel .clickable {
    cursor: pointer;
}

.fuelux .wizard .panel-body {
  background-color: #f5f5f5;
}

.fuelux .wizard .panel-body .pull-right.btn {
  font-size: 14px;
}

.fuelux .wizard .panel h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #3a87ad;
  margin-top: 0;
  margin-right: 10px;
  display: inline;
}

.fuelux .wizard .panel-heading span {
  font-size: 15px;
  color: #3a87ad;
}

.fuelux .wizard .panel-heading span i {
  vertical-align: text-top;
}

.fuelux .wizard input[type="text"]::-webkit-input-placeholder {
   color: #333;
}

.fuelux .wizard input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.fuelux .wizard input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

.fuelux .wizard input[type="text"]:-ms-input-placeholder {  
   color: #333;  
}

.fuelux .wizard .has-discrepancy, .fuelux .wizard .has-discrepancy td {
  background-color: #ffdada !important;
}

.fuelux .wizard .checkbox-inline {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .fuelux .wizard .steps li {
    float: none;
    padding-left: 20px;
    border-bottom: 1px solid #d4d4d4;
  }
  .fuelux .wizard .steps li:first-child {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .fuelux .wizard .steps li:last-child {
    border-bottom: 0;
  }
  .fuelux .wizard .well {
    padding: 8px;
  }
  .fuelux .wizard .well .table th {
    word-break: break-all;
  }
  .fuelux .wizard .well .table td {
    padding: 8px 4px;
  }
  .fuelux .wizard .well .table td input {
    padding: 2px;
  }
}