/* --- INVENTORY PAGES --- */
.fuelux .wizard {
  overflow: inherit;
}

.fuelux .wizard .steps {
  margin-left: 0 !important;
}

.fuelux .wizard .actions {
  position: relative;
  background: none;
  border-left: none;
}

.fuelux .wizard .datepicker-calendar-wrapper {
  z-index: 9999;
}

.fuelux .wizard .well .table {
  margin-bottom: 0;
}

.fuelux .wizard .well .table caption {
  font-size: 1.5em;
  font-weight: bold;
  color: #3a87ad;
}

.fuelux .wizard .well h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #3a87ad;
  margin-top: 0;
}

.fuelux .wizard .table-scrollable {
  width: 100%;
}

.fuelux .wizard .table-scrollable thead, .fuelux .wizard .table-scrollable tbody, .fuelux .wizard .table-scrollable tr, .fuelux .wizard .table-scrollable td, .fuelux .wizard .table-scrollable th {
  display: block;
}

.fuelux .wizard .table-scrollable tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.fuelux .wizard .table-scrollable thead th {
  height: 36px;
}

.fuelux .wizard .table-scrollable tbody {
  height: 380px;
  overflow-y: auto;
}

.fuelux .wizard .table-scrollable tbody td, .fuelux .wizard .table-scrollable thead th {
  width: 33%;
  float: left;
}

.fuelux .wizard input[type="text"]::-webkit-input-placeholder {
   color: #333;
}

.fuelux .wizard input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.fuelux .wizard input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

.fuelux .wizard input[type="text"]:-ms-input-placeholder {  
   color: #333;  
}

.fuelux .wizard .has-discrepancy, .fuelux .wizard .has-discrepancy td {
  background-color: #ffdada !important;
}

.fuelux .wizard .checkbox-inline {
  margin-right: 10px;
}


@media (max-width: 768px) {
  .fuelux .wizard .steps li {
    float: none;
    padding-left: 20px;
    border-bottom: 1px solid #d4d4d4;
  }
  .fuelux .wizard .steps li:first-child {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .fuelux .wizard .steps li:last-child {
    border-bottom: 0;
  }
  .fuelux .wizard .well {
    padding: 8px;
  }
  .fuelux .wizard .well .table th {
    word-break: break-all;
  }
  .fuelux .wizard .well .table td {
    padding: 8px 4px;
  }
  .fuelux .wizard .well .table td input {
    padding: 2px;
  }
}