/* tax-rates-management */
.animate-switch-container {
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

.animate-switch {
  position: relative !important;
}

.animate-switch.ng-enter {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  animation: fadeIn 0.6s;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-move,
.animate-switch.ng-enter {
  opacity: 0;
}

.animate-switch.ng-leave,
.animate-switch.ng-move.ng-move-active,
.animate-switch.ng-enter.ng-enter-active {
  opacity: 1;
}

.show-white-space.table-responsive > .table > tbody > tr > td {
  white-space: normal;
}

.show-white-space {
  min-height: 800px;
  height: auto;
}

.tax-rates-dates {
  max-width: 150px;
  min-width: 125px;
  padding: 5px;
}

.tax-rates-ui-select {
  max-width: 150px;
  min-width: 125px;
  padding: 5px;
}

.tax-rates-ui-select .ui-select-toggle {
  overflow: hidden;
}

.tax-label {
  margin-right: 5px;
  margin-top: 5px;
  white-space: normal;
}

.tax-rates-multi-select {
  max-width: 175px;
  min-width: 150px;
  width: auto;
  padding: 0px;
}

.tax-rates-input {
  max-width: 100px;
  min-width: 85px;
  padding: 0px;
}

.tax-rates-action {
  max-width: 75px;
  min-width: 50px;
  padding: 0px;
}

.tax-rates-container {
  padding-bottom: 3em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
