<div class="dropdown" style="display:inline-block" dropdown dropdown-toggle on-toggle="toggled(open)">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
    <i class="fa fa-table"></i> Import From File
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <button ngf-select="" ng-model="files" ngf-multiple="true">Attach File
      </button>
      <a ngf-select="" ng-model="files" class="button" ngf-multiple="false" ngf-accept="'*.xls,*.xlsx'" ng-model-rejected="rejFiles" tabindex="0"><i class="fa fa-upload"></i> {{viewModel[0].text}}</a>
    </li>
    <li>
      <a href="#" ng-click="$parent.showExcelDownload(); $event.stopPropagation();"><i class="fa fa-download"></i> {{viewModel[1].text}}</a>
    </li>
  </ul>
</div>