<div class="modal" id="confirmation-modal" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header" ng-if="title">
        <strong class="modal-title">{{ title }}</strong>
      </div>

      <div class="modal-body" ng-if="body">
        <p>{{ body }}</h2>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default btn-list" data-dismiss="modal">
            <i class="fa fa-close"></i> {{ cancelLabel }}
        </button>
        <button class="btn btn-success btn-create" ng-click="confirmation()">
          <i class="fa fa-check"></i> {{ confirmationLabel }}
        </button>
      </div>

    </div>

  </div>

</div>
