<div class="datepicker-container input-daterange" ng-class="{ 'has-error' : !startDateModel || !endDateModel, 'has-success' : startDateModel && endDateModel }">
  <!-- TODO: Don't display has-error class until form has been submitted -->

  <div class="row">

    <div class="startDateContainer {{elementClass}}">

      <label>{{labelFrom}}</label>

      <div class="input-group col-xs-12">

        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

        <input type="text"
               required="true"
               ng-model="startDateModel"
               placeholder="mm/dd/YYYY"
               name="{{labelFrom}}"
               ng-disabled="shouldDisableStartDate || disabled"
               class="startDate form-control"
               />

      </div>

    </div>

    <div class="endDateContainer {{elementClass}}">

      <label>{{labelTo}}</label>

      <div class="input-group col-xs-12">

        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

        <input type="text"
               ng-model="endDateModel"
               placeholder="mm/dd/YYYY"
               required="true"
               name="{{labelTo}}"
               ng-disabled="shouldDisableEndDate || disabled"
               class="endDate form-control" />

      </div>

    </div>

  </div>

</div>
