<div class="datepicker-container input-daterange form-group">

  <div class="row">
    <div class="startDateContainer {{elementClass}}">
      <label>{{labelFrom}}</label>
      <div class="input-group col-xs-12">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="text"
               ng-model="startDateModel"
               placeholder="mm/dd/YYYY"
               name="{{ nameFrom ? nameFrom : labelFrom }}"
               ng-disabled="shouldDisableStartDate || disableStartDate"
               class="startDate form-control"
               ng-required="required"/>
      </div>
    </div>

    <div class="endDateContainer {{elementClass}}">
      <label>{{labelTo}}</label>
      <div class="input-group col-xs-12">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="text"
               ng-model="endDateModel"
               placeholder="mm/dd/YYYY"
               name="{{ nameTo ? nameTo : labelTo }}"
               ng-disabled="shouldDisableEndDate || disableEndDate"
               ng-required="required && !isSearchField"
               class="endDate form-control"/>
      </div>
    </div>
  </div>

</div>
