<fieldset ng-disabled="disable">
  <div class="form-group" ng-class="{ 'has-error' : form[name].$touched && !form[name].$viewValue.length || displayError && !form[name].$valid , 'has-success' : form[name].$touched && form[name].$viewValue.length }">
    <label ng-show="label">{{label}} <span class="required" ng-show="required">*</span></label>
    <p class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-default disabled"><i class="glyphicon glyphicon-calendar"></i></span>
      </span>
      <input name="{{ name }}"
        type="text"
        class="form-control"
        ng-model="ngModel" />
    </p>
  </div>
</fieldset>
