<div class="modal fade" id="download-template-modal">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        
        <div class="row">

          <div class="col-xs-6">
            <h4 class="modal-title">Download Template</h4>
          </div>
          
          <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="#" class="btn btn-info">
              <i class="fa fa-download"></i> Download Template
            </a>
          </div>
          
        </div>
        
      </div>

      <div class="modal-body">
        <p>coming soon...</p>
      </div>

      <div class="modal-footer">        
        
      </div>

    </div>
    
  </div>
  
</div>
