<div class="edit-controls">

	<div class="row">

		<div class="col-xs-6">
			
			<h2> {{ viewName }}</h2>

		</div>

		<div class="col-xs-6 text-right">

			<button class="btn"> Cancle </button>
			
			<button class="btn btn-success"> 
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span> 
				<span class="hidden-xs">Save</span> 
			</button>

		</div>

	</div>

	<div class="btn-group" role="group" aria-label="...">

	  <button type="button" class="btn btn-default">
	  	Section 1
	  </button>

	  <button type="button" class="btn btn-default">
	  	Section 2
	  </button>

	  <button type="button" class="btn btn-default">
	  	Section 3
	  </button>

	</div>

	<span> All required fields are marked with a *</span>

</div>