<li ng-if="singleModule.optionTypId === 1"> <!-- CheckBox -->
  <input type="checkbox" ng-model="singleModule.id" class="maring-right-5px" id="{{singleModule.id}}"/>
  <label class="epos-config-label">{{singleModule.name}}</label>
</li>
<li ng-if="singleModule.optionTypId === 2"> <!-- RadioButton -->
  <input type="radio" ng-model="singleModule.id" class="maring-right-5px" id="{{singleModule.id}}" name="{{singleModule.parentId}}"/>
  <label class="epos-config-label">{{singleModule.name}}</label>
</li>
<li ng-if="singleModule.optionTypId === 3">  <!-- Text -->
  <label class="epos-config-label maring-right-5px">{{singleModule.name}}</label>
  <input type="text" ng-model="singleModule.id" id="{{singleModule.id}}"/>
</li>
