<li ng-if="singleModule.optionTypId === 1"> <!-- CheckBox -->
  <input type="checkbox" class="maring-right-5px" id="{{singleModule.id}}" ng-model="model.checkbox[singleModule.id.toString()]"/>
  <label class="epos-config-label">{{singleModule.name}}</label>
</li>
<li ng-if="singleModule.optionTypId === 2"> <!-- RadioButton -->
  <input type="radio" class="maring-right-5px" id="{{singleModule.id}}" name="{{singleModule.parentId}}" ng-model="model.radioButton[singleModule.parentId.toString()]" value="{{singleModule.id}}"/>
  <label class="epos-config-label">{{singleModule.name}}</label>
</li>
<li ng-if="singleModule.optionTypId === 3">  <!-- Text -->
  <label class="epos-config-label maring-right-5px">{{singleModule.name}}</label>
  <input type="text" id="{{singleModule.id}}" ng-model="model.text[singleModule.id.toString()]"/>
</li>
