<div ng-show="displayError" class="alert alert-danger alert-dismissible ng-hide" role="alert">

	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>

	<h4 id="oh-snap!-you-got-an-error!">
		Oh no! Something went wrong...
		<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a>
	</h4>

	<ul>

		<li ng-repeat="error in errorRequired">

			<strong>{{ error }}</strong> is a required field.

		</li>

		<li ng-repeat="error in errorPattern">

			<strong>{{ error }}</strong> is invalid, recheck your input.

		</li>

		<li ng-show="formErrors" ng-repeat="error in formErrors" ng-switch on="error.code"> <strong>{{ error.field }}</strong> -

      <span ng-switch-default> {{ error.value }} </span>

		</li>

	</ul>

</div>
