<div ng-class="['btn-group', { 'has-files': !!files }]" dropdown>
  <button type="button" class="btn btn-default btn-info" ngf-select="" ng-model="files" class="btn" ngf-multiple="false"
          ngf-accept="'*.xls,*.xlsx,*.csv'" ng-click="$event.preventDefault();"
          ng-model-rejected="rejFiles" tabindex="0" ngf-stop-propagation="true">
    <i class="fa fa-upload"></i>
    <span class="hidden-xs">Import From File</span>
  </button>
  <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a ng-href="https://s3.amazonaws.com/ts5-dev-portal-images/templates/{{ templateName }}.xlsx">Download Template</a>

    </li>
    <li><a href="#" ng-click="showModalImportInfo(); $event.preventDefault(); $event.stopPropagation();">Template
      Help</a></li>
  </ul>
  <div class="drop-box btn" ng-click="$event.preventDefault(); $event.stopPropagation()" ng-if="files">
    <div ng-show="!files">No File Selected</div>
    <div ng-show="files">{{files[0].name}} <span class="fa fa-remove"
                                                 ng-click="clearAllFiles(); $event.preventDefault(); $event.stopPropagation()"></span>
    </div>
  </div>
  <button type="button" class="btn btn-info" ng-if="files" ng-click="upload(files)">Upload</button>
</div>
<div ng-include="modalHtml()"></div>
