<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-2 list-item">{{viewModel.companyTypeName}}</div>
    <div class="hidden-xs col-sm-2 list-item">{{viewModel.companyName}}</div>
    <div class="hidden-xs col-sm-2 list-item">{{viewModel.companyCode}}</div>
    <div class="hidden-xs col-sm-4 list-item">{{viewModel.companyLanguages}}</div>
    <div class="hidden-xs col-sm-1 list-item">{{viewModel.baseCurrencyCode}}</div>
    <div class="hidden-xs col-sm-1 list-item">
      <button type="button" class="btn btn-primary btn-xs" aria-label="Manage Company Relationships"
              ng-click="$parent.showCompanyRelationshipList(viewModel)">
        <i class="fa fa-arrows-h" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-primary btn-xs" aria-label="View Company"
              ng-click="$parent.viewCompany(viewModel)">
        <i class="fa fa-file" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-primary btn-xs" aria-label="Edit Company"
              ng-click="$parent.editCompany(viewModel)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Company Type</div>
    <div class="visible-xs col-xs-9 list-item">{{viewModel.companyTypeName}}</div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Company Name</div>
    <div class="visible-xs col-xs-9 list-item">{{viewModel.companyName}}</div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Company Code</div>
    <div class="visible-xs col-xs-9 list-item">{{viewModel.companyCode}}</div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Additional Languages</div>
    <div class="visible-xs col-xs-9 list-item">{{viewModel.companyLanguages}}</div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Base Currency</div>
    <div class="visible-xs col-xs-9 list-item">{{viewModel.baseCurrencyCode}}</div>
  </div>
  <div class="row">
    <div class="visible-xs col-xs-3 list-header text-right">Actions</div>
    <div class="visible-xs col-xs-9 list-item">
      <button type="button" class="btn btn-primary btn-xs" ng-click="$parent.showCompanyRelationshipList(viewModel)">
        <i class="fa fa-arrows-h"></i>
      </button>
    </div>
  </div>
</div>