<div class="modal fade" id="update-success" data-backdrop="static" data-keyboard="false">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-body">
				<h2> <span class='fa fa-check-circle-o'></span> Your item was updated successfully! </h2>
			</div>

			<div class="modal-footer">

				<!--

				TODO: Update button routes to be set by attributes pass via the directive
				TODO: Display this button and get it working, create success function is not apart of this directive

				<button class="btn btn-default" ng-click="createSuccess('/item-list')">Return to List</a>-->

				<button class="btn btn-primary" data-dismiss="modal"> Continue Editing</a>

			</div>

		</div>

	</div>

</div>
