<div class="modal fade" id="update-success" data-backdrop="static" data-keyboard="false">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-body">
				<h2> <span class='fa fa-check-circle-o'></span> Your item was updated successfully! </h2>
			</div>

			<div class="modal-footer">
				<button class="btn btn-default btn-list" ng-click="navigateTo('/{{ listPath }}')">Return to List</button>
				<button class="btn btn-primary" data-dismiss="modal"> Continue Editing</a>
			</div>

		</div>

	</div>

</div>
