<div class="modal fade" id="create-success" data-backdrop="static" data-keyboard="false">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-body">
				<h2> <span class='fa fa-check-circle-o'></span> Your item was created successfully! </h2>
			</div>

			<div class="modal-footer">
				{{ listPath }}
				<!-- TODO: Update button routes to be set by attributes pass via the directive -->
				<button class="btn btn-default" ng-click="createSuccess('/{{ listPath }}')">Return to List</a>
				<button class="btn btn-primary" ng-click="createSuccess('/{{ createPath }}')">Add Another</a>
			</div>

		</div>

	</div>

</div>
