<!-- ItemImage -->

<div class="panel panel-default">

  <div class="panel-heading">

    <p class="panel-title">

			<i class="fa fa-image"></i> Saved Image {{ $parent.key + 1 }}

      <span class="pull-right btn btn-danger btn-xs" ng-hide="viewOnly || itemIsActive" ng-click="removeImage($parent.key)">
        <i class="fa fa-close"></i>
      </span>

		</p>

  </div>

  <div class="panel-body">

    <div class="form-group container-fluid">

      <div class="row">

        <div class="col-xs-4 col-md-2">

          <label>Preview</label>

          <img class="item-image-thumbnail" ng-src="{{ image.imageURL }}" />

        </div>

        <div class="col-xs-8 col-md-10">

          <date-picker-field ng-if="minDate" min-date="$parent.minDate" disable="$parent.isDisabled()"
            form="form" name="imageEffectiveFrom" label="Effective From" required="true" ng-model="image.startDate">
          </date-picker-field>

          <date-picker-field ng-if="minDate" min-date="$parent.minDate"
            disable="viewOnly || $parent.isDisabled()" form="form" name="imageEffectiveTo"
            label="Effective To" required="true" ng-model="image.endDate">
          </date-picker-field>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- /ItemImage -->
