<!-- PriceTypeDirective -->

<div class="panel panel-default">

  <div class="panel-heading">
    <p class="panel-title">
			<i class="fa fa-tags"></i> Cost Price {{ $parent.key+1 }}

      <span class="pull-right btn btn-danger btn-xs btn-remove-price-group" ng-hide="viewOnly || itemIsActive" ng-click="removePriceGroup($parent.key)">
        <i class="fa fa-close"></i>
      </span>

		</p>
  </div>

  <div class="panel-body">

		<div class="row">

      <div class="col-xs-12 col-sm-8">

        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <date-picker-field disable="$parent.isDisabled()" form="form" label="Effective From" name="PriceEffectiveFrom" ng-model="itemPrice.startDate" min-date="'+1'" required="true"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6">
            <date-picker-field disable="viewOnly || itemIsInactive" form="form" label="Effective To" name="PriceEffectiveTo" ng-model="itemPrice.endDate" required="true"></date-picker-field>
          </div>

        </div>

			</div>

      <div class="col-xs-12 col-sm-4">

				<label>Cost Price</label>

				<div class="form-group">

					<div class="input-group">

						<div class="input-group-addon">
							* {{itemPrice.code}}
						</div>

						<input ng-disabled="!itemPrice.code || $parent.isDisabled()" ng-model="itemPrice.amount" type="text" class="form-control"/>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
<!-- /PriceTypeDirective -->
