
<div class="form-group" ng-class="{ 'has-error' : form[field.name].$dirty && !form[field.name].$valid || displayError && !form[field.name].$valid , 'has-success' : form[field.name].$dirty && form[field.name].$valid }">

	<label class="control-label">
		{{ field.label }} <span ng-show="field.required">*</span>
	</label>

	<input name="{{field.name}}" ng-model="formData[field.name]" ng-required="{{ field.required }}" ng-pattern="{{ field.pattern }}" type="text" class="form-control" placeholder="{{ field.placeholder }}"   />

	<i class="control-label" ng-show="form[field.name].$dirty && !form[field.name].$valid">Please check this field</i>

</div>
