<!-- GTINDirective -->
<div class="form-group" ng-class="GTINClass(form,key)">

  <div class="row">

    <div class="col-xs-6 col-sm-6">
      <label>Value *</label>
      <input
        custom-validity
        custom-pattern="number"
        ng-required
        ng-model="GTIN.value"
        name="GTIN{{key}}"
        type="text"
        class="form-control"
        minlength="1"
        maxlength="13"
        ng-min-length="1"
        ng-max-length="13"/>
    </div>

    <div class="col-xs-4 col-sm-5">
      <label>Type *</label>
      <select required ng-model="GTIN.type" class="form-control">
        <option value="UPC">UPC</option>
        <option value="Barcode">Barcode</option>
        <option value="EAN">EAN</option>
        <option value="JAN">JAN</option>
        <option value="ISBN">ISBN</option>
      </select>
    </div>

    <div class="col-xs-2 col-sm-1" ng-hide="viewOnly || itemIsActive">
      <label class="hidden-sm">Remove</label>
      <span class="btn btn-danger btn-xs" ng-click="removeGTIN($parent.key)">
        <i class="fa fa-close"></i>
      </span>
    </div>

  </div>

</div>
<!-- /GTINDirective -->
