<!-- TaxTypeDirective -->

<div class="panel panel-default">

  <div class="panel-heading">
    <p class="panel-title">
			<i class="fa fa-tags"></i> Tax Type {{ $parent.key+1 }}
      <span class="btn-remove-tax-type pull-right btn btn-danger btn-xs" ng-click="removeTaxType($parent.key)">
        <i class="fa fa-close"></i>
      </span>
		</p>
  </div>

  <div class="panel-body">

    <div class="row">

  			<div class="col-xs-12 col-sm-6">

  				<div class="form-group" ng-class="{ 'has-error' : !itemTax.companyTaxId , 'has-success' : itemTax.companyTaxId }">

  					<label>Tax Type *</label>

  					<select required name="Tax Type" ng-model="itemTax.companyTaxId" class="form-control">
  						<option ng-repeat="type in taxTypes" value="{{ type.id }}">{{ type.taxTypeCode }}</option>
  					</select>

  				</div>

  			</div>

  			<div class="col-xs-12 col-sm-6">

  				<div class="form-group" ng-class="{ 'has-error' : !itemTax.itemTaxType , 'has-success' : itemTax.itemTaxType }">

  					<label>Applied Tax Type *</label>

  					<select required name="Applied Tax Type" ng-model="itemTax.itemTaxType" class="form-control">
  						<option value="Gross">Gross</option>
  						<option value="Net">Net</option>
  					</select>

  				</div>

  			</div>

  	</div>

	</div>

</div>
<!-- /TaxTypeDirective -->
