<!-- PriceTypeDirective -->

<div class="panel panel-default">

  <div class="panel-heading">
    <p class="panel-title">
			<i class="fa fa-tags"></i> Cost Price {{ $parent.key+1 }}

      <span class="pull-right btn btn-danger btn-xs btn-remove-price-group" ng-hide="viewOnly || itemIsActive" ng-click="removePriceGroup($parent.key)">
        <i class="fa fa-close"></i>
      </span>

		</p>
  </div>

  <div class="panel-body">

		<div class="row">

      <div class="col-xs-12 col-sm-8">

        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <date-picker-field disable="$parent.isDisabled()" form="form" label="Effective From" name="PriceEffectiveFrom" ng-model="itemPrice.startDate" min-date="'+1'" required="true"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6">
            <date-picker-field ng-if="$parent.editingItem && !$parent.viewOnly && !$parent.isFutureEffectiveDate(itemPrice)"
            				   disable="viewOnly || itemIsInactive" form="form" label="Effective To" name="PriceEffectiveTo" 
            				   ng-model="itemPrice.endDate" required="true" 
            				   end-current-effective="true"></date-picker-field>
            				   
           <date-picker-field ng-if="!$parent.editingItem || $parent.viewOnly || $parent.isFutureEffectiveDate(itemPrice)"
            				   disable="viewOnly || itemIsInactive" form="form" label="Effective To" name="PriceEffectiveTo" 
            				   ng-model="itemPrice.endDate" required="true" 
            				   end-current-effective="false"></date-picker-field>
           
          </div>
          

        </div>

			</div>

      <div class="col-xs-12 col-sm-4">

				<label>Cost Price</label>

				<div class="form-group">

					<div class="input-group">

						<div class="input-group-addon">
							* {{itemPrice.code}}
						</div>

						<input ng-disabled="!itemPrice.code || $parent.isDisabled()" 
						       name="Cost Price" 
						       ng-pattern="regexp.numberWithTwoDecimal" 
						       ng-model="itemPrice.amount" 
						       type="text" 
						       class="form-control" 
						       ng-required="true" />

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
<!-- /PriceTypeDirective -->
