<!-- GTINDirective -->

<div class="form-group">

  <div class="row">

    <div class="col-xs-4 col-sm-2">

      <img class="item-image-thumbnail" src="{{ image.imageURL }}" />

    </div>

    <div class="col-xs-7 col-sm-9">

      <date-picker class="form-group"
        element-class="col-xs-6 col-sm-6"
        start-date-model="image.startDate"
        end-date-model="image.endDate"
        disable-past="true"
        label-from="Effective From"
        label-to="Effective To">
      </date-picker>

    </div>

    <div class="col-xs-1">
      <label class="hidden-sm">Remove</label>
      <span class="btn btn-danger btn-xs" ng-click="removeImage($parent.key)">
        <i class="fa fa-close"></i>
      </span>
    </div>

  </div>

</div>
<!-- /GTINDirective -->
