<!-- PriceTypeDirective -->

<div class="panel panel-default">

  <div class="panel-heading">
    <p class="panel-title">
			<i class="fa fa-tags"></i> Price Type {{ $parent.key+1 }}

      <span class="btn-remove-price-group pull-right btn btn-danger btn-xs" ng-click="removePriceGroup($parent.key)">
        <i class="fa fa-close"></i>
      </span>

		</p>
  </div>

  <div class="panel-body">

		<div class="row">

			<div class="col-xs-12 col-sm-8">

        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <date-picker-field form="form" label="Effective From" name="PriceEffectiveFrom" ng-model="itemPrice.startDate" required="true"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6">
            <date-picker-field form="form" label="Effective To" name="PriceEffectiveTo" ng-model="itemPrice.endDate" required="true"></date-picker-field>
          </div>

        </div>

				<div class="row">

					<div class="col-xs-12 col-sm-6">

						<div class="form-group" ng-class="{ 'has-error' : !itemPrice.typeId , 'has-success' : itemPrice.typeId }">

							<label>Price Type *</label>

							<select name="Price Type" required ng-disabled="!itemPrice.startDate && !itemPrice.endDate" ng-model="itemPrice.typeId" class="form-control">
								<option ng-selected="type.id === itemPrice.typeId"  ng-repeat="type in $parent.priceTypes" value="{{ type.id }}">{{ type.name }}</option>
							</select>

						</div>

					</div>

					<div class="col-xs-12 col-sm-6">

						<div class="form-group"  ng-class="{ 'has-error' : !itemPrice.taxIs , 'has-success' : itemPrice.taxIs }">

							<label>Tax Is *</label>

							<select name="Tax Is" required ng-disabled="!itemPrice.startDate && !itemPrice.endDate" ng-model="itemPrice.taxIs" class="form-control">
								<option value="Included">Included</option>
								<option value="Excluded">Excluded</option>
								<option value="Exempt">Exempt</option>
							</select>


						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-12 col-sm-4">

				<p>Currencies List</p>

				<div class="form-group" ng-repeat="(currencyKey,currency) in itemPrice.priceCurrencies track by $index">

					<div class="input-group">

						<div class="input-group-addon">
							* {{currency.code}}
						</div>

						<input ng-model="currency.price" type="text" class="form-control" maxlength="8"/>

					</div>

				</div>

			</div>

		</div>

    <div ng-show="itemPrice.startDate && itemPrice.endDate" class="station-exceptions">

      <h3>Station Exceptions</h3>

      <p>
        <button type="button" class="btn btn-primary" ng-click="addStationException($parent.key)">
           <i class="fa fa-plus"></i> Add Station Exception
        </button>
      </p>

      <div id="station-exception-container">

        <div ng-repeat="(key,stationException) in itemPrice.stationExceptions track by $index">
          <input-station-exception> </input-station-exception>
        </div>

      </div>

  </div>

	</div>

</div>
<!-- /PriceTypeDirective -->
