<div class="modal fade" id="leave-view-modal">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">You're about to leave this view!</h4>
			</div>

			<div class="modal-body">
				<h2><span class='fa fa-warning'></span>  Are you sure you want to cancel?</h2>
				<p>All of the data you have entered, will not be saved.</p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="leaveViewClose()">Yes, Cancel.</button>
				<a type="button" class="btn btn-primary" data-dismiss="modal">No, continue editing.</a>
			</div>

		</div>

	</div>

</div> 