<div id="left-navigation">
	<div class="container">
		<ul class="navbar">

			<li ng-click="leaveView('{{itemListPath}}')" ng-class="{'active':locationPath == itemListPath}">
				<i class="icon-manage-retail-item"></i>
				<div class="left-nav-option">
					<i class="icon-manage-retail-item"></i>
					<p>Manage Items</p>

				</div>
			</li>

			<li ng-click="leaveView('{{itemCreatePath}}')" ng-class="{'active':locationPath == itemCreatePath}">
				<i class="icon-create-retail-item"></i>
				<div class="left-nav-option">
					<i class="icon-create-retail-item"></i>
					<p>Create Item</p>
				</div>
			</li>

			<li ng-click="leaveView('/{{manageCategoriesPath}}')" ng-class="{'active':locationPath == manageCategoriesPath}">
				<i class="icon-manage-retail-category"></i>
				<div class="left-nav-option lg">
					<i class="icon-manage-retail-category"></i>
					<p>Manage Categories</p>
				</div>
			</li>

		</ul>
	</div>
</div>

<leave-view-modal></leave-view-modal>
