<div id="left-navigation">
	<div class="container">
		<ul class="navbar">

			<li ng-click="leaveView('item-list')" ng-class="{'active':locationPath == '/item-list'}">
				<i class="icon-manage-retail-item"></i>
				<div class="left-nav-option">
					<i class="icon-manage-retail-item"></i>
					<p>Manage Items</p>
				</div>
			</li>

			<li ng-click="leaveView('item-create')" ng-class="{'active':locationPath == '/item-create'}">
				<i class="icon-create-retail-item"></i>
				<div class="left-nav-option">
					<i class="icon-create-retail-item"></i>
					<p>Create Item</p>
				</div>
			</li>

			<li ng-click="leaveView('ember/#/retail-items/categories')" ng-class="{'active':locationPath == '/retail-items/categories'}">
				<i class="icon-manage-retail-category"></i>
				<div class="left-nav-option lg">
					<i class="icon-manage-retail-category"></i>
					<p>Manage Categories</p>
				</div>
			</li>

		</ul>
	</div>
</div>
