<div id="left-navigation">
	<div class="container">
		<ul class="navbar">

			<li ng-click="leaveView('stock-owner-item-list')" ng-class="{'active':locationPath == '/stock-owner-item-list'}">
				<i class="icon-manage-retail-item"></i>
				<div class="left-nav-option lg">
					<i class="icon-manage-retail-item"></i>
					<p>Manage Stock Owner Items</p>
				</div>
			</li>

			<li ng-click="leaveView('stock-owner-item-create')" ng-class="{'active':locationPath == '/stock-owner-item-create'}">
				<i class="icon-create-retail-item"></i>
				<div class="left-nav-option lg">
					<i class="icon-create-retail-item"></i>
					<p>Create Stock Owner Item</p>
				</div>
			</li>

			<li ng-click="leaveView('ember/#/stock-owner-items/categories')" ng-class="{'active':locationPath == '/stock-owner-items/categories'}">
				<i class="icon-manage-retail-category"></i>
				<div class="left-nav-option lg">
					<i class="icon-manage-retail-category"></i>
					<p>Manage SO Categories</p>
				</div>
			</li>

		</ul>
	</div>
</div>
