<div class="modal fade missing-daily-exchange-modal hide-from-print" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">

      <div class="modal-header panel-heading">
        <h4 class="modal-title"><span class='fa fa-exclamation-circle'></span> Daily Exchange Rate Warning</h4>
      </div>

      <div class="modal-body">
        <p class="text-center">Daily Exchange Rate must be <strong>saved</strong> or <strong>submitted</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="goToPage('/')">Ok</button>
      </div>
    </div>
  </div>
</div>
