<div class="tab-pane">

	<div class="qr-code">

		<alert ng-show="formData.qrCodeImgUrl.length" type="success">QR Creation successful!</alert>

		<div class="thumb">

			<qr text="formData.qrCodeValue" image="true" size="128"></qr>

		</div>

		<button class="btn button btn-success" ng-show="!formData.qrCodeImgUrl.length" ng-disabled="!formData.qrCodeValue.length" ng-click="qrCreate()">Save QR</button>

		<button class="btn button btn-default" ng-show="formData.qrCodeImgUrl.length" ng-click="clearQrCodes()">Clear QR</button>

	</div>

	<input-text label="QR Code" name="qrCodeValue" pattern="regexp.word" placeholder="my qr code"></input-text>

</div>