<div class="well seal-type">

  <div class="row">

    <div class="seal-label">Outbound{{ sealType.label }}</div>

    <div class="col-xs-12">
      <label for="seal-numbers-outbound">Seal Numbers*:</label>
      <input ng-model="sealNumberInput" type="text" value="" placeholder="Add Seals Here, Enter After Each Seal">
      <!-- TODO Add UI-Select or equivelent -->
    </div>

  </div>

  <div class="row" ng-show="sealNumberInput > 0">
    <div class="col-xs-3 col-sm-2 col-md-1">
      <label class="checkbox-custom checkbox-inline pull-left">
        <input type="checkbox" ng-model="showSequential" value="1">
        <span class="checkbox-label">Sequential</span>
      </label>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-2 add-sequential-seals-outbound" ng-show="showSequential">
      <div class="input-group">
        <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber" width="20">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
        </span>
      </div>
    </div>

  </div>

</div>
