<div class="steps-container">

  <button type="button" class="step" title="{{ step.label }}"
          ng-repeat="step in steps" ng-init="stepInit($index)"
          ng-class="step.class" ng-click="goToStepURI($index)"
          ng-disabled="disableStep($index)">
    <span class="badge badge-info">{{step.badge || $index+1}}</span>
    <span class="step-label hidden-xs hidden-sm">{{step.label}}</span>
    <span class="chevron"></span>
  </button>

  <div class="actions pull-right">
    <button type="button" class="btn btn-default btn-primary" ng-click="wizardSave()">
      <i class="fa fa-check-square-o"></i>
      <span class="hidden-xs">{{ saveButtonText }}</span>
    </button>
  </div>
  <div class="actions pull-right" ng-show="showNextPrevButton">
    <button type="button" class="btn btn-default btn-prev" ng-click="wizardPrev()" ng-disabled="disablePrev()">
      <span class="fa fa-arrow-left"></span>
      <span class="hidden-xs">Prev</span>
    </button>
    <button type="button" class="btn btn-default btn-next" ng-click="wizardNext()" ng-disabled="disableNext()">
      <span class="hidden-xs">Next</span>
      <span class="fa fa-arrow-right"></span>
    </button>
  </div>

</div>
