<div class="modal fade" id="stock-take-reason" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">

        <div class="modal-header">
          <h3 class="modal-title">Adjustment to Count</h3>
        </div>

        <div class="modal-body">

          <p>To Update Item Count, first provide a reason below.</p>

          <div class="form-group">
            <div class="row">

              <div class="col-xs-12 col-sm-2">
                <label>Current</label>
                {{ currentCount }}
              </div>

              <div class="col-xs-12 col-sm-8">
                <label>Reason*</label>
                <select class="form-control"
                        ng-model="stockAdjustmentReason[id]"
                        ng-options="item.companyReasonCodeName for item in ullageReasons track by item.id">
                  <option ng-hide="stockAdjustmentReason !== 'Select Reason'" value="">Select Reason</option>
                </select>
              </div>

              <div class="col-xs-12 col-sm-2">
                <label>Updated</label>
                <input
                  custom-validity
                  custom-pattern="number"
                  type="text"
                  class="form-control"
                  ng-model="$parent.newCount"
                  ng-disabled="!stockAdjustmentReason[id] && !comment.length"
                  />
              </div>

            </div>
          </div>

          <!-- TODO: update comment to match acceptance criteria -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <input custom-validity
                       custom-pattern="currencyWithTwoDecimalPlace"
                       class="form-control"
                       ng-model="comment"
                       placeholder="Enter a comment..."
                       maxlength="50"/>
              </div>
            </div>
          </div>

        </div>
        <!-- End of Modal Body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="stockTakeReasonSave()">Save Changes</button>
          <a type="button" class="btn btn-primary" ng-click="stockTakeReasonClose()">Cancel</a>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="stock-take-reason-dummy" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">

        <div class="modal-header">
          <h3 class="modal-title">Update Count</h3>
        </div>

        <div class="modal-body">

          <label>Alert!</label>

          <p>Waiting on the Backend for this POST.</p>

        </div>
        <!-- End of Modal Body -->

        <div class="modal-footer">
          <a type="button" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>

      </div>
    </div>
  </div>

</div>
