<div class="modal fade" id="stock-take-reason" data-backdrop="static" data-keyboard="false">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-center">

				<div class="modal-header">
					<h3 class="modal-title">Adjustment</h3>
				</div>

				<div class="modal-body">
					<label>Reason*</label>

					<ui-select id="stock-adjustment-reason" ng-model="stockAdjustmentReason" theme="bootstrap">
						<ui-select-match placeholder="Broken">{{ $item.stockAdjustmentReasonCode }}</ui-select-match>
						<ui-select-choices repeat="">{ item.ullageReasonCode }} ({{ item.stockAdjustmentReasonName }})</ui-select-choices>
					</ui-select>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="">Save Changes</button>
					<a type="button" class="btn btn-primary" data-dismiss="modal">Cancel</a>
				</div>

			</div>
		</div>
	</div>

</div>
