<table class="table table-striped pick-list">
  <thead>
  <tr>
    <th>Retail Item Details</th>
    <th width="15%">Template Quantity</th>
    <th width="15%">Packed Quantity</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in menuItems">
    <td>
      <input type="text" class="form-control" id="item-code" ng-model="item.itemDescription"
             disabled />
    </td>
    <td>
      <input type="text" class="form-control" id="required-quantity" ng-model="item.menuQuantity" ng-disabled="item.disabled" />
    </td>
    <td>
      <input type="text" class="form-control" id="picked-quantity" ng-disabled="item.disabled" placeholder="0">
    </td>
  </tr>
  </tbody>
</table>
