<nav class="navbar navbar-ts5 navbar-default navbar-fixed-top ts5-logo">
  <div class="container-fluid">
    <div ng-if="isAuthorized">
      <a class="navbar-brand" ng-href="/#/">
        <i class="fa fa-home"></i><span class="hidden-xs"> {{selectedCompany.companyName}}<em ng-if="selectedCompany.chCompany"> |
        {{selectedCompany.chCompany.companyName}}</em></span>
      </a>
      <div class="pull-right settings-navbar">
        <a data-toggle="modal" data-target="#userSettingsModal" type="button" class="settings-btn btn btn-default btn-lg" aria-label="Left Align" title="User Settings"
           data-backdrop="static" data-keyboard="false">
          <span class="fa fa-user" aria-hidden="true"></span>
        </a>
        <a ng-click="changePassword()" type="button" class="logout-btn btn btn-default btn-lg" aria-label="Left Align" title="Change Password">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
        <a ng-click="logout()" type="button" class="logout-btn btn btn-default btn-lg" aria-label="Left Align" title="Logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>

</nav>

<div class="modal fade" tabindex="-1" id="userSettingsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">User Access Profile Settings <em style="color:white"> UTC{{ userObject.userTimeZone }}</em></h3>
      </div>
      <div class="modal-body">
        <form name="userSettingsForm">
          <div class="well" ng-repeat="companyObject in userCompanies | orderBy: 'type'">
            <div class="form-group">
              <label for="{{companyObject.type}}">{{companyObject.type}}</label>
              <select class="form-control"
                      id="{{companyObject.type}}"
                      name="{{companyObject.type}}"
                      ng-model="pickedCompany[companyObject.type]"
                      ng-change="selectCompany(companyObject.type)"
                      ng-options="company.companyName for company in companyObject.companies | orderBy: 'companyName'">
                <option selected="selected" value>Select a {{companyObject.type}} Company</option>
              </select>
            </div>
            <div class="form-group" ng-if="companyObject.type == 'Cash Handler'">
              <label class="sr-only" for="cashHandlerRetail">Retail Company for {{companyObject.type}}</label>
              <select ng-disabled="shouldDisableCHSelect"
                      class="form-control"
                      id="cashHandlerRetail"
                      name="cashHandlerRetail"
                      ng-change="selectCHRetailCompany(companyObject.type)"
                      ng-model="pickedCompany[companyObject.type].chCompany"
                      ng-options="company.companyName for company in cashHandlerRetailCompanyList | orderBy: 'companyName'">
                <option selected="selected" value>Select a Retail Company for {{companyObject.type}}</option>
              </select>
            </div>
          </div>

          <!--<div class="checkbox">
            <label>
              <input type="checkbox" ng-model="shouldPersistSettings"> Save these settings as my default
            </label>
          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="setSelectedCompany()" ng-disabled="shouldDisableChangeCompany">Save</button>
      </div>
    </div>
  </div>
</div>
