step-wizard {

  .steps-container {
    width:100%;
    padding:0;
    border:1px solid #d4d4d4;
    background:#FAFAFA;
    margin-bottom:2rem;

    .step {
      display: inline-block;
      margin:0;
      padding: 0 20px 0 30px;
      height: 46px;
      line-height: 46px;
      position: relative;
      background: #eeeeee;
      color: #999999;
      font-size: 16px;
      cursor: not-allowed;
      border: none;

      .chevron {
        border: 24px solid transparent;
        border-left: 14px solid #d4d4d4;
        border-right: 0;
        display: block;
        position: absolute;
        right: -14px;
        top: 0;
        z-index: 1;
      }

      .chevron:before {
					border: 24px solid transparent;
					border-left: 14px solid #EEE;
					border-right: 0;
					content: "";
					display: block;
					position: absolute;
					right: 1px;
					top: -24px;
				}

    }

    .step.active {
      background: #eef7fb;
      color: #3a87ad;
      cursor: default;

      .badge {
        background: #3a87ad;
      }

      .chevron:before {
        border-left: 14px solid #eef7fb;
      }

    }

    .step.complete {
      background: #f5f5f5;
      color: #468847;

      .badge {
        background: #468847;
      }

      .chevron:before {
        border-left: 14px solid #f5f5f5;
      }

    }

    .actions {
      vertical-align: middle;
      background-color: #e6e6e6;
      border-left: 1px solid #d4d4d4;
      padding:6px;
    }

  }


}
