<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Company Type</label>
        <select name="companyType" ng-model="search.companyTypeId" ng-init="search.companyTypeId" class="form-control">
          <option ng-repeat="companyType in $parent.companyRelationshipTypeList"
                  value="{{ companyType.relativeCompanyTypeId }}">{{ companyType.relativeCompanyType }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label>Company Name *</label>
        <select name="companyName" ng-model="vm.relativeCompanyId" class="form-control" required>
          <option value="">Please select...</option>
          <option ng-selected="company.id === vm.relativeCompanyId" ng-repeat="company in $parent.companyList | filter:search" value="{{ company.id }}">{{ company.companyName }}</option>
        </select>
      </div>
      <date-picker
          class="col-sm-6 col-xs-12"
          element-class="col-xs-6 col-sm-6"
          start-date-model="vm.startDate"
          end-date-model="vm.endDate"
          disable-past="true"
          label-from="Effective From"
          label-to="Effective To"
          required="true">
      </date-picker>
    </div>
  </div>
</div>