<div ng-if="!isExpanded">
  <div class="row" ng-click="toggleExpand()">
    <div class="hidden-xs col-sm-7 list-item">{{vm.employeeMessageText}}</div>
    <div class="hidden-xs col-sm-2 list-item text-center">{{vm.startDate | date: 'MM/dd/yyyy' }}</div>
    <div class="hidden-xs col-sm-2 list-item text-center">{{vm.endDate | date: 'MM/dd/yyyy' }}</div>
    <div class="hidden-xs col-sm-1 list-item text-right"><button class="btn btn-primary" ui-sref="employee-messages.edit({ id: vm.id, message: vm })"><span class="fa fa-pencil"></span></button></div>
    <div class="visible-xs col-xs-3 list-header text-right">Message</div>
    <div class="visible-xs col-xs-9 list-item">{{vm.employeeMessageText}}</div>
    <div class="clearfix visible-xs-block"></div>
    <div class="visible-xs col-xs-3 list-header text-right">Start Date</div>
    <div class="visible-xs col-xs-9 list-item">{{vm.startDate | date: 'MM/dd/yyyy' }}</div>
    <div class="clearfix visible-xs-block"></div>
    <div class="visible-xs col-xs-3 list-header text-right">End Date</div>
    <div class="visible-xs col-xs-9 list-item">{{vm.endDate | date: 'MM/dd/yyyy' }}</div>
  </div>
</div>
<div ng-if="isExpanded" ng-click="toggleExpand()" class="hidden-xs panel panel-list">
  <div class="panel-heading">
    <div class="row">
      <div class="hidden-xs col-sm-7">{{vm.employeeMessageText}}</div>
      <div class="hidden-xs col-sm-2 text-center">{{vm.startDate | date: 'MM/dd/yyyy' }}</div>
      <div class="hidden-xs col-sm-2 text-center">{{vm.endDate | date: 'MM/dd/yyyy' }}</div>
      <div class="hidden-xs col-sm-1 text-right"><button class="btn btn-primary" ui-sref="employee-messages.edit({ id: vm.id, message: vm })"><span class="fa fa-pencil"></span></button></div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item active">Employee ID <span class="badge">{{vm.employeeMessageEmployeeIdentifiers.length}}</span></li>
      <li class="list-group-item"><span ng-if="!vm.employeeMessageEmployeeIdentifiers.length">N/A</span>
        <span ng-if="vm.employeeMessageEmployeeIdentifiers.length" ng-repeat="employeeId in vm.employeeMessageEmployeeIdentifiers">{{employeeId}}</span></li>
    </ul>
    <div class="row">
      <div class="col-sm-4 panel-item">
        <p ng-if="!vm.employeeMessageSchedules.length">N/A</p>
        <p ng-if="vm.employeeMessageSchedules.length" ng-repeat="schedule in vm.employeeMessageSchedules">{{schedule.scheduleNumber}}</p>
      </div>
      <div class="col-sm-4 panel-item">
        <p ng-if="!vm.employeeMessageArrivalStations.length">N/A</p>
        <p ng-if="vm.employeeMessageArrivalStations.length" ng-repeat="station in vm.employeeMessageArrivalStations">{{station.stationCode}}</p>
      </div>
      <div class="col-sm-4 panel-item">
        <p ng-if="!vm.employeeMessageDepartureStations.length">N/A</p>
        <p ng-if="vm.employeeMessageDepartureStations.length" ng-repeat="station in vm.employeeMessageDepartureStations">{{station.stationCode}}</p>
      </div>
    </div>
  </div>
</div>
<div ng-if="isExpanded">
  <div class="visible-xs row" ng-click="toggleExpand()">
    <div class="col-xs-3 list-header text-right">Message</div>
    <div class="col-xs-9 list-item">{{vm.employeeMessageText}}</div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">Start Date</div>
    <div class="col-xs-9 list-item">{{vm.startDate | date: 'MM/dd/yyyy' }}</div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">End Date</div>
    <div class="col-xs-9 list-item">{{vm.endDate | date: 'MM/dd/yyyy' }}</div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">Employee ID</div>
    <div class="col-xs-9 list-item">
      <span ng-if="!vm.employeeMessageEmployeeIdentifiers.length">N/A</span>
      <span ng-if="vm.employeeMessageEmployeeIdentifiers.length" ng-repeat="employeeId in vm.employeeMessageEmployeeIdentifiers">{{employeeId}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">Number</div>
    <div class="col-xs-9 list-item">
      <span ng-if="!vm.employeeMessageSchedules.length">N/A</span>
      <span ng-if="vm.employeeMessageSchedules.length" ng-repeat="schedule in vm.employeeMessageSchedules">{{schedule.scheduleNumber}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">Arrival Station</div>
    <div class="col-xs-9 list-item">
      <span ng-if="!vm.employeeMessageArrivalStations.length">N/A</span>
      <span ng-if="vm.employeeMessageArrivalStations.length" ng-repeat="station in vm.employeeMessageArrivalStations">{{stations}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3 list-header text-right">Departure Station</div>
    <div class="col-xs-9 list-item">
      <span ng-if="!vm.employeeMessageDepartureStations.length">N/A</span>
      <span ng-if="vm.employeeMessageDepartureStations.length" ng-repeat="station in vm.employeeMessageDepartureStations">{{station.stationCode}}</span>
    </div>
  </div>
</div>
