<!DOCTYPE html>
<html lang="en" ng-app="ts5App" class="no-js">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TS5 Store Dispatch</title>
<!-- CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet">
<link rel="stylesheet" href="styles/main.css">

<!--   <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" /> -->
  <link rel="stylesheet" href="bower_components/select2/select2.css" />
  
  <!-- TODO: ADJUST SELECTIZE FOR USE IN ANGULAR -->
  <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css" />
  <script src="bower_components/selectize/examples/js/jquery.js"></script>
  <script src="bower_components/selectize/dist/js/standalone/selectize.js"></script>
  
<link rel="stylesheet" href="styles/static-pages.css">
</head>

<body class="fuelux">
  <div class="wizard store-dispatch" data-initialize="wizard" id="myWizard">

    <!-- TODO: RENAME SPANS AFTER COMPLETE CLASS ADDED: Inventory Reference Number Assigned, Packed, Seals Assigned, Dispatched -->
    <ul class="steps">
      <li data-step="1" data-name="createStoreInstance" class="active"><span class="badge">1</span>Create Store Instance<span class="chevron"></span></li>
      <li data-step="2" data-name="inboundSeals"><span class="badge">2</span>Inbound Seals<span class="chevron"></span></li>
      <li data-step="3" data-name="packing"><span class="badge">3</span>Packing<span class="chevron"></span></li>
      <li data-step="4" data-name="dispatch"><span class="badge">4</span>Review &amp; Dispatch<span class="chevron"></span></li>
    </ul>

    <div class="step-content">
      <!-- PANE 1 - Assign Inventory Reference Number --------------------------------------------------------------------- -->
      <div class="step-pane active sample-pane" data-step="1">
        <ng-form class="form-horizontal" id="form-in-wizard" action="">
          <div class="well">
  
            <div class="form-group">
              <label for="selectMenu" class="col-sm-4 control-label">LMP Station*</label>
              <div class="col-sm-5">
                <select class="form-control" id="deliveryStation" ng-model="deliveryStationIndex" ng-change="updateDeliveryInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ station.stationCode }} ({{ station.stationName}})
                  </option>
                </select>
              </div>
  <!-- TODO: IF ONLY ONE LMP STATION IS AVAILABLE, USE READ-ONLY (BELOW) INSTEAD OF SELECT (ABOVE)  -->
  <!--               <input ng-model=deliveryStation type="text" class="form-control" id="delivery-station" placeholder="LGW" ng-readonly="readOnly" ng-disabled="true"> -->
            </div>
  
            <div class="form-group">
              <label for="storeNumber" class="col-sm-4 control-label">Store Number</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="storeNumber" placeholder="123456" disabled="disabled">
              </div>
            </div>
            
            <div class="form-group">
              <label for="scheduleDate" class="col-sm-4 control-label">Schedule Date</label>
              <div class="datepicker fuelux" id="myDatepicker">
                <div class="col-sm-5">
                  <div class="input-group">
                    <input class="form-control" id="myDatepickerInput" type="text" disabled="disabled" />
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-calendar"></span> <span class="sr-only">Toggle Calendar</span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                        <div class="datepicker-calendar">
                          <div class="datepicker-calendar-header">
                            <button type="button" class="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span>
                            </button>
                            <button type="button" class="next">
                              <span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span>
                            </button>
                            <button type="button" class="title" data-month="11" data-year="2014">
                              <span class="month"> <span data-month="0">January</span> <span data-month="1">February</span> <span data-month="2">March</span> <span data-month="3">April</span> <span data-month="4">May</span> <span data-month="5">June</span> <span data-month="6">July</span> <span data-month="7">August</span> <span data-month="8">September</span> <span data-month="9">October</span> <span data-month="10">November</span> <span data-month="11" class="current">December</span>
                              </span> <span class="year">2014</span>
                            </button>
                          </div>
                          <table class="datepicker-calendar-days">
                            <thead>
                              <tr>
                                <th>Su</th>
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                          <div class="datepicker-calendar-footer">
                            <button type="button" class="datepicker-today">Today</button>
                          </div>
                        </div>
                        <div class="datepicker-wheels" aria-hidden="true">
                          <div class="datepicker-wheels-month">
                            <h2 class="header">Month</h2>
                            <ul>
                              <li data-month="0"><button type="button">Jan</button></li>
                              <li data-month="1"><button type="button">Feb</button></li>
                              <li data-month="2"><button type="button">Mar</button></li>
                              <li data-month="3"><button type="button">Apr</button></li>
                              <li data-month="4"><button type="button">May</button></li>
                              <li data-month="5"><button type="button">Jun</button></li>
                              <li data-month="6"><button type="button">Jul</button></li>
                              <li data-month="7"><button type="button">Aug</button></li>
                              <li data-month="8"><button type="button">Sep</button></li>
                              <li data-month="9"><button type="button">Oct</button></li>
                              <li data-month="10"><button type="button">Nov</button></li>
                              <li data-month="11"><button type="button">Dec</button></li>
                            </ul>
                          </div>
                          <div class="datepicker-wheels-year">
                            <h2 class="header">Year</h2>
                            <ul></ul>
                          </div>
                          <div class="datepicker-wheels-footer clearfix">
                            <button type="button" class="btn datepicker-wheels-back">
                              <span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span>
                            </button>
                            <button type="button" class="btn datepicker-wheels-select">
                              Select <span class="sr-only">Month and Year</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-group">        
              <label for="scheduleNumber" class="col-sm-4 control-label">Schedule Number</label>              
              <div class="col-sm-5">
<!-- TODO: RESTRICT TO 1 SELECTION ONLY, CUSTOMIZE FOR SCHEDULE NUMBER -->
                <ui-select multiple ng-model="formData.tags" theme="bootstrap" disabled="disabled">
                  <ui-select-match placeholder="Item Tags" ui-lock-choice="isDisabled()">{{ $item.name }}
                  </ui-select-match>
                  <ui-select-choices repeat="tag in tags | filter: $select.search | orderBy:'name'">
                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
              
            <div class="form-group">
              <label for="selectMenu" class="col-sm-4 control-label">Select Menu</label>
              <div class="col-sm-5">
  <!-- TODO: THIS WILL USE ANGULAR MULTIPLE SELECT, CUSTOMIZE FOR MENU & DROPDOWN IF POSSIBILE-->
                <ui-select multiple ng-model="formData.tags" theme="bootstrap" disabled="disabled">
                  <ui-select-match placeholder="Item Tags" ui-lock-choice="isDisabled()">{{ $item.name }}
                  </ui-select-match>
                  <ui-select-choices repeat="tag in tags | filter: $select.search | orderBy:'name'">
                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            
            <div class="form-group">
              <label for="aircraftTailNumber" class="col-sm-4 control-label">Aircraft Tail Number</label>
              <div class="col-sm-5">
<!-- TODO: RESTRICT TO 1 SELECTION ONLY, CUSTOMIZE FOR AIRCRAFT TAIL NUMBER -->
                <ui-select multiple ng-model="formData.tags" theme="bootstrap" disabled="disabled">
                  <ui-select-match placeholder="Item Tags" ui-lock-choice="isDisabled()">{{ $item.name }}
                  </ui-select-match>
                  <ui-select-choices repeat="tag in tags | filter: $select.search | orderBy:'name'">
                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
  
           </div>
        </ng-form>
      </div>

      <!-- PANE 2 - Inbound Seals --------------------------------------------------------------------- -->
      <div class="step-pane sample-pane" data-step="2">
        <ng-form action="">

          <!-- INFORMATION BAR -->
          <div class="well info-bar-status info-bar-status-inbound-seals">
            <table class="table">
              <thead>
                <tr>
                  <th>LMP Station</th>
                  <th>Store Number</th>
                  <th>Schedule Date</th>
                  <th>Schedule Number</th>
                  <th>Aircraft Tail Number</th>
                  <th>Store Instance Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" id="lmpStation" placeholder="LGW" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeNumber" placeholder="123456" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleDate" placeholder="12/25/2015" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleNumber" placeholder="1234" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="aircraftTailNumber" placeholder="AB-CDE" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeInstanceNumber" placeholder="123456" disabled="disabled">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="well well-sm">
            <label class="checkbox-custom checkbox-inline" id="inboundSealsTamperedCheckbox" data-initialize="checkbox"> 
              <input class="sr-only btn btn-default" data-toggle=".inbound-seals-tampered" type="checkbox" value="1"> 
              <span class="checkbox-label">Inbound Seals Tampered</span>
            </label>
            
            <textarea class="form-control inbound-seals-tampered" id="inboundSealsTamperedNotes" placeholder="Notes"></textarea>
          </div>
          
          <!-- PANE 2 - Inbound Seals - Inbound --------------------------------------------------------------------- -->
          <div class="well seal-color seal-color-yellow">

            <div class="row">
              <div class="col-xs-12">
                <label for="seal-numbers-inbound-inbound">Seal Numbers*:</label>
<!-- TODO: ADJUST SELECTIZE FOR USE IN ANGULAR -->
                <input type="text" id="seal-numbers-inbound-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal">
                <script>
                  $('#seal-numbers-inbound-inbound').selectize({
                    persist: false,
                    createOnBlur: true,
                    create: true
                  });
                </script>
              </div>
            </div>
            <br>
            
            <div class="row">
<!-- TODO: WHEN CHECKED - ADD SEALS, WITH SEQUENTIAL SEAL NUMBERS  -->
              <div class="col-xs-3 col-sm-2 col-md-1">
                <label class="checkbox-custom checkbox-inline pull-left" id="assignSealsSequentialCheckbox" data-initialize="checkbox"> 
                  <input class="sr-only btn btn-default" type="checkbox" value="1" data-toggle=".add-sequential-seals-inbound">
                  <span class="checkbox-label">Sequential</span>
                </label>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 add-sequential-seals-inbound">
                <div class="input-group">
                  <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber" width="20">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
                  </span>
                </div>
              </div>
            </div>
 
          </div>
  
          <!-- PANE 2 - Inbound Seals - High Security --------------------------------------------------------------------- -->
          <div class="well seal-color seal-color-white">
          
             <div class="row">
              <div class="col-xs-12">
                <label for="seal-numbers-inbound-high-security">Seal Numbers:</label>
<!-- TODO: ADJUST SELECTIZE FOR USE IN ANGULAR -->
                <input type="text" id="seal-numbers-inbound-high-security" value="" placeholder="Add Seals Here, Enter After Each Seal">
                <script>
                  $('#seal-numbers-inbound-high-security').selectize({
                    persist: false,
                    createOnBlur: true,
                    create: true
                  });
                </script>
              </div>
            </div>
            <br>
            
            <div class="row">
<!-- TODO: WHEN CHECKED - ADD SEALS, WITH SEQUENTIAL SEAL NUMBERS  -->
              <div class="col-xs-3 col-sm-2 col-md-1">
                <label class="checkbox-custom checkbox-inline pull-left" id="assignSealsSequentialCheckbox" data-initialize="checkbox"> 
                  <input class="sr-only btn btn-default" type="checkbox" value="1" data-toggle=".add-sequential-seals-high-security">
                  <span class="checkbox-label">Sequential</span>
                </label>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 add-sequential-seals-high-security">
                <div class="input-group">
                  <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber" width="20">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
                  </span>
                </div>
              </div>
            </div> 
            
          </div>

        </ng-form>
      </div>

      <!-- PANE 3 - Packing --------------------------------------------------------------------- -->
      <div class="step-pane sample-pane" data-step="3">
        <ng-form action="">
        
          <!-- INFORMATION BAR -->
          <!--  INFO-BAR-STATUS REMOVED FOR END-DISPATCH ONLY -->
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>LMP Station</th>
                  <th>Store Number</th>
                  <th>Schedule Date</th>
                  <th>Schedule Number</th>
                  <th>Aircraft Tail Number</th>
                  <th>Store Instance Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" id="lmpStation" placeholder="LGW" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeNumber" placeholder="123456" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleDate" placeholder="12/25/2015" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleNumber" placeholder="1234" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="aircraftTailNumber" placeholder="AB-CDE" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeInstanceNumber" placeholder="123456" disabled="disabled">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        
<!-- TODO: FILTER ADJUSTS TABLE DATA BELOW -->
          <div class="row">
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Filter by:</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Item Details</label>
                <input ng-model="filterItemDetails" type="text" class="form-control" id="filter-item-details"
                       placeholder="Coke" ng-readonly="readOnly">
              </div>
            </div>
          </div>
  
          <div class="well">
            <h3>Offload List</h3>
            <table class="table table-striped offload-list">
              <thead>
                <tr>
                  <th>Retail Item Details</th>
                  <th width="10%">Inbound Quantity</th>
                  <th width="10%">Ullage</th>
                  <th>Ullage Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input ng-model="itemDetails" type="text" class="form-control" id="item-code" placeholder="0006 - Bacardi" disabled="disabled">
                  </td>
                  <td>
                    <input ng-model="inboundQuantity" type="text" class="form-control" id="inbound-quantity" placeholder="20">
                  </td>
                  <td>
                    <input ng-model="ullage" type="text" class="form-control" id="ullage" placeholder="20">
                  </td>
                  <td>
                    <select class="form-control" id="ullage-reason">
                      <option>Broken</option>
                      <option>Lost</option>
                      <option>Not Present</option>
                      <option>Dropped</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <div class="row" ng-hide="readOnly">
              <div class="col-xs-4 col-md-9"></div>
              <div class="col-xs-4 col-md-3 text-right">
                <div class="input-group">
<!-- TODO: ADD SEALS, MATCH ADD ITEMS -->
                  <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addItems()"><i class="fa fa-plus"></i> Add Items</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </ng-form>
      </div>

      <!-- PANE 4 - Dispatch --------------------------------------------------------------------- -->
      <div class="step-pane sample-pane" data-step="4">
        <ng-form action="">

          <!-- INFORMATION BAR -->
          <!--  INFO-BAR-STATUS REMOVED FOR END-DISPATCH ONLY -->
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>LMP Station</th>
                  <th>Store Number</th>
                  <th>Schedule Date</th>
                  <th>Schedule Number</th>
                  <th>Aircraft Tail Number</th>
                  <th>Store Instance Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" id="lmpStation" placeholder="LGW" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeNumber" placeholder="123456" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleDate" placeholder="12/25/2015" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="scheduleNumber" placeholder="1234" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="aircraftTailNumber" placeholder="AB-CDE" disabled="disabled">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="storeInstanceNumber" placeholder="123456" disabled="disabled">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

<!-- TODO: FILTER ADJUSTS TABLE DATA BELOW -->
          <div class="row">
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Filter by:</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Item Details</label>
                <input ng-model="filterItemDetails" type="text" class="form-control" id="filter-item-details"
                       placeholder="Coke" ng-readonly="readOnly">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="clickable panel-collapsed">
                    <h3>Inbound Seals</h3><i class="fa fa-chevron-down"></i>
                  </span>
                </div>
                <div class="panel-body" style="display:none;">
                
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-info pull-right" id="goToPacking">Edit</button>
                  </div>
              
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Seal Type</th>
                        <th>Seal Numbers</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <td width="15%">
                          <input type="text" class="form-control" id="sealColor" placeholder="Inbound" style="background-color: #FFCC00" disabled="disabled">
                        </td>
                        <td>12420, 12421, 12422, 12423, 12424</td>
                      <tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control" id="sealColor" placeholder="High Security" style="background-color: #FFFFFF" disabled="disabled">
                        </td>
                        <td>11465, 11466</td>
                      <tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="clickable panel-collapsed">
                    <h3>Offload List</h3><i class="fa fa-chevron-down"></i>
                  </span>
                </div>
                <div class="panel-body" style="display:none;">
                                  
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-info pull-right" id="goToPacking">Edit</button>
                  </div>
                  
                  <table class="table table-striped offload-list">
                    <thead>
                      <tr>
                        <th>Retail Item Details</th>
                        <th width="10%">Inbound Quantity</th>
                        <th width="10%">Ullage</th>
                        <th>Ullage Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input ng-model="itemCode" type="text" class="form-control" id="item-code" placeholder="0006 - Bacardi" disabled="disabled">
                        </td>
                        <td>
                          <input ng-model="inboundQuantity" type="text" class="form-control" id="inbound-quantity" placeholder="20" disabled="disabled">
                        </td>
                        <td>
                          <input ng-model="ullage" type="text" class="form-control" id="ullage" placeholder="20" disabled="disabled">
                        </td>
                        <td>
                          <select class="form-control" id="ullage-reason" disabled="disabled">
                            <option>Broken</option>
                            <option>Lost</option>
                            <option>Not Present</option>
                            <option>Dropped</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
          </div>

        </ng-form>
      </div>

    </div>

    <div class="actions">
    <!-- TODO: HIDE 'PREV' BUTTON ON FIRST STEP -->
      <button type="button" class="btn btn-default btn-prev">
        <span class="glyphicon glyphicon-arrow-left"></span>Prev
      </button>
    <!-- TODO: HIDE 'NEXT' BUTTON ON LAST STEP -->
      <button type="button" class="btn btn-default btn-primary btn-next" data-last="Dispatch">
        Next<span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>
    
    <div class="top-actions">
    <!-- TODO: HIDE 'SAVE & EXIT' BUTTON ON FIRST STEP -->
      <button type="button" class="btn btn-primary btn-prev">Save &amp; Exit</button>
    </div>

  </div>

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" type="text/javascript"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- endbuild -->

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/qrcode/lib/qrcode.js"></script>
<script src="bower_components/angular-qr/src/angular-qr.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ngtoast/dist/ngToast.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/angular-dragdrop/draganddrop.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/company-list.js"></script>
<script src="scripts/controllers/item-list.js"></script>
<script src="scripts/controllers/company-relationship-list.js"></script>
<script src="scripts/services/company-factory.js"></script>
<script src="scripts/services/company-relationship-factory.js"></script>
<script src="scripts/services/company-relationship-service.js"></script>
<script src="scripts/services/companies-factory.js"></script>
<script src="scripts/services/items-factory.js"></script>
<script src="scripts/controllers/item-create.js"></script>
<script src="scripts/directives/input-text.js"></script>
<script src="scripts/services/globalmenuservice.js"></script>
<script src="scripts/directives/menu-dropdown.js"></script>
<script src="scripts/controllers/headermenu.js"></script>
<script src="scripts/controllers/exchange-rates.js"></script>
<script src="scripts/services/currency-factory.js"></script>
<script src="scripts/services/company-preferences-service.js"></script>
<script src="scripts/services/dailyExchangeRatesService.js"></script>
<script src="scripts/services/items-service.js"></script>
<script src="scripts/directives/input-select.js"></script>
<script src="scripts/services/company-service.js"></script>
<script src="scripts/controllers/menu-list.js"></script>
<script src="scripts/controllers/menu-edit.js"></script>
<script src="scripts/directives/date-picker.js"></script>
<script src="scripts/directives/item-price-type.js"></script>
<script src="scripts/directives/excel-upload.js"></script>
<script src="scripts/directives/image-upload.js"></script>
<script src="scripts/services/allergens-service.js"></script>
<script src="scripts/services/item-types.js"></script>
<script src="scripts/services/price-types-service.js"></script>
<script src="scripts/services/characteristics-service.js"></script>
<script src="scripts/services/units-service.js"></script>
<script src="scripts/services/tags-service.js"></script>
<script src="scripts/services/companies-factory.js"></script>
<script src="scripts/services/sales-categories-service.js"></script>
<script src="scripts/services/tax-types-service.js"></script>
<script src="scripts/services/stations-service.js"></script>
<script src="scripts/directives/qr-upload.js"></script>
<script src="scripts/directives/feature-list-item.js"></script>
<script src="scripts/directives/qr-create.js"></script>
<script src="scripts/directives/form-error-dialog.js"></script>
<script src="scripts/directives/form-success-modal.js"></script>
<script src="scripts/directives/input-gtin.js"></script>
<script src="scripts/directives/input-tax-type.js"></script>
<script src="scripts/directives/leave-view-modal.js"></script>
<script src="scripts/directives/input-station-exception.js"></script>
<script src="scripts/services/menu-service.js"></script>
<script src="scripts/services/currencies-service.js"></script>
<script src="scripts/directives/loading-modal.js"></script>
<script src="scripts/directives/input-item-image.js"></script>
<script src="scripts/directives/form-update-modal.js"></script>
<script src="scripts/directives/custom-validity.js"></script>
<script src="scripts/controllers/stock-owner-item-list.js"></script>
<script src="scripts/controllers/stock-owner-item-create.js"></script>
<script src="scripts/directives/input-price-type-stock-owner.js"></script>
<script src="scripts/services/version-service.js"></script>
<script src="scripts/directives/dev-footer.js"></script>
<script src="scripts/controllers/post-trip-data-list.js"></script>
<script src="scripts/controllers/post-trip-data.js"></script>
<script src="scripts/controllers/employee-commission-edit.js"></script>
<script src="scripts/controllers/global-reason-code.js"></script>
<script src="scripts/controllers/company-reason-code.js"></script>
<script src="scripts/filters/date-range.js"></script>
<script src="scripts/services/version-service.js"></script>
<script src="scripts/controllers/cash-bag.js"></script>
<script src="scripts/services/cash-bag-service.js"></script>
<script src="scripts/services/schedules-service.js"></script>
<script src="scripts/services/stations-service.js"></script>
<script src="scripts/controllers/cash-bag-list.js"></script>
<script src="scripts/services/cash-bag-factory.js"></script>
<script src="scripts/directives/menu-slide.js"></script>
<script src="scripts/services/factory-helper.js"></script>
<script src="scripts/controllers/menu-relationship-list.js"></script>
<script src="scripts/controllers/menu-relationship-create.js"></script>
<script src="scripts/controllers/item-import.js"></script>
<script src="scripts/directives/download-template-modal.js"></script>
<script src="scripts/directives/delete-record-dialog.js"></script>
<script src="scripts/services/date-utility.js"></script>
<script src="scripts/services/caterer-station-service.js"></script>
<script src="scripts/services/item-import-service.js"></script>
<script src="scripts/services/item-import-factory.js"></script>
<script src="scripts/services/employee-commission-factory.js"></script>
<script src="scripts/services/tax-rate-types-service.js"></script>
<script src="scripts/services/post-trips-service.js"></script>
<script src="scripts/services/post-trip-factory.js"></script>
<script src="scripts/services/carrier-service.js"></script>
<script src="scripts/services/employees-service.js"></script>
<script src="scripts/services/menu-caterer-stations-service.js"></script>
<script src="scripts/services/transaction-service.js"></script>
<script src="scripts/services/company-cc-types-service.js"></script>
<script src="scripts/controllers/lmp-locations-list.js"></script>
<script src="scripts/controllers/manage-goods-received.js"></script>
<script src="scripts/services/menu-factory.js"></script>
<script src="scripts/controllers/store-number-create.js"></script>
<script src="scripts/services/company-stores-service.js"></script>
<script src="scripts/controllers/employee-commission-list.js"></script>
<script src="scripts/controllers/stock-dashboard.js"></script>
<script src="scripts/controllers/stock-take.js"></script>
<script src="scripts/controllers/stock-take-review.js"></script>
<script src="scripts/controllers/stock-take-report.js"></script>
<script src="scripts/directives/date-picker-field.js"></script>
<script src="scripts/services/employee-commission-service.js"></script>
<script src="scripts/directives/dynamic-left-nav.js"></script>
<script src="scripts/services/main-menu-service.js"></script>
<script src="scripts/controllers/lmp-delivery-note.js"></script>
<script src="scripts/services/stock-dashboard-service.js"></script>
<script src="scripts/directives/stock-take-reason.js"></script>
<script src="scripts/filters/index.js"></script>
<script src="scripts/services/delivery-notes-service.js"></script>
<script src="scripts/services/delivery-note-factory.js"></script>
<script src="scripts/services/company-discount-service.js"></script>
<script src="scripts/services/company-reason-codes-service.js"></script>
<script src="scripts/services/company-reason-type-service.js"></script>
<script src="scripts/directives/input-textarea.js"></script>
<script src="scripts/services/stock-adjustments-service.js"></script>
<script src="scripts/services/stock-take-service.js"></script>
<script src="scripts/services/stock-take-factory.js"></script>
<script src="scripts/controllers/store-instance-step-1.js"></script>
<script src="scripts/directives/step-wizard.js"></script>
<script src="scripts/services/store-instance-service.js"></script>
<script src="scripts/services/store-instance-factory.js"></script>

  <script src="//www.fuelcdn.com/fuelux/3.6.3/js/fuelux.min.js" type="text/javascript"></script>

  <script type="text/javascript">
		$(document).ready(function() {
			$('#myDatepicker').datepicker();

      $('#goToInboundSeals').on('click', function(e, data) {
        $('[data-step=2]').trigger("click");
      });
  
      $('#goToPacking').on('click', function(e, data) {
        $('[data-step=3]').trigger("click");
      });

      $('#goToAssignSeals').on('click', function(e, data) {
        $('[data-step=4]').trigger("click");
      });

		});
  </script>
  
  <script type="text/javascript">
      jQuery(function ($) {
          $('.panel-heading span.clickable').on("click", function (e) {
              if ($(this).hasClass('panel-collapsed')) {
                  // expand the panel
                  $(this).parents('.panel').find('.panel-body').slideDown();
                  $(this).removeClass('panel-collapsed');
                  $(this).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
              }
              else {
                  // collapse the panel
                  $(this).parents('.panel').find('.panel-body').slideUp();
                  $(this).addClass('panel-collapsed');
                  $(this).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
              }
          });
      });
  </script>

</body>
</html>