<!doctype html>
<html ng-app="ts5App" class="no-js">
<head lang="{{language.shortName}}">
  <meta charset="utf-8">
  <title>TS5</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="bower_components/select2/select2.css" />
  <link rel="stylesheet" href="bower_components/ngtoast/dist/ngToast.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderMenuCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" ng-href="/#/">
        <span class="fa fa-th"></span>
        TS5 Dashboard
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <menu-dropdown title="Settings" ng-model="settingsModel" icon="fa fa-cog"></menu-dropdown>
        </li>
        <li>
          <menu-dropdown title="User Picker" ng-model="userModel" icon="fa fa-user"></menu-dropdown>
        </li>
        <li>
          <menu-dropdown title="Company Picker" ng-model="companyModel" icon="fa fa-plane"></menu-dropdown>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="main-container" ng-view=""></div>
</div>
<dev-footer></dev-footer>

<loading-modal></loading-modal>
<toast></toast>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-30136587-1');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-dynforms/dynamic-forms.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/qrcode/lib/qrcode.js"></script>
<script src="bower_components/angular-qr/src/angular-qr.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/ui-select/src/select3.js"></script>
<script src="bower_components/ngtoast/dist/ngToast.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/companies.js"></script>
<script src="scripts/controllers/item-list.js"></script>
<script src="scripts/services/companieslistfactory.js"></script>
<script src="scripts/controllers/company.js"></script>
<script src="scripts/services/items-factory.js"></script>
<script src="scripts/controllers/item-create.js"></script>
<script src="scripts/directives/input-text.js"></script>
<script src="scripts/services/globalmenuservice.js"></script>
<script src="scripts/directives/menudropdown.js"></script>
<script src="scripts/controllers/headermenu.js"></script>
<script src="scripts/controllers/exchange-rates.js"></script>
<script src="scripts/services/currency-factory.js"></script>
<script src="scripts/services/company-preferences-service.js"></script>
<script src="scripts/services/dailyExchangeRatesService.js"></script>
<script src="scripts/services/items-service.js"></script>
<script src="scripts/directives/input-select.js"></script>
<script src="scripts/services/companies-service.js"></script>
<script src="scripts/controllers/menu-list.js"></script>
<script src="scripts/controllers/menu-create.js"></script>
<script src="scripts/controllers/menu-edit.js"></script>
<script src="scripts/directives/date-picker.js"></script>
<script src="scripts/directives/item-price-type.js"></script>
<script src="scripts/directives/image-upload.js"></script>
<script src="scripts/services/allergens-service.js"></script>
<script src="scripts/services/item-types.js"></script>
<script src="scripts/services/price-types-service.js"></script>
<script src="scripts/services/characteristics-service.js"></script>
<script src="scripts/services/units-service.js"></script>
<script src="scripts/services/tags-service.js"></script>
<script src="scripts/services/companies-factory.js"></script>
<script src="scripts/services/sales-categories-service.js"></script>
<script src="scripts/services/tax-types-service.js"></script>
<script src="scripts/services/stations-service.js"></script>
<script src="scripts/directives/qr-upload.js"></script>
<script src="scripts/directives/qr-create.js"></script>
<script src="scripts/directives/form-error-dialog.js"></script>
<script src="scripts/directives/form-success-modal.js"></script>
<script src="scripts/directives/input-gtin.js"></script>
<script src="scripts/directives/input-tax-type.js"></script>
<script src="scripts/directives/leave-view-modal.js"></script>
<script src="scripts/directives/input-station-exception.js"></script>
<script src="scripts/services/menu-service.js"></script>
<script src="scripts/services/currencies-service.js"></script>
<script src="scripts/directives/loading-modal.js"></script>
<script src="scripts/directives/left-navigation.js"></script>
<script src="scripts/directives/input-item-image.js"></script>
<script src="scripts/directives/form-update-modal.js"></script>
<script src="scripts/directives/custom-validity.js"></script>
<script src="scripts/controllers/stock-owner-item-list.js"></script>
<script src="scripts/controllers/stock-owner-item-create.js"></script>
<script src="scripts/directives/input-price-type-stock-owner.js"></script>
<script src="scripts/services/version-service.js"></script>
<script src="scripts/directives/dev-footer.js"></script>
<script src="scripts/directives/leave-view-modal-nav.js"></script>
<script src="scripts/directives/left-navigation-stock-owner.js"></script>
<script src="scripts/controllers/post-trip-data-list.js"></script>
<script src="scripts/controllers/post-trip-data.js"></script>
<script src="scripts/controllers/crew-commission.js"></script>
<script src="scripts/controllers/refund-global-reason-code.js"></script>
<script src="scripts/controllers/refund-company-reason-code.js"></script>
<script src="scripts/filters/date-range.js"></script>
<script src="scripts/services/version-service.js"></script>
<script src="scripts/directives/dev-footer.js"></script>
<script src="scripts/controllers/cash-bag-create.js"></script>
<script src="scripts/services/cash-bag-service.js"></script>
<script src="scripts/controllers/cash-bag-list.js"></script>
<!-- endbuild -->
</body>
</html>
