<div class="modal fade variance-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Daily Exchange Rate Variance Warning!</h4>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to continue, there is a {{variance}}% variance on the exchange rates</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default">Continue</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>

    </div>
  </div>
</div>
