<div class="module-container-epos-configuration">
  <error-dialog form-object="form" error-response="errorResponse" display="displayError">
  </error-dialog>
  <form class="form-horizontal" name="reportOptions" ng-submit="saveBacOfficeConfig()">
    <div class="modal-header">
      <h3 class="modal-title">{{ "Back Office Configuration - " + selectedFeature.name || 'Back Office Configuration' }}</h3>
    </div>

    <fieldset>
      <div class="form-group" ng-repeat="option in configOptions">
        <span class="control-label col-sm-2">{{ option.name }}: </span>
        <div class="col-sm-10">
          <label ng-if="option.inputType === 'RADIO_BUTTON'" ng-repeat="value in option.values" class="radio-custom radio-inline" style="padding-top: 3px;" data-initialize="radio" id="radios-inline-3">
            <input class="inline" ng-model="formData[option.name]"  type="radio" id="{{option.id}}" name="{{option.id}}" value="{{value.value}}"/>
            <span class="">{{ value.name }}</span>
          </label>
          <label ng-if="option.inputType === 'PERCENTAGE_NUMBER'" class="radio-custom radio-inline" style="padding-top: 3px;" data-initialize="radio" id="radios-inline-4">
            <input class="inline" ng-model="formData[option.name]"  type="number" ng-pattern="regexp.percentage" class="form-control" id="{{option.id}}" name="{{option.id}}"/>
          </label>
        </div>
      </div>
    </fieldset>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-disabled="isModuleConfigurationOptionsEmpty()" ng-hide="!isUserAvailableForEditAndCreate() || isModuleConfigurationOptionsEmpty()">Save</button>
      <button class="btn btn-danger" type="button" ng-disabled="isModuleConfigurationOptionsEmpty()" ng-hide="!isUserAvailableForEditAndCreate() || isModuleConfigurationOptionsEmpty()" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>

<div id="left-navigation-epos-configuration">
  <div class="container">

    <ul class="navbar product-version-scrollable">
      <li ng-repeat="feature in portalConfigurationFeatures | orderBy: orderBy" ng-class="{'active' : feature === selectedFeature}" class="ng-scope" role="button" ng-click="selectFeature(feature)">
        <i class="icon-manage-transactions"></i>
        <div class="left-nav-option">
          <i class="icon-manage-discount"></i>
          <p class="ng-binding">{{ feature.name }}</p>
        </div>
      </li>

    </ul>
  </div>
</div>

