<div class="module-container-epos-configuration">
  <error-dialog form-object="form" error-response="errorResponse" display="displayError">
  </error-dialog>
  <form ng-if="!isFeatureOptionsLoadingInProgress" class="form-horizontal" name="reportOptions" ng-submit="saveBackOfficeConfig()">
    <div class="modal-header">
      <h3 class="modal-title">{{selectedFeature.title}}</h3>
    </div>
    <fieldset ng-if="!isFeatureOptionsLoadingInProgress">
      <div class="form-group col-sm-12 back-office-option-container" ng-repeat="option in configOptions">
        <span class="control-label col-sm-5">{{ option.name }}
          <button type="button" title="{{toolTipMessage(option)}}" class="fa fa-info-circle tooltip-focus back-office-tooltip-button" ></button>
          :
        </span>
        <div class="col-sm-7">
          <label ng-if="option.inputType === 'RADIO_BUTTON'" ng-repeat="value in option.values" class="radio-custom radio-inline back-office-radio-button" data-initialize="radio" >
            <input ng-disabled="!isCRUD" class="inline" style="margin-left: -3px;" ng-model="formData[option.ngModelIdentifier].value"  type="radio" id="{{option.id + '-' + $index}}" name="{{option.ngModelIdentifier}}" ng-value="value.value"/>
            <span class="" style="margin-left: 17px;">{{ value.name }}</span>
          </label>
          <label ng-if="option.inputType === 'PERCENTAGE_NUMBER'" class="radio-custom radio-inline col-sm-12 back-office-percentage-number" >
            <input ng-disabled="!isCRUD" class="inline form-control col-sm-1" style="padding-top: 3px; width: 146px;" ng-model="formData[option.ngModelIdentifier].value"  type="number" step="0.01"  id="{{option.id}}" name="{{option.id}}"/>
          </label>
          <label ng-if="option.inputType === 'NUMBER'" class="radio-custom radio-inline col-sm-12 back-office-number"  >
            <input ng-disabled="!isCRUD" class="inline form-control col-sm-2" style="padding-top: 3px; width: 146px;" ng-model="formData[option.ngModelIdentifier].value"  type="number" step="1" id="{{option.id}}" name="{{option.ngModelIdentifier}}"/>
          </label>
          <label ng-if="option.inputType === 'SELECT'" class="radio-custom radio-inline col-sm-12 back-office-select"  >
            <select ng-disabled="!isCRUD" name="{{option.ngModelIdentifier}}" ng-model="formData[option.ngModelIdentifier].value" class="inline form-control col-sm-2" >
              <option ng-repeat="optionValue in option.values"
                      value="{{ optionValue.choiceCode }}">{{ optionValue.name }}
              </option>
            </select>
          </label>
        </div>
      </div>
    </fieldset>

    <div class="modal-footer">
      <button ng-show="isCRUD && isFeatureSelected()" class="btn btn-primary" type="submit" >Save</button>
      <button ng-show="isCRUD && isFeatureSelected()" class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>

<div id="left-navigation-epos-configuration">
  <div class="container">

    <ul class="navbar product-version-scrollable">
      <li ng-repeat="feature in portalConfigurationFeatures | orderBy: orderBy" ng-class="{'active' : feature === selectedFeature}" class="ng-scope" role="button" ng-click="selectFeature(feature, false)">
        <i class="icon-manage-transactions"></i>
        <div class="left-nav-option">
          <i class="icon-manage-discount"></i>
          <p class="ng-binding">{{ feature.name }}</p>
        </div>
      </li>

    </ul>
  </div>
</div>

