<div class="fluid-container module-container">
  <h1><span class="controller-state text-capitalize">{{ state }}</span> {{ ::viewName }}</h1>

  <div class="row row-as-table">
    <div class="col-xs-6">
      <h3>
        {{ company.companyName }}
        <small>Flight {{ cashBag.scheduleNumber }}</small>
        <small>{{ displayedScheduleDate }}</small>
      </h3>
    </div>
    <div class="type-info col-xs-6 text-right">
      <h4>
        Store Number:
        <small>{{ cashBag.storeNumber }}</small>
        Store Instance:
        <small>{{ cashBag.storeInstanceId }}</small>
      </h4>
    </div>
  </div>

  <error-dialog form-object="cashBagCreateForm" error-response="errorResponse" display="displayError"></error-dialog>
  <missing-daily-exchange-modal check-on-load="true"></missing-daily-exchange-modal>

  <div ng-if="isCashBagDeleted()" class="alert alert-danger" role="alert">
    This cash bag has been deleted!
  </div>

  <div class="panel panel-default">
    <!-- form name="cashBagCreateForm" class="form edit-form" ng-submit="formSave(cashBag)"-->
    <form name="cashBagCreateForm" class="form edit-form">

      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <div>Cash Handler Base Currency: {{ currencyCodes[cashHandlerCompany.baseCurrencyId] }}</div>
            <div>Airline Base Currency: {{ currencyCodes[company.baseCurrencyId] }}</div>
          </div>
          <div class="col-sm-6 text-right">
            <div>Cashier's entry date:
              <date>{{ displayedCashierDate }}</date>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <div class="alert alert-warning" ng-show="shouldShowBankRefNumberAlert()"><span class="fa fa-exclamation-circle"></span> The <b>Bank Reference #</b> was automatically changed from {{ oldBankRefNumber }} to {{ cashBag.bankReferenceNumber }}  </div>

        <div class="row">
          <div class="form-group col-sm-4" ng-class="{ 'has-error' : !cashBag.cashBagNumber && displayError, 'has-success' : cashBag.cashBagNumber }">
            <label for="cashBagNumber">Cash Bag # *</label>
            <input 
                   type="text"
                   ng-model="cashBag.cashBagNumber"
                   class="form-control"
                   name="cashBagNumber"
                   id="cashBagNumberId"
                   placeholder="Enter Cash Bag Number"
                   maxlength="{{ cashBagNumberMaxLength }}"
                   ng-pattern="regexp.alphanumeric"
                   required
                   ng-readonly="readOnly"/>
          </div>

          <div class="form-group col-sm-4" ng-if="isTotalNumberOfCashBagsActivated()"  ng-class="{ 'has-error' : !cashBag.totalCashBags && displayError, 'has-success' : cashBag.totalCashBags }">
            <label for="totalCashBags">Total # of Bags *</label>
            <input 
                   type="text"
                   ng-model="cashBag.totalCashBags"
                   class="form-control"
                   name="totalCashBags"
                   id="totalCashBagsId"
                   maxlength="25"
                   ng-pattern="regexp.number"
                   required
                   ng-readonly="readOnly"/>
          </div>

          <div class="form-group col-sm-4" ng-class="{ 'has-error' : !cashBag.bankReferenceNumber && displayError, 'has-success' : cashBag.bankReferenceNumber }">
            <label for="bankReferenceNumber">Bank Reference # *</label>
            <input 
                   type="text"
                   ng-model="cashBag.bankReferenceNumber"
                   class="form-control"
                   name="bankReferenceNumber"
                   id="bankReferenceNumberId"
                   maxlength="15"
                   ng-pattern="regexp.number"
                   required
                   ng-readonly="readOnly"
                   custom-focus="isFocusBankReferenceNumber()"/>
          </div>
        </div>

        <div class="row form-group table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Currency</th>
              <th>Flight Amount</th>
              <th>Paper Amount</th>
              <th>Coin Amount</th>
              <th ng-if="isBankExchangePreferred()">Bank Exchange Rate</th>
              <th ng-if="!isBankExchangePreferred()">Paper Bank Exchange Rate</th>
              <th ng-if="!isBankExchangePreferred()">Coin Bank Exchange Rate</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="currency in cashBag.cashBagCurrencies | orderBy: 'currencyCode'">
              <td>{{ currency.currencyCode }}</td>
              <td>{{ currency.flightAmount }}</td>
              <td><input type="text"
                         custom-validity
                         custom-pattern="currencyWithFourDecimalPlaceUnrounded"
                         required
                         class="form-control"
                         ng-model="currency.paperAmountManual"
                         name="paperAmountManual [{{ currency.currencyCode}} ]"
                         ng-readonly="readOnly"
                         ng-class="{ 'has-error' : !currency.paperAmountManual && displayError, 'has-success' : currency.paperAmountManual}">
              </td>
              <td><input type="text"
                         custom-validity
                         custom-pattern="currencyWithFourDecimalPlaceUnrounded"
                         required
                         class="form-control"
                         ng-model="currency.coinAmountManual"
                         name="coinAmountManual [ {{currency.currencyCode}} ]"
                         ng-readonly="readOnly"
                         ng-class="{ 'has-error' : !currency.coinAmountManual && displayError, 'has-success' : currency.coinAmountManual }">
              </td>
              <td ng-if="isBankExchangePreferred()">{{ currency.bankExchangeRate }}</td>
              <td ng-if="!isBankExchangePreferred()">{{ currency.paperExchangeRate }}</td>
              <td ng-if="!isBankExchangePreferred()">{{ currency.coinExchangeRate }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel-footer text-center">
        <button type="button" class="btn btn-default" ng-click="leaveView('cash-bag-list')" ng-hide="readOnly">Cancel</button>
        <!-- >button type="submit" class="btn btn-primary" ng-hide="readOnly"-->
        <button class="btn btn-primary" ng-click="formSave(cashBag)">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">{{ saveButtonName }}</span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="deleteRecordDialog(cashBag)" ng-show="showDeleteButton(cashBag)" ng-disabled="readOnly">Delete</button>
      </div>
    </form>

  </div>
  <leave-view-modal></leave-view-modal>
</div>
<dynamic-left-nav title="Cash Management"></dynamic-left-nav>
<delete-record-dialog></delete-record-dialog>
