<h1><span style="text-transform: capitalize" class="controller-state">{{ state }}</span> {{ viewName }}</h1>

<h2>TODO: Airline <small>TODO: Flight <date>{{ cashBag.scheduleDate }}</date></small></h2>
<ng-form name="cashBagCreateForm" class="form edit-form">

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <div>Base currency: TODO: Base currency</div>
        </div>
        <div class="col-sm-6 text-right">
          <div>Cashier's entry date: <date>{{ cashBag.createdOn }}</date></div>
        </div>
      </div>
    </div>

    <div class="panel-body">

      <div class="row form-group">
			  <div class="col-sm-4">
          <label for="cashBagNumber">Cash Bag #</label>
          <input custom-pattern="regexp.alpha"
                 required
                 type="text"
                 maxlength="25"
                 name="cashBagNumber"
                 class="form-control"
                 id="cashBagNumber"
                 ng-model="cashBag.cashBagNumber"
                 ng-readonly="readOnly"/>
			  </div>

			  <div class="col-sm-4">
          <label for="totalCashBags">Total # of Bags</label>
          <input custom-pattern="regexp.alpha"
                 required
                 type="text"
                 maxlength="25"
                 name="totalCashBags"
                 class="form-control"
                 id="totalCashBags"
                 ng-model="cashBag.totalCashBags",
                 ng-readonly="readOnly"/>
			  </div>

			  <div class="col-sm-4">
          <label for="totalCashBags">Bank Reference</label>
          <input custom-pattern="regexp.alpha"
                 required
                 type="text"
                 maxlength="25"
                 name="bankReferenceNumber"
                 class="form-control"
                 id="bankReferenceNumber"
                 ng-model="cashBag.bankReferenceNumber",
                 ng-readonly="readOnly"/>
        </div>
      </div>

      <div class="row form-group">
				<table class="table table-responsive table-bordered table-hover">
			    <thead>
			    <tr>
			      <th>Currency</th>
			      <th>Flight Amount</th>
			      <th>Paper Amount</th>
			      <th>Coin Amount</th>
			      <th>Paper Bank Exchange Rate</th>
			      <th>Coin Bank Exchange Ratev</th>
			    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="currency in cashBag.cashBagCurrencies">
			      <td>{{ currency.currencyId }}</td>
			      <td>{{ currency.bankAmount }}</td>
			      <td><input type="text"
                       class="form-control"
                       ng-model="currency.coinAmountEpos"
                       name="coinAmountManual[{{currency.currencyId}}]"
                       ng-readonly="readOnly"></td>
			      <td><input type="text"
                       class="form-control"
                       ng-model="currency.paperAmountEpos"
                       name="paperAmountManual[{{currency.currencyId}}]"
                       ng-readonly="readOnly"></td>
			      <td>{{ currency.paperAmountEpos }}</td>
			      <td>{{ currency.coinAmountEpos }}</td>
			    </tr>
			    </tbody>
			  </table>
      </div>
    </div>

    <div class="panel-footer text-center">
      <button class="btn btn-default save-btn">Save</button>
      <p>TODO: If save button is disabled, show reason here</p>
    </div>

  </div>

</ng-form>
