<div class="container module-container">

  <error-dialog error-response="errorResponse" display="displayError"></error-dialog>
  <missing-daily-exchange-modal check-on-load="false"></missing-daily-exchange-modal>

  <!-- submitCashBagModal -->
  <div class="modal fade submit-cashBag-modal hide-from-print">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Cash Bag Submit Confirmation</h4>
        </div>

        <div class="modal-body">
          <p class="text-center">Are you sure you want to submit the following ?</p>

          <ul>
            <li>Company Name: <strong>{{ companyData.companyName }}</strong></li>
            <li>Cash Handler Name: <strong>{{ CHCompany.companyName }}</strong></li>
            <li>Submission Date: <strong>{{ submissionDate }}</strong></li>
            <li>Number Of Cash Bags To Submit: <strong>{{ cashBagListToSubmit.length }}</strong></li>
            <li>
              Bank Reference Number: <strong>{{ bankReferenceListToSubmit.join(', ') }}</strong>
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="submitCashBag()">Submit</button>
          <button type="button" class="btn btn-default" ng-click="printListOfCashBag()">Print</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- submitCashBagModal -->

  <div class="list-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">

        <button class="btn btn-default" data-toggle="collapse" data-target="#searchCollapse" aria-expanded="false"
                aria-controls="searchCollapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>

        <button ng-click="showSubmitPopup()" ng-show="isSubmit" ng-disabled="shouldDisableSubmitButton()" class="btn btn-primary submit-cash-bag-btn">
          <i class="fa fa-send" aria-hidden="true"></i>
          <span class="hidden-xs">Submit</span>
        </button>

      </div>
    </div>
  </div>
  <div class="panel panel-default collapse in no-transition hide-from-print" id="searchCollapse" aria-expanded="true">
    <form name="cashBagSearchForm" ng-submit="searchCashBag()">
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="bankReferenceNumber">Bank Reference #</label>
              <input type="text" id="bankReferenceNumber" ng-model="search.bankReferenceNumber" class="form-control"/>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearForm()" id="clearCashBagsId">Clear</button>
        <button type="submit" class="btn btn-primary" ng-click="searchCashBags()" id="searchCashBagsId">Search</button>
      </div>
    </form>
  </div>

  <div class="row bottom-divider">
    <div class="col-xs-6">
      <h3>{{companyData.companyName}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>Cash Handler: {{CHCompany.companyName}}</p>
    </div>
    <div class="col-xs-6 text-right">
      <p>Cash Handler Base Currency: {{chBaseCurrency.currencyCode}}</p>
      <p>Airline Base Currency: {{companyBaseCurrency.currencyCode}}</p>
    </div>
  </div>

  <div class="table-responsive">
    <table infinite-scroll="updateCashBagList()" ng-show="cashBagList.length" infinite-scroll-immediate-check="false" class="table table-bordered table-hover ng-scope">
    <thead>
    <tr>
      <th width="5%" class="hide-from-print" ng-show="isSubmit"><input class="btn btn-default" type="checkbox" value="1" ng-model="allCheckboxesSelected" ng-click="toggleAllCheckboxes()"></th>
      <th>Cash Bag #</th>
      <th>Submitted By</th>
      <th>Bank Reference #</th>
      <th>Cash Bag Submitted</th>
      <th>Schedule</th>
      <th>Schedule Date</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-class="{'hide-from-print':!cashBag.selected}" ng-repeat="cashBag in cashBagList | index">
      <td class="hide-from-print" ng-show="isSubmit">
        <input ng-disabled="shouldDisableSubmission(cashBag)" class="btn btn-default" type="checkbox" value="1" ng-model="cashBag.selected" ng-click="toggleCheckbox(cashBag)">
      </td>
      <td>{{cashBag.cashBagNumber}}</td>
      <td>{{cashBag.submittedBy}}</td>
      <td>{{cashBag.bankReferenceNumber}}</td>
      <td>{{cashBag.submittedDate}}</td>
      <td>{{cashBag.scheduleNumber}}</td>
      <td>{{cashBag.scheduleDate}}</td>
    </tr>
    </tbody>
  </table>
    </div>
  <p ng-if="cashBagList.length > 0" class="record-count small text-center">Showing {{cashBagList.length}} records</p>
  <p class="loading-more alert alert-info text-center hide"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>
</div>
<dynamic-left-nav></dynamic-left-nav>
