<div class="module-container">

  <div class="top-header">

    <div class="container stock-dashboard">

      <div class="edit-controls">
        <div class="row">

          <div class="col-xs-6">
            <h2 class="view-name">{{ viewName }}</h2>
          </div>

          <div class="col-xs-6 text-right">
            <fieldset ng-hide="viewOnly">

              <a ng-show="canCreateStockTake()" ng-href="/#/stock-take/create/{{selectedCateringStation.id}}" class="btn btn-primary">
                <span class="fa fa-plus" aria-hidden="true"></span>
                <span class="hidden-xs">Create Stock Take</span>
              </a>

              <a ng-href="{{exportURL}}" class="btn btn-info" ng-show="selectedCateringStation.id && searchResults.length">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span class="hidden-xs">Export (CSV)</span>
              </a>

              <a ng-href="/#/" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="hidden-xs">Close</span>
              </a>

            </fieldset>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-hide="readOnly">
          <div class="form-group">
            <label>Bank Reference*</label>
            <select
              class="form-control"
              id="bankReferenceNumber"
              ng-model="search.bankReferenceNumber"
              ng-options="bankReference for bankReference in bankReferenceNumbers">
              <option selected="selected" value disabled>Select Bank Reference #</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/TopHeader -->

  <div class="container stock-dashboard-container">

    <table infinite-scroll="updateCashBagList()" ng-show="searchResults.length" class="table table-bordered table-hover ng-scope">
      <thead>
      <tr>
        <th>
          <input class="btn btn-default" type="checkbox" value="1" ng-model="allCheckboxesSelected"
                         ng-click="toggleAllCheckboxes()">
        </th>
        <th>Cash Bag Number</th>
        <th>Submitted By</th>
        <th>Bank Reference Number</th>
        <th>Cash Bag Submitted</th>
        <th>Schedule</th>
        <th>Schedule Date/th>
      </tr>
      </thead>
      <tbody>

      <tr
        ng-repeat="cashBag in cashBagList | index | filter: search as searchResults" >
        <td>
          <input class="btn btn-default" type="checkbox" value="1" ng-model="cashBag.selected"
                         ng-click="toggleCheckbox(cashBag)">
        </td>
        <td>{{cashBag.cashBagNumber}}</td>
        <td>{{cashBag.cashbagSubmittedBy ? cashBag.cashbagSubmittedBy : '-'}}</td>
        <td>{{cashBag.bankReferenceNumber}}</td>
        <td>-</td>
        <td>{{cashBag.scheduleNumber}}</td>
        <td>{{cashBag.scheduleDate}}</td>
      </tr>

      </tbody>
    </table>
    <p class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>

  </div>
</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>

<stock-take-reason></stock-take-reason>
