<div class="container module-container">

  <div class="top-header">

    <div class="container">

      <div class="edit-controls">

        <div class="row">

          <div class="col-xs-6">

            <h2 class="view-name"> {{ viewName }} </h2>

          </div>

          <div class="col-xs-6 text-right">

            <fieldset ng-hide="viewOnly">

              <button class="btn btn-default" ng-click="leaveView('category-list')">
                <span class="fa fa-remove" aria-hidden="true"></span>
                <span class="hidden-xs">Cancel</span>
              </button>

              <button class="btn btn-primary" ng-click="submitForm(formData)">
                <span class="fa fa-check-square-o" aria-hidden="true"></span>
                <span class="hidden-xs">{{ buttonText }}</span>
              </button>

            </fieldset>

          </div>

        </div>

      </div>

      <p>All required fields are marked with a *.</p>

    </div>

  </div>
  <!--/TopHeader -->

  <div class="create-form-container" ng-show="uiSelectTemplateReady">

    <error-dialog form-object="form" error-response="errorResponse" display="displayError">
    </error-dialog>

    <form name="form" class="form edit-form create-item-form">

      <h3 id="item-information">Category Information</h3>

      <div class="row">

        <div class="col-xs-12 col-sm-6">

          <fieldset >
              <label class="control-label" for="categoryName">Category Name*</label>
              <input
                 min="1"
                 max="10"
                 required="true"
                 type="text"
                 class="form-control"
                 name="categoryName"
                 ng-model="formData.name"
                 placeholder="Snack"/>

               <label class="control-label" for="categoryDescription">Description</label>
               <input
                  min="1"
                  max="10"
                  type="text"
                  class="form-control"
                  name="categoryDescription"
                  ng-model="formData.description"
                  placeholder="Snacks"/>

            <label class="control-label" for="parentCategoryId">Parent Category*</label>
            <select name="parentCategoryId" required ng-model="formData.parentCategoryId" class="form-control">
              <option ng-repeat="category in categoryList track by category.id"
                      value="{{ category.id }}">{{ category.name }}
              </option>
            </select>

            <label class="control-label" for="nextCategoryId">Next Category</label>
            <select name="nextCategoryId" ng-model="formData.nextCategoryId" class="form-control">
              <option ng-repeat="category in categoryList track by category.id"
                      value="{{ category.id }}">{{ category.name }}
              </option>
            </select>
          </fieldset>


        </div>
      </div>
  </form>

  </div>

</div>
<!-- /Container -->
<form-success-modal list-path="category-list" create-path="category/create"></form-success-modal>
<form-update-modal list-path="category-list"></form-update-modal>
<leave-view-modal></leave-view-modal>
