<div class="module-container fluid-container">

  <div class="list-controls">
    <div class="row item-list-row">
      <div class="col-xs-4">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-8 text-right">

        <button class="btn btn-default" ng-click="toggleFilterPanel()">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>

        <button class="btn btn-primary" ng-show="isCRUD || isSOCRUD" ng-click="toggleCreatePanel()">
          <span class="fa fa-plus" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Create Category</span>
        </button>
      </div>
    </div>

    <div class="alert alert-info" ng-show="inRearrangeMode">
      <p><span class="fa fa-info-circle"></span> <small>In order
        to move the highlighted row above or below another row, click
        <span class="fa fa-angle-double-up"></span> or <span class="fa fa-angle-double-down"> </span> on that row.</small></p>
    </div>

    <div class="panel panel-default collapse no-transition" id="search-collapse">
      <form class="form" ng-submit="search()">
      <div class="panel-body">
        <h4>Filter Categories
          <br>
        </h4>
        <hr>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <label for="category-name">Name</label>
              <input ng-model="filter.name" type="text" class="form-control" id="category-name" placeholder="Search Category Name">
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <label for="category-description">Description</label>
              <input ng-model="filter.description" type="text" class="form-control" id="category-description" placeholder="Search Category Description">
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <label for="parent-category">Parent Category</label>
              <ui-select theme="bootstrap" ng-model="filter.parentCategory" ng-disabled="readOnly" id="parent-category">
                <ui-select-match placeholder="Search parent category" allow-clear>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="category in flatCategoryList | filter: {name:$select.search}">
                  <div ng-bind-html="category.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-disabled="!showClearButton()" ng-click="clearSearch()">Clear</button>
        <button type="submit" class="btn btn-primary" id="searchCategoryListId">Search</button>
      </div>
      </form>
    </div>
    
	<error-dialog form-object="form" error-response="errorResponse" display="displayError">
    </error-dialog>
    <div class="panel panel-default collapse no-transition" id="create-collapse">
      <form name="newCategoryForm" ng-submit="createCategory()">
        <div class="panel-body">
          <h4>New Category</h4>
          <hr>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="new-name">Name *</label>
                <input
                  ng-model="newCategory.name"
                  type="text"
                  class="form-control"
                  id="new-name"
                  placeholder="Enter Category Name"
                  maxlength="25"
                  required="true">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="new-description">Description</label>
                <input ng-model="newCategory.description"
                       type="text"
                       class="form-control"
                       id="new-description"
                       placeholder="Enter Category Description"
                       maxlength="25">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="category-name">Parent Category</label>
                <ui-select theme="bootstrap" ng-model="newCategory.parentCategory" ng-disabled="readOnly" name="parentCategoryId" on-select="clearNextCategoryOnParentCategorySelect()">
                  <ui-select-match placeholder="Select a Parent Category to group under" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                  <ui-select-choices repeat="category in flatCategoryList | filter: {name:$select.search}">
                    <div ng-bind-html="category.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="category-description">Place Before</label>
                <ui-select theme="bootstrap" ng-model="newCategory.nextCategory" ng-disabled="readOnly" name="nextCategoryId">
                  <ui-select-match placeholder="Select a Category that placed after" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                  <ui-select-choices repeat="category in flatCategoryList | filter: {name:$select.search, parentId: newCategory.parentCategory.id}">
                    <div ng-bind-html="category.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearCreateForm()">Clear</button>
          <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Save</button>
        </div>
      </form>
    </div>
  </div>
  

    <alert ng-show="!categoryList.length" type="info">
      <span class="fa fa-flag"></span> Your search returned no results.
    </alert>
  
<div class="table-responsive" ng-show="categoryList.length">
  <table class="table">
    <thead>
    <tr>
      <th colspan="{{ numCategoryLevels }}"></th>
      <th>Name</th>
      <th>Description</th>
      <th ng-show="inEditMode">Parent Category</th>
      <th ng-show="isFiltering">Path</th>
      <th>Items</th>
      <th ng-show="isCRUD || isSOCRUD">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categoryList"
        ng-class="getClassForRow(category)"
        ng-show="shouldShowCategory(category)">
      <td ng-repeat="n in [] | range: category.levelNum-1" class="category-indent"></td>
      <td class="category-border">
        <button ng-class="getToggleButtonClass(category)"
                ng-show="doesCategoryHaveChildren(category)"
                ng-disabled="false" ng-click="toggleCategory(category)">
          <span ng-class="getToggleIconClass(category)"></span>
        </button>
      </td>
      <td colspan="{{ numCategoryLevels - category.levelNum }}" ng-show="{{ numCategoryLevels !== category.levelNum }}">
        <span class="badge" ng-show="category.childCategoryCount > 0">{{ category.childCategoryCount }}</span>
      </td>
      <td>
        <span ng-hide="canEditOrRearrangeCategory(category) && inEditMode">{{ category.name }}</span>
        <input
          ng-model="categoryToEdit.name"
          type="text"
          class="form-control"
          id="edit-category-name"
          placeholder="Enter Category Name"
          maxlength="25"
          ng-show="canEditOrRearrangeCategory(category) && inEditMode">
      </td>
      <td>
        <span ng-hide="canEditOrRearrangeCategory(category) && inEditMode">{{ category.description }}</span>
        <input
          ng-model="categoryToEdit.description"
          type="text"
          class="form-control"
          id="edit-category-description"
          placeholder="Enter Category description"
          maxlength="25"
          ng-show="canEditOrRearrangeCategory(category) && inEditMode">
      </td>
      <td ng-show="inEditMode">
        <span ng-hide="(canEditOrRearrangeCategory(category) && inEditMode)">{{ category.parentName }}</span>
        <ui-select theme="bootstrap" ng-model="categoryToEdit.parentCategory" ng-disabled="readOnly" name="parentCategoryId" ng-show="canEditOrRearrangeCategory(category) && inEditMode">
          <ui-select-match placeholder="Select a Parent Category to group under" allow-clear>{{ $select.selected.name }}</ui-select-match>
          <ui-select-choices repeat="category in filteredCategoryList | filter: {name:$select.search}">
            <div ng-bind-html="category.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </td>
      <td ng-show="isFiltering">
        {{ category.salesCategoryPath }}
      </td>
      <td>{{ category.itemCount }}</td>
      <td ng-show="isCRUD || isSOCRUD">
        </button>
        <button class="btn btn-xs btn-default" ng-show="canRearrange(category)" ng-click="rearrangeCategory(category, $index, 'up')">
          <span class="fa fa-angle-double-up"></span>
        </button>
        <button class="btn btn-xs btn-default" ng-show="canRearrange(category)" ng-click="rearrangeCategory(category, $index, 'down')">
          <span class="fa fa-angle-double-down"></span>
        </button>
        <button class="btn btn-xs btn-default" ng-hide="isFiltering || inEditMode || inRearrangeMode" ng-click="enterRearrangeMode(category)">
        <span class="fa fa-arrows"></span>
        </button>
        <button class="btn btn-xs btn-primary" ng-hide="inEditMode || inRearrangeMode" ng-click="enterEditMode(category)">
          <span class="fa fa-pencil"></span>
        </button>
        <button class="btn btn-xs btn-danger"
                ng-show="canDeleteCategory(category) && !inEditMode && !inRearrangeMode"
                ng-click="deleteRecordDialog(category, ['name', 'description'])">
          <span class="fa fa-trash"></span>
        </button>
        <button class="btn btn-xs btn-success" ng-show="canEditOrRearrangeCategory(category)" ng-click="saveChange(category)">
          <span class="fa fa-check"></span>
        </button>
        <button class="btn btn-xs btn-default" ng-show="canEditOrRearrangeCategory(category)" ng-click="cancelChange()">
          <span class="fa fa-times"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<delete-record-dialog></delete-record-dialog>

<dynamic-left-nav title="{{determineLeftNavTitle()}}"></dynamic-left-nav>
