<div class="container">

  <form class="form-horizontal" ng-submit="changePassword()" name="changePasswordForm">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1><strong>TS5</strong> Change Password</h1>
        </div>

        <div class="modal-body">

          <error-dialog form-object="changePassword" error-response="errorResponse" display="displayError">
          </error-dialog>

          <h3>Change Your Password</h3>

          <p>Enter your current and new password:</p>

          <div class="form-group" ng-show="{{hasSessionToken}}">
            <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>

            <div class="col-sm-9">
              <input name="currentPassword" required="true" custom-validity custom-pattern="word" type="text" class="form-control" id="currentPassword" placeholder="Current Password" ng-model="passwords.currentPassword" />
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword" class="col-sm-3 control-label">New Password</label>

            <div class="col-sm-9">
              <input name="newPassword" required="true" custom-validity custom-pattern="alpha"  type="password" class="form-control" id="newPassword" placeholder="New Password"  ng-model="passwords.newPassword" />
            </div>
          </div>
          <div class="form-group">
            <label for="newPasswordConfirm" class="col-sm-3 control-label">Confirm New Password</label>

            <div class="col-sm-9">
              <input name="newPasswordConfirm" required="true" custom-validity custom-pattern="alpha"  type="password" class="form-control" id="newPasswordConfirm" placeholder="Confirm New Password"  ng-model="passwords.newPasswordConfirm" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Change</button>
        </div>
      </div>
    </div>
  </form>
</div>
