<div class="container module-container">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="view-name">{{viewName}}</h2>
    </div>

    <div class="col-xs-6 text-right">
      <a class="btn btn-default" ng-href="#/commission-data-table" class="btn" ng-show="readOnly">Back</a>
    </div>
  </div>

  <br>

  <error-dialog form-object="commissionDataForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="commissionDataForm" class="edit-form">

    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : !commissionData.crewBaseTypeId && displayError, 'has-success' : commissionData.crewBaseTypeId}">
              <label>Crew Base *</label>
              <select class="form-control"
                      id="crewBase"
                      name="crewBase"
                      ng-model="commissionData.crewBaseTypeId"
                      ng-options="crewBase.id as crewBase.name for crewBase in crewBaseList | orderBy: 'name'"
                      ng-disabled="readOnly"
                      required="true">
                <option selected="selected" value>Select a Crew Base</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4"  ng-class="{ 'has-error' : isDateValueInvalid(commissionData.startDate, commissionData) && displayError, 'has-success' : !isDateValueInvalid(commissionData.startDate, commissionData) }">
                <date-picker-field ng-if="disableEditField"
                  name="effectiveFrom"
                  custom-effective="true"
                  form="commissionDataForm"
                  ng-model="commissionData.startDate"
                  label="Effective From"
                  disable="disableEditField"
                  required="true">
                </date-picker-field>
                <date-picker-field ng-if="!disableEditField"
                  name="effectiveFrom"
                  custom-effective="true"
                  min-date="minDate"
                  form="commissionDataForm"
                  ng-model="commissionData.startDate"
                  label="Effective From"
                  disable="disableEditField"
                  required="true">
                </date-picker-field>
          </div>
          <div class="col-xs-12 col-sm-4" ng-class="{ 'has-error' : isDateValueInvalid(commissionData.endDate, commissionData) && displayError, 'has-success' : !isDateValueInvalid(commissionData.endDate, commissionData) }">
                <date-picker-field ng-if="readOnly"
                  name="effectiveTo"
                  custom-effective="true"
                  form="commissionDataForm"
                  ng-model="commissionData.endDate"
                  label="Effective To"
                  disable="readOnly"
                  required="true">
                </date-picker-field>
                <date-picker-field ng-if="!readOnly"
                  name="effectiveTo"
                  custom-effective="true"
                  min-date="minDate"
                  form="commissionDataForm"
                  ng-model="commissionData.endDate"
                  label="Effective To"
                  disable="readOnly"
                  required="true">
                </date-picker-field>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <h3>Commission Data</h3>

        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : !commissionData.commissionPayableTypeId && displayError, 'has-success' : commissionData.commissionPayableTypeId}">
              <label>Commission Payable On *</label>
              <select class="form-control"
                      name="CommissionPayableOn"
                      required="true"
                      ng-model="commissionData.commissionPayableTypeId"
                      ng-change="updateCommissionPercent()"
                      ng-disabled="readOnly"
                      required="true"
                      ng-options="commissionType.id as commissionType.name for commissionType in commissionPayableTypes | orderBy:'name'">
                <option selected="selected" value>Select a Commission Payable Type</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : (!commissionData.commissionPercentage || isPercentInvalid(commissionData.commissionPercentage)) && displayError, 'has-success' : commissionData.commissionPercentage}">
            <label>Commission Percent *</label>
            <input ng-model="commissionData.commissionPercentage"
                   name="commissionPercent"
                   type="text"
                   class="form-control"
                   maxlength="6"
                   ng-required="commissionPercentRequired"
                   ng-disabled="commissionPercentDisabled || readOnly">
            </div>       
          </div>
        </div>

        <h3>Manual Bars</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : !commissionData.manualBarsCommissionValueTypeId && displayError, 'has-success' : commissionData.manualBarsCommissionValueTypeId}">
              <label>Manual Bars Commission Type *</label>
              <select class="form-control"
                      name="manualBarsCommissionType"
                      required="true"
                      ng-model="commissionData.manualBarsCommissionValueTypeId"
                      ng-change="updateManualBars()"
                      ng-options="discountType.id as discountType.name for discountType in discountTypes"
                      ng-disabled="readOnly"
                      required="true">
                <option selected value="">Select a Commission Type</option>
                <option>Percentage</option>
                <option>Amount</option>
              </select>
            </div>
          </div>

          <div class="col-xs-10 col-sm-5">
            <div class="form-group" ng-class="{ 'has-error' : (!commissionData.manualBarsCommissionValue || isManualBarsCommisssionValueInvalid()) && displayError, 'has-success' : commissionData.manualBarsCommissionValue}">
              <label>Manual Bars Commisssion Value *</label>
              <input ng-model="commissionData.manualBarsCommissionValue"
                     type="text"
                     name="manualBarsComissionValue"
                     class="form-control"
                     placeholder="57.5"
                     ng-readonly="readOnly"
                     maxlength="{{ manualBarsCharLimit }}"
                     required="true">
            </div>
          </div>
          <div class="col-xs-2 col-sm-1">
            <div class="form-group">
              <label>Unit</label>
              <input ng-model="manualBarsCommissionUnit"
                     name="manualBarsCommissionUnit"
                     type="text"
                     class="form-control"
                     disabled>
            </div>
          </div>
        </div>

        <h3>Discrepancy Deductions</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : (!commissionData.discrepancyDeductionsCashPercentage || isPercentInvalid(commissionData.discrepancyDeductionsCashPercentage)) && displayError, 'has-success' : commissionData.discrepancyDeductionsCashPercentage}">
              <label>Cash Percent *</label>
              <input ng-model="commissionData.discrepancyDeductionsCashPercentage"
                     name="cashPercent"
                     type="text"
                     class="form-control"
                     placeholder="57.5"
                     maxlength="6"
                     required="true"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : (!commissionData.discrepancyDeductionsStockPercentage || isPercentInvalid(commissionData.discrepancyDeductionsStockPercentage)) && displayError, 'has-success' : commissionData.discrepancyDeductionsStockPercentage}">
              <label>Stock Percent *</label>
              <input ng-model="commissionData.discrepancyDeductionsStockPercentage"
                     name="stockPercent"
                     type="text"
                     class="form-control"
                     placeholder="57.5"
                     maxlength="6"
                     required="true"
                     ng-readonly="readOnly">
            </div>
          </div>
        </div>

        <h3>Incentive Increment</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : !commissionData.commissionValueTypeId && displayError, 'has-success' : commissionData.commissionValueTypeId}">
              <label>Commission Type *</label>
              <select class="form-control"
                      name="commissionType"
                      required="true"
                      ng-model="commissionData.commissionValueTypeId"
                      ng-change="updateIncentiveIncrement()"
                      ng-options="discountType.id as discountType.name for discountType in discountTypes"
                      ng-disabled="readOnly"
                      required="true">
                <option selected value="">Select a Commission Type</option>
              </select>
            </div>
          </div>

          <div class="col-xs-10 col-sm-5">
            <div class="form-group" ng-class="{ 'has-error' : (!commissionData.commissionValue || isCommisssionValueInvalid()) && displayError, 'has-success' : commissionData.commissionValue}">
              <label>Commisssion Value *</label>
              <input ng-model="commissionData.commissionValue"
                     name="commissionValue"
                     type="text"
                     class="form-control"
                     placeholder="57.5"
                     maxlength="{{commissionValueCharLimit}}"
                     ng-readonly="readOnly"
                     required="true">
            </div>
          </div>

          <div class="col-xs-2 col-sm-1">
            <div class="form-group">
              <label>Unit</label>
              <input ng-model="commissionValueUnit"
                     name="commissionValueUnit"
                     type="text"
                     class="form-control departure-time"
                     ng-readonly="readOnly"
                     disabled>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-primary" ng-hide="readOnly" ng-click="saveData()">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        
        <a href="#/commission-data-table" class="btn btn-default" ng-hide="readOnly">Cancel</a>
      </div>
    </div>
  </form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Employee Commission"></dynamic-left-nav>
