<div class="container module-container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-8">
        <h2 class="view-name">Retail Reasons</h2>
        <p>Here, you will see a list of your Reason's. You can filter the list by using the autocomplete field below.
      </div>

      <div class="col-xs-4 text-right">


      </div>

    </div>

  </div>

  <div class="form-group">

    <ui-select multiple ng-model="reasonFilter.selectedReasonTypes" theme="bootstrap">
      <ui-select-match placeholder="Start typing to filter your Subscribed Reasons Types ">{{ $item.reasonTypeName }}
      </ui-select-match>
      <ui-select-choices repeat="subscribed in formData.companyReasonTypes | filter: $select.search | orderBy:'reasonTypeName'">
        <div ng-bind-html="subscribed.reasonTypeName | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="row">

    <div ng-repeat="(key,reasonType) in formData.companyReasonTypes | orderBy: 'reasonTypeName' track by reasonType.id"
     ng-show="whenReasonIsNotFiltered(reasonType)"
     ng-init="reasonForm = 'reasonForm'+key"
     class="col-xs-12 col-sm-6">

      <error-dialog form-object="reasonForm" error-response="errorResponse" display="displayError">
      </error-dialog>

      <form name="{{reasonForm}}" class="form edit-form" ng-submit="submitForm(this[reasonForm])">

        <div class="panel panel-default">

          <div class="panel-heading">
            <strong>{{ reasonType.reasonTypeName }}</strong>
            <br/>{{ reasonType.description}}
          </div>

          <table class="table table-responsive table-hover" style="margin:0;">

        	  <thead>

      	      <tr>
      					<th>Reason</th>
      	        <th style="width:60px;">Active</th>
      	      </tr>

        	  </thead>

        	  <tbody>

      	      <tr ng-repeat="reasonCode in reasonType.companyReasonCodes track by $index">

                <td>
                  <input placeholder="Type a reason here" type="text" class="form-control" ng-keypress="addReasonCodeWithEnter($event,reasonType.id)"
                  name="description {{ $index+1}}" ng-model="reasonCode.reasonCode" required/>
                </td>

                <td class="text-center" style="width:60px;">

                  <input ng-show="reasonCode.isActive" type="checkbox" name="isActive {{ $index+1}}" ng-model="reasonCode.isActive" tabindex="-1"  />

                  <button ng-show="{{ reasonCode.isActive === null }}" class="btn btn-danger btn-xs" type="button"
                   ng-click="removeReason(reasonType.id,$index)" tabindex="-1">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>

              <tr>

            </tbody>

          </table>

          <div class="panel-footer text-right">

            <button type="button" class="btn btn-primary" ng-click="addReasonCode(reasonType.id)">
              <span class="fa fa-plus" aria-hidden="true"></span>
              <span class="hidden-xs"> Add Reason</span>
            </button>

            <button class="btn btn-success" type="submit">
              <i class="fa fa-check-square-o"></i> Save Reasons
            </button>

          </div>

        </div>

      </form>

    </div>

  </div>

</div>
<!-- /Container -->

<dynamic-left-nav></dynamic-left-nav>
