<div class="fluid-container">

  <div class="list-controls">
    <h1>{{viewName}}</h1>

    <div class="row">
      <div class="col-xs-6">
        <a href="/ember/#/companies/create" class="btn btn-primary">+ Create Company</a>
      </div>

      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search-collapse"
                aria-expanded="false"
                aria-controls="search-collapse">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span class="hidden-xs">Search</span>
        </button>

      </div>
    </div>
  </div>

  <div class="panel panel-default collapse no-transition" id="search-collapse">
    <form name="menuSearchForm" ng-submit="searchMenus()">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label for="item-type">Company Type</label>
              <input ng-model="search.companyTypeName" type="text" class="form-control" id="item-type"
                     placeholder="Retail, Supplier, etc">
            </div>

          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label for="item-code">Company Code</label>
              <input ng-model="search.companyCode" type="text" class="form-control" id="item-code"
                     placeholder="iPad Mini">
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label for="item-name">Company Name</label>
              <input ng-model="search.companyName" type="text" class="form-control" id="item-name"
                     placeholder="iPad Mini">
            </div>
          </div>

        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearForm()">Clear</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  <table infinite-scroll="loadCompanies()" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Company Type</th>
      <th>Company Code</th>
      <th>Company Name</th>
      <!--<th>Additional Languages</th>-->
      <th>Base Currency</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="company in companyList | filter:{companyTypeName: search.companyTypeName, companyName: search.companyName, companyCode: search.companyCode}">
      <td>{{ company.companyTypeName }}</td>
      <td>{{ company.companyCode }}</td>
      <td>{{ company.companyName }}</td>
      <!--<td>{{ company.companyLanguages }}</td>-->
      <td>{{ company.baseCurrencyCode }}</td>
      <td>
        <button type="button" class="btn btn-info btn-xs" aria-label="View Company"
                ng-click="viewCompany(company)">
          <i class="fa fa-file" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-xs" aria-label="Edit Company"
                ng-click="editCompany(company)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="showCompanyRelationshipList(company)">
          <i class="fa fa-object-ungroup"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
<p class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>
</div>
