<div class="container module-container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-8">
        <h2 class="view-name">Retail Reason Codes</h2>
        <p>Here you will see a list of Reason Codes. You may also add, edit and remove Reason Codes.</p>
      </div>

      <div class="col-xs-4 text-right">


      </div>

    </div>

  </div>

  <error-dialog form-object="companyReasonCodeFrom" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="companyReasonCodeFrom" class="form edit-form" ng-submit="submitForm()">

    <div class="row">

      <div class="col-xs-12">

        <div class="form-group">
          <label>Filter the Reason Code Types below</label>
          <ui-select multiple ng-model="reasonFilter.selectedGlobalReasons" theme="bootstrap">
            <ui-select-match placeholder="Start typing to find a Reason Type">{{ $item.reasonTypeName }}
            </ui-select-match>
            <ui-select-choices repeat="globalReasonCodeType in globalReasonCodeTypesList | filter: $select.search | orderBy:'reasonTypeName'">
              <div ng-bind-html="globalReasonCodeType.reasonTypeName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

      </div>

    </div>

    <!-- Station Edit Controls Panel -->
    <div ng-show="whenReasonIsNotFiltered(globalReasonCodeType)" class="panel panel-default" ng-repeat="(key,globalReasonCodeType) in globalReasonCodeTypesList track by globalReasonCodeType.id">

        <div class="panel-heading">

          <strong>{{ globalReasonCodeType.reasonTypeName }}</strong> - {{ globalReasonCodeType.description}}

          <button type="button" class="btn btn-primary pull-right" ng-click="addReasonCode(globalReasonCodeType.id)">
            <span class="fa fa-plus" aria-hidden="true"></span>
            <span class="hidden-xs"> Add Reason Code</span>
          </button>

        </div>

        <div class="panel-body">

          <div class="row" ng-repeat="reasonCode in formData.globalReasons[key].companyReasons track by $index">

            <div class="col-xs-12 col-sm-4 col-md-4">

              <div class="form-group">
                <label>Reason Type</label>
                <select class="form-control" name="reasonCode {{$index+1}}" ng-model="reasonCode.id" required>
                  <option ng-selected="{{ companyReasonType.id === reasonCode.id}}" value="{{ companyReasonType.id }}" ng-repeat="companyReasonType in companyReasonCodeTypesList track by companyReasonType.id">
                    {{ companyReasonType.reasonTypeName }}
                  </option>
                </select>
              </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <label>Description</label>
                <input placeholder="Type a reason description here" type="text" class="form-control"
                name="description {{ $index+1}}" ng-model="reasonCode.description" />
              </div>
            </div>

            <div class="col-xs-4 col-sm-2">
              <div class="form-group">
                <label>Is Active</label>
                <input type="checkbox" class="form-control" name="isActive {{ $index+1}}" ng-model="reasonCode.isActive"  />
              </div>
            </div>

          </div>

        </div>

        <div class="panel-footer">

          <button class="btn btn-success" type="button" ng-click="submitForm()">
            <i class="fa fa-check-square-o"></i> Save Reasons
          </button>

        </div>

    </div>

  </form>

</div>
<!-- /Container -->

<dynamic-left-nav></dynamic-left-nav>
