<div class="container module-container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-8">
        <h2 class="view-name">Subscibe to Reason Types</h2>
        <p>Browse a list of available Reason Types and subscribe / unsubscribe to them</o>
      </div>

      <div class="col-xs-4 text-right">

        <button class="btn btn-success" type="button" ng-click="submitForm()">
          <i class="fa fa-check-square-o"></i> Save Reason Types
        </button>

      </div>

    </div>

  </div>

  <error-dialog form-object="subscribeToReasonTypesForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="subscribeReasonTypesForm" class="form edit-form" ng-submit="submitForm()">

    <div class="form-group">

      <ui-select multiple ng-model="formData.subscribedGlobalReasons" theme="bootstrap">
        <ui-select-match placeholder="Starting typing to subscribe to a Reason">{{ $item.reasonTypeName }}
        </ui-select-match>
        <ui-select-choices repeat="globalReasonCodeType in globalReasonCodeTypesList | filter: $select.search | orderBy:'reasonTypeName'">
          <div ng-bind-html="globalReasonCodeType.reasonTypeName | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </form>

</div>
<!-- /Container -->

<dynamic-left-nav></dynamic-left-nav>
