<div class="container module-container">

  <div class="top-header">

    <div class="container">

      <div class="edit-controls">

        <div class="row">

          <div class="col-xs-6">

            <h2 class="view-name"> {{ viewName }} </h2>

          </div>

          <div class="col-xs-6 text-right">

            <fieldset ng-hide="viewOnly">

              <button class="btn btn-default" ng-click="leaveView('company-list')">
                <span class="fa fa-remove" aria-hidden="true"></span>
                <span class="hidden-xs">Cancel</span>
              </button>

              <button class="btn btn-primary" ng-click="submitForm(formData)" ng-disabled="areHomeAndBrandImageNamesEqual()">
                <span class="fa fa-check-square-o" aria-hidden="true"></span>
                <span class="hidden-xs">{{ buttonText }}</span>
              </button>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="form-nav btn-group-justified item-top" role="group" aria-label="..."
           ng-init="activeBtn = 'item-information'">

        <a ng-click="formScroll('company-information')" ng-class="{'active':activeBtn === 'company-information'}"
           type="button" class="btn btn-default">
          Company Information
        </a>
        <a ng-hide="true" class="btn btn-default"></a>
        <a ng-click="formScroll('company-type')" ng-class="{'active':activeBtn === 'company-type'}" type="button"
           class="btn btn-default btn-remove-left-border">
          Company Type
        </a>

      </div>

      <p>All required fields are marked with a *.</p>

    </div>

  </div>
  <!--/TopHeader -->

  <div class="create-form-container" ng-show="uiSelectTemplateReady">

    <error-dialog form-object="form" error-response="errorResponse" display="displayError">
    </error-dialog>

    <form name="form" class="form edit-form create-item-form">

      <h3 id="company-information">Company Information</h3>
      <div class="row">

        <div class="col-xs-12 col-sm-6">

          <fieldset ng-disabled="viewOnly">

            <input-text label="Company Name" name="companyName" required="true" pattern="regexp.sentence"
                        placeholder="Company Name" min-length="1" max-length="40"></input-text>

            <input-text label="Legal Name" name="legalName" required="true" pattern="regexp.sentence"
                        placeholder="Company Legal Name" min-length="1" max-length="40"></input-text>

            <input-text label="Company Code" name="companyCode" required="true" pattern="regexp.alphanumeric"
                        placeholder="Company Code" min-length="1" max-length="10"></input-text>

            <label>Company Status</label>
            <div class="form-group">
              <input type="checkbox"
                     ng-model="formData.isActive"
                     name="isActive">

              <label> Active</label>
            </div>

          </fieldset>

        </div>

        <div class="col-xs-12 col-sm-6">

          <fieldset ng-disabled="viewOnly" ng-show="uiSelectTemplateReady">

            <div class="form-group">
              <input-text label="DBA Name" name="dbaName" pattern="regexp.word"
                          placeholder="Doing Business As" min-length="1" max-length="30"></input-text>

              <input-text label="EDI Name" name="ediName" pattern="regexp.word"
                          placeholder="Electronic Data Interchange" min-length="1" max-length="30"></input-text>

              <div class="row" >
                <div class="col-xs-12 col-sm-12">
                  <h3>Tax IDs <span class="badge" ng-class="{'success': isTaxIdButtonDisabled()}">{{formData.taxes.length}}</span>
                    <span class="btn btn-primary btn-sm pull-right add-btn" ng-class="{'disabled': isTaxIdButtonDisabled()}" ng-disabled="isTaxIdButtonActive()" ng-click="addTax(tax)">
                      <i class="fa fa-plus"></i>
                      <span class="hidden-xs">Add Tax ID</span>
                    </span>
                  </h3>
                </div>
              </div>

              <br>

              <div class="col-xs-12 well well-sm" ng-repeat="tax in formData.taxes track by $index">
                <div class="col-xs-10 col-sm-10">
                  <div class="form-group">
                    <input custom-pattern="alphanumeric"
                           custom-validity
                           required
                           type="text"
                           maxlength="15"
                           name="taxId-{{$index}}"
                           class="form-control"
                           id="taxId-{{$index}}"
                           ng-model="tax.taxId"
                           placeholder="Enter Tax Id"/>
                  </div>
                </div>
                <div class="col-xs-2 col-sm-2 text-right">
                  <div class="form-group">
                    <span class="btn btn-danger btn-xs" ng-click="removeTax(tax)">
                      <i class="fa fa-close"></i>
                    </span>
                  </div>
                </div>
              </div>

            </div>

          </fieldset>

        </div>
      </div>

      <fieldset ng-disabled="viewOnly">

        <h3 id="company-type">Company Type</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Company Type*</label>

              <select ng-disabled="!formData.companyCode" ng-model="formData.companyTypeId" class="form-control" ng-change="onChangeCompanyType()">
                <option ng-selected="formData.companyTypeId === companyType.id" ng-repeat="companyType in companyTypes"
                        value="{{ companyType.id }}">{{ companyType.companyTypeName }}
                </option>
              </select>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Company TimeZone*</label>
              <select ng-model="formData.timezone" class="form-control" ng-init="formData.timezone ='0'" >
                <option value="-11">UTC-11</option>
                <option value="-10">UTC-10</option>
                <option value="-9">UTC-9</option>
                <option value="-8">UTC-8</option>
                <option value="-7">UTC-7</option>
                <option value="-6">UTC-6</option>
                <option value="-5">UTC-5</option>
                <option value="-4">UTC-4</option>
                <option value="-3">UTC-3</option>
                <option value="-2">UTC-2</option>
                <option value="-1">UTC-1</option>
                <option value="0">UTC+0</option>
                <option value="1">UTC+1</option>
                <option value="2">UTC+2</option>
                <option value="3">UTC+3</option>
                <option value="4">UTC+4</option>
                <option value="5">UTC+5</option>
                <option value="6">UTC+6</option>
                <option value="7">UTC+7</option>
                <option value="8">UTC+8</option>
                <option value="9">UTC+9</option>
                <option value="10">UTC+10</option>
                <option value="11">UTC+11</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6" ng-if="showBaseCurrency">
            <div class="form-group">
              <label>Base Currency*</label>

              <select ng-model="formData.baseCurrencyId" class="form-control">
                <option ng-selected="isSelected(formData.baseCurrencyId, currency.id)"
                        ng-repeat="currency in currencies | unique: 'code' | orderBy:'code'"
                        value="{{currency.id}}">
                  {{ currency.code }} - {{ currency.name }}
                </option>
              </select>
            </div>
          </div>

        </div>

        <div class="row" ng-show="showAdditionalFields" ng-if="uiSelectTemplateReady">

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Parent Company</label>
              <select ng-model="formData.parentCompanyId" class="form-control">
                <option ng-selected="formData.parentCompanyId === company.id" ng-repeat="company in companies | orderBy:'companyName'"
                        value="{{ company.id }}">{{ company.companyName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <fieldset ng-disabled="containsHomeScreenLogoImage()">
              <input-text ng-if="formData.companyTypeId == 1"
                          label="ePOS Home Screen Logo File Name"
                          name="ePOSHomeScreenLogoFileName">
              </input-text>

              <p class="alert alert-danger" ng-show="areHomeAndBrandImageNamesEqual()">
                ePOS Home Screen Logo File Name and ePOS Brand Corner Logo File Name can't be equal
              </p>
            </fieldset>

            <image-upload ng-if="formData.companyTypeId == 1 && formData.ePOSHomeScreenLogoFileName"
                          image-name="{{formData.ePOSHomeScreenLogoFileName}}"
                          image-type="homeLogo"
                          form-data-bind="formData"
                          editing-company="editingCompany"
                          ng-hide="isDisabled()">
            </image-upload>

            <fieldset ng-disabled="containsBrandCornerLogoImage()">
              <input-text ng-if="formData.companyTypeId == 1"
                          label="ePOS Brand Corner Logo File Name"
                          name="ePOSBrandCornerLogoFileName">
              </input-text>

              <p class="alert alert-danger" ng-show="areHomeAndBrandImageNamesEqual()">
                ePOS Home Screen Logo File Name and ePOS Brand Corner Logo File Name can't be equal
              </p>
            </fieldset>

            <image-upload ng-if="formData.companyTypeId == 1 && formData.ePOSBrandCornerLogoFileName"
                          image-name="{{formData.ePOSBrandCornerLogoFileName}}"
                          image-type="cornerLogo"
                          form-data-bind="formData"
                          editing-company="editingCompany"
                          ng-hide="isDisabled()">
            </image-upload>

            <div ng-if="formData.companyTypeId == 6">
              <image-upload image-type="receiptImage" form-data-bind="formData" editing-company="editingCompany" ng-hide="isDisabled()"></image-upload>
            </div>

            <input-text ng-if="formData.companyTypeId == 6" label="Virtual Item Receipt Header" name="virtualItemReceiptHeader" max-length="30"></input-text>

            <input-text ng-if="formData.companyTypeId == 6" label="Virtual Item Receipt Footer" name="virtualItemReceiptFooter" max-length="30"></input-text>

          </div>
          <div ng-if="formData.companyTypeId == 1" class="col-xs-12 col-sm-6" id="images-container">
            <br>
            <div ng-repeat="(key,image) in formData.images track by $index">
              <input-item-image-upload-confirm></input-item-image-upload-confirm>
            </div>

          </div>
          <div ng-if="formData.companyTypeId == 6" class="col-xs-12 col-sm-6" id="images-container2">
            <br>
            <div ng-repeat="(key,image) in formData.images track by $index">
              <input-virtual-image></input-virtual-image>
            </div>

          </div>
        </div>
      </fieldset>

       <fieldset ng-if="showLanguageFields" ng-disabled="viewOnly">
        <h3 id="company-languages">Company Languages</h3>
          <div class="col-xs-12 col-sm-6">
            <div ng-show="isCompanyRetail" ng-if="isCompanyRetail">
              <div class="form-group">
                <label>Back Office Default Language*</label>
                                <select ng-model="formData.defaultLanguage" class="form-control" id="backOfficeDefaultLanguage"
                                name="backOfficeDefaultLanguage"  ng-change="onChangeDefaultLanguage()" required="true">
                                    <option value="{{ lng.id }}" ng-repeat="lng in defaultLanguages | orderBy:'languageName'">{{ lng.languageName }}</option>
                                </select>
              </div>
            </div>
            <div ng-show="!isCompanyRetail" ng-if="!isCompanyRetail">
              <div class="form-group">
                <label>Default Language*</label>
                                <select ng-model="formData.defaultLanguage" class="form-control" id="defaultLanguage"
                                name="defaultLanguage"  ng-change="onChangeDefaultLanguage()" required="true">
                                    <option value="{{ lng.id }}" ng-repeat="lng in defaultLanguages | orderBy:'languageName'">{{ lng.languageName }}</option>
                                </select>
              </div>
            </div>

            <label ng-show="isCompanyRetail">Back Office Additional Language</label>
            <label ng-show="!isCompanyRetail">Additional Language</label>
            <ui-select multiple ng-model="formData.languages" theme="bootstrap" on-remove="onChangeAdditionalLanguage()" on-select="onChangeAdditionalLanguage()" >
              <ui-select-match placeholder="Languages">{{ $item.languageName }}
              </ui-select-match>
              <ui-select-choices repeat="language in languages | filter: $select.search | orderBy:'languageName'">
                <div ng-bind-html="language.languageName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>

          </div>

          <div class="col-xs-12 col-sm-6" ng-show="isCompanyRetail" ng-if="isCompanyRetail">
            <div class="form-group">
             <label>ePOS Default Language*</label>
                                <select ng-model="formData.defaultEposLanguage" class="form-control" id="defaultEposLanguage"
                                id="eposDefaultLanguage" name="eposDefaultLanguage" ng-change="onChangeEposDefaultLanguage()" required="true">
                                    <option value="{{ eposlng.id }}" ng-repeat="eposlng in defaultEposLanguages | orderBy:'languageName'">{{ eposlng.languageName }}</option>
                                </select>
            </div>
            <div class="form-group">
              <label>ePOS Additional Language</label>
              <ui-select multiple ng-model="formData.eposLanguages" theme="bootstrap" on-remove="onChangeEposAdditionalLanguage()" on-select="onChangeEposAdditionalLanguage()" >
                <ui-select-match placeholder="Languages">{{ $item.languageName }}
                </ui-select-match>
                <ui-select-choices repeat="eposlanguage in eposLanguages | filter: $select.search | orderBy:'languageName'">
                  <div ng-bind-html="eposlanguage.languageName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

      </fieldset>


      <fieldset ng-if="showAdditionalFields" ng-disabled="viewOnly">

        <div class="row">
          <div class="col-xs-12">
            <h3>VAT Number <span class="badge">{{ formData.countryVats.length }}</span>
              <span class="btn btn-primary btn-sm pull-right add-btn" ng-click="addCountryVat()">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Add Country</span>
              </span>
            </h3>
          </div>
        </div>

        <div class="col-xs-12 well well-sm" ng-repeat="countryVat in formData.countryVats track by $index" ng-init="countryVat_index = $index">

          <span class="pull-right btn btn-danger btn-xs" ng-click="removeCountryVat($index)">
            <i class="fa fa-close"></i>
          </span>

          <div class="col-xs-12 col-sm-6">
            <h3>Vat Number <span class="badge">{{ countryVat.vatAmounts.length }}</span>
              <span class="pull-right btn btn-primary btn-sm add-btn" style="margin-bottom:10px;" ng-click="addVatAmount(countryVat)">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Add VAT</span>
              </span>
            </h3>
            <div class="col-xs-12 well well-sm" ng-repeat="vatAmount in countryVat.vatAmounts">
              <div class="col-xs-10 col-sm-10">
                <input custom-pattern="alphanumeric"
                       custom-validity
                       required
                       type="text"
                       maxlength="15"
                       name="countryVatAmount_{{countryVat_index}}_{{$index}}"
                       class="form-control"
                       id="countryVatAmount_{{countryVat_index}}_{{$index}}"
                       ng-model="vatAmount.vatAmount"
                       placeholder="Add VAT Amount"/>
              </div>
              <div class="col-xs-2 col-sm-2 text-right">
                <span class="btn btn-danger btn-xs" ng-click="removeVatAmount(countryVat, vatAmount)">
                  <i class="fa fa-close"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Country*</label>
              <select ng-model="countryVat.countryId" class="form-control">
                <option ng-selected="countryVat.countryId === country.id" ng-repeat="country in countries"
                        value="{{ country.id }}">{{ country.countryName }}
                </option>
              </select>
            </div>
          </div>

        </div>

      </fieldset>

      <fieldset ng-show="showAdditionalFields" ng-disabled="viewOnly">

        <div class="row">
          <div class="col-xs-12">
            <h3>Cabin Classes <span class="badge">{{ formData.companyCabinClasses.length }}</span>
              <span class="btn btn-primary btn-sm pull-right add-btn" ng-click="addCabinClass(tax)">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Add Cabin Class</span>
              </span>
            </h3>
          </div>
        </div>

        <div class="col-xs-12 well well-sm" ng-repeat="cabinClass in formData.companyCabinClasses track by $index">
          <div class="row text-right">
            <div class="col-xs-12">
              <span class="btn btn-danger btn-xs btn-remove-price-group" ng-disabled="cabinClass.readOnly" ng-click="removeCabinClass(cabinClass)">
                <i class="fa fa-close"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>Cabin Name*</label>
                <input custom-pattern="alphanumericSpaces"
                       custom-validity
                       required
                       ng-disabled="cabinClass.readOnly"
                       type="text"
                       maxlength="10"
                       name="cabinClassName-{{$index}}"
                       class="form-control"
                       id="cabinClassName-{{$index}}"
                       ng-model="cabinClass.cabinClass"/>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>Cabin Code*</label>
                <input custom-pattern="alphanumeric"
                       custom-validity
                       required
                       ng-disabled="cabinClass.readOnly"
                       type="text"
                       maxlength="5"
                       name="cabinClassCode-{{$index}}"
                       class="form-control"
                       id="cabinClassCode-{{$index}}"
                       ng-model="cabinClass.code"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Cabin Description*</label>
                <input custom-pattern="word"
                       custom-validity
                       required
                       ng-disabled="cabinClass.readOnly"
                       type="text"
                       maxlength="25"
                       name="cabinClassDescription-{{$index}}"
                       class="form-control"
                       id="cabinClassDescription-{{$index}}"
                       ng-model="cabinClass.cabinClassDescription" />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

</div>
<!-- /Container -->
<leave-view-modal></leave-view-modal>
<form-success-modal list-path="company-list" create-path="company-create"></form-success-modal>
<form-update-modal list-path="company-list"></form-update-modal>
<dynamic-left-nav title="Company Management"></dynamic-left-nav>
