<div class="container module-container">


    <ng-form name="form" class="form edit-form create-store-number-form">


        <div class="edit-controls">

          <div class="row">

            <div class="col-xs-6">

              <h2 class="view-name"> {{ viewName }} </h2>

            </div>

            <div class="col-xs-6 text-right">

              <fieldset>

                <button class="btn btn-primary" ng-click="submitForm(formData)">
                  <span class="fa fa-check-square-o" aria-hidden="true"></span>
                  <span class="hidden-xs">Create</span>
                </button>

              </fieldset>

            </div>


        </div>

        <p>All required fields are marked with a *.</p>

      </div>

      <form-error-dialog></form-error-dialog>

      <h3 id="item-information">Create Store Number</h3>

      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <input-text label="Store Number" name="storeNumber" required="true" pattern="regexp.alphanumeric"
            placeholder="Store123" min-length="1" max-length="10"></input-text>
        </div>

        <div class="col-xs-12 col-sm-6">
          <date-picker class="form-group"
            element-class="col-xs-6 col-sm-6"
            start-date-model="formData.startDate"
            end-date-model="formData.endDate"
            disable-past="true"
            label-from="Effective From"
            label-to="Effective To"
            >
          </date-picker>

        </div>

      </div>

    </ng-form>

</div>
<!-- /Container -->
