<div class="fluid-container">
    <div class="list-controls">
        <div class="row item-list-row">
            <div class="col-xs-8">
                <h2 class="view-name">{{viewName}}</h2>
            </div>

            <div class="col-xs-4 text-right">
                <button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false"
                        aria-controls="search-collapse">
                    <span class="fa fa-filter" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Filter</span>
                </button>
            </div>
        </div>

        <div class="panel panel-default collapse no-transition" id="search-collapse">
            <form name="currencySearchForm" ng-submit="searchDetailedCompanyCurrencies()">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 col-sm-6">
                            <div class="form-group">
                                <label for="search-currency">Currency</label>
                                <select class="form-control" id="search-currency" ng-model="search.currencyId">
                                    <option value="">Select Currency</option>
                                    <option ng-repeat="globalCurreny in globalCurrencyList | unique: 'id'" value="{{globalCurreny.id}}">{{ globalCurreny.currencyCode }}</option>
                                </select>
                            </div>
                        </div>

                        <date-picker
                                class="col-xs-12 col-md-6 col-sm-12"
                                element-class="col-xs-6 col-sm-6"
                                start-date-model="search.startDate"
                                end-date-model="search.endDate"
                                label-from="Effective From *"
                                label-to="Effective To *"
                                is-search-field="true">
                        </date-picker>

                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-default" ng-click="clearForm()">Clear</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="displayError" class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4>
            We found errors :( !
        </h4>

        <ul>
            <li ng-repeat="error in form.$error.required">
                <strong>{{ error.$name }}</strong> is required
            </li>
            <li ng-repeat="error in form.$error.pattern">
                <strong>{{ error.$name }}</strong> is invalid
            </li>
            <li ng-show="formErrors" ng-repeat="error in formErrors">
                <strong>{{error.field}}</strong>
                <span>{{ error.value }}</span>
                <span>{{ error.code }}</span>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-right">Base currency: {{companyBaseCurrency.currencyCode}}</div>
        <div class="panel-body">
            <div class="well" ng-repeat="currency in companyCurrencyList  | filter:{currencyId: search.currencyId} track by $index">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-sm-12">
                        <div class="form-group">
                            <label for="currency-{{$index}}">Currency* </label>
                            <select name="mySelect" id="currency-{{$index}}" class="form-control" required="required"
                                    ng-options="selectCurrency.id as selectCurrency.currencyCode for selectCurrency in globalCurrencyList"
                                    ng-model="currency.currencyId">
                                <option value="">Select Currency</option>
                            </select>
                         </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-sm-12">
                        <div class="form-group">
                            <strong>Operating Currency</strong>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="currency.isOperatedCurrency">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="denomination-{{$index}}">Denomination*</label>
                            <input class="form-control" id="denomination-{{$index}}" required="required" value="{{currency.currencyId}}" placeholder="0.5, 1, 2, 5, 10, 20, 50, 100" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="easypay-denomination-{{$index}}">EasyPay Denomination</label>
                            <input class="form-control" id="easypay-denomination-{{$index}}" value="{{currency.currencyId}}" placeholder="0.5, 1, 2, 5" />
                        </div>
                    </div>
                    <date-picker
                            class="col-xs-12 col-md-3 col-sm-12"
                            element-class="col-xs-6 col-sm-6"
                            start-date-model="currency.startDate"
                            end-date-model="currency.endDate"
                            label-from="Start Date *"
                            label-to="End Date *"
                            is-search-field="false">
                    </date-picker>
                    <div class="col-xs-12 col-sm-12 col-md-1 text-right">
                        <button type="button" class="btn btn-sm btn-primary glyphicon glyphicon-check" ng-click="saveCurrency($index, currency)" />
                        <button type="button" class="btn btn-sm btn-danger" ng-click="removeCurrencyByIndex($index, currency)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                  </div>
            </div>
            <div class="row" ng-hide="readOnly">
                <div class="col-xs-8 col-md-9"></div>
                <div class="col-xs-4 col-md-3 text-right">
                    <div class="input-group">
                        <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="addCurrencies()"><i class="fa fa-plus"></i> Add Currencies</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
