<div class="module-container">

  <div class="edit-controls">
    <div class="row">
      
      <div class="col-xs-6">
        <h2 class="view-name"> {{ viewName }} </h2>
      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">
        
        <!-- TODO: EXPORT BUTTONS ONLY AVAILABLE ON VIEW/EDIT NOT CREATE -->
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
              <span>Export (Excel)</span>
            </button>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
              <span>Export (PDF)</span>
            </button>
          
            <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
              <span>Save</span>
            </button>
            
            <button class="btn btn-default" ng-click="" ng-hide="readOnly">Cancel</button>
            
            <button class="btn btn-primary" ng-click="submitForm(formData)">
              <span class="fa fa-check-square-o" aria-hidden="true"></span>
              <span>Submit</span>
            </button>

        </fieldset>

      </div>        

    </div>
  </div>
  
  <ng-form name="form" class="form edit-form delivery-note-form">

    <form-error-dialog></form-error-dialog>
    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->
        <div class="row" ng-hide="readOnly">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>LMP Station*</label>
              <select class="form-control" id="deliveryStation" ng-model="deliveryStationIndex" ng-change="updateDeliveryInfo()" ng-disabled="readOnly">
                <option ng-repeat="station in stationList" value="{{ $index }}">
                  {{ station.stationCode }} ({{ station.stationName}})
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel-body">

        <div class="row">

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="deliveryNoteNumber">Delivery Note Number*</label>
              <input ng-model="deliveryNoteNumber" type="text" class="form-control" id="delivery-note-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="purchaseOrderNumber">Purchase Order Number*</label>
              <input ng-model="purchaseOrderNumber" type="text" class="form-control" id="purchase-order-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
                    
          <date-picker
            class="col-xs-12 col-sm-2"
            disable-date-range="true"
            start-date-model="deliveryNote.deliveryDate"
            is-search-field="true"
            label-from="Delivery Date *">
          </date-picker>
          
          <div class="col-xs-12 col-sm-2">
            <label>Input Location</label>
            <select class="form-control" id="input-location" ng-model="inputLocation" ng-change="inputLocationInfo()" ng-disabled="readOnly">
              <option ng-repeat="item in inputLocationList" value="{{ $index }}">
                {{ item.inputLocationCode }} ({{ item.inputLocationName}})
              </option>
            </select>
          </div>

          <div class="col-xs-12 col-sm-2 text-right">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-plus"></i> Add Item
            </button>
          </div>
          
        </div>
        
        <div class="row">
        
          <div class="col-xs-12 col-sm-2">
            <label>Status</label>
            <select class="form-control" id="delivery-status" ng-model="deliveryStatus" ng-change="deliveryStatusInfo()" ng-disabled="readOnly">
              <option ng-repeat="" value="{{ $index }}">
                {{ item.deliveryStatusCode }} ({{ item.deliveryStatusName}})
              </option>
            </select>
          </div>
          
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label for="deliveryNoteNumber">Created By</label>
              <input ng-model="deliveryNoteCreatedBy" type="text" class="form-control" id="delivery-note-created-by"
                     placeholder="2/03 - 12:34pm" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label for="deliveryNoteUpdatedBy">Updated By</label>
              <input ng-model="purchaseOrderNumber" type="text" class="form-control" id="delivery-note-updated-by"
                     placeholder="2/05 - 12:34pm" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
  
        </div>
        
        <div class="well">
          <div class="row">
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="itemCode">Item Code*</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="" value="{{ $index }}">
                    {{ item.itemCodeCode }} ({{ item.itemCodeName}})
                  </option>
                </select>
              </div>
            </div>
  
  <!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
          
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Item Name*</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="" value="{{ $index }}">
                    {{ item.itemNameCode }} ({{ item.itemNameName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Expected</label>
                <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Delivered*</label>
                <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Ullage</label>
                <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                       placeholder="0" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
  
<!-- TODO: ULLAGE REASON (BELOW) WILL BE DISABLED UNLESS ULLAGE (ABOVE) IS SET TO AN AMOUNT -->
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Ullage Reason</label>
              
                <ui-select id="ullage-reason" ng-model="ullageReason" theme="bootstrap" ng-disabled="true">
                  <ui-select-match placeholder="">{{ $item.ullageReasonCode }}</ui-select-match>
                  <ui-select-choices repeat="">
                      { item.ullageReasonCode }} ({{ item.ullageReasonName }})
                  </ui-select-choices>
                </ui-select>
                  
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Booked</label>
                <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-1 text-right">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-close"></i>
              </button>
            </div>
            
          </div>
                 
        </div>
        
        <div class="well">
          <div class="row">
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="itemCode">Item Code*</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="" value="{{ $index }}">
                    {{ item.itemCodeCode }} ({{ item.itemCodeName}})
                  </option>
                </select>
              </div>
            </div>
  
  <!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
          
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Item Name*</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="" value="{{ $index }}">
                    {{ item.itemNameCode }} ({{ item.itemNameName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Expected</label>
                <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Delivered*</label>
                <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Ullage</label>
                <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                       placeholder="2" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
  
<!-- TODO: ULLAGE REASON (BELOW) WILL BE DISABLED UNLESS ULLAGE (ABOVE) IS SET TO AN AMOUNT -->
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Ullage Reason*</label>

                <ui-select id="ullage-reason" ng-model="ullageReason" theme="bootstrap">
                  <ui-select-match placeholder="Broken">{{ $item.ullageReasonCode }}</ui-select-match>
                  <ui-select-choices repeat="">
                      { item.ullageReasonCode }} ({{ item.ullageReasonName }})
                  </ui-select-choices>
                </ui-select>
            
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Booked</label>
                <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-1 text-right">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-close"></i>
              </button>
            </div>
 
          </div>

        </div>
      
      </div>

    </div>
  </ng-form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
