<div class="module-container">

  <div class="edit-controls">
    <div class="row">

      <div class="col-xs-12">
        <h2 class="view-name">{{ viewName }}</h2>
      </div>

    </div>
  </div>
  
  <ng-form name="form" class="form edit-form delivery-note-form">

    <form-error-dialog></form-error-dialog>
    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->
        <div class="row" ng-hide="readOnly">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>LMP Station *</label>
              <select class="form-control" id="deliveryStation" ng-model="deliveryStationIndex" ng-change="updateDeliveryInfo()" ng-disabled="readOnly">
                <option ng-repeat="station in stationList" value="{{ $index }}">
                  {{ station.stationCode }} ({{ station.stationName}})
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel-body">

        <div class="row">
        
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="purchaseOrderNumber">Purchase Order Number *</label>
              <input ng-model="purchaseOrderNumber" type="text" class="form-control" id="purchase-order-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="deliveryNoteNumber">Delivery Note Number *</label>
              <input ng-model="deliveryNoteNumber" type="text" class="form-control" id="delivery-note-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
          
          <date-picker
            class="col-xs-12 col-sm-3"
            disable-date-range="true"
            start-date-model="postTrip.deliveryDate"
            is-search-field="true"
            label-from="Delivery Date *">
          </date-picker>

          <div class="col-xs-12 col-sm-3 text-right">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-plus"></i> Add Item
            </button>
          </div>
          
        </div>
        
        <div class="well">
          <div class="row">
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="itemCode">Item Code *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemCodeCode }} ({{ item.itemCodeName}})
                  </option>
                </select>
              </div>
            </div>
  
  <!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Item Name *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemNameCode }} ({{ item.itemNameName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>UOM</label>
                <input ng-model="unitOfMeasurement" type="text" class="form-control" id="unit-of-measurement"
                       placeholder="10g" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Expected</label>
                <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Delivered</label>
                <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Ullage</label>
                <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Ullage Reason</label>
                <select class="form-control" id="ullage-reason" ng-model="ullageReason" ng-change="updateUllageReasonsInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.ullageReasonCode }} ({{ item.ullageReasonName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Booked</label>
                <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions" id="radioInputLocation1" value="option1" checked="checked"> Input Location 1
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions" id="radioInputLocation2" value="option2">  Input Location 2
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions" id="radioInputLocation3" value="option3">  Input Location 3
              </label>
            </div>
          </div>
                 
        </div>
        
        <div class="well">
          <div class="row">
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="itemCode">Item Code *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemCodeCode }} ({{ item.itemCodeName}})
                  </option>
                </select>
              </div>
            </div>
  
  <!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Item Name *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemNameCode }} ({{ item.itemNameName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>UOM</label>
                <input ng-model="unitOfMeasurement" type="text" class="form-control" id="unit-of-measurement"
                       placeholder="10g" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Expected</label>
                <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Delivered</label>
                <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Ullage</label>
                <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Ullage Reason</label>
                <select class="form-control" id="ullage-reason" ng-model="ullageReason" ng-change="updateUllageReasonsInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.ullageReasonCode }} ({{ item.ullageReasonName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Booked</label>
                <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-1 text-right">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-close"></i>
              </button>
            </div>
 
          </div>         
          
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions2" id="radioInputLocation11" value="option11" checked="checked"> Input Location 1
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions2" id="radioInputLocation22" value="option22">  Input Location 2
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions2" id="radioInputLocation33" value="option33">  Input Location 3
              </label>
            </div>
          </div>

        </div>
        
        <div class="well">
          <div class="row">
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="itemCode">Item Code *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemCodeCode }} ({{ item.itemCodeName}})
                  </option>
                </select>
              </div>
            </div>
  
  <!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
          
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Item Name *</label>
                <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.itemNameCode }} ({{ item.itemNameName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>UOM</label>
                <input ng-model="unitOfMeasurement" type="text" class="form-control" id="unit-of-measurement"
                       placeholder="10g" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Expected</label>
                <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Delivered</label>
                <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
          
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Ullage</label>
                <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Ullage Reason</label>
                <select class="form-control" id="ullage-reason" ng-model="ullageReason" ng-change="updateUllageReasonsInfo()" ng-disabled="readOnly">
                  <option ng-repeat="station in stationList" value="{{ $index }}">
                    {{ item.ullageReasonCode }} ({{ item.ullageReasonName}})
                  </option>
                </select>
              </div>
            </div>
  
            <div class="col-xs-12 col-sm-1">
              <div class="form-group">
                <label>Booked</label>
                <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                       placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-1 text-right">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-close"></i>
              </button>
            </div>
 
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions3" id="radioInputLocation111" value="option111" checked="checked"> Input Location 1
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions3" id="radioInputLocation222" value="option222">  Input Location 2
              </label>
              <label class="btn btn-default">
                <input type="radio" name="inlineRadioOptions3" id="radioInputLocation333" value="option333">  Input Location 3
              </label>
            </div>
          </div>

        </div>
        
      </div>
      
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <button class="btn btn-default" ng-click="" ng-hide="readOnly">Cancel</button>

      </div>
    </div>
  </ng-form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
