<div class="module-container">
  <h1><span style="text-transform: capitalize" class="controller-state">{{ state }}</span> {{ viewName }}</h1>
  <br>
  <ng-form name="form" class="form edit-form post-trip-data-form">

    <form-error-dialog></form-error-dialog>
    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->
        <div class="row" ng-hide="readOnly">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>LMP Station *</label>
              <select class="form-control" id="deliveryStation" ng-model="deliveryStationIndex" ng-change="updateDeliveryInfo()" ng-disabled="readOnly">
                <option ng-repeat="station in stationList" value="{{ $index }}">
                  {{ station.stationCode }} ({{ station.stationName}})
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel-body">

        <div class="row">
        
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="purchaseOrderNumber">Purchase Order Number *</label>
              <input ng-model="purchaseOrderNumber" type="text" class="form-control" id="purchase-order-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="deliveryNoteNumber">Delivery Note Number *</label>
              <input ng-model="deliveryNoteNumber" type="text" class="form-control" id="delivery-note-number"
                     placeholder="1234" required="true" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
          
          <date-picker
            class="col-xs-12 col-sm-3"
            disable-date-range="true"
            start-date-model="postTrip.deliveryDate"
            is-search-field="true"
            label-from="Delivery Date *">
          </date-picker>

        </div>
        
        <div class="row">
                  
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="itemCode">Item Code *</label>
              <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                <option ng-repeat="station in stationList" value="{{ $index }}">
                  {{ item.itemCode }} ({{ item.itemCodeName}})
                </option>
              </select>
            </div>
          </div>

<!-- TODO: ITEM CODE (ABOVE) & ITEM NAME (BELOW) WILL AFFECT EACH OTHER AND PULL CORRECT DATA INTO EACH OTHER -->
        
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Item Name *</label>
              <select class="form-control" id="item-code" ng-model="itemCode" ng-change="updateItemCodeInfo()" ng-disabled="readOnly">
                <option ng-repeat="station in stationList" value="{{ $index }}">
                  {{ item.itemCode }} ({{ item.itemCodeName}})
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>UOM (Unit Of Measurement)</label>
              <input ng-model="unitOfMeasurement" type="text" class="form-control" id="unit-of-measurement"
                     placeholder="10g" custom-validity custom-pattern="time" ng-readonly="readOnly" disabled>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Expected Qty.</label>
              <input ng-model="expectedQty" type="text" class="form-control" id="expected-qty"
                     placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

        </div>
        
        <div class="row">
        
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Delivered Qty.</label>
              <input ng-model="deliveredQty" type="text" class="form-control" id="delivered-qty"
                     placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>
        
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Ullage Qty.</label>
              <input ng-model="ullageQty" type="text" class="form-control" id="ullage-qty"
                     placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Ullage Reason</label>
              <input ng-model="ullageReason" type="text" class="form-control" id="ullage-reason"
                     placeholder="lost" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Booked Qty.</label>
              <input ng-model="bookedQty" type="text" class="form-control" id="booked-qty"
                     placeholder="10" custom-validity custom-pattern="time" ng-readonly="readOnly">
            </div>
          </div>

        </div>
        
      </div>
      
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <button class="btn btn-default" ng-click="" ng-hide="readOnly">Cancel</button>

      </div>
    </div>
  </ng-form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
