<div class="container module-container">
  <div class="top-header">
    <div class="container">
      <div class="edit-controls">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="view-name"> {{ viewName }} </h2>
          </div>
          <div class="col-xs-6 text-right">
            <fieldset ng-hide="viewOnly">
              <button class="btn btn-default" ng-click="leaveView('discounts')">
                <span class="fa fa-remove" aria-hidden="true"></span>
                <span class="hidden-xs">Cancel</span>
              </button>
              <button class="btn btn-primary" ng-click="submitForm(formData)">
                <span class="fa fa-check-square-o" aria-hidden="true"></span>
                <span class="hidden-xs">{{ buttonText }}</span>
              </button>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="form-nav btn-group-justified item-top" role="group" aria-label="..." ng-init="activeBtn = 'discount-information'">
        <a ng-click="formScroll('discount-information')" ng-class="{'active':activeBtn === 'discount-information'}" type="button" class="btn btn-default">
          Discount Information
        </a>
        <a ng-click="formScroll('rates')" ng-class="{'active':activeBtn === 'rates'}" type="button" class="btn btn-default">
          Rates
        </a>
        <a ng-click="formScroll('restrictions')" ng-class="{'active':activeBtn === 'restrictions'}" type="button" class="btn btn-default">
          Restrictions
        </a>
      </div>
      <p>All required fields are marked with a *.</p>
    </div>
  </div>
  <!--/TopHeader -->
  <div class="create-form-container" ng-show="uiSelectTemplateReady">
    <error-dialog form-object="form" error-response="errorResponse" display="displayError">
    </error-dialog>
    <form name="form" class="form edit-form create-item-form">

      <h3 id="discount-information">Discount Information</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady">
            <div class="form-group">
              <label>Global Discount Type *</label>
              <select required ng-model="formData.globalDiscountTypeId" class="form-control">
                <option ng-selected="setSelected(formData.globalDiscountTypeId, globalDiscountType.id)" ng-repeat="globalDiscountType in globalDiscountTypesList"
                        value="{{ globalDiscountType.id }}">{{ globalDiscountType.globalDiscountTypeName }}
                </option>
              </select>
            </div>
            <div class="form-group" ng-show="formData.globalDiscountType">
              <label class="control-label">Global Discount Description</label>
              <div>{{ getGlobalDiscountDescriptionById(formData.globalDiscountType) }}</div>
            </div>
            <div class="form-group" ng-show="formData.globalDiscountTypeId === '1'">
              <label class="control-label">Bar Code *</label>
              <input class="form-control" ng-model="formData.barCode" pattern="regexp.word" required />
            </div>
          </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady">
            <div class="form-group">
              <label class="control-label">Discount Name *</label>
              <input class="form-control" ng-model="formData.discountName" pattern="regexp.word" required />
            </div>
            <div class="form-group">
              <label class="control-label">Description *</label>
              <textarea class="form-control" ng-model="formData.description" pattern="regexp.word" required />
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <fieldset>
                  <date-picker-field form="form" label="Effective From" name="EffectiveFrom" ng-model="formData.startDate"
                                     min-date="'+1d'" required="true"></date-picker-field>
                </fieldset>
              </div>
              <div class="col-xs-12 col-sm-6">
                <fieldset>
                  <date-picker-field form="form" label="Effective To" name="EffectiveTo" ng-model="formData.endDate"
                                     min-date="( editingDiscount ? '0d' : '+1d')" required="true"></date-picker-field>
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h3 id="rates">Benefits</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label>Discount Type *</label>
            <select required ng-model="formData.discountTypeId" class="form-control">
              <option ng-selected="setSelected(formData.discountTypeId, discountType.id)" ng-repeat="discountType in discountTypesList"
                      value="{{ discountType.id }}">{{ discountType.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group"  ng-show="formData.discountTypeId === '1'">
                  <label class="control-label">Percentage Discount Value *</label>
                  <input class="form-control" ng-model="formData.percentageDiscountValue" placeholder="10%" pattern="regexp.word" required />
                </div>
                <div class="form-group" ng-show="formData.discountTypeId === '2'">
                  <label>Fixed Discount Value</label>
                  <div class="form-group" ng-repeat="currency in companyCurrencyGlobalsList">
                    <div class="input-group" >
                      <div class="input-group-addon">
                        {{ currency.code }} *
                      </div>
                      <input ng-model="formData.amountDiscountValue[currency.code].amount" ng-disabled="$parent.isDisabled()" type="text" class="form-control" maxlength="8"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h3>Limitation Per Shop</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label class="control-label">Item Qty Limit Per Shop</label>
            <input class="form-control" ng-model="formData.itemQtyLimitPerShop" pattern="regexp.word" />
          </div>
          <div class="form-group">
            <input id="isAmountLimitPerShopValue" ng-model="formData.isAmountLimitPerShopValue" type="checkbox"/>
            <label for="isAmountLimitPerShopValue">Amount Limit Per Shop Value</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady && formData.isAmountLimitPerShopValue">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <label>Amount Limit Per Shop Value</label>
                <div class="form-group" ng-repeat="currency in companyCurrencyGlobalsList">
                  <div class="input-group" >
                    <div class="input-group-addon">
                      {{ currency.code }} *
                    </div>
                    <input ng-model="formData.amountLimitPerShopValue[currency.code].amount" ng-disabled="$parent.isDisabled()" type="text" class="form-control" maxlength="8"/>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h3>Limitation Per Transaction</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label class="control-label">Item Qty Limit Per Transaction</label>
            <input class="form-control" ng-model="formData.itemQtyLimitPerTransaction" pattern="regexp.word" />
          </div>
          <div class="form-group">
            <input id="isAmountLimitPerTransaction" ng-model="formData.isAmountLimitPerTransaction" type="checkbox"/>
            <label for="isAmountLimitPerTransaction">Amount Limit Per Transaction Value</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady && formData.isAmountLimitPerTransaction">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <label>Amount Limit Per Transaction</label>
                <div class="form-group" ng-repeat="currency in companyCurrencyGlobalsList">
                  <div class="input-group" >
                    <div class="input-group-addon">
                      {{ currency.code }} *
                    </div>
                    <input ng-model="formData.amountLimitPerTransactionValue[currency.code].amount" ng-disabled="$parent.isDisabled()" type="text" class="form-control" maxlength="8"/>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h3>Limitation Per Seat</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <input id="requireSeatEntry" ng-model="formData.requireSeatEntry" type="checkbox"/>
            <label for="requireSeatEntry">Require Seat Entry</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset ng-disabled="isDisabled()" ng-show="uiSelectTemplateReady">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">Item Qty Limit Per Seat</label>
                  <input class="form-control" ng-model="formData.itemQtyLimitPerSeat" pattern="regexp.word" />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h3 id="restrictions">Restrictions</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <label>Restrictions</label>
          <div class="form-group">
            <label><input name="isRestriction" ng-model="formData.isRestriction" value="true"  type="radio" /> Yes</label>
            <label><input name="isRestriction" ng-model="formData.isRestriction" value="false" type="radio" /> No</label>
          </div>
        </div>
      </div>
      <div class="row" ng-show="formData.isRestriction === 'true'">
        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <label>Item Categories</label>
            <ui-select multiple ng-model="formData.restrictedCategories" theme="bootstrap">
              <ui-select-match placeholder="Select categories...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="category in salesCategoriesList | filter: $select.search">
                <div ng-bind-html="category.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row" ng-show="formData.isRestriction === 'true'" ng-repeat="restrictedItem in formData.restrictedItems track by $index">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label>Item Category</label>
            <select class="form-control" ng-model="restrictedItem.itemCategory" ng-change="loadRestrictedItemsByCategory(restrictedItem.itemCategory)">
              <option value="0">Select category</option>
              <option ng-repeat="category in salesCategoriesList" value="{{ category.id }}">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="form-group">
            <label>Retail Item *</label>
            <select required ng-model="restrictedItem.id" class="form-control">
              <option ng-selected="setSelected(restrictedItem.retailItemId, retailItem.id)" ng-repeat="retailItem in filteredRetailItemsList[restrictedItem.itemCategory]"
                      value="{{ retailItem.id }}">{{ retailItem.itemName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-1">
          <label>&nbsp;</label>
          <div class="row">
            <button type="button" class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation($index, restrictedItem)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-show="formData.isRestriction === 'true'">
        <div class="col-xs-8 col-md-9"></div>
        <div class="col-xs-4 col-md-3 text-right">
          <div class="input-group">
            <input type="number" min="1" max="100" class="form-control" ng-model="addRestrictedItemsNumber">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addRestrictedItems()"><i class="fa fa-plus"></i> Add Items</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade delete-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>

      <div class="modal-body">
        <p>You are about to permanently delete <strong>{{ getRetailItemNameById(restrictedItemToDelete.id) }}</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteRestrictedItem()">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
<!-- /Container -->
<form-success-modal list-path="item-list" create-path="item-create"></form-success-modal>
<form-update-modal list-path="item-list"></form-update-modal>
<leave-view-modal></leave-view-modal>
<dynamic-left-nav title="Retail Item Management"></dynamic-left-nav>
