<form name="employeeCommissionForm" class="form edit-form" ng-submit="submitForm()">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

    <form-error-dialog></form-error-dialog>
    
    <div class="edit-controls">
      <div class="row">
      
        <div class="col-xs-6 col-sm-8">
          <h2 class="view-name">{{ viewName }}</h2>
        </div>
        
        <div class="col-xs-6 col-sm-4">
          <div class="header-buttons pull-right">
<!-- TODO: BUTTONS FUNCTIONALITY -->
<!--               <button type="button" class="btn button-additional" {{action "cancel"}}>{{t "menus.form.button.secondary.cancel"}}</button> -->
            <button type="button" class="btn btn-default">Cancel</button>
<!--               <button type="button" class="btn button-primary" {{action "save"}}>{{t "menus.form.button.primary.create"}}</button> -->
            <button type="button" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-default">
                <i class="fa fa-question-circle"></i>
            </button>
          </div>          
        </div>        
        
      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/employee-commission-list" class="btn">Back</a>
        <button ng-show="employeeCommissionForm.$dirty" class="btn btn-success">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
      </div>
    </div>
    <p>All required fields are marked with a *</p>
  </div>

    <div class="row">
      
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="saleType">Sale Type *</label>
          <select class="form-control" id="saleType" required>
            <option>Regular Sale</option>
            <option>Complimentary Sale</option>
            <option>Employee Purchase</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-4">
        <date-picker class="form-group"
          element-class="col-xs-12 col-sm-6"
          start-date-model="formData.startDate"
          end-date-model="formData.endDate"
          disable-past="true"
          label-from="Effective From *"
          label-to="Effective To *"
          disable-start-date="viewOnly || itemIsActive"
          disable-end-date="viewOnly || itemIsInactive"
          >
        </date-picker>
      </div>
      
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="itemCategory">Item Category</label>
          <select class="form-control" id="itemCategory">
            <option>Soft drinks</option>
            <option>Rentals</option>
            <option>Snacks</option>
            <option>Hot Drinks</option>
            <option>Chocolates</option>
            <option>Lunch</option>
            <option>Parent Test</option>
            <option>Fruits</option>
            <option>Gadgets</option>
            <option>Frarances</option>
            <option>Virtual Items</option>
          </select>
        </div>
      </div>

<!-- TODO: RETAIL NAMES CORRESPOND TO ITEM CATEGORY ABOVE -->
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="retailName">Retail Name *</label>
          <select class="retail-name-multiple-select" multiple="multiple" id="retailName" required>
            <option>Coke</option>
            <option>Pepsi</option>
            <option>Sprite</option>
            <option>7-Up</option>
            <option>Orange Crush</option>
            <option>Ginger Ale</option>
            <option>Root Beer</option>
          </select>
        </div>
      </div>

    </div>
    
    <div class="row">
      
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="rateType">Rate Type *</label>
          <select class="form-control" id="rateType" required>
            <option>Percentage</option>
            <option>Fixed Amount</option>
          </select>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="rate">Rate *</label>
          <input type="text" class="form-control" id="rate" placeholder="$10" required>
        </div>
      </div>

<!-- TODO: CURRENCY SHOWN ONLY WHEN RATE TYPE = FIXED AMOUNT -->
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="saleType">Currency *</label>
          <select class="form-control" id="saleType" required>
            <option>USD</option>
            <option>GBP</option>
            <option>EUR</option>
            <option>DKK</option>
          </select>
        </div>
      </div>

  <date-picker
    class="col-xs-12 col-md-6 col-sm-6"
    element-class="col-xs-6 col-sm-6"
    start-date-model="commission.startDate"
    end-date-model="commission.endDate"
    label-from="Effective From *"
    label-to="Effective To *"
    required="true"
    disable-start-date="isCommissionReadOnly()"
    disable-end-date="isViewOnly()"
    disable-past="true">
  </date-picker>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="itemName">Item Name *</label>
      <select
        class="form-control"
        id="itemName"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="item.itemName for item in itemsList | orderBy:'itemName' track by item.id"
        ng-model="commission.selectedItem">
        <option selected="selected" disabled value>Select Item</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="saleType">Sale Type *</label>
      <select
        class="form-control"
        id="saleType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="priceType.name for priceType in priceTypesList | orderBy:'name' track by priceType.id"
        ng-model="commission.selectedPriceType">
        <option selected disabled value>Select Sale Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="rateType">Rate Type *</label>
      <select
        class="form-control"
        id="rateType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="taxRate.taxRateType for taxRate in taxRateTypes | orderBy:'taxRateType' track by taxRate.id"
        ng-model="commission.selectedRateType">
        <option selected disabled value>Select Rate Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 2">
    <div class="form-group">
      <label class="control-label">Rate *</label>

      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-pie-chart"></i>
        </span>
        <input custom-validity
               custom-pattern="currencyWithTwoDecimalPlace"
               ng-model="commission.percentage"
               required="true"
               ng-readonly="isCommissionReadOnly()"
               type="text"
               name="percentage"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
      </div>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 1">
    <label class="control-label">Rate for Currency *</label>

    <div class="form-group" ng-repeat="currency in companyCurrencies">

      <div class="input-group">
        <span class="input-group-addon">
                {{currency.code}}
        </span>
        <input custom-validity
               custom-pattern="currencyWithTwoDecimalPlace"
               ng-model="commission.currenciesFields[currency.code]"
               ng-readonly="isCommissionReadOnly()"
               required="true"
               type="text"
               name="rate{{currency.code}}"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
      </div>
    </div>
  </div>

</form>
