<div class="fluid-container module-container">

<error-dialog form-object="employeeCommissionForm" error-response="errorResponse" display="displayError">
</error-dialog>

<form name="employeeCommissionForm" class="form edit-form">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/employee-commission-list" class="btn">Back</a>
        <button ng-show="!isViewOnly() && employeeCommissionForm.$dirty" class="btn btn-success" ng-click="submitForm()">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
      </div>
    </div>
    <p>All required fields are marked with a *</p>
  </div>

	<div class="col-sm-3">
        <div class="form-group"  ng-class="{ 'has-error' : isDateValueInvalid(commission.startDate, commission) && displayError, 'has-success' : !isDateValueInvalid(commission.startDate, commission) }">
		  <date-picker-field ng-if="!isCommissionReadOnly()"
			   name="effectiveFrom"
			   min-date="minDate"
			   label="Effective From"
			   required="true" 
			   ng-model="commission.startDate">
		  </date-picker-field>
		  <date-picker-field ng-if="isCommissionReadOnly()"
		       disable="true"
			   name="effectiveFrom"
			   custom-effective="true"
			   label="Effective From"
			   required="true" 
			   ng-model="commission.startDate">
		  </date-picker-field>
		</div>
	</div>	  
	<div class="col-sm-3">
        <div class="form-group" ng-class="{ 'has-error' : isDateValueInvalid(commission.endDate, commission) && displayError, 'has-success' : !isDateValueInvalid(commission.endDate, commission) }">
		  <date-picker-field ng-if="isCurrentEffectiveDate(commission)"
			   disable="isViewOnly()"
			   name="effectiveTo" 
			   end-current-effective="!isCreate()"
			   label="Effective To"
			   required="true" 
			   ng-model="commission.endDate"
			   disable-past="true">
		  </date-picker-field>
		  <date-picker-field ng-if="!isCurrentEffectiveDate(commission)"
			   disable="isViewOnly()"
			   name="effectiveTo" 
			   end-current-effective="false"
			   label="Effective To"
			   required="true" 
			   ng-model="commission.endDate"
			   disable-past="true">
		  </date-picker-field>
	    </div>  
    </div>
	
    <div class="col-sm-3">
    <label class="control-label" for="itemName">Item Name *</label>
    <div class="form-group" ng-class="{ 'has-error' : !commission.selectedItem && displayError, 'has-success' : commission.selectedItem}">
      <select
        class="form-control"
        name="itemName"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="item.itemName for item in itemList | orderBy:'itemName' track by item.id"
        ng-model="commission.selectedItem">
        <option selected="selected" disabled value>Select Item</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label class="control-label" for="saleType">Sale Type *</label>
    <div class="form-group" ng-class="{ 'has-error' : !commission.selectedPriceType && displayError, 'has-success' : commission.selectedPriceType}">
      <select
        class="form-control"
        name="saleType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="priceType.name for priceType in priceTypeList | orderBy:'name' track by priceType.id"
        ng-model="commission.selectedPriceType">
        <option selected disabled value>Select Sale Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label class="control-label" for="rateType">Rate Type *</label>
    <div class="form-group" ng-class="{ 'has-error' : !commission.selectedRateType && displayError, 'has-success' : commission.selectedRateType}">
      <select
        class="form-control"
        name="rateType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="taxRate.taxRateType for taxRate in taxRateTypes | orderBy:'taxRateType' track by taxRate.id"
        ng-model="commission.selectedRateType">
        <option selected disabled value>Select Rate Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 2">
    <label class="control-label">Rate *</label>
    <div class="form-group" ng-class="{ 'has-error' : (!commission.percentage || isValueInvalid(commission.percentage)) && displayError, 'has-success' : commission.percentage}"> 
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-pie-chart"></i></span>
        <input type="text"
               ng-model="commission.percentage"
               ng-readonly="isCommissionReadOnly()"
               name="rate"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
      </div>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 1">
    <div class="form-group"> 
      <label class="control-label">Rate for Currency *</label>
      <div class="form-group" ng-repeat="currency in companyCurrencies" ng-class="{ 'has-error' : (!commission.currenciesFields[currency.code] || isValueInvalid(commission.currenciesFields[currency.code])) && displayError, 'has-success' : commission.currenciesFields[currency.code]}">
        <div class="input-group">
          <span class="input-group-addon">{{currency.code}}</span>
          <input type="text"
               ng-model="commission.currenciesFields[currency.code]"
               ng-readonly="isCommissionReadOnly()"
               name="rate{{currency.code}}"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
        </div>
      </div>
    </div>
  </div>

</form>
</div>
<dynamic-left-nav title="Employee Commission"></dynamic-left-nav>
