<div class="container">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">Edit {{viewName}}</h2>
      </div>
      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/employee-message-list" class="btn">Back</a>
      </div>
    </div>
  </div>

  <error-dialog form-object="employeeMessageForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="employeeMessageForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Message</label>
              <input class="form-control" ng-model="employeeMessage.message">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <date-picker-field
                name="endDate"
                class="form-group"
                form="employeeMessageForm"
                ng-model="employeeMessage.startDate"
                label="Effective From"
                disable="readOnly"
                required="true">
              </date-picker-field>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <date-picker-field
                name="endDate"
                class="form-group"
                form="employeeMessageForm"
                ng-model="employeeMessage.endDate"
                label="Effective To"
                disable="readOnly"
                required="true">
              </date-picker-field>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Employees</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-danger" title="delete selected schedules"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Employee ID - name</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>123 - John Smith</td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>456 - Mary Jane</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="cashBagFilter.filter" theme="bootstrap">
                  <ui-select-match placeholder="Select Cash Bags...">{{ $item.cashBag }}</ui-select-match>
                  <ui-select-choices repeat="cashBag in cashBags | filter: $select.search">
                    {{ cashBag.cashBag }}
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Schedule Numbers</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Schedule Number</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>105</td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>111</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="cashBagFilter.filter" theme="bootstrap">
                  <ui-select-match placeholder="Select Cash Bags...">{{ $item.cashBag }}</ui-select-match>
                  <ui-select-choices repeat="cashBag in cashBags | filter: $select.search">
                    {{ cashBag.cashBag }}
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Departure Station</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Station</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>ORD - Ohare</td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>CPH - Copenhagen</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="cashBagFilter.filter" theme="bootstrap">
                  <ui-select-match placeholder="Select Cash Bags...">{{ $item.cashBag }}</ui-select-match>
                  <ui-select-choices repeat="cashBag in cashBags | filter: $select.search">
                    {{ cashBag.cashBag }}
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Arrival Station</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Station</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>ORD - Ohare</td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>CPH - Copenhagen</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="cashBagFilter.filter" theme="bootstrap">
                  <ui-select-match placeholder="Select Cash Bags...">{{ $item.cashBag }}</ui-select-match>
                  <ui-select-choices repeat="cashBag in cashBags | filter: $select.search">
                    {{ cashBag.cashBag }}
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <a href="#/post-trip-data-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>

      </div>
    </div>
  </form>

</div>
