<div class="module-container fluid-container">
    <div class="list-controls">
      <div class="row item-list-row">
        <div class="col-xs-6">
          <h2 class="view-name">{{ viewName }}</h2>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-primary" ng-show="isCRUD" ng-click="goToDetailPage('create', '')">
            <span class="fa fa-plus" aria-hidden="true"></span>
            <span class="hidden-sm hidden-xs">Create Message</span>
          </button>
          <button class="btn btn-default" ng-click="toggleFilterPanel()">
            <span class="fa fa-filter" aria-hidden="true"></span>
            <span class="hidden-sm hidden-xs">Filter</span>
          </button>
        </div>
      </div>
    </div>

    <div class="panel panel-default no-transition" id="search-collapse">
      <form class="form" ng-submit="submitSearch()">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <date-picker-field
                custom-effective="true"
                name="startDate"
                class="form-group"
                ng-model="search.startDate"
                label="Effective From">
              </date-picker-field>
            </div>
            <div class="col-xs-6 col-sm-4">
              <date-picker-field
                custom-effective="true"
                name="endDate"
                class="form-group"
                ng-model="search.endDate"
                label="Effective To">
              </date-picker-field>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Employee ID</label>
              <ui-select multiple ng-model="search.employees" theme="bootstrap">
                <ui-select-match placeholder="Select an Employee...">{{ $item.employeeIdentifier }}
                </ui-select-match>
                <ui-select-choices
                  refresh="searchEmployees($select)"
                  refresh-delay="300"
                  repeat="employee in employeesList | filter: $select.search | limitTo:100">
                  {{ employee.employeeIdentifier }} - {{ employee.lastName}}, {{ employee.firstName }}
                </ui-select-choices>
              </ui-select>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <label>Departure Station</label>
              <ui-select multiple ng-model="search.depStations" theme="bootstrap">
                <ui-select-match placeholder="Select a Station...">{{ $item.code }}
                </ui-select-match>
                <ui-select-choices repeat="station in stationsList | filter: $select.search">
                  {{ station.code }} - {{ station.name }}
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-xs-6 col-sm-4">
              <label>Arrival Station</label>
              <ui-select multiple ng-model="search.arrStations" theme="bootstrap">
                <ui-select-match placeholder="Select a Station...">{{ $item.code }}
                </ui-select-match>
                <ui-select-choices repeat="station in stationsList | filter: $select.search">
                  {{ station.code }} - {{ station.name }}
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Schedule Number</label>
              <ui-select multiple ng-model="search.schedules" theme="bootstrap">
                <ui-select-match placeholder="Select a Schedule...">{{ $item.scheduleNumber }}
                </ui-select-match>
                <ui-select-choices repeat="schedule in schedulesList | filter: $select.search">
                  {{ schedule.scheduleNumber }}
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
           
          <button type="button" class="btn btn-default btn-search-clear" ng-click="clearSearch()" id="clearEmployeeMessageListId">
            <span class="btn-label">Clear</span>
          </button>
          <button type="submit" class="btn btn-primary btn-search" id="searchEmployeeMessageListId">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span class="hidden-sm hidden-xs btn-label">Search</span>
          </button>
        </div>
      </form>
    </div>
 
    <alert ng-show="!employeeMessagesList.length" type="info">
      <span class="fa fa-flag"></span> Your search returned no results.
    </alert>
    
    <div class="table-responsive" ng-show="employeeMessagesList.length" >
      <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th class="col-xs-8">Message</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th>Updated Date/Time</th>
        <th>Updated User</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="message in employeeMessagesList">
        <td>{{ message.employeeMessageText }}</td>
        <td>{{ message.startDate }}</td>
        <td>{{ message.endDate }}</td>
        <td>{{ getUpdatedOn(message) }}</td>
        <td>{{ getUpdateBy(message) }}</td>
        <td>
          <button class="btn btn-info btn-xs" ng-click="goToDetailPage('view', message.id)"><i class="fa fa-file"></i>
          </button>
          <button class="btn btn-primary btn-xs" ng-show="isCRUD && isActiveOrFutureRecord(message)"
                  ng-click="goToDetailPage('edit', message.id)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger btn-xs" ng-show="isCRUD && isFutureRecord(message)"
                  ng-click="deleteRecordDialog(message, ['employeeMessageText', 'startDate', 'endDate'])"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      <tr>
      </tr>
      </tbody>
    </table>
    </div>
</div>


<delete-record-dialog></delete-record-dialog>
<dynamic-left-nav title="Employee Messages"></dynamic-left-nav>

