<div class="container-fluid">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">Edit {{viewName}}</h2>
      </div>
      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/employee-message-list" class="btn">Back</a>
      </div>
    </div>
  </div>

  <!--<error-dialog form-object="employeeMessageForm" error-response="errorResponse" display="displayError">-->
  <!--</error-dialog>-->

  <form name="employeeMessageForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Message</label>
              <input class="form-control" ng-model="employeeMessage.employeeMessageText">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <date-picker-field
                name="endDate"
                class="form-group"
                form="employeeMessageForm"
                ng-model="employeeMessage.startDate"
                label="Effective From"
                disable="readOnly"
                required="true">
              </date-picker-field>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <date-picker-field
                name="endDate"
                class="form-group"
                form="employeeMessageForm"
                ng-model="employeeMessage.endDate"
                label="Effective To"
                disable="readOnly"
                required="true">
              </date-picker-field>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Employees</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-danger" title="delete selected schedules"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Employee ID - name</th>
              </tr>
              <tr  ng-repeat="employee in employeeMessage.employees">
                <td><input type="checkbox"></td>
                <td>{{employee.employeeIdentifier}} - {{employee.lastName}}, {{ employee.firstName }}</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="newRecords.employees" theme="bootstrap">
                  <ui-select-match placeholder="Select an Employee...">{{ $item.employeeIdentifier }}</ui-select-match>
                  <ui-select-choices repeat="employee in filteredEmployees | filter: $select.search">
                    {{ employee.employeeIdentifier }} - {{ employee.lastName}}, {{ employee.firstName }}
                  </ui-select-choices>
                </ui-select>
                <input type="checkbox"> Select All
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right" ng-click="addNewItem('employees')"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Schedules</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Schedule Number</th>
              </tr>
              <tr ng-repeat="schedule in employeeMessage.schedules">
                <td><input type="checkbox"></td>
                <td>{{ schedule.scheduleNumber }}</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="newRecords.schedules" theme="bootstrap">
                  <ui-select-match placeholder="Select a Schedule...">{{ $item.scheduleNumber }}</ui-select-match>
                  <ui-select-choices repeat="schedule in filteredSchedules | filter: $select.search">
                    {{ schedule.scheduleNumber }}
                  </ui-select-choices>
                </ui-select>
                <input type="checkbox"> Select All
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right" ng-click="addNewItem('schedules')"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Departure Station</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Station</th>
              </tr>
              <tr  ng-repeat="station in employeeMessage.departureStations">
                <td><input type="checkbox"></td>
                <td>{{station.code}} - {{station.name}}</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="newRecords.departureStations" theme="bootstrap">
                  <ui-select-match placeholder="Select a Station...">{{ $item.code }}</ui-select-match>
                  <ui-select-choices repeat="station in filteredDepStations | filter: $select.search">
                    {{ station.code }} - {{ station.name }}
                  </ui-select-choices>
                </ui-select>
                <input type="checkbox"> Select All
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right" ng-click="addNewItem('departureStations')"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-8">
                <label>Arrival Station</label>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default" disabled><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <table class="table">
              <tr class="active">
                <td><input type="checkbox"></td>
                <th>Station</th>
              </tr>
              <tr  ng-repeat="station in employeeMessage.arrivalStations">
                <td><input type="checkbox"></td>
                <td>{{station.code}} - {{station.name}}</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-xs-9">
                <ui-select multiple ng-model="newRecords.arrivalStations" theme="bootstrap">
                  <ui-select-match placeholder="Select a Station...">{{ $item.code }}</ui-select-match>
                  <ui-select-choices repeat="station in filteredArrStations | filter: $select.search">
                    {{ station.code }} - {{ station.name }}
                  </ui-select-choices>
                </ui-select>
                <input type="checkbox"> Select All
              </div>
              <div class="col-xs-2 text-left">
                <button class="btn btn-success btn-sm text-right" ng-click="addNewItem('arrivalStations')"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <a href="#/post-trip-data-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>

      </div>
    </div>
  </form>

</div>
