<form name="employeeCommissionForm" class="form edit-form" ng-submit="submitForm()">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/employee-commission-list" class="btn">Back</a>
        <button ng-show="employeeCommissionForm.$dirty" class="btn btn-success">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
      </div>
    </div>
    <p>All required fields are marked with a *</p>
  </div>

  <date-picker
    class="col-xs-12 col-md-6 col-sm-6"
    element-class="col-xs-6 col-sm-6"
    start-date-model="commission.startDate"
    end-date-model="commission.endDate"
    label-from="Effective From *"
    label-to="Effective To *"
    required="true"
    disable-start-date="isCommissionReadOnly()"
    disable-end-date="isViewOnly()"
    disable-past="true">
  </date-picker>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="itemName">Item Name *</label>
      <select
        class="form-control"
        id="itemName"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="item.itemName for item in itemList | orderBy:'itemName' track by item.id"
        ng-model="commission.selectedItem">
        <option selected="selected" disabled value>Select Item</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="saleType">Sale Type *</label>
      <select
        class="form-control"
        id="saleType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="priceType.name for priceType in priceTypeList | orderBy:'name' track by priceType.id"
        ng-model="commission.selectedPriceType">
        <option selected disabled value>Select Sale Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="rateType">Rate Type *</label>
      <select
        class="form-control"
        id="rateType"
        required="true"
        ng-disabled="isCommissionReadOnly()"
        ng-options="taxRate.taxRateType for taxRate in taxRateTypes | orderBy:'taxRateType' track by taxRate.id"
        ng-model="commission.selectedRateType">
        <option selected disabled value>Select Rate Type</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 2">
    <div class="form-group">
      <label class="control-label">Rate *</label>

      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-pie-chart"></i>
        </span>
        <input custom-validity
               custom-pattern="currencyWithTwoDecimalPlace"
               ng-model="commission.percentage"
               required="true"
               ng-readonly="isCommissionReadOnly()"
               type="text"
               name="percentage"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
      </div>
    </div>
  </div>

  <div class="col-sm-3" ng-if="commission.selectedRateType.id == 1">
    <label class="control-label">Rate for Currency *</label>

    <div class="form-group" ng-repeat="currency in companyCurrencies">

      <div class="input-group">
        <span class="input-group-addon">
                {{currency.code}}
        </span>
        <input custom-validity
               custom-pattern="currencyWithTwoDecimalPlace"
               ng-model="commission.currenciesFields[currency.code]"
               ng-readonly="isCommissionReadOnly()"
               required="true"
               type="text"
               name="rate{{currency.code}}"
               placeholder="0.00"
               class="form-control"
               aria-label="Amount (to the nearest dollar)"/>
      </div>
    </div>
  </div>

</form>
