<div class="module-container">
  <error-dialog form-object="form" error-response="errorResponse" display="displayError">
  </error-dialog>
<form class="form-horizontal" name="reportOptions" ng-submit="run()">
<div class="modal-header">
  <h3 class="modal-title">EPOS CONFIGURATION</h3>
</div>
<div class="modal-body">
    
    <div ng-repeat="option in template.options" class="form-group" ng-switch on="option.type">
      <label class="col-sm-4 control-label">{{option.prompt}}: <span ng-if="!option.optional" style="color:red">*</span></label>
      <span ng-switch-when="DATE" ng-controller="OptionSelectionDateCtrl" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
        <input type="text" class="form-control" name="{{option.code}}" ng-model="selection.options[option.code]" datepicker-popup="{{format}}"
               datepicker-options="dateOptions" ng-required="!option.optional" close-text="Close" is-open="status.opened"/> <!-- -->
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
      <span ng-switch-when="ID" ng-controller="OptionSelectionSelectCtrl" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
        <ui-select ng-if="option.multiValue" name="{{option.code}}" multiple ng-model="selection.options[option.code]">
          <ui-select-match placeholder="Select value...">{{$item.code}}</ui-select-match>
          <ui-select-choices repeat="choice in choices | filter: $select.search track by choice.id"
                             refresh="refreshChoiceValues($select.search)" refresh-delay="10" >
            <div ><span ng-bind-html="choice.code | highlight: $select.search"/><span ng-if="choice.description !== undefined"> (<span ng-bind-html="choice.description | highlight: $select.search"/>)</span></div>
          </ui-select-choices>
        </ui-select>
        <ui-select ng-if="!option.multiValue" ng-model="selection.options[option.code]">
          <ui-select-match placeholder="Select value...">{{$select.selected.code}}</ui-select-match>
          <ui-select-choices repeat="choice in choices | filter: $select.search track by choice.id"
                             refresh="refreshChoiceValues($select.search)" refresh-delay="10" >
              <div ><span ng-bind-html="choice.code | highlight: $select.search"/><span ng-if="choice.description !== undefined"> (<span ng-bind-html="choice.description | highlight: $select.search"/>)</span></div>
          </ui-select-choices>
        </ui-select>
      </span>
      <span ng-switch-when="STRING">
        <span ng-if="option.multiValue && !option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" ng-list="," ng-trim="true" placeholder="seperate values with a comma" />
        </span>
        <span ng-if="!option.multiValue && !option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]"/>
        </span>
        <span ng-if="!option.multiValue && option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <select name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" ng-required="false">
            <option ng-if="option.optional" value="">All</option>
            <option ng-repeat="choiceValue in option.choiceValues" value="{{choiceValue}}">{{choiceValue}}</option>
          </select>
        </span>
        <span ng-if="option.multiValue && option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <select name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" multiple>
            <option ng-repeat="choiceValue in option.choiceValues" value="{{choiceValue}}">{{choiceValue}}</option>
          </select>
        </span>
        <div ng-if="reportOptions[option.code].$error && reportOptions[option.code].$dirty">
          <p ng-show="reportOptions[option.code].$error.required">{{option.prompt}} is required.</p>
        </div>
      </span>
      <span ng-switch-default class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
        <input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]"/>
      </span>
      <div ng-if="reportOptions[option.code].$error && reportOptions[option.code].$dirty">
        <p ng-show="reportOptions[option.code].$error.required">{{option.prompt}} is required.</p>
      </div>
    </div>
    <!-- <template-params options="template.options"/> -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">Save</button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
</div>
<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>

<!--  To Do With dynamic epos module name starts -->

<div id="left-navigation">
  <div class="container">
    <ul class="navbar">

    <li ng-class="itemClassepos-config" class="ng-scope active" role="button" tabindex="0" style="">

        <i class="icon-manage-discount"></i>
        <div class="left-nav-option lg" ng-class="{'lg':dashboard-epos-config}">
          <i class="icon-manage-retail-item"></i>
          <p class="ng-binding">Cross Device Synchronization</p>
        </div>
      </li>
      <li ng-class="itemClassepos-config" class="ng-scope active" role="button" tabindex="0" style="">

        <i class="icon-create-discount"></i>
        <div class="left-nav-option lg" ng-class="{'lg':dashboard-epos-config}">
          <i class="icon-create-retail-item"></i>
          <p class="ng-binding">Dashboard</p>
        </div>
      </li>
      <li ng-class="itemClassepos-config" class="ng-scope active" role="button" tabindex="0" style="">

        <i class="icon-manage-transactions"></i>
        <div class="left-nav-option lg" ng-class="{'lg':dashboard-epos-config}">
          <i class="icon-manage-retail-item"></i>
          <p class="ng-binding">Data Synchronization</p>
        </div>
      </li>
        <li ng-class="itemClassepos-config" class="ng-scope active" role="button" tabindex="0" style="">

        <i class="icon-manage-company"></i>
        <div class="left-nav-option lg" ng-class="{'lg':dashboard-epos-config}">
          <i class="icon-manage-retail-item"></i>
          <p class="ng-binding">Global</p>
        </div>
      </li>
        <li ng-class="itemClassepos-config" class="ng-scope active" role="button" tabindex="0" style="">

        <i class="icon-create-company"></i>
        <div class="left-nav-option lg" ng-class="{'lg':dashboard-epos-config}">
          <i class="icon-manage-retail-item"></i>
          <p class="ng-binding">PED</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--  To Do With dynamic epos module name ends -->