<h1 class="ng-scope">{{viewName}}</h1>
<form name="dailyExchangeRatesForm" ng-submit="saveDailyExchangeRates()">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="form-horizontal">
        <div class="form-group">
          <h3 class="col-sm-4">{{currentCompany.companyName}}</h3>
          <label for="cashiersDateField" class="col-sm-4 control-label">Date of cashier's entry date</label>

          <div class="col-sm-4 text-right">
            <div class="input-group">
              <input ng-model="cashiersDateField" id="cashiersDateField" placeholder="mm/dd/YYYY"
                     data-provide="datepicker"
                     class="form-control">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-xs-2">Tail</div>
        <div class="col-xs-10 text-right">Base Currency: <span>{{companyBaseCurrency.currencyCode}}</span></div>
      </div>
      <div class="row">
        <label class="col-xs-2 control-label">Currency</label>
        <label class="col-xs-5 control-label">Paper Bank Exchange Rate</label>
        <label class="col-xs-5 control-label">Coin Bank Exchange Rate</label>
      </div>
      <div class="row" ng-repeat="currency in companyCurrencies">
        <div class="col-xs-2">{{currency.code}}</div>

        <div class="col-xs-5">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-money"></i></span>
            <input ng-readonly="companyBaseCurrency.currencyCode == currency.code"
                   required ng-pattern="regexp.decimal"
                   ng-model="currenciesFields[currency.code].paperExchangeRate"
                   name="{{currency.code}}paperExchangeRate"
                   currencyType="paperExchangeRate" placeholder="0.0000"
                   class="form-control" aria-label="Amount (to the nearest dollar)">
          </div>
        </div>

        <div class="col-xs-5">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-money"></i></span>
            <input ng-readonly="companyBaseCurrency.currencyCode == currency.code"
                   required ng-pattern="regexp.decimal"
                   ng-model="currenciesFields[currency.code].coinExchangeRate"
                   name="{{currency.code}}coinExchangeRate"
                   currencyType="coinExchangeRate" placeholder="0.0000"
                   class="form-control" aria-label="Amount (to the nearest dollar)">
          </div>
        </div>
      </div>
    </div>
    <!-- ng-if="showActionButtons && !dailyExchangeRates.isSubmitted" -->
    <div class="panel-footer text-right">
      <input class="btn btn-default" type="submit" value="Save"/>
      <input class="btn btn-primary" type="button" value="Submit" ng-click="saveDailyExchangeRates(true)"/>
    </div>

  </div>
</form>
