<div class="fluid-container module-container">
  <div class="list-controls">
    <div class="row item-list-row">
      <div class="col-xs-6">
        <h2 class="view-name">{{ viewName }}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <button class="btn btn-default" aria-expanded="false" ng-click="toggleSearchPanel()">
          <span class="fa fa-search" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Search</span>
        </button>
        <button class="btn btn-primary" ng-show="isCRUD" aria-expanded="false" ng-click="toggleCreatePanel()">
          <span class="fa fa-plus" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Create New Relationship</span>
        </button>
      </div>
    </div>

    <error-dialog form-object="itemExciseDutyCreateForm" error-response="errorResponse" display="displayError">
    </error-dialog>

    <form name="itemExciseDutyCreateForm" ng-submit="createRelationship()">

      <div class="panel panel-default collapse no-transition" id="create-collapse">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <h3>Create New Item Excise Duty Relationship</h3>
              <p><i>Note: Retail Item and Commodity Code fields are filtered by Effective From and To Dates.  Retail Item may also be filtered by Item Type</i></p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Item Type </label>
                <select class="form-control"
                        ng-model="newRecord.itemType"
                        ng-options="itemType.id as itemType.name for itemType in itemTypes"
                        name="itemType">
                  <option selected="selected" value>Select an Item Type</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <date-picker-field
                name="startDate"
                class="form-group"
                form="itemExciseDutyCreateForm"
                min-date="minDate"
                ng-model="newRecord.startDate"
                label="Effective From *"
                custom-effective="true"
                ng-required="shouldRequireCreateFields()">
              </date-picker-field>
            </div>
            <div class="col-xs-6 col-sm-4">
              <date-picker-field
                name="endDate"
                class="form-group"
                form="itemExciseDutyCreateForm"
                min-date="minDate"
                ng-model="newRecord.endDate"
                label="Effective To *"
                custom-effective="true"
                ng-required="shouldRequireCreateFields()">
              </date-picker-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Duty Free Retail Item *</label>
                <ui-select required="true"
                           ng-model="newRecord.retailItem"
                           theme="bootstrap"
                           placeholder="Select an Item"
                           ng-required="shouldRequireCreateFields()"
                           ng-disabled="!itemListForCreate.length"
                           name="retailItem">
                  <ui-select-match placeholder="Select a retail Item">{{ $select.selected.itemName}}</ui-select-match>
                  <ui-select-choices repeat="item in itemListForCreate | filter: {itemName:$select.search} track by item.id">
                    <div ng-bind-html="item.itemName | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Commodity Code *</label>
                <ui-select required="true"
                           ng-model="newRecord.commodityCode"
                           theme="bootstrap"
                           placeholder="Select an"
                           ng-required="shouldRequireCreateFields()"
                           ng-disabled="!exciseDutyListForCreate.length"
                           name="commodityCode">
                  <ui-select-match placeholder="Select a Commodity Code">{{ $select.selected.commodityCode}}</ui-select-match>
                  <ui-select-choices repeat="record in exciseDutyListForCreate | filter: {commodityCode:$select.search} track by record.id">
                    <div ng-bind-html="record.commodityCode | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="form-group">
                <label>Alcohol Volume *</label>
                <input ng-model="newRecord.alcoholVolume"
                       custom-validity
                       custom-pattern="decimalWithTwoDecimalPlaces"
                       maxlength="7"
                       class="form-control"
                       name="alcoholVolume"
                       ng-required="shouldRequireCreateFields()"/>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearCreateForm(true)">Clear All</button>
          <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Save</button>
        </div>
      </div>
    </form>

    <div class="panel panel-default no-transition" id="search-collapse">
      <div class="panel-body">
        <h4>Search Excise Duty Records</h4>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Item Type</label>
              <select class="form-control"
                      ng-model="search.itemType"
                      ng-options="itemType.id as itemType.name for itemType in itemTypes">
                <option value="">Select an Item Type to search by</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Duty Free Retail Item</label>
              <ui-select multiple ng-model="search.retailItems" theme="bootstrap">
                <ui-select-match placeholder="Select one or more items">{{ $item.itemName }}
                </ui-select-match>
                <ui-select-choices repeat="item in itemList | filter: {itemName: $select.search}">
                  {{ item.itemCode }} - {{ item.itemName }}
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Commodity Code</label>
              <ui-select multiple ng-model="search.commodityCodes" theme="bootstrap">
                <ui-select-match placeholder="Select one or more commodity codes">{{ $item.commodityCode }}
                </ui-select-match>
                <ui-select-choices repeat="exciseDuty in exciseDutyList | filter: {commodityCode: $select.search}">
                  {{ exciseDuty.commodityCode }}
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-6 col-sm-4">
            <date-picker-field
              name="startDate"
              custom-effective="true"
              class="form-group"
              ng-model="search.startDate"
              label="Effective From">
            </date-picker-field>
          </div>
          <div class="col-xs-6 col-sm-4">
            <date-picker-field
              name="endDate"
              custom-effective="true"
              class="form-group"
              ng-model="search.endDate"
              label="Effective To">
            </date-picker-field>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
        <button type="button" class="btn btn-primary" ng-click="searchItemExciseData()">Search</button>
      </div>
    </div>
    <br>

    <form name="itemExciseDutyEditForm" ng-submit="saveEdit()">
      <div class="table-responsive">
        <table ng-if="itemExciseDutyList.length > 0" infinite-scroll="getItemExciseDutyList()" infinite-scroll-immediate-check="false"
             class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
          <td ng-show="inEditMode">Item Type</td>
          <th>Duty Free Retail Item</th>
          <th>Commodity Code</th>
          <th>Alcohol Volume</th>
          <th class="col-xs-2">Start Date</th>
          <th class="col-xs-2">End Date</th>
          <th>Updated Date/Time</th>
          <th>Updated User</th>
          <th ng-show="isCRUD">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="ng-scope" ng-repeat="relationship in itemExciseDutyList track by $index">
          <td ng-show="inEditMode">
            <span ng-hide="isSelectedToEdit(relationship) && canDelete(relationship)">{{ relationship.itemTypeName }}</span>
            <span ng-show="isSelectedToEdit(relationship) && canDelete(relationship)">
              <select class="form-control"
                      ng-model="recordToEdit.itemType"
                      ng-options="itemType.id as itemType.name for itemType in itemTypes">
                <option value="">Select and Item Type</option>
              </select>
            </span>

          </td>
          <td>
            <span ng-hide="isSelectedToEdit(relationship) && canDelete(relationship)">{{ relationship.itemName }}</span>
            <span ng-show="isSelectedToEdit(relationship) && canDelete(relationship)">
              <ui-select ng-model="recordToEdit.retailItem"
                         theme="bootstrap"
                         placeholder="Select an Item"
                         ng-required="true"
                         ng-disabled="!itemListForEdit.length"
                         name="editRetailItem">
                <ui-select-match placeholder="Select a retail Item">{{ $select.selected.itemName}}</ui-select-match>
                <ui-select-choices repeat="item in itemListForEdit | filter: {itemName:$select.search}">
                  <div ng-bind-html="item.itemName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </span>
          </td>
          <td>
            <span ng-hide="isSelectedToEdit(relationship) && canDelete(relationship)">{{ relationship.commodityCode }}</span>
            <span ng-show="isSelectedToEdit(relationship) && canDelete(relationship)">
              <ui-select required="true"
                         ng-model="recordToEdit.commodityCode"
                         theme="bootstrap"
                         placeholder="Select an"
                         ng-required="true"
                         ng-disabled="!exciseDutyListForEdit.length"
                         name="editCommodityCode">
                <ui-select-match placeholder="Select a Commodity Code">{{ $select.selected.commodityCode}}</ui-select-match>
                <ui-select-choices repeat="record in exciseDutyListForEdit | filter: {commodityCode:$select.search}">
                  <div ng-bind-html="record.commodityCode | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </span>
          </td>
          <td>
            <span ng-hide="isSelectedToEdit(relationship) && canDelete(relationship)">{{ relationship.alcoholVolume }}</span>
            <span ng-show="isSelectedToEdit(relationship) && canDelete(relationship)">
            <input ng-model="recordToEdit.alcoholVolume"
                   custom-validity
                   custom-pattern="decimalWithTwoDecimalPlaces"
                   maxlength="7"
                   class="form-control"
                   name="alcoholVolume"
                   ng-required="true"/>
              </span>
          </td>
          <td>
            <span ng-hide="isSelectedToEdit(relationship) && canDelete(relationship)">{{ relationship.startDate }}</span>
            <date-picker-field
              name="editStartDate"
              class="form-group"
              form="itemExciseDutyCreateForm"
              min-date="minDate"
              ng-model="recordToEdit.startDate"
              ng-show="isSelectedToEdit(relationship) && canDelete(relationship)">
            </date-picker-field>
          </td>
          <td>
            <span ng-hide="isSelectedToEdit(relationship)">{{ relationship.endDate }}</span>
            <date-picker-field
              name="itemExciseDutyCreateForm"
              custom-effective="true"
              custom-date="recordToEdit.endDate"
              class="form-group"
              min-date="minDate"
              form="exciseDutyCreateForm"
              ng-model="recordToEdit.endDate"
              ng-show="isSelectedToEdit(relationship)">
            </date-picker-field>
          </td>
          <td>{{ getUpdatedOn(exciseDuty) }}</td>
          <td>{{ getUpdateBy(exciseDuty) }}</td>
          <td ng-show="isCRUD">
            <button type="submit"
                    class="btn btn-success btn-xs"
                    tabindex="0"
                    ng-show="isSelectedToEdit(relationship)">
              <i class="fa fa-check"></i>
            </button>
            <button type="button"
                    class="btn btn-default btn-xs"
                    tabindex="0"
                    ng-show="isSelectedToEdit(relationship)"
                    ng-click="cancelEdit()">
              <i class="fa fa-times"></i>
            </button>
            <button type="button"
                    class="btn btn-primary btn-xs"
                    tabindex="0"
                    ng-show="canEdit(relationship) && !inEditMode"
                    ng-click="selectToEdit(relationship)">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button"
                    class="btn btn-danger btn-xs"
                    ng-click="deleteRecordDialog(relationship, ['itemName', 'commodityCode', 'startDate', 'endDate'])"
                    ng-show="canDelete(relationship) && !inEditMode"
                    tabindex="0">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </form>

    <p ng-if="itemExciseDutyList.length > 0" class="record-count small text-center">Showing {{itemExciseDutyList.length}} records</p>

    <p ng-show="shouldShowLoadingAlert()" class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>
    <p ng-show="shouldShowSearchPrompt()" class="alert alert-info text-center"><i class="fa fa-exclamation-circle"></i> Perform a search to view records</p>
    <p ng-show="shouldShowCreatePrompt()" class="alert alert-success text-center"><i class="fa fa-exclamation-circle"></i> New Records will appear here after they are successfully
    created</p>
    <p ng-show="shouldShowNoRecordsFoundPrompt()" class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> No records matching the search criteria were
    found</p>
  </div>

</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<delete-record-dialog></delete-record-dialog>

<dynamic-left-nav></dynamic-left-nav>
