<div class="container">

  <form class="form-horizontal" ng-submit="sendEmail()" name="forgotForm">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1><strong>TS5</strong> Forgot Username/Password</h1>
        </div>

        <div class="modal-body">

          <error-dialog form-object="forgotForm" error-response="errorResponse" display="displayError">
          </error-dialog>

          <h4>{{responseMessage}}</h4>

          <h4>Which did you forget?</h4>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
              <div class="radio">
                <label>
                  <input type="radio" value="username" ng-model="forgot.field" checked/>Username
                </label>
              </div>
            </div>
            <div class="col-sm-offset-2 col-sm-5">
              <div class="radio">
                <label>
                  <input type="radio" value="password" ng-model="forgot.field"/>Password
                </label>
              </div>
            </div>
          </div>

          <div class="row" ng-show="!!forgot.field">
            <div class="col-xs-12">
              <h4>Enter the {{ getRecoveryRequirements() }} you registered with</h4>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">email</label>
                <div class="col-sm-10">
                  <input name="email" required="true" custom-validity custom-pattern="email" type="text" class="form-control" id="email" placeholder="email" ng-model="forgot.email"/>
                </div>
              </div>
            </div>

            <div class="col-xs-12" ng-show="forgot.field === 'password'">
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">username</label>
                <div class="col-sm-10">
                  <input name="email" required="true" custom-validity custom-pattern="email" type="text" class="form-control" id="username" placeholder="username"
                         ng-model="forgot.email"/>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/#/" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
