<div class="module-container">

  <form name="form" class="form edit-form global-reason-code-form">

    <form-error-dialog></form-error-dialog>

    <div class="edit-controls">
      <div class="row">

        <div class="col-xs-6 col-sm-8">
          <h2 class="view-name">{{ viewName }}</h2>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="header-buttons pull-right">
<!--               <button type="button" class="btn button-additional" {{action "cancel"}}>{{t "menus.form.button.secondary.cancel"}}</button> -->
            <button type="button" class="btn btn-default">Cancel</button>
<!--               <button type="button" class="btn button-primary" {{action "save"}}>{{t "menus.form.button.primary.create"}}</button> -->
            <button type="button" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-default">
                <i class="fa fa-question-circle"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <!--/TopHeader -->

    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="form-group form-inline">
          <label for="refundCodeType">Code Type</label>
          <input type="text" class="form-control" id="refundCodeType" placeholder="123456">
          <button type="submit" class="btn btn-default">
            <span>Add</span>
          </button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="refundReason">Reason</label>
          <select class="form-control" id="refundReason">
            <option>Open Inventory</option>
            <option>Refund</option>
            <option>Complimentary</option>
            <option>Closing Inventory</option>
          </select>
        </div>
      </div>

    </div>

  </form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>
