<form name="itemImportSearchForm" class="form-horizontal edit-form">

  <div ng-show="displayError" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h4>
      We weren't able to import items!
    </h4>

    <ul>
      <li ng-repeat="error in form.$error.required">
        <strong>{{ error.$name }}</strong> is required
      </li>
      <li ng-repeat="error in form.$error.pattern">
        <strong>{{ error.$name }}</strong> is invalid
      </li>
      <li ng-show="formErrors" ng-repeat="error in formErrors">
        <strong>{{ error.field }}</strong>
        <span> {{ error.value }}</span>
        <span> {{ error.code }}</span>
      </li>
    </ul>
  </div>

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/item-list" class="btn">Back</a>
        <button ng-show="companyRetailItemList.length" class="btn btn-success" ng-click="submitForm()">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>

      </div>
    </div>
    <p>Drag and drop Items from Stock Owner to add them to your items</p>
  </div>

  <div class="form-group">

    <div class="col-xs-6">
      <h3>Stock Owner Items</h3>
    </div>
    <div class="col-xs-6">
      <h3>Retail Items</h3>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">

      <div class="col-xs-9">
        <label class="sr-only" for="importCompanyId">Stock Owner</label>
        <select
            name="importCompanyId"
            class="form-control"
            id="importCompanyId"
            ng-show="companiesLoaded"
            ng-change="changeSelectedImportCompany(company.id)"
            ng-model="selectedImportCompany"
            ng-options="company as company.companyName for company in importCompanyList">
          <option selected default value="">Select Stock Owner</option>
        </select>
        <p ng-hide="companiesLoaded"><em>One moment while we load the list of available companies...</em></p>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-default" ng-click="importAll()">Import All</button>
      </div>
    </div>
    <div class="col-xs-6">

      <div class="col-xs-12 text-right">
        <button class="btn btn-default" ng-click="removeAll()">Remove All</button>
      </div>
    </div>


  </div>


  <div class="form-group">
    <div class="col-xs-6">
      <div class="col-xs-6">
        <label class="sr-only" for="searchImportCompanyList">Search</label>
        <input type="text"
               name="searchImportCompanyList"
               class="form-control"
               placeholder="Search..."
               ng-model="searchImportCompanyList"
               id="searchImportCompanyList"/>
      </div>


      <div class="col-xs-2">
        <label class="control-label" for="importedRetailItemSortBy">Sort By</label>
      </div>
      <div class="col-xs-4">
        <select type="text"
                name="importedRetailItemSortBy"
                class="form-control"
                ng-model="importItemsSortOrder"
                id="importedRetailItemSortBy">
          <option value="itemCode">S.O Ref #</option>
          <option value="itemName">Name</option>
        </select>
      </div>

    </div>

    <div class="col-xs-6">
      <div class="col-xs-6">
        <label class="sr-only" for="searchCompanyRetailItemList">Search</label>
        <input type="text"
               name="searchCompanyRetailItemList"
               class="form-control"
               placeholder="Search..."
               ng-model="searchCompanyRetailItemList"
               id="searchCompanyRetailItemList"/>
      </div>
      <div class="col-xs-2">
        <label class="control-label" for="retailItemSortBy">Sort By</label>
      </div>
      <div class="col-xs-4">
        <select type="text"
                name="retailItemSortBy"
                class="form-control"
                ng-model="retailItemsSortOrder"
                id="retailItemSortBy">
          <option value="companyName">S.O</option>
          <option value="itemCode">S.O Ref #</option>
          <option value="itemName">Name</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <table class="sortable table table-bordered drop-table drag-table">
        <thead>
        <tr>
          <th ng-style="{'background-color':selectedImportCompany.hexColor}">&nbsp;</th>
          <th>S.O.</th>
          <th>S.O. Ref. #</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ui-draggable="true"
          drag="importedRetailItem"
          on-drop-success="dropSuccessImportedRetailItemList($event, $index, importedRetailItemList)"
          id="item-id-{{ importedRetailItem.id }}"
          drag-channel="A"
          ng-repeat="importedRetailItem in importedRetailItemList | orderBy:importItemsSortOrder | filter:searchImportCompanyList">
          <td ng-style="{'background-color':importedRetailItem.hexColor}">&nbsp;</td>
          <td>{{ importedRetailItem.companyName }}</td>
          <td>{{ importedRetailItem.itemCode }}</td>
          <td>{{ importedRetailItem.itemName }}</td>
        </tr>
        <tr ui-on-Drop="onDropImportedRetailItemList($event, $data)"
            class="empty-drop-zone">
          <td colspan="4"><em ng-show="showRightDropZoneMessage">No results</em>&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <table class="sortable table table-bordered drop-table">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>S.O.</th>
          <th>S.O. Ref. #</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ui-draggable="true"
          drag="retailItem"
          on-drop-success="dropSuccessCompanyRetailItemList($event, $index)"
          ui-on-Drop="onDropCompanyRetailItemList($event, $data)"
          drop-channel="A"
          id="item-id-{{ retailItem.id }}"
          ng-repeat="retailItem in companyRetailItemList | orderBy:retailItemsSortOrder | filter:searchCompanyRetailItemList track by $index">
          <td ng-style="{'background-color':retailItem.hexColor}">&nbsp;</td>
          <td>{{ retailItem.companyName }}</td>
          <td>{{ retailItem.itemCode }}</td>
          <td>{{ retailItem.itemName }}</td>
          <td><a class="btn btn-danger btn-xs" ng-click="removeRetailItem(retailItem)" class="remove-imported-item" title="Remove"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr id="company-retail-item-list-drop-init"
            class="empty-drop-zone"
            ui-on-Drop="onDropCompanyRetailItemList($event, $data)"
            drop-channel="A">
            <td colspan="5"><em ng-show="showLeftDropZoneMessage">Drag from left list and drop here</em>&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <p ng-hide="retailItemsLoaded"><em>Loading retail items...</em></p>
    </div>
  </div>

</form>
