<div class="container module-container">

  <div class="top-header">

    <div class="container">

      <div class="edit-controls">

        <div class="row">

          <div class="col-xs-6">

            <h2 class="view-name"> {{ viewName }} </h2>

          </div>

          <div class="col-xs-6 text-right">

            <fieldset ng-hide="viewOnly">

              <button class="btn btn-default" ng-click="leaveView('item-list')">
                <span class="fa fa-remove" aria-hidden="true"></span>
                <span class="hidden-xs">Cancel</span>
              </button>

              <button class="btn btn-primary" ng-click="submitForm(formData)">
                <span class="fa fa-check-square-o" aria-hidden="true"></span>
                <span class="hidden-xs">{{ buttonText }}</span>
              </button>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="form-nav btn-group-justified item-top" role="group" aria-label="..."
           ng-init="activeBtn = 'item-information'">

        <a ng-click="formScroll('item-information')" ng-class="{'active':activeBtn === 'item-information'}"
           type="button" class="btn btn-default">
          Item Information
        </a>

        <a ng-click="formScroll('measurements')" ng-class="{'active':activeBtn === 'measurements'}" type="button"
           class="btn btn-default">
          Measurements
        </a>

        <a ng-click="formScroll('price-and-tax')" ng-class="{'active':activeBtn === 'price-and-tax'}" type="button"
           class="btn btn-default">
          Price & Tax
        </a>

      </div>

      <p>All required fields are marked with a *.</p>

    </div>

  </div>
  <!--/TopHeader -->

  <div class="create-form-container" ng-show="uiSelectTemplateReady">

  <ng-form name="form" class="form edit-form create-item-form">

    <form-error-dialog></form-error-dialog>

    <h3 id="item-information" >Item Information</h3>

    <div class="row">

      <div class="col-xs-12 col-sm-6">

        <fieldset ng-disabled="isDisabled()">

          <input-text label="Retail Item Code" name="itemCode" required="true" pattern="regexp.alphanumeric"
                      placeholder="Item123" min-length="1" max-length="10"></input-text>

          <input-text label="Retail Item Name" name="itemName" required="true" pattern="regexp.word"
                      placeholder="Cool New Item" min-length="1" max-length="40"></input-text>

          <input-text label="POS Display Name" name="onBoardName" required="true" pattern="regexp.word"
                      placeholder="New Cool Item" min-length="1" max-length="13"></input-text>

          <input-text label="Item Description" name="desc" required="true" pattern="regexp.word"
                      placeholder="A simple description..." max-length="500"></input-text>

          <input-text label="Keywords" name="keywords" pattern="regexp.word" placeholder="cool new item"
                      max-length="500"></input-text>

          <input-text label="Unique Selling Point" name="sellingPoint" pattern="regexp.word"
                      placeholder="This item is really cool" max-length="100"></input-text>

          <div class="form-group">

            <input ng-model="formData.isPrintReceipt" type="checkbox"/>
            <label>Print Receipt</label>

          </div>

        </fieldset>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <date-picker-field disable="isDisabled()" form="form" name="EffectiveFrom" label="Effective From" required="true" ng-model="formData.startDate"></date-picker-field>
          </div>
          <div class="col-xs-12 col-sm-6">
            <date-picker-field disable="viewOnly || itemIsInactive" form="form" name="EffectiveTo" label="Effective To" required="true" ng-model="formData.endDate"></date-picker-field>
          </div>
        </div>

        <fieldset ng-disabled="isDisabled()" ng-if="uiSelectTemplateReady">

          <div class="form-group">
            <label>Sales Category *</label>
            <select name="categoryId" required ng-model="formData.categoryId" class="form-control">
                <option ng-repeat="category in salesCategories" value="{{ category.id }}">{{ category.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Item Type *</label>
            <select name="itemTypeId" required ng-model="formData.itemTypeId" class="form-control">
              <option ng-repeat="type in itemTypes" value="{{ type.id }}">{{ type.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Item Characteristics</label>
            <ui-select multiple ng-model="formData.characteristics" theme="bootstrap" id="itemCharacteristics">
              <ui-select-match placeholder="Item Characteristics" ui-lock-choice="isDisabled()">{{ $item.name }}</ui-select-match>
              <ui-select-choices repeat="character in filteredCharacteristics | filter: $select.search | orderBy:'name'">
                <div ng-bind-html="character.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group">
            <input-text label="URL" name="sellingPoint" pattern="regexp.word" ng-show="shouldDisplayURLField" placeholder="http://www.website.com"></input-text>
          </div>

          <div class="form-group">
            <label>Item Substitutions</label>
            <ui-select multiple ng-model="formData.substitutions" theme="bootstrap">
              <ui-select-match placeholder="Item Substitutions" ui-lock-choice="isDisabled()">{{ $item.itemName }}</ui-select-match>
              <ui-select-choices repeat="substitution in substitutions | filter: $select.search | orderBy:'itemName'">
                <div ng-bind-html="substitution.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group">
            <label>Item Recommendations</label>
            <ui-select multiple ng-model="formData.recommendations" theme="bootstrap">
              <ui-select-match placeholder="Item Recommendations" ui-lock-choice="isDisabled()">{{ $item.itemName }}</ui-select-match>
              <ui-select-choices repeat="recommendation in recommendations | filter: $select.search | orderBy:'itemName'">
                <div ng-bind-html="recommendation.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

        </fieldset>

      </div>

      <div class="col-xs-12 col-sm-6">

        <fieldset ng-disabled="isDisabled()" ng-if="uiSelectTemplateReady">

          <div class="form-group">
            <label>Item Tags</label>
            <ui-select multiple ng-model="formData.tags" theme="bootstrap">
              <ui-select-match placeholder="Item Tags" ui-lock-choice="isDisabled()">{{ $item.name }}</ui-select-match>
              <ui-select-choices repeat="tag in tags | filter: $select.search | orderBy:'name'">
                <div ng-bind-html="tag.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group">
            <label>Allergen</label>
            <ui-select multiple ng-model="formData.allergens" theme="bootstrap">
              <ui-select-match placeholder="Allergens" ui-lock-choice="isDisabled()">{{ $item.name }}</ui-select-match>
              <ui-select-choices repeat="allergen in allergens | filter: $select.search | orderBy:'name'">
                <div ng-bind-html="allergen.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <image-upload ng-hide="isDisabled()"></image-upload>

          <div id="images-container">

            <div ng-repeat="(key,image) in formData.images track by $index">
              <input-item-image></input-item-image>
            </div>

          </div>

          <h3>Global Trade In Numbers (GTIN)</h3>

          <p>
            <button type="button" class="btn btn-primary" ng-click="addGTIN()">
              <i class="fa fa-plus"></i> Add GTIN
            </button>
          </p>

          <div id="gtin-container">

            <div ng-repeat="(key,GTIN) in formData.globalTradeNumbers track by $index">
              <input-gtin></input-gtin>
            </div>

          </div>

          <input-text label="Mfg. Part Number" name="mfgPartNumber" pattern="regexp.word" placeholder="1234567890" max-length="25"></input-text>

          <input-text label="Stock Keeping Unit (SKU)" name="skuNumber" pattern="regexp.word" placeholder="0987654321" max-length="25"></input-text>

          <tabset justified="true" ng-hide="isQrCreateHidden()">

            <tab heading="QR Create">

              <qr-create></qr-create>

            </tab>

            <tab heading="QR Upload">

              <qr-upload></qr-upload>

            </tab>

          </tabset>

          <div class="panel panel-default" ng-show="isQrCodeSet()">

            <div class="panel-heading">

              <p class="panel-title">

                <i class="fa fa-image"></i> QR Code

						      <span class="pull-right btn btn-danger btn-xs" ng-hide="isDisabled()" ng-click="removeQRCode()">
						        <i class="fa fa-close"></i>
						      </span>

              </p>

            </div>

            <div class="panel-body">
              <img ng-src="{{ formData.qrCodeImgUrl }}"/>
            </div>

          </div>

        </fieldset>

      </div>

    </div>

    <fieldset ng-disabled="isDisabled()">

      <h3 id="measurements">Measurements</h3>

        <div class="row">

          <div class="col-xs-12 col-sm-6">

            <label>Item Weight</label>

            <div class="row">

              <div class="form-group">

                <div class="col-xs-9">
                  <input ng-model="formData.weight" type="text" class="form-control" placeholder="10.00">
                </div>

                <div class="col-xs-3">
                  <select ng-model="formData.weightType" class="form-control col-xs-2">
										<option ng-repeat="weight in weightUnits" value="{{ weight.id }}">{{ weight.unitCode }}</option>
									</select>
                </div>

              </div>

            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <label>Item Volume</label>

            <div class="row">

              <div class="form-group">

                <div class="col-xs-9">
                  <input ng-model="formData.volume" type="text" class="form-control" placeholder="10.00">
                </div>

                <div class="col-xs-3">
                  <select ng-model="formData.volumeType" class="form-control">
                    <option ng-repeat="volume in volumeUnits" value="{{ volume.id }}">{{ volume.unitCode }}</option>
                  </select>
                </div>

              </div>

            </div>

          </div>

        </div>

        <label>Measurements</label>
        <span class="text-warning" ng-show="isMeasurementRequired() && !isMeasurementValid()"><p>* Length, Width and Height fields are all required if one contains a value.</p></span>
        <div class="row">

          <div class="form-group" ng-class="{ 'has-error' : isMeasurementRequired() && !isMeasurementValid() , 'has-success' : isMeasurementValid() }" >
            <div class="col-md-3 col-xs-3">
              <input ng-model="formData.length" ng-required="isMeasurementRequired()" type="text" class="form-control" placeholder="Length" name="Length">
            </div>

            <div class="col-md-3 col-xs-3">
              <input ng-model="formData.width" ng-required="isMeasurementRequired()" type="text" class="form-control" placeholder="Width" name="Width">
            </div>

            <div class="col-md-3 col-xs-3">
              <input ng-model="formData.height" ng-required="isMeasurementRequired()" type="text" class="form-control" placeholder="Height" name="Height">
            </div>

            <div class="col-md-3 col-xs-3">
              <select ng-model="formData.dimensionType" class="form-control" ng-required="isMeasurementRequired()" name="Unit of Measurement">
                <option ng-repeat="dimension in dimensionUnits" value="{{ dimension.id }}">{{ dimension.unitCode }}</option>
              </select>
            </div>

          </div>

        </div>

      <h3 id="price-and-tax">Price & Tax</h3>

        <p>
          <button id="add-price-group" type="button" class="btn btn-primary" ng-click="addPriceGroup()">
            <i class="fa fa-plus"></i> Add Price Type
          </button>
        </p>

        <div id="price-type-container">

          <div ng-repeat="(key,itemPrice) in formData.prices track by $index">
            <input-price-type></input-price-type>
          </div>

        </div>

        <p>
          <button id="add-tax-type" type="button" class="btn btn-primary" ng-click="addTaxType()">
            <i class="fa fa-plus"></i> Add Tax Type
          </button>
        </p>

        <div id="tax-type-container">

          <div ng-repeat="(key,itemTax) in formData.taxes track by $index">
            <input-tax-type></input-tax-type>
          </div>

        </div>

    </fieldset>

  </ng-form>

  </div>

</div>
<!-- /Container -->

<form-success-modal list-path="item-list" create-path="item-create"></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Retail Item Management"></dynamic-left-nav>
