<form name="itemImportSearchForm" class="form-horizontal edit-form">

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/item-list" class="btn">Back</a>
        <button ng-show="itemImportSearchForm.$dirty" class="btn btn-success" ng-click="submitForm()">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>

      </div>
    </div>
    <p>Drag and drop Items from Stock Owner to add them to your items</p>
  </div>

  <div class="form-group">

    <div class="col-xs-6">
      <h3>Stock Owner Items</h3>
    </div>
    <div class="col-xs-6">
      <h3>Airline Items</h3>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">

      <div class="col-xs-9">
        <label class="sr-only" for="stockOwnerId">Stock Owner</label>
        <select required
            name="stockOwnerId"
            class="form-control"
            id="stockOwnerId"
            ng-show="companiesLoaded"
            ng-change="changeSelectedStockownerCompany(company.id)"
            ng-model="selectedStockownerCompany"
            ng-options="company as company.companyName for company in stockOwnerList">
          <option value="">Select Stock Owner</option>
        </select>
        <div ng-show="mockData1">TODO - the above select list is mock data until <a href="https://jira.egate-solutions.com/browse/TSVPORTAL-2038">TSVPORTAL-2038</a> is completed.</div>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-default" ng-click="importAll()">Import All</button>
      </div>
    </div>
    <div class="col-xs-6">

      <div class="col-xs-12 text-right">
        <button class="btn btn-default" ng-click="removeAll()">Remove All</button>
      </div>
    </div>


  </div>


  <div class="form-group">
    <div class="col-xs-6">
      <div class="col-xs-6">
        <label class="sr-only" for="searchStockOwnerItem">Search</label>
        <input type="text"
               name="searchStockOwnerItem"
               class="form-control"
               placeholder="Search..."
               ng-model="searchStockOwnerItem"
               id="searchStockOwnerItem"/>
      </div>


      <div class="col-xs-2">
        <label class="control-label" for="stockOwnerSortBy">Sort By</label>
      </div>
      <div class="col-xs-4">
        <select type="text"
                name="stockOwnerSortBy"
                class="form-control"
                placeholder="Search..."
                id="stockOwnerSortBy">
          <option>Last Modified</option>
          <option>Reference Number</option>
          <option>Another one</option>
        </select>
      </div>

    </div>

    <div class="col-xs-6">
      <div class="col-xs-6">
        <label class="sr-only" for="searchRetailItem">Search</label>
        <input type="text"
               name="searchRetailItem"
               class="form-control"
               placeholder="Search..."
               ng-model="searchRetailItem"
               id="searchRetailItem"/>
      </div>
      <div class="col-xs-2">
        <label class="control-label" for="retailItemSortBy">Sort By</label>
      </div>
      <div class="col-xs-4">
        <select type="text"
                name="retailItemSortBy"
                class="form-control"
                placeholder="Search..."
                id="retailItemSortBy">
          <option>Last Modified</option>
          <option>Reference Number</option>
          <option>Another one</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <table ui-on-Drop="onDrop($event, $data, stockownersRetailItemList)"
             class="sortable table table-bordered table-hover">
        <thead>
        <tr>
          <th ng-style="{'background-color':selectedStockownerCompany.hexColor}">&nbsp;</th>
          <th>S.O.</th>
          <th>S.O. Ref. #</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ui-draggable="true"
          drag="stockOwner"
          on-drop-success="dropSuccessHandler($event, $index, stockownersRetailItemList)"
          ng-repeat="stockOwner in stockownersRetailItemList | filter:searchStockOwnerItem track by $index">
          <td ng-style="{'background-color':stockOwner.hexColor}">&nbsp;</td>
          <td>{{ stockOwner.companyName }}</td>
          <td>{{ stockOwner.itemCode }}</td>
          <td>{{ stockOwner.itemName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <table ui-on-Drop="onDrop($event, $data, airlineRetailItemList)"
             class="sortable table table-bordered table-hover">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>S.O.</th>
          <th>S.O. Ref. #</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ui-draggable="true"
          drag="item"
          on-drop-success="dropSuccessHandler($event, $index, airlineRetailItemList)"
          ng-repeat="item in airlineRetailItemList | filter:searchRetailItem track by $index">
          <td ng-style="{'background-color':item.hexColor}">&nbsp;</td>
          <td>{{ item.companyName }}</td>
          <td>{{ item.itemCode }}</td>
          <td>{{ item.itemName }}</td>
          <td><a ng-click="removeRetailItem(item)" ng-hide="cannotRemoveRetailItem(item)">X</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</form>
