<h1>Items</h1>

<div class="list-controls">

	<div class="row">

		<div class="col-xs-6">

			<a href="#/item-create" class="btn btn-primary"> + </a>

			<button class="btn btn-default"> Import </button>

		</div>

		<div class="col-xs-6 text-right">

			<button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false" aria-controls="search-collapse">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span class="hidden-xs">Search</span>
			</button>

			<div class="btn-group" role="group" aria-label="...">

			  <button type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
			  </button>

			  <button type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
			  </button>

			</div>

		</div>

	</div>

	<div class="collapse" id="search-collapse">

		<form class="form">

			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-code">Item Code</label>
						<input ng-model="search.itemCode" type="text" class="form-control" id="item-code" placeholder="Item012">
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-name">Item Name</label>
						<input ng-model="search.itemName" type="text" class="form-control" id="item-name" placeholder="Turkey">
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-type">Item Type</label>
						<select ng-model="search.itemType" class="form-control" id="item-type">
							<option ng-repeat="item in items | unique: 'itemTypeId'">{{ item.itemTypeName }}</option>
						</select>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-onboard-name">Onboard Name</label>
						<input ng-model="search.onBoardName" type="text" class="form-control" id="item-onboard-name" placeholder="Turkey Delight">
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-sales-category">Sales Category</label>
						<select ng-model="search.categoryName" class="form-control" id="item-sales-category">
							<option ng-repeat="item in items | unique: 'salesCategoryId'">{{ item.categoryName }}</option>
						</select>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-effective-start">Effective From</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							</div>
							<input ng-model="search.effectiveStartDate" type="date" class="form-control" id="item-effective-start">
						</div>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="form-group">
						<label for="item-effective-end">Effective To</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							</div>
							<input ng-model="search.effectiveEndDate" type="date" class="form-control" id="item-effective-end">
						</div>
					</div>

				</div>

			</div>

			<button type="submit" class="btn btn">Search</button>

		</form>

	</div>

</div>

<div class="table table-bordered table-responsive table-hover">

	<table class="table table-bordered">

		<thead>

			<tr>
				<th>
					<abbr title="Stock Owner">S.O.</abbr>
				</th>
				<th>
					<abbr title="Stock Owner Reference Number">Ref. #</abbr>
				</th>
				<th>Code</th>
				<th>Name</th>
				<th>Type</th>
				<th>Onboard Name</th>
				<th>Sales Category</th>
				<th>Effective From</th>
				<th>Effective To</th>
				<th></th>
			</tr>

		</thead>

		<tbody>

			<tr ng-repeat="item in items | filter: { itemCode: search.itemCode, itemName: search.itemName, itemTypeName: search.itemType, onBoardName: search.onBoardName, categoryName: search.categoryName, startDate: search.effectiveStartDate, endDate:search.effectiveEndDate }" ng-show="$index<listSize">

				<th scope="row">
					<span class="label label-primary">
						<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
					</span>
				</th>
				<td>{{ item.stockOwnerCode }}</td>
				<td>{{ item.itemCode }}</td>
				<td>{{ item.itemName }}</td>
				<td>{{ item.itemTypeName }}</td>
				<td>{{ item.onBoardName }}</td>
				<td>{{ item.categoryName }}</td>
				<td>{{ item.startDate | date: 'MM/dd/yyyy' }}</td>
				<td>{{ item.endDate | date: 'MM/dd/yyyy' }}</td>
				<td>
					<button class="btn btn-sm">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
				</td>

			</tr>

		</tbody>

	</table>

</div>

<div class="list-footer">

	<div class="row">

		<div class="col-xs-12 col-sm-6">

			Show

			<select class="form-control" ng-model="listSize">
				<option>10</option>
				<option>25</option>
				<option>50</option>
				<option>100</option>
			</select>

			Items per Page

		</div>

		<div class="col-xs-12 col-sm-6 text-right">

			<!--<p class="hidden displaying">Showing {{ pagination.rangeStart }}} - {{ pagination.rangeEnd }}} of {{ pagination.pageCount }}</p> -->

			<nav>
				<ul class="pagination">

					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>

					<li ng-repeat="page in pagination.pages">
						<a href="#">{{ page }}</a>
					</li>

					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>

				</ul>
			</nav>

		</div>


	</div>

</div>
