<form name="itemImportForm" class="form edit-form">
  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/item-list" class="btn">Back</a>
        <button ng-show="menuEditForm.$dirty" class="btn btn-success" ng-click="submitForm()">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>

      </div>
    </div>
    <p>Drag and drop Items from Stock Owner to add them to your items</p>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h3>Stock Owner Items</h3>

      <div class="form-group col-xs-10">
        <label class="sr-only" for="stockOwnerId">Stock Owner</label>
        <select required
                name="stockOwnerId"
                class="form-control"
                id="stockOwnerId">
          <option>Select Stock Owner</option>
        </select>
      </div>
      <div class="form-group col-xs-2">
        <button class="btn btn-default">Import All</button>
      </div>
    </div>

    <div class="col-xs-6">
      <h3>Airline Items</h3>
    </div>
  </div>

</form>
