<ng-form name="form" class="form edit-form">

	<edit-form-header-directive></edit-form-header-directive>

	<div class="form-nav btn-group" role="group" aria-label="...">

	 	<a ng-click="scrollTo('item-information')" type="button" class="btn btn-default">
	  	Item Information
	  	</a>

	  	<a ng-click="scrollTo('measurements')" type="button" class="btn btn-default">
	  	Measurements
	  	</a>

	 	<a ng-click="scrollTo('price-and-tax')"  type="button" class="btn btn-default">
	  	Price & Tax
	  	</a>

	</div>

	<h3 id="item-information">Item Information</h3>

	<div class="row">

		<div class="col-xs-12 col-sm-6">

			<input-text label="Retail Item Code" name="itemCode" required="true" pattern="regexp.word" placeholder="Item123"></input-text>

			<input-text label="Retail Item Name" name="itemName" required="true"  pattern="regexp.word" placeholder="My Item"></input-text>

			<input-text label="POS Display Name" name="onBoardName" required="true" pattern="regexp.word" placeholder="My Awesome Item"></input-text>

			<input-text label="Item Description" name="desc" required="true" pattern="regexp.word" placeholder="A simple description..."></input-text>

			<input-text label="Keywords" name="keywords" pattern="regexp.word" placeholder="awesome cool new"></input-text>

			<input-text label="Unique Selling Point" name="sellingPoint" pattern="regexp.word" placeholder="Something cool!"></input-text>

			<div class="form-group">

				<input ng-model="formData.isPrintReceipt" type="checkbox" />
				<label>Print Receipt</label>

			</div>

			<div class="row" >

				<div class="col-xs-12 col-sm-6">

					<div class="form-group" ng-class="{ 'has-error' : form[startDate].$dirty && !form[startDate].$valid || displayError && !form[startDate].$valid , 'has-success' : form[startDate].$dirty && form[startDate].$valid }">
						<label>Effective From</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							</div>
							<input name="startDate" required ng-model="formData.startDate" type="text" class="form-control" value="20150515" />
						</div>
					</div>

				</div>

				<div class="col-xs-12 col-sm-6">

					<div class="form-group"  ng-class="{ 'has-error' : form[endDate].$dirty && !form[endDate].$valid || displayError && !form[endDate].$valid , 'has-success' : form[endDate].$dirty && form[endDate].$valid }">
						<label>Effective To</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							</div>
							<input name="endDate "required ng-model="formData.endDate" type="text" class="form-control" value="20150715" />
						</div>
					</div>

				</div>

			</div>

			<div class="form-group" ng-class="{ 'has-error' : form[categoryId].$dirty && !form[categoryId].$valid || displayError && !form[categoryId].$valid , 'has-success' : form[categoryId].$dirty && form[categoryId].$valid }" >
				<label>Sales Category</label>
				<select name="categoryId" required ng-model="formData.categoryId" class="form-control">
						<option ng-repeat="category in salesCategories" value="{{ category.id }}">{{ category.name }}</option>
				</select>
			</div>

			<!--<input-select label="Item Type" name="itemTypeId" required="true" options="{{ itemTypeList }}"></input-select>-->

			<div class="form-group" ng-class="{ 'has-error' : form[itemTypeId].$dirty && !form[itemTypeId].$valid || displayError && !form[itemTypeId].$valid , 'has-success' : form[itemTypeId].$dirty && form[itemTypeId].$valid }">
				<label>Item Type</label>
				<select name="itemTypeId" required ng-model="formData.itemTypeId" class="form-control">
					<option ng-repeat="type in itemTypes" value="{{ type.id }}">{{ type.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Item Characteristics</label>
				<select multiple ng-model="formData.characteristics" class="form-control">
					<option ng-repeat="character in characteristics" value="{{ character.id }}">{{ character.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Item Substitutions</label>
				<select multiple ng-model="formData.substitutions" class="form-control">
					<option ng-repeat="item in items" value="{{ item.id }}">{{ item.itemName }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Item Recommendations</label>
				<select multiple ng-model="formData.recommendations" class="form-control">
					<option ng-repeat="item in items" value="{{ item.id }}">{{ item.itemName }}</option>
				</select>
			</div>

		</div>

		<div class="col-xs-12 col-sm-6">

			<div class="form-group">
				<label>Item Tags</label>
				<select multiple ng-model="formData.tags" class="form-control">
					<option ng-repeat="tag in tags" value="{{ tag.id }}">{{ tag.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Allergen</label>
				<select multiple ng-model="formData.allergens" class="form-control">
					<option ng-repeat="allergen in allergens" value="{{ allergen.allergenId }}">{{ allergen.name }}</option>
				</select>
			</div>

			<image-upload></image-upload>

			<input-text label="Global Trade Item Number (GTIN)" name="GTIN" pattern="regexp.word" placeholder="1234"></input-text>

			<input-text label="Mfg. Part Number" name="mfgPartNumber" pattern="regexp.word" placeholder="1234"></input-text>

			<input-text label="Stock Keeping Unit (SKU)" name="skuNumber" pattern="regexp.word" placeholder="1234"></input-text>

			<tabset justified="true">

				<tab heading="QR Create">

					<qr-create></qr-create>

				</tab>

				<tab heading="QR Upload">

					<qr-upload></qr-upload>

				</tab>

			</tabset>

			<input-text label="QR Image URL" name="qrCodeImgUrl" placeholder="1234" ng-model="files"></input-text>

		</div>

	</div>

	<h3 id="measurements">Measurements</h3>

	<div class="row">

		<div class="col-xs-12 col-sm-6">

			<div class="form-inline">

				<label>Item Weight</label>
				<input ng-model="formData.weight" type="text" class="form-control" placeholder="10.00">

				<select ng-model="formData.weightType" class="form-control">
					<option ng-repeat="weight in weightUnits" value="{{ weight.id }}">{{ weight.unitCode }}</option>
				</select>

			</div>

			<div class="form-inline">

				<label>Item Volume</label>
				<input ng-model="formData.volume" type="text" class="form-control" placeholder="10.00">

				<select ng-model="formData.volumeType" class="form-control">
					<option ng-repeat="volume in volumeUnits" value="{{ volume.id }}">{{ volume.unitCode }}</option>
				</select>

			</div>

		</div>

		<div class="col-xs-12 col-sm-6">

			<div class="form-inline">

				<label>Measurements</label>
				<input ng-model="formData.length" type="text" class="form-control" placeholder="Length"> x
				<input ng-model="formData.width" type="text" class="form-control" placeholder="Width"> x
				<input ng-model="formData.height" type="text" class="form-control" placeholder="Height">

				<select ng-model="formData.dimensionType" class="form-control">
					<option ng-repeat="dimension in dimensionUnits" value="{{ dimension.id }}">{{ dimension.unitCode }}</option>
				</select>

			</div>

		</div>

	</div>

	<h3 id="price-and-tax">Price & Tax</h3>

	<button type="button" class="btn btn-primary" ng-click="addPriceTypeBlock()">
     <i class="fa fa-plus"></i> Add Additional Price Type
  </button>

	<div id="price-type-container">

		<div ng-repeat="(key,itemPrice) in formData.prices track by $index">
			<input-price-type> </input-price-type>
		</div>

	</div>

	<!-- Tax Type -->
	<div class="row">

		<div class="col-xs-12 col-sm-6">

			<div class="form-group">
			<label>Tax Type</label>

			<select ng-model="formData.taxes.companyTaxId" class="form-control">
				<option ng-repeat="type in taxTypes" value="{{ type.id }}">{{ type.taxTypeCode }} - {{ type.description}} </option>
			</select>
			</div>

		</div>

		<div class="col-xs-12 col-sm-6">

			<div class="form-group">
			<label>Applied Tax Type</label>

			<select ng-model="formData.taxes.itemTaxType" class="form-control">
				<option value="1">Gross</option>
				<option value="2">Net</option>
			</select>
			</div>

		</div>

	</div>

</ng-form>
