<div class="module-container">

  <div class="edit-controls">
    <div class="row">

      <div class="col-xs-6">
        <h2 class="view-name"> {{ viewName }} </h2>
      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">

          <button class="btn btn-warning" ng-click="toggleReview()" ng-hide="hideReview">
            <span class="fa fa-file-text-o" aria-hidden="true"></span>
            <span class="hidden-xs">Review</span>
          </button>

          <button class="btn btn-primary" ng-click="save(false)" ng-show="showSaveButton()">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs">Save</span>
          </button>

          <button type="button" class="btn btn-default" ng-click="cancel()">
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="hidden-xs">Cancel</span>
          </button>

          <button class="btn btn-success" ng-click="save(true)" ng-show="showSaveButton()">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs">Submit</span>
          </button>

        </fieldset>

      </div>

    </div>
  </div>

  <form class="form edit-form delivery-note-form" name="form">
    <error-dialog></error-dialog>
    <form-error-dialog></form-error-dialog>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group" ng-class="formErrorClass('lmp-station')">
              <label for="lmp-station">LMP Station*</label>
              <select class="form-control"
                      ng-model="deliveryNote.catererStationId"
                      ng-disabled="isLMPStationIsDisabled()"
                      ng-show="catererStationList.length"
                      id="lmp-station"
                      name="LMP Station"
                      required>
                <option selected="selected" value disabled>Select Catering Station</option>
                <option ng-selected="station.id==deliveryNote.catererStationId"
                        ng-repeat="station in catererStationList | orderBy:'name'" value="{{ station.id }}">
                  {{ station.name }} - {{ station.code }}
                </option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="panel-body">

        <div class="row" ng-hide="state == 'review'">

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" ng-class="formErrorClass('purchase-order-number')">
              <label for="purchase-order-number">Purchase Order Number*</label>
              <input ng-model="deliveryNote.purchaseOrderNumber" type="text"
                     class="form-control" id="purchase-order-number"
                     name="Purchase Order Number"
                     required custom-validity custom-pattern="alphanumeric"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" ng-class="formErrorClass('delivery-note-number')">
              <label for="delivery-note-number">Delivery Note Number*</label>
              <input ng-model="deliveryNote.deliveryNoteNumber" type="text"
                     class="form-control" id="delivery-note-number"
                     name="Delivery Note Number"
                     required custom-validity custom-pattern="alphanumeric"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" ng-class="formErrorClass('Delivery Date', true)">
              <date-picker
                disable-date-range="true"
                start-date-model="deliveryNote.deliveryDate"
                is-search-field="true"
                disable-start-date="readOnly"
                required="required"
                label-from="Delivery Date*"
                name-from="Delivery Date">
              </date-picker>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2" ng-hide="hideCreatedByMeta()">
            <div class="form-group">
              <label>Status</label>
              <input type="text" class="form-control" id="delivery-status"
                ng-value="deliveryNote.isAccepted ? 'Submitted' : 'Saved'"
                disabled readonly>
            </div>
          </div>

        </div>

        <div class="row" ng-hide="hideCreatedByMeta()">

          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Created By</label>
              <input ng-model="deliveryNote.createdBy" type="text" class="form-control" readonly>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Created Date/Time</label>
              <input ng-model="deliveryNote.createdOn" type="text" class="form-control" readonly>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Updated By</label>
              <input ng-model="deliveryNote.updatedBy" type="text" class="form-control" readonly>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Updated Date/Time</label>
              <input ng-model="deliveryNote.updatedOn" type="text" class="form-control" readonly>
            </div>
          </div>

        </div>

        <div class="row" ng-show="showFilterByForm()">
          <div class="col-xs-12 col-sm-1 col-md-1">
            <label>Filter by:</label>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="form-group">
              <label for="filter-item-code">Item Code</label>
              <input ng-model="filterInput.itemCode" type="text" class="form-control" id="filter-item-code" placeholder="Search">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="form-group">
              <label for="filter-item-name">Item Name</label>
              <input ng-model="filterInput.itemName" type="text" class="form-control" id="filter-item-name" placeholder="Search">
            </div>
          </div>
          <div class="col-xs-1">
            <label class="invisible hidden-xs">Clear</label>
            <button class="btn btn-default" type="button" ng-click="clearFilter()" ng-show="showFilterByForm()">Clear</button>
          </div>
        </div>

        <div class="well" ng-repeat="item in deliveryNote.items | filter:filterInput track by $index">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="form-group">
                <label>Item Code</label>
                <input ng-model="item.itemCode"
                       type="text"
                       class="form-control"
                       ng-hide="canEditItem(item)"
                       name="itemCode[{{item.masterItemId}}]"
                       readonly>
                <select class="form-control" ng-change="changeItem(masterItemSelected[masterItem.id], $index)"
                        ng-model="masterItemSelected[masterItem.id]"
                        placeholder="item.itemCode"
                        ng-show="canEditItem(item)"
                        ng-options="masterItem as masterItem.itemCode for masterItem in masterItemsAllowedInSelect">
                  <option value=''>{{item.itemCode}}</option>
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="form-group">
                <label>Item Name*</label>
                <input ng-model="item.itemName"
                       type="text"
                       class="form-control"
                       ng-hide="canEditItem(item)"
                       name="itemName[{{item.masterItemId}}]"
                       readonly>
                <select class="form-control" ng-change="changeItem(masterItemSelected[masterItem.id], $index)"
                        ng-model="masterItemSelected[masterItem.id]"
                        placeholder="item.itemName"
                        ng-show="canEditItem(item)"
                        ng-options="masterItem as masterItem.itemName for masterItem in masterItemsAllowedInSelect">
                  <option value=''>{{item.itemName}}</option>
                </select>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label for="expected-qty-{{ item.masterItemId }}">Expected</label>
                <input ng-model="item.expectedQuantity" type="number" min="0" step="1" class="form-control"
                       id="expected-qty-{{ item.masterItemId }}"
                       ng-readonly="readOnly">
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group" ng-class="formErrorClass('delivered-qty-' + item.masterItemId)">
                <label for="delivered-qty-{{ item.masterItemId }}">Delivered*</label>
                <input ng-model="item.deliveredQuantity" type="number" min="0" step="1" class="form-control"
                       id="delivered-qty-{{ item.masterItemId }}"
                       ng-readonly="readOnly" ng-required="item.expectedQuantity"
                       name="Delivered ( {{ item.itemCode }} - {{ item.itemName }} )">
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label for="ullage-qty-{{ item.masterItemId }}">Ullage</label>
                <input ng-model="item.ullageQuantity" type="number" min="0" step="1" class="form-control"
                       id="ullage-qty-{{ item.masterItemId }}" ng-readonly="readOnly"
                       ng-disabled="!item.deliveredQuantity"
                       ng-change="ullageQuantityChanged(item)">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="form-group" ng-class="formErrorClass('ullage-reason-' + item.masterItemId)">
                <label>Ullage Reason<span ng-show="item.ullageQuantity">*</span></label>
                <select class="form-control"
                        ng-model="item.ullageReason"
                        name="Ullage Reason ( {{ item.itemCode }} - {{ item.itemName }} )"
                        id="ullage-reason-{{ item.masterItemId }}"
                        ng-selected="item.ullageReason"
                        ng-options="ullageReason.id + '' as ullageReason.companyReasonCodeName for ullageReason in ullageReasons"
                        ng-disabled="ullageReasonDisabled(item)"
                        ng-required="item.ullageQuantity">
                </select>

              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label for="booked-qty-{{ item.masterItemId }}">Booked</label>
                <input ng-value="calculateBooked(item)"
                       type="number" class="form-control"
                       id="booked-qty-{{ item.masterItemId }}"
                       readonly>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-1 text-right" ng-show="canRemoveItem(item)">
              <button type="button" class="btn btn-sm btn-danger" ng-click="removeItemByIndex($index, item)">
                <i class="fa fa-close"></i>
              </button>
            </div>

          </div>
        </div>

        <div class="well" ng-repeat="newItem in newItems track by $index">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="form-group">
                <label>Item Code</label>
                <select class="form-control" ng-change="addItem(masterItemSelected[masterItem.id], $index)"
                        ng-model="masterItemSelected[masterItem.id]"
                        ng-options="masterItem as masterItem.itemCode for masterItem in masterItemsAllowedInSelect"></select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="form-group">
                <label>Item Name*</label>
                <select class="form-control" ng-change="addItem(masterItemSelected[masterItem.id], $index)"
                        ng-model="masterItemSelected[masterItem.id]"
                        ng-options="masterItem as masterItem.itemName for masterItem in masterItemsAllowedInSelect"></select>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label>Expected</label>
                <input type="number" class="form-control" disabled>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label>Delivered*</label>
                <input type="number" class="form-control" disabled>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label>Ullage</label>
                <input type="number" class="form-control" disabled>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="form-group">
                <label>Ullage Reason</label>
                <select class="form-control" disabled>
                </select>

              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class="form-group">
                <label>Booked</label>
                <input type="number" class="form-control" disabled>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-1 text-right">
              <button type="button" class="btn btn-sm btn-danger" ng-click="removeNewItemRow($index)">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row" ng-hide="readOnly">
          <div class="col-xs-8 col-md-9"></div>
          <div class="col-xs-4 col-md-3 text-right">
            <div class="input-group">
              <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="addItems()"><i class="fa fa-plus"></i> Add Items</button>
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Stock Manager"></dynamic-left-nav>
