<div class="container">
  <form-error-dialog></form-error-dialog>
  <form class="form-horizontal" ng-submit="login()" name="loginForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1><strong>TS5</strong> Login</h1>
        </div>
        <div class="modal-body">
          <h3>Login to our site</h3>

          <p>Enter your username and password to log in:</p>

          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>

            <div class="col-sm-10">
              <input custom-validity custom-pattern="word" type="text" class="form-control" id="username" placeholder="username" ng-model="credentials.username" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
              <input custom-validity custom-pattern="alpha"  type="password" class="form-control" id="password" placeholder="Password"  ng-model="credentials.password" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" /> Remember me
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Log in!</button>
        </div>
      </div>
    </div>
  </form>
</div>
