<div class="container module-container">

  <div class="list-controls">

    <div class="row item-list-row">

      <div class="col-xs-6">
        <h2 class="view-name">Manage Goods Received</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a ng-show="catererStationId" ng-href="/#/lmp-delivery-note/create/{{catererStationId}}" class="btn btn-primary"> + <span class="hidden-xs">Create Delivery Note</span></a>
        <button ng-show="catererStationId" class="btn btn-default"data-toggle="collapse" data-target="#search-collapse"
          aria-expanded="false" aria-controls="search-collapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>
      </div>
    </div>

  </div>

  <div ng-show="catererStationId" class="panel panel-default collapse no-transition"
    id="search-collapse">
    <form name="menuSearchForm" ng-submit="searchPostTripData()">
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label>Purchase Order Number</label>
              <input type="text" class="form-control" ng-model="search.purchaseOrderNumber" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label>Delivery Note Number</label>
              <input type="text" class="form-control" ng-model="search.deliveryNoteNumber" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <date-picker-field name="EffectiveFrom" label="Effective From"
              ng-model="dateRange.deliveryStartDate"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <date-picker-field  name="EffectiveTo" label="Effective To"
              ng-model="dateRange.deliveryEndDate"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Status</label>
            <select class="form-control" ng-model="search.isAccepted">
              <option value="0">Saved</option>
              <option value="1">Submitted</option>
            </select>
          </div>

        </div>

      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearSearchFilters()">Clear</button>
        <button type="submit" class="btn btn-primary" ng-click="searchRecords()">Search</button>
      </div>
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Select an LMP Station to View Delivery Notes*</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
        <select class="form-control" ng-model="catererStationId">
          <option selected="selected" value disabled>Select Catering Station</option>
          <option ng-repeat="station in stationsList | orderBy:'name'" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
        </select>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!deliveryNotesList.length && userSelectedStation" class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><i class="fa fa-exclamation-circle"></i> No Delivery Notes Found</div>
    </div>
    <div class="panel-body">
      <p>The station and/or the search criteria you selected has no delivery notes.
        <a ng-href="/#/lmp-delivery-note/create">Create a new delivery note</a> or update your search criteria
    </div>
  </div>

  <table ng-show="catererStationId && deliveryNotesList.length > 0" class="table table-responsive table-bordered table-hover ng-scope">
    <thead>
      <tr>
        <th>Purchase Order Number</th>
        <th>Delivery Note Number</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Updated By</th>
        <th>Updated On</th>
        <th class="hide-from-print">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deliveryNote in deliveryNotesList">
        <td>{{ deliveryNote.purchaseOrderNumber }}</td>
        <td>{{ deliveryNote.deliveryNoteNumber }}</td>
        <td>{{ deliveryNote.deliveryDate }}</td>
        <td>
          <span ng-show="{{ !deliveryNote.isAccepted }}">Saved</span>
          <span ng-show="{{ deliveryNote.isAccepted }}">Submitted</span>
        </td>
        <td>{{ deliveryNote.updatedBy }}</td>
        <td>{{ deliveryNote.updatedOn }}</td>
        <td class="hide-from-print">
          <a class="btn btn-info btn-xs" ng-href="/#/lmp-delivery-note/view/{{deliveryNote.id}}" tabindex="0">
            <i class="fa fa-file"></i>
          </a>
          <a class="btn btn-primary btn-xs" ng-hide="deliveryNote.isAccepted" ng-href="/#/lmp-delivery-note/edit/{{deliveryNote.id}}"  tabindex="0" aria-disabled="true">
            <i class="fa fa-pencil"></i>
          </a>
          <button class="btn btn-danger btn-xs" ng-hide="deliveryNote.isAccepted" ng-click="deleteRecordDialog(deliveryNote.id)" tabindex="0" aria-disabled="true">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>

    </tbody>

  </table>

</div>

<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>
<delete-record-dialog></delete-record-dialog>
<dynamic-left-nav></dynamic-left-nav>
