<div class="fluid-container module-container">

  <div class="list-controls">

    <div class="row item-list-row">

      <div class="col-xs-6">
        <h2 class="view-name">Manage Goods Received</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a ng-href="/#/delivery-note" class="btn btn-primary"> + <span class="hidden-xs">Create Delivery Note</span></a>
        <button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false"
                aria-controls="search-collapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>
      </div>
    </div>

  </div>

  <div class="panel panel-default collapse no-transition" id="search-collapse">
    <form name="menuSearchForm" ng-submit="searchPostTripData()">
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="deliveryNoteNumber">Delivery Note Number</label>
              <select class="form-control" id="delivery-note-number" ng-model="deliveryNoteNumber" ng-change="deliveryNoteNumberInfo()" ng-disabled="readOnly">
                <option></option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="purchaseOrderNumber">Purchase Order Number</label>
              <select class="form-control" id="purchase-order-number" ng-model="purchaseOrderNumber" ng-change="purchaseOrderNumberInfo()" ng-disabled="readOnly">
                <option></option>
              </select>
            </div>
          </div>

          <date-picker class="col-xs-12 col-sm-4"
            element-class="col-xs-12 col-sm-6"
            start-date-model="dateRange.startDate"
            end-date-model="dateRange.endDate"
            is-search-field="true"
            label-from="Effective From"
            label-to="Effective To">
          </date-picker>

          <div class="col-xs-12 col-sm-2">
            <label>Status</label>
            <select class="form-control" id="delivery-status" ng-model="deliveryStatus" ng-change="deliveryStatusInfo()" ng-disabled="readOnly">
              <option></option>
            </select>
          </div>

        </div>

      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Select an LMP Station to View Delivery Notes*</div>
    </div>
    <div class="panel-body">
      <select class="form-control" ng-model="stationId">
        <option ng-repeat="station in stationsList" value="station.id">{{ station.code }}</option>
      </select>
    </div>
  </div>

    <table ng-show="stationId" class="table table-responsive table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Delivery Note Number</th>
          <th>Purchase Order Number</th>
          <th>Delivery Date</th>
          <th>Status</th>
          <th>Created By</th>
          <th>Updated By</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngRepeat: menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName} -->
        <tr>
          <td>1A2B3C4D</td>
          <td>2A3B4C5D</td>
          <td>2/03</td>
          <td>Saved</td>
          <td>2/03 - 12:34pm</td>
          <td>2/05 - 12:34pm</td>
          <td>

          <!-- TODO: WHEN STATUS=SUBMITTED (ABOVE) EDIT & DELETE (BELOW) ARE REMOVED -->
            <button class="btn btn-info btn-xs" ng-click="viewPostTrip(menu)" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="editPostTrip(menu)" ng-disabled="isMenuEditable(menu)" tabindex="0" aria-disabled="true">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="deletePostTrip(menu)" ng-disabled="isMenuReadOnly(menu)" tabindex="0" aria-disabled="true">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

      </tbody>

    </table>

    <div class="list-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          Show
          <select class="form-control" ng-model="itemsPerPage">
            <option ng-selected="itemsPerPage===value" ng-repeat="value in [10,25,50,100]" value="{{ value }}">{{ value }}</option>
          </select>
          Items per Page

        </div>

        <div class="col-xs-12 col-sm-6 text-right">
          <pagination total-items="itemsListCount" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>

</div>

<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>
<dynamic-left-nav></dynamic-left-nav>
