
<!-- Manual Epos Angular Mockup -->

<!-- Manual Epos - Top Header -->
<div class="top-header manual-epos">
  <div class="container">
    <div class="edit-controls">

      <div class="row">

        <div class="col-xs-6 col-sm-3">
          <h4 class="view-name"> {{ viewName }} </h4>
        </div>

        <div class="col-xs-6 col-sm-9 text-left">
        <div class="manual-epos-panel-option" ng-repeat="(key, panel) in panelNames track by $index">
          <div class="row">
            <div class="col-xs-4">
              <input bs-switch
               ng-model="panel.show"
               type="checkbox"
               switch-size="small"
               switch-on-color="info"
               switch-on-text="Yes"
               switch-off-text="No"/>
             </div>
             <div class="col-xs-8 epos-panel-option-text">{{panel.name}}</div>
          </div>
        </div>

        <div class="manual-epos-panel-option">
          <div class="row">
            <div class="col-xs-4">
              <input bs-switch
               ng-model="showAll"
               type="checkbox"
               switch-size="small"
               switch-on-color="info"
               switch-on-text="Yes"
               switch-off-text="No"/>
            </div>
            <div class="col-xs-8 epos-panel-option-text"><i><b>Show All Forms</b></i></div>
          </div>
       </div>
      </div>

    </div>

    <i>Select form areas to hide / show</i>
    <br>
    <i><i class="fa fa-check-circle"></i> Indicates a verified section</i>

    </div>
  </div>
</div>
<!-- End - Manual Epos - Top Header -->

<!-- Container -->
<div class="manual-epos-container container">

  <!-- Promotions Panel -->
  <div class="panel panel-default" ng-show="shouldShowPanel('Promotions') || showAll">
    <div class="panel-heading header-blue"><b>Promotions</b> <i class="fa fa-check-circle"></i></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-4 col-sm-2">
          <b>Operating Currency</b>
        </div>
        <div class="form-group">
          <div class="col-xs-4 col-sm-2">
            <ui-select ng-model="currencyObj.currency"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="min-width: 200px;">
              <ui-select-match placeholder="Select Currency ...">
                {{$select.selected.code}}
              </ui-select-match>
              <ui-select-choices repeat="currency in currencyList">
                <div ng-bind-html="currency.code | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="panel-divider"></div>

      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="input-group">
            <span class="input-group-addon" id="promotions-filter">Filter</span>
            <input type="text"
              class="form-control"
              ng-model="filter.promotions"
              placeholder="Select promotions to filter by ..."
              aria-describedby="promotions-filter"/>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">

          <tr class="active">
            <th>Promotion</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Promotion Value (CUR)</th>
            <th>Promotion Value (AUD)</th>
          </tr>

          <!-- Start Promotion loop -->
          <tr ng-repeat="promotion in companyPromotionsList | filter:{promotionName: filter.promotions} track by $index">

            <td>
              <ui-select ng-model="promotion"
                 theme="bootstrap"
                 ng-disabled="true"
                 reset-search-input="false">
                <ui-select-match placeholder="Select promotions to filter by ...">
                  {{$select.selected.promotionName}}
                </ui-select-match>
                <ui-select-choices repeat="promotion in promotionsList">
                  <div ng-bind-html="promotion.promotionName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </td>

            <td>
              <div class="input-group" style="max-width:300px">
                <span class="input-group-addon" id="currency">{{currencyObj.currency.code}}</span>
                <input type="number"
                  class="form-control"
                  ng-model="promotion.price"
                  placeholder="12345678.91"
                  aria-describedby="currency"
                  style="min-width:100px"/>
              </div>
            </td>

            <td>
              <input type="number"
                class="form-control"
                ng-model="promotion.quantity"
                placeholder="12345"
                style="width: 100px"/>
            </td>

            <td>
              <input type="number"
                class="form-control"
                ng-model="promotion.currencyValue"
                disabled="true"/>
            </td>

            <td>
              <input type="number"
                class="form-control"
                ng-model="promotion.audValue"
                disabled="true"/>
            </td>

          </tr>

          <tr ng-show="companyPromotionsList.length === 0">
            <td colspan="8" class="text-center">
              <span class="fa fa-exclamation-circle text-danger"></span>
              We're sorry, there are no {{promotion.name}} that match the given criteria
            </td>
          </tr>

        </table>
      </div>

      <div class="row">
        <div class="col-sm-offset-9"></div>
          <div class="col-xs-12 col-sm-1 text-right"><b>Sub Total</b></div>
          <div class="col-xs-12 col-sm-2">
            <input class="form-control" type="number" value="{{23.75*3}}" disabled="true"/>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button class="btn btn-success" ng-click="">Verify</button>
          </div>
        </div>
      </div>

    </div>
</div>
<!-- End Promotions Panel -->
