<div class="container container-fluid module-container">

  <div class="top-header">
    <div class="container">
      <br>

      <div class="row">
        <div class="form-nav btn-group-justified item-top" role="group" aria-label="..."
             ng-init="activeBtn = 'item-information'">

          <a ng-click="toggleActiveView(true)" ng-class="{'active': isCreateViewActive }"
             type="button" class="btn btn-default">
            Create New ECS Relationship
          </a>
          <a ng-hide="true" class="btn btn-default"></a>
          <a ng-click="toggleActiveView(false)" ng-class="{'active': !isCreateViewActive }" type="button"
             class="btn btn-default btn-remove-left-border">
            View Existing ECS Relationships
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="manualECS-container" id="createView" ng-show="isCreateViewActive">

    <div class="modal fade" id="confirmRelationshipModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Confirm ECS Relationship</h3>
          </div>
          <div class="modal-body">
            <p>You are creating a relationship between a Portal dispatched
              Store and ECS (ePOS Created Store).
              This will tie all transactions from the ECS to the Portal instance.</p>
            <br>
            <table class="table table-bordered table-hover">
              <tr>
                <td>Store Type</td>
                <th>Store Number</th>
                <th>Schedule Date</th>
                <th>Station</th>
                <th>Store Instance</th>
              </tr>
              <tr>
                <td>Portal Store</td>
                <td>{{ selectedPortalRecord.storeNumber }}</td>
                <td>{{ selectedPortalRecord.scheduleDate }}</td>
                <td>{{ selectedPortalRecord.stationCode }}</td>
                <td>{{ selectedPortalRecord.id }}</td>
              </tr>
              <tr ng-repeat="selectedEposRecord in getAllCarrierInstancesToSave()">
                <td>ECS</td>
                <td>{{ selectedEposRecord.storeNumber }}</td>
                <td>{{ selectedEposRecord.instanceDate }}</td>
                <td>{{ selectedEposRecord.departureStation }}</td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer text-right">
            <button type="button" class="btn btn-default" ng-click="dismissSaveConfirmation()">Cancel</button>
            <button type="button" class="btn btn-success" ng-show="isCRUD" ng-click="saveRelationship()"><span class="fa fa-check"></span> Confirm</button>
          </div>
        </div>
      </div>
    </div>


    <!-- form name="manualECSForm" class="form"-->
      <error-dialog form-object="manualECSForm" error-response="errorResponse" display="displayError"></error-dialog>


      <div class="row">
        <div class="col-xs-6">
          <h3>Portal Store Instances</h3>

          <div class="panel panel-default">
            <form name="portalSInstanceForm" ng-submit="searchPortalInstances()">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Store Number</label>
                    <input class="form-control"
                           ng-model="portalSearch.storeNumber"
                           placeholder="Enter Store Number">
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                  <date-picker
                    class="form-group"
                    name="startDate"
	                start-date-model="portalSearch.scheduleDate"
	                disable-date-range="true"
	                is-search-field="true"
	                disable-start-date="readOnly"
	                label-from="Schedule Date">
	              </date-picker>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Catering Station</label>
                    <ui-select ng-model="portalSearch.station"
                               theme="bootstrap"
                               name="cateringStation">
                      <ui-select-match placeholder="Select a station" allow-clear>{{ $select.selected.stationDescription}}</ui-select-match>
                      <ui-select-choices repeat="station in cateringStationList | filter: {stationDescription:$select.search}">
                        <div ng-bind-html="station.stationDescription | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Store Instance</label>
                    <input class="form-control"
                           ng-model="portalSearch.storeInstance"
                           placeholder="Enter Store Instance Number">
                  </div>
                </div>
              </div>          
            </div>
            <div class="panel-footer text-right">
              <button type="button" class="btn btn-default" ng-click="clearPortalSearch()" id="clearPortalInstancesId">Clear</button>
              <button type="submit" class="btn btn-primary" id="searchPortalInstancesId">Search</button>
            </div>
          </form>
          </div>

        </div>
        <div class="col-xs-6">
          <h3>ePOS Carrier Instances</h3>

          <div class="panel panel-default">
            <form name="ePosCarrierInstanceForm" ng-submit="searchEposInstances()">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Store Number</label>
                    <input class="form-control"
                           ng-model="eposSearch.storeNumber"
                           placeholder="Enter Store Number">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <date-picker
                    class="form-group"
                    name="startDate"
	                start-date-model="eposSearch.scheduleDate"
	                disable-date-range="true"
	                is-search-field="true"
	                label-from="Schedule Date">
	              </date-picker>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>First Departure Station</label>
                    <ui-select ng-model="eposSearch.station"
                               theme="bootstrap"
                               name="cateringStation">
                      <ui-select-match placeholder="Select a station" allow-clear>{{ $select.selected.stationDescription}}</ui-select-match>
                      <ui-select-choices repeat="station in companyStationList | filter: {stationDescription:$select.search}">
                        <div ng-bind-html="station.stationDescription | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
              <div class="panel-footer text-right">
                <button type="button" class="btn btn-default" ng-click="clearEposSearch()" id="clearEposInstancesId">Clear</button>
                <button type="submit" class="btn btn-primary" id="searchEposInstancesId">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-6">
          <table infinite-scroll="loadPortalInstances()" class="table table-hover table-responsive ng-scope" ng-show="storeInstances.length">
            <thead>
            <tr>
              <th>Store Number</th>
              <th>Schedule Number</th>
              <th>Schedule Date</th>
              <th>Catering Station</th>
              <!-- TODO: add 'show/hide column' option with these fields-->
              <!--<th>Store Instance</th>-->
              <th>Status</th>
              <th ng-show="isCRUD" class="col-xs-1">Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="storeInstance in storeInstances | orderBy: ['storeNumber', '-scheduleDate']" ng-class="getClassForAttribute('portal', 'row', storeInstance)">
              <td>{{ storeInstance.storeNumber }}</td>
              <td>{{ storeInstance.scheduleNumber }}</td>
              <td>{{ storeInstance.scheduleDate }}</td>
              <td>{{ storeInstance.stationCode }}</td>
              <!--<td>{{ storeInstance.id }}</td>-->
              <td>{{ storeInstance.statusName }}</td>
              <td ng-show="isCRUD" class="text-center">
                <button ng-click="selectPortalRecord(storeInstance)"
                        ng-show="canSelectStoreInstance(storeInstance)"
                        ng-class="getClassForAttribute('portal', 'button', storeInstance)">
                  <span ng-class="getClassForAttribute('portal', 'icon', storeInstance)"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <p ng-show="shouldShowSearchPromptAlert('portal')" class="alert alert-info text-center"><i class="fa fa-exclamation-circle"></i> Perform a search to view portal store
            instances</p>

          <p ng-show="shouldShowNoRecordAlert('portal') && !isSearchInInProgress" class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> No records matching the search criteria
            were found</p>

        </div>

        <div class="col-xs-6">
          <table class="table table-hover table-responsive" ng-show="shouldShowCarrierInstanceTable()">
            <thead>
            <tr>
              <th colspan="2"></th>
              <th>Store Number</th>
              <th>Schedule Number</th>
              <th>Schedule Date</th>
              <th>First Departure Station</th>
              <th ng-show="isCRUD" class="col-xs-1">Select/ Deselect</th>
            </tr>
            </thead>
            <tbody ng-repeat="groupParent in carrierInstances | orderBy: ['storeNumber', '-startDate']">
            <tr ng-class="getClassForEposInstanceRow(groupParent, false)">
              <td class="category-border">
                <button class="btn btn-xs btn-default"
                        ng-click="toggleOpenGroup(groupParent)"
                        ng-show="groupParent.children.length">
                  <span ng-class="getClassForAccordionButton(groupParent)"></span>
                </button>
              </td>
              <td></td>
              <td>{{ groupParent.storeNumber }}</td>
              <td>{{ groupParent.scheduleNumber }}</td>
              <td>{{ groupParent.instanceDate }}</td>
              <td>{{ groupParent.departureStation }}</td>
              <td ng-show="isCRUD" class="text-center">
                <button ng-click="toggleSelectEposRecord(groupParent)"
                        ng-class="getClassForAttribute('epos', 'button', groupParent)">
                  <span ng-class="getClassForAttribute('epos', 'icon', groupParent)"></span>
                </button>
              </td>
            </tr>
            <tr ng-repeat="childInstance in groupParent.children | orderBy: ['-startDate']"
                ng-show="groupParent.isOpen"
                ng-class="getClassForEposInstanceRow(groupParent, true)">
              <td class="category-indent"></td>
              <td class="category-border"></td>
              <td>{{ childInstance.storeNumber }}</td>
              <td>{{ childInstance.scheduleNumber }}</td>
              <td>{{ childInstance.instanceDate }}</td>
              <td>{{ childInstance.departureStation }}</td>
              <td></td>
            </tr>
            </tbody>
          </table>

          <p ng-show="shouldShowSearchPromptAlert('epos')" class="alert alert-info text-center"><i class="fa fa-exclamation-circle"></i> Perform a search to view ePOS carrier
            instances</p>

          <p ng-show="shouldShowNoRecordAlert('epos')" class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> No records matching the search criteria
            were found</p>
        </div>

      </div>
    <!-- /form-->

    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-default" ng-show="isCRUD" ng-click="resetAll()">Reset All</button>
            <button type="button" class="btn btn-success" ng-show="isCRUD" ng-click="showSaveConfirmation()" ng-disabled="!canSaveRelationship()"><span class="fa fa-check"></span> Save Relationship
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="manualECS-container" id="listView" ng-hide="isCreateViewActive">

    <div class="row">
      <div class="col-xs-12">
        <h3>Existing ECS Relationships</h3>

        <div class="panel panel-default" id="relationships-search-collapse">
          <form name="escForm" ng-submit="searchAllECSInstances()">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <label>Portal Store Number</label>
                  <input class="form-control"
                         ng-model="allInstancesSearch.portalStoreNumber"
                         placeholder="Enter Store Number">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <date-picker
                  class="form-group"
                  name="startDate"
                  start-date-model="allInstancesSearch.portalScheduleDate"
                  disable-date-range="true"
                  is-search-field="true"
                  disable-start-date="readOnly"
                  label-from="Portal Schedule Date">
	            </date-picker>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <label>Portal Catering Station</label>
                  <ui-select ng-model="allInstancesSearch.portalStation"
                             theme="bootstrap"
                             name="cateringStation">
                    <ui-select-match placeholder="Select a station" allow-clear>{{ $select.selected.stationDescription}}</ui-select-match>
                    <ui-select-choices repeat="station in cateringStationList | filter: {stationDescription:$select.search}">
                      <div ng-bind-html="station.stationDescription | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <label>Portal Store Instance</label>
                  <input class="form-control"
                         ng-model="allInstancesSearch.storeInstance"
                         placeholder="Enter Store Instance Number">
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <label>ePOS Store Number</label>
                  <input class="form-control"
                         ng-model="allInstancesSearch.eposStoreNumber"
                         placeholder="Enter Store Number">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <date-picker
                  class="form-group"
                  name="startDate"
                  start-date-model="allInstancesSearch.eposScheduleDate"
                  disable-date-range="true"
                  is-search-field="true"
                  disable-start-date="readOnly"
                  label-from="ePOS Schedule Date">
	            </date-picker>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <label>ePOS Departure Station</label>
                  <ui-select ng-model="allInstancesSearch.eposStation"
                             theme="bootstrap"
                             name="cateringStation">
                    <ui-select-match placeholder="Select a station" allow-clear>{{ $select.selected.stationDescription}}</ui-select-match>
                    <ui-select-choices repeat="station in companyStationList | filter: {stationDescription:$select.search}">
                      <div ng-bind-html="station.stationDescription | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
            <div class="panel-footer text-right">
              <button type="button" class="btn btn-default" ng-click="clearAllInstancesSearch()" id="clearAllECSInstancesId">Clear</button>
              <button type="submit" class="btn btn-primary" id="searchAllECSInstancesId">Search</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <table infinite-scroll="loadAllECSInstances()" class="table table-bordered table-hover table-responsive" ng-show="allECSInstances.length">
          <thead>
          <tr>
            <th>Portal Store Number</th>
            <th>ePOS Store Number</th>
            <th>Portal Schedule Number</th>
            <th>ePOS Schedule Number</th>
            <th>Portal Schedule Date</th>
            <th>ePOS Schedule Date</th>
            <th>Portal Catering Station</th>
            <th>ePOS Departure Station</th>
            <th>Store Instance</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ECSInstance in allECSInstances | orderBy: ['storeCrewNumber', 'scheduleNumber']">
            <td>{{ ECSInstance.siStoreNumber }}</td>
            <td>{{ ECSInstance.storeNumber }}</td>
            <td>{{ ECSInstance.siScheduleNumber }}</td>
            <td>{{ ECSInstance.scheduleNumber }}</td>
            <td>{{ ECSInstance.siScheduleDate }}</td>
            <td>{{ ECSInstance.instanceDate }}</td>
            <td>{{ ECSInstance.siCatererStationCode }}</td>
            <td>{{ ECSInstance.departureStation }}</td>
            <td>{{ ECSInstance.storeInstanceId }}</td>
            <td>{{ ECSInstance.statusName }}</td>
          </tr>
          </tbody>
        </table>

        <p ng-show="shouldShowSearchPromptAlert('all')" class="alert alert-info text-center"><i class="fa fa-exclamation-circle"></i> Perform a search to view records</p>

        <p ng-show="shouldShowNoRecordAlert('all')" class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> No records matching the search criteria were
          found</p>
      </div>
    </div>
  </div>

</div>

<dynamic-left-nav></dynamic-left-nav>
