<div class="container module-container">
  <form name="manualCashForm" ng-submit="save()">
    <div class="list-controls">
      <div class="row item-list-row">
        <div class="col-xs-8">
          <h2 class="view-name">Manual ePOS Entry: <b>Add {{ mainItemType.name }} Items</b><br>
            <small>Cash Bag {{ cashBag.cashBagNumber }}</small>
          </h2>
        </div>

        <div class="col-xs-4 text-right">
          <a class="btn btn-default" href="/#/manual-epos-dashboard/{{ cashBag.id }}">
            <span class="fa fa-arrow-left"></span> Back
          </a>
          <button class="btn btn-primary" type="submit" ng-click="setShouldExit(true)" ng-hide="isVerified || disableAll">
            <span class="fa fa-check-square-o"></span> Save & Exit
          </button>
        </div>
      </div>
    </div>

    <error-dialog form-object="manualCashForm" error-response="errorResponse" display="displayError">
    </error-dialog>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="currency"><span class="fa fa-money"></span></span>
              <ui-select ng-model="selectedCurrency.currency"
                         theme="bootstrap"
                         ng-disabled="disabled"
                         reset-search-input="false"
                         on-select="updateSelectedCurrency()">
                <ui-select-match>
                  {{$select.selected.code}} - {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="currency in currencyList">
                  <div ng-bind-html="currency.code | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="filter"><span class="fa fa-filter"></span></span>
              <input type="text"
                     class="form-control"
                     ng-model="filter.virtualItems"
                     placeholder="Type an item name or code to filter by"
                     aria-describedby="virtual-filter"/>
            </div>
          </div>
        </div>
        <br>

        <div class="panel-divider"></div>

        <div class="table-responsive">
          <table class="table table-hover">

            <tr class="active">
              <th class="col-xs-3">Virtual Item</th>
              <th class="col-xs-2">Price ({{ selectedCurrency.currency.code }})</th>
              <th class="col-xs-1">Qty</th>
              <th class="col-xs-3">Total Value ({{ selectedCurrency.currency.code }})</th>
              <th class="col-xs-3">Total Value ({{ baseCurrency.code }})</th>
            </tr>

            <!-- Start Virtual Items loop -->
            <tr ng-repeat="item in itemList | filter:{itemName: filter.virtualItems} track by $index">

              <td>
                <input class="form-control"
                       disabled="true"
                       ng-model="item.itemDescription">
              </td>

              <td>
                <input class="form-control"
                       ng-model="item.amount"
                       aria-describedby="currency"/>
              </td>

              <td>
                <input type="number"
                       class="form-control"
                       ng-model="item.quantity"/>
              </td>

              <td>
                <input class="form-control"
                       ng-model="item.quantity"
                       disabled="true"/>
              </td>

              <td>
                <input type="number"
                       class="form-control"
                       ng-model="item.amoint"
                       disabled="true"/>
              </td>

            </tr>
            <tr>
              <td colspan="3"></td>
              <td class="text-right"><h5><b>Sub Total</b></h5></td>
              <td>
                <input type="number"
                       class="form-control"
                       ng-model="virtual.audValue"
                       disabled="true"/>
              </td>
            </tr>

            <tr ng-show="companyVirtualItemsList.length === 0">
              <td colspan="8" class="text-center">
                <span class="fa fa-exclamation-circle text-danger"></span>
                We're sorry, there are no {{virtual.name}} that match the given criteria
              </td>
            </tr>

          </table>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button class="btn btn-success" ng-click="verifyPanel('Virtual Items')">Verify</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
