<div class="container module-container">
  <form name="manualCreditForm" ng-submit="save()">
    <div class="list-controls">
      <div class="row item-list-row">
        <div class="col-xs-8">
          <h2 class="view-name">Manual ePOS Entry: <b>Add Credit</b><br>
            <small>Cash Bag {{ cashBag.cashBagNumber }}</small>
          </h2>
        </div>

        <div class="col-xs-4 text-right">
          <a class="btn btn-default" href="/#/manual-epos-dashboard/{{ cashBag.id }}">
            <span class="fa fa-arrow-left"></span> Back
          </a>
          <button type="submit" class="btn btn-primary" ng-click="setShouldExit(true)" ng-hide="isVerified || disableAll">
            <span class="fa fa-check-square-o"></span> Save & Exit
          </button>
        </div>
      </div>
    </div>

    <error-dialog form-object="manualCreditForm" error-response="errorResponse" display="displayError">
    </error-dialog>

    <div class="alert alert-success" ng-show="isVerified"><span class="fa fa-check-circle"></span> Verified by {{ verifiedInfo.verifiedBy }} on {{ verifiedInfo.verifiedTimestamp }}</div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="cash-filter"><i class="fa fa-filter"></i> Filter By</span>
              <input type="text"
                     class="form-control"
                     ng-model="currencyFilter"
                     placeholder="Type a currency code to filter by..."
                     aria-describedby="cash-filter"/>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-6">
            <p><b>Amount</b></p>
          </div>
          <div class="col-xs-6">
            <p><b>Converted Amount ({{ baseCurrency.code }})</b></p>
          </div>
        </div>
        <div ng-repeat="credit in currencyList | filter: {currencyCode: currencyFilter} track by $index">
          <div class="row">
            <div class="col-xs-6">
              <div class="input-group">
                <span class="input-group-addon">{{credit.currencyCode}}</span>
                <input class="form-control"
                       ng-disabled="isVerified || disableAll"
                       ng-model="credit.amount"
                       maxlength="10"
                       placeholder="0.00"
                       custom-validity
                       custom-pattern="optionalDecimalWithTwoDecimalPlaces"
                       name="{{credit.currencyCode}}Amount"
                       aria-describedby="amount"/>
              </div>
            </div>
            <div class="col-xs-6">
              <input class="form-control"
                     ng-value="convertAmount(credit)"
                     placeholder="0.00"
                     aria-describedby="currency"
                     disabled="true"/>
            </div>
          </div>
          <br>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6 text-right">
            <p><b>Grand Total</b></p>
          </div>
          <div class="col-xs-6">
            <input class="form-control" type="number" ng-value="sumConvertedAmounts()" disabled="true"/>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button class="btn btn-primary" type="submit" ng-click="setShouldExit(false)" ng-hide="isVerified || disableAll"><span class="fa fa-check-square-o"></span> Save</button>
            <button class="btn btn-danger" type="button" ng-click="unverify()" ng-show="isVerified && !disableAll"><span class="fa fa-times-circle"></span> Unverify</button>
            <button class="btn btn-success" type="button" ng-click="verify(true)" ng-hide="isVerified || disableAll"><span class="fa fa-check-circle"></span> Verify</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="confirmation-modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title"><span class="fa fa-exclamation-triangle"></span> You Have Unsaved Changes</h3>
          </div>
          <div class="modal-body">
            <p>Verifying will revert all unsaved changes.  Are you sure you want to continue?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
              <i class="fa fa-close"></i> Cancel
            </button>
            <button type="button" class="btn btn-primary btn-primary" ng-click="verify(false)">
              <i class="fa fa-check"></i> Continue
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
