<div class="modal fade delete-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>

      <div class="modal-body">
        <p>You are about to permanently delete <strong>{{itemToDelete.itemQty}} {{ itemToDelete.itemName }}</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteItemFromMenu()">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<form name="menuEditForm" class="form edit-form">

  <div ng-show="displayError" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h4>
      We weren't able to edit your menu!
    </h4>

    <ul>
      <li ng-repeat="error in form.$error.required">
        <strong>{{ error.$name }}</strong> is required
      </li>
      <li ng-repeat="error in form.$error.pattern">
        <strong>{{ error.$name }}</strong> is invalid
      </li>
      <li ng-show="formErrors" ng-repeat="error in formErrors">
        <strong>{{error.field}}</strong>
        <span> {{ error.value }}</span>
        <span> {{ error.code }}</span>
      </li>
    </ul>
  </div>

  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/menu-list" class="btn">Back</a>
        <button ng-show="menuEditForm.$dirty" class="btn btn-success" ng-click="submitForm()">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
      </div>
    </div>
    <p>All required fields are marked with a *</p>
  </div>

  <h3>Menu Information</h3>

  <div class="form-group col-sm-3">
    <label for="menuCode">Menu Code *</label>
    <input custom-validity
           custom-pattern="alpha"
           required
           type="text"
           maxlength="10"
           class="form-control"
           id="menuCode"
           ng-model="menu.menuCode"
           placeholder="ITM001"
           ng-readonly="isMenuReadOnly()"/>
  </div>

  <div class="form-group col-sm-3">
    <label for="menuCode">Menu Name *</label>
    <input custom-validity
           custom-pattern="alpha"
           required
           type="text"
           maxlength="25"
           class="form-control"
           id="menuName"
           ng-model="menu.menuName"
           placeholder="iPad Mini Retina"
           ng-readonly="isMenuReadOnly()"/>
  </div>

  <date-picker
    class="form-group col-sm-6 col-xs-12"
    element-class="col-xs-6 col-sm-6"
    start-date-model="menu.startDate"
    end-date-model="menu.endDate"
    disable-past="true"
    label-from="Effective From"
    label-to="Effective To"
    required="true">
  </date-picker>

  <div class="form-group col-sm-12">
    <label for="menuCode">Description</label>
    <input custom-validity
           custom-pattern="alpha"
           type="text"
           maxlength="50"
           class="form-control"
           id="menuDescription"
           ng-model="menu.description"
           placeholder="ITM001"
           ng-readonly="isMenuReadOnly()"/>
  </div>

  <h3>Menu Items</h3>

  <table class="table table-responsive table-bordered table-hover">
    <thead>
    <tr>
      <th class="col-xs-10">Item Name</th>
      <th class="col-xs-1">Quantity</th>
      <th  ng-show="shouldShowActions()" class="col-xs-1">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="menuItem in menuItemsList">
      <td>{{menuItem.itemName}}</td>
      <td>{{menuItem.itemQty}}</td>
      <td ng-show="shouldShowActions()" >
        <button class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation(menuItem)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</form>
