<div class="container module-container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-6">

        <h2 class="view-name"> {{ viewName }} </h2>

      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">

          <button class="btn btn-default" ng-click="leaveView()">
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">Cancel</span>
          </button>

          <button class="btn btn-primary" ng-click="submitForm(formData)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">{{ buttonText }}</span>
          </button>

        </fieldset>

      </div>

    </div>

  </div>

  <ng-form name="form" class="form">

			<form-error-dialog></form-error-dialog>

      <fieldset ng-disabled="viewOnly || menuIsActive">

			<div class="row">

				<div class="col-xs-12 col-sm-6">

          <div class="row">

            <div class="col-xs-12 col-sm-6">

              <div class="form-group">
                <label>Menu Code *</label>
                <select ng-model="formData.menuId" class="form-control">
                  <option ng-selected="formData.menuId === menu.menuId" ng-repeat="(key,menu) in menuList" value="{{ menu.menuId }}">
                    {{ menu.menuCode }}
                  </option>
                </select>
            </div>

            </div>

            <div class="col-xs-12 col-sm-6">

              <div class="form-group">
                <label>Menu Name *</label>
                <select ng-disabled="true" ng-model="formData.menuId" class="form-control">
                  <option ng-selected="formData.menuId === menu.menuId" ng-repeat="(key,menu) in menuList" value="{{ menu.menuId }}">
                    {{ menu.menuName }}
                  </option>
                </select>
              </div>

            </div>

          </div>

          <date-picker class="form-group"
						element-class="col-xs-6 col-sm-6"
						start-date-model="formData.startDate"
						end-date-model="formData.endDate"
						disable-past="true"
						label-from="Effective From"
						label-to="Effective To"
						disable-start-date="viewOnly || menuIsActive"
						disable-end-date="viewOnly || menuIsInactive"
						>
					</date-picker>

        </div>

        <div class="col-xs-12 col-sm-6">

          <div class="form-group">
            <label for="menu-station">Catering Stations</label>
            <select ng-disabled="viewOnly || menuIsActive" multiple="true" ng-model="formData.catererStationIds" class="multi-select">
              <option value="{{station.id}}" ng-repeat="(key,station) in stationList">{{ station.code }}</option>
            </select>

          </div>

        </div>

      </div>

    </fieldset>

  </ng-form>

</div>

<form-success-modal list-path="menu-relationship-list" create-path="menu-relationship-create"></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>
<left-navigation base-path="menu-relationship"></left-navigation>
