<div id="overwrite-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Overwrite Menu?</h3>
      </div>
      <div class="modal-body">
        A menu already exists with Menu Code: <b>{{ menu.menuCode }}</b> and Menu Name: <b>{{ menu.menuName }}</b>.
        If you continue, your changes will overwrite the existing menu. Would you still like to continue and save this menu?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="overwriteMenu()">Continue</button>
      </div>
    </div>
  </div>
</div>


<div class="module-container">

  <error-dialog form-object="menuEditForm" error-response="errorResponse" display="displayError"></error-dialog>

  <form name="menuEditForm" class="form edit-form">

    <div class="edit-controls">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="view-name">{{viewName}}</h2>
        </div>

        <div class="col-xs-6 text-right">
          <a class="btn btn-default" ng-href="#/menu-list" class="btn">Back</a>
          <button ng-hide="isMenuViewOnly()" class="btn btn-success" ng-click="submitForm()">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="hidden-xs">Save</span>
          </button>
        </div>
      </div>
      <p>All required fields are marked with a *</p>
    </div>

    <h3>Menu Information</h3>

    <div class="form-group col-sm-3">
      <label>Menu Code *</label>
      <input custom-pattern="alphanumeric"
             custom-validity
             required
             type="text"
             maxlength="20"
             class="form-control"
             name="menuCode"
             ng-model="menu.menuCode"
             placeholder="Alphanumeric Only"
             ng-readonly="isMenuReadOnly()"
             ui-on-Drop=""/>
    </div>

    <div class="form-group col-sm-3">
      <label>Menu Name *</label>
      <input custom-pattern="alphanumericSpaces"
             custom-validity
             required
             type="text"
             maxlength="25"
             class="form-control"
             name="menuName"
             ng-model="menu.menuName"
             placeholder="Alphanumeric Space"
             ng-readonly="isMenuReadOnly()"
             ui-on-Drop=""/>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3" ui-on-Drop="">
      <date-picker-field
        ng-if="!isMenuReadOnly()"
        name="startDate"
        ng-model="menu.startDate"
        label="Effective From"
        min-date="minDate"
        required="true">
      </date-picker-field>

      <date-picker-field
        ng-if="isMenuReadOnly()"
        name="startDate"
        ng-model="menu.startDate"
        label="Effective From"
        disable="true"
        required="true">
      </date-picker-field>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3" ui-on-Drop="">
      <date-picker-field
        ng-if="isCurrentEffectiveDate(menu)"
        name="endDate"
        ng-model="menu.endDate"
        label="Effective To"
        min-date="minDate"
        disable="isViewOnly()"
        end-current-effective="true"
        required="true">
      </date-picker-field>
      <date-picker-field
        ng-if="!isCurrentEffectiveDate(menu)"
        name="endDate"
        ng-model="menu.endDate"
        label="Effective To"
        disable="isViewOnly()"
        required="true">
      </date-picker-field>
    </div>

    <div class="form-group col-sm-12">
      <label>Description</label>
      <input type="text"
             maxlength="50"
             class="form-control"
             name="menuDescription"
             ng-model="menu.description"
             placeholder="ITM001"
             ng-readonly="isMenuReadOnly()"
             ui-on-Drop=""/>
    </div>

    <h3>Menu Items
      <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="addItem()" ng-show="isMenuEditable()">
        <i class="fa fa-plus"></i> Add Item
      </button>
    </h3>
    <div class="table">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th class="col-xs-1" ng-show="isMenuEditable()" style="text-align:center;">Reorder</th>
          <th class="col-xs-4" ng-show="isMenuEditable()">Item Category</th>
          <th class="col-xs-5">Item Name</th>
          <th class="col-xs-1">Quantity</th>
          <th ng-hide="isMenuReadOnly()" class="col-xs-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
            ng-init="item.sortOrderIndex=$index"
            ng-repeat="item in menuItemList | orderBy:'sortOrder' track by $index">
          <td ng-if="isMenuEditable()"
              on-drop-success="dropSuccess($event, $index, menuItemList)"
              ui-draggable="isMenuEditable()" drag="item"
              drag-channel="A" drop-channel="A"
              ui-on-Drop="onDrop($event, $data, $index)"
              style="text-align:center; cursor: pointer;">
            <span class="glyphicon glyphicon-move" aria-hidden="true" ></span>
          </td>
          <td ng-if="isMenuEditable()">
            <ui-select
              name="selectedCategories[item.menuIndex]"
              ng-model="selectedCategories[item.menuIndex]"
              on-select="filterItemListByCategory(item.menuIndex)"
              theme="bootstrap"
              placeholder="Select a category to filter the items list...">
              <ui-select-match
                allow-clear="true"
                placeholder="Select a category to filter the items list...">{{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="category in categories | filter: $select.search | orderBy:'name'">
                <div ng-bind-html="category.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td ng-if="isMenuEditable()">
            <ui-select
              name="menuItem"
              required="true"
              ng-model="item.selectedItem"
              theme="bootstrap"
              placeholder="Select or search an item from the list..."
              on-select="filterAllItemLists()">
              <ui-select-match
                placeholder="Select or search an item from the list...">{{$select.selected.itemName}}
              </ui-select-match>
              <ui-select-choices ui-disable-choice="menuItem.selected === true"
              					 refresh="loadMasterItems($select)"
                    			 refresh-delay="0"
                                 repeat="menuItem in testList">
                <div ng-bind-html="menuItem.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td ng-if="!isMenuEditable()">
            <input type="text"
                   class="form-control"
                   name="menuItem-{{$index}}"
                   ng-model="item.selectedItem.itemName"
                   ng-disabled="!isMenuEditable()"/>
          </td>
          <td>
            <input custom-validity
                   custom-pattern="number"
                   type="text"
                   required
                   maxlength="5"
                   class="form-control"
                   name="menuItemQuantity"
                   ng-model="item.itemQty"
                   placeholder="{{$index}}"
                   ng-disabled="!isMenuEditable()"/>
          </td>
          <td ng-show="isMenuEditable()">
            <button class="btn btn-danger btn-xs" ng-click="removeItem(item.menuIndex)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<dynamic-left-nav title="Menu Management"></dynamic-left-nav>