<h1>{{viewName}}</h1>

<div class="row">
  <div class="col-xs-6">
    <a ng-href="ember/#/menus/create" class="btn btn-primary"> + </a>
  </div>

  <div class="col-xs-6 text-right">
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search-collapse"
            aria-expanded="false"
            aria-controls="search-collapse">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <span class="hidden-xs">Search</span>
    </button>

  </div>
</div>


<div class="panel panel-default collapse no-transition" id="search-collapse">
  <form name="menuSearchForm" ng-submit="searchMenus()">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="item-code">Menu Code</label>
            <input ng-model="search.menuCode" type="text" class="form-control" id="item-code" placeholder="MENU012">
          </div>

        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="item-name">Menu Name</label>
            <input ng-model="search.menuName" type="text" class="form-control" id="item-name" placeholder="iPad Mini">
          </div>
        </div>

        <date-picker
          class="col-xs-12 col-md-6 col-sm-12"
          element-class="col-xs-6 col-sm-6"
          start-date-model="search.startDate"
          end-date-model="search.endDate"
          label-from="Effective From"
          label-to="Effective To"
          is-search-field="true">
        </date-picker>

      </div>
    </div>
    <div class="panel-footer text-right">
      <button type="button" class="btn btn-default" ng-click="clearForm()">Clear</button>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Menu Code</th>
    <th>Menu Name</th>
    <th>Description</th>
    <th>Effective From</th>
    <th>Effective To</th>
  </tr>
  </thead>
  <tbody>
  <tr
    ng-repeat="menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName}"
    ng-click="showMenu(menu)">
    <td>{{ menu.menuCode }}</td>
    <td>{{ menu.menuName }}</td>
    <td>{{ menu.description }}</td>
    <td>{{ menu.startDate }}</td>
    <td>{{ menu.endDate }}</td>
  </tr>
  </tbody>
</table>
