<div class="module-container">
  <div class="edit-controls">

    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/schedules" class="btn" ng-show="readOnly">Back</a>
      </div>
    </div>

  </div>

  <error-dialog form-object="menuAssignmentDataForm" error-response="errorResponse" display="displayError"></error-dialog>
  <form name="form" class="form edit-form create-item-form">
    <div class="panel panel-default">
      <div class="panel-heading">Schedule details</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label>Number</label><br />
            {{ menuAssignment.scheduleNumber }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Day of Operation</label><br />
            {{ menuAssignment.dayId }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Departure Station</label><br />
            {{ menuAssignment.departure.Code }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Departure Time</label><br />
            {{ menuAssignment.departureTime }} ({{ menuAssignment.departure.city.utcOffset }})
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Arrival Station</label><br />
            {{ menuAssignment.arrival.Code }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Arrival Time</label><br />
            {{ menuAssignment.arrivalTime }} ({{ menuAssignment.arrival.city.utcOffset }})
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label>Previous Number</label><br />
            {{ menuAssignment.preScheduleNumber || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Next Number</label><br />
            {{ menuAssignment.nextScheduleNumber || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Carrier Type</label><br />
            {{ menuAssignment.companyCarrierType.carrierType || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Carrier Number</label><br />
            {{ menuAssignment.companyCarrier.carrierNumber || '-' }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Ground Time</label><br />
            {{ menuAssignment.groundtime || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Block Time</label><br />
            {{ menuAssignment.blockTime || '-'  }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label>Seat Config</label><br />
            {{ menuAssignment.seatConfiguration.code || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Trip Distance</label><br />
            {{ menuAssignment.tripDistance || '-'  }} {{ menuAssignment.tripDistance ? menuAssignment.tripdistanceUnitCode : ''}}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>First Trip</label><br />
            {{ menuAssignment.firstTrip || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Last Trip</label><br />
            {{ menuAssignment.lastTrip || '-'  }}
          </div>
          <div class="col-xs-12 col-sm-2"></div>
          <div class="col-xs-12 col-sm-2"></div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <a href="#/menu-assignment-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>
      </div>
    </div>
  </form>
</div>
<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Menu Assignment"></dynamic-left-nav>
