<div class="table table-bordered table-responsive table-hover">

  <table class="table table-bordered">

    <thead>

      <tr>
        <th>
          <abbr title="Stock Owner Reference Number">S.O. Ref. #</abbr>
        </th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Onboard Name</th>
        <th>Sales Category</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th>Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr id="item-{{item.id}}" ng-repeat="(key,item) in menuList">

        <td>{{ item.stockOwnerCode }}</td>
        <td>{{ item.itemCode }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemTypeName }}</td>
        <td>{{ item.onBoardName }}</td>
        <td>{{ item.categoryName }}</td>
        <td>{{ item.startDate | date: 'MM/dd/yyyy' }}</td>
        <td>{{ item.endDate | date: 'MM/dd/yyyy' }}</td>

        <td>

          <a class="btn btn-info btn-xs" href="#/item-view/{{item.id}}">
            <i class="fa fa-file"></i>
          </a>

          <a class="btn btn-primary btn-xs" href="#/item-edit/{{item.id}}" ng-disabled="isItemInactive(item.endDate)">
            <i class="fa fa-pencil"></i>
          </a>

          <button class="btn btn-danger btn-xs" ng-click="removeItem(item.id,key)" ng-disabled="isItemActive(item.startDate) || isItemInactive(item.endDate)">
            <i class="fa fa-trash"></i>
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
