<!-- This is the menu-assignment-list view. -->
<div class="module-container">
  <div class="list-controls">
    <h1>{{viewName}}</h1>

    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-primary" tabindex="0" ng-show="isCRUD" ng-disabled="!(hasSelectedMenuAssignments())" ng-click="showBulkExecuteActionModal('Apply Rules')">Apply Rules
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <div class="btn-group pull-right" dropdown style="margin-right:2px;">
          <button id="single-button" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            Hide / Show Columns
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li ng-click="$event.stopPropagation();">
              <a ng-click="toggleColumnView('blockTime')">
                <input ng-click="$event.stopPropagation();" type="checkbox"
                       ng-model="displayColumns.blockTime">
                Block Time</a>
            </li>
            <li ng-click="$event.stopPropagation();">
              <a ng-click="toggleColumnView('groundTime')">
                <input ng-click="$event.stopPropagation();" type="checkbox"
                       ng-model="displayColumns.groundTime">
                Ground Time</a>
            </li>
            <li ng-click="$event.stopPropagation();">
              <a ng-click="toggleColumnView('previousFlight')">
                <input ng-click="$event.stopPropagation();" type="checkbox"
                       ng-model="displayColumns.previousFlight">
                Previous Flight</a>
            </li>
            <li ng-click="$event.stopPropagation();">
              <a ng-click="toggleColumnView('nextFlight')">
                <input ng-click="$event.stopPropagation();" type="checkbox"
                       ng-model="displayColumns.nextFlight">
                Next Flight</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default no-transition" id="search-collapse">
      <form name="menuSearchForm">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="schedule-number">Number</label>
                <input ng-model="search.scheduleNumber" type="text" class="form-control" id="schedule-number" placeholder="0001">
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="days-of-operation">Days of Operation</label>
                <ui-select id="days-of-operation" multiple ng-model="multiSelectedValues.daysOfOperation" theme="bootstrap">
                  <ui-select-match placeholder="Select Days of Operations">{{ $item.name }}</ui-select-match>
                  <ui-select-choices repeat="number in daysOfOperation | filter: $select.search">
                    {{ number.name }}
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-5">
              <date-picker
                class="form-group"
                element-class="col-xs-6"
                start-date-model="search.startDate"
                end-date-model="search.endDate"
                label-from="Effective Date From"
                label-to="Effective Date To"
                is-search-field="true">
              </date-picker>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="aircraft-type">Aircraft type</label>
                <ui-select id="aircraft-type" multiple ng-model="multiSelectedValues.aircraftTypes" theme="bootstrap">
                  <ui-select-match placeholder="Select Aircraft Types">{{ $item.carrierType }}</ui-select-match>
                  <ui-select-choices repeat="carrier in carrierTypes | filter: $select.search">
                    {{ carrier.carrierType }}
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="departure-station">Departure Station</label>
                <ui-select id="departure-station" multiple ng-model="multiSelectedValues.depStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="departure-time-from">Departure Time From</label>
                <input ng-model="search.depTimeFrom" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="departure-time-from">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="departure-time-to">Departure Time To</label>
                <input ng-model="search.depTimeTo" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="departure-time-to">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="arrival-station">Arrival Station</label>
                <ui-select id="arrival-station" multiple ng-model="multiSelectedValues.arrStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="arrival-time-from">Arrival Time From</label>
                <input ng-model="search.arrTimeFrom" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="arrival-time-from">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="arrival-time-to">Arrival Time To</label>
                <input ng-model="search.arrTimeTo" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="arrival-time-to">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="menu-code">Menu Code</label>
                <input ng-model="search.menuCode" type="text" class="form-control" id="menu-code" placeholder="MENU012">
              </div>

            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="menu-name">Menu Name</label>
                <input ng-model="search.menuName" type="text" class="form-control" id="menu-name" placeholder="Desserts">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="item-name">Item Name</label>
                <input ng-model="search.itemName" type="text" class="form-control" id="item-name" placeholder="Turkey">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label for="isAssignment">Assignment</label>
                <select class="form-control"
                      id="isAssignment"
                      name="isAssignment"
                      ng-model="search.menuAssigned"
                      ng-options="o.v as o.n for o in [{ n: 'Not Assignment', v: 'no' }, { n: 'Assignment', v: 'yes' }]">
                <option selected="selected" value>Select Assignment</option>
              </select>

              </div>
            </div>

          </div>
        </div>

        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button ng-disabled="!uiReady" ng-click="searchMenuAssignmentData()" class="btn btn-primary btn-search" id="searchMenuAssignmentId">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span class="hidden-sm hidden-xs btn-label">Search</span>
          </button>
        </div>
      </form>
    </div>
    <br>
    <div class="table-responsive">
      <table infinite-scroll="loadMenuAssignmentData()" class="table table-bordered table-hover ng-scope" ng-show="menuAssignments.length > 0">
        <thead>
        <tr>
          <th>
            <input class="btn btn-default" style="margin-top:0px" type="checkbox" value="1" ng-model="allCheckboxesSelected" ng-click="toggleAllCheckboxes()">
          </th>
          <th>
            <span ng-if="!allExpanded" class="fa fa-plus-square-o" ng-click="toggleAllAccordionView()"></span>
            <span ng-if="allExpanded" class="fa fa-minus-square" ng-click="toggleAllAccordionView()"></span>
          </th>
          <th>Number</th>
          <th>Departure Station</th>
          <th>Departure Time</th>
          <th>Arrival. Station</th>
          <th>Arrival Time</th>
          <th>Assignment</th>
          <th>Operation Date</th>
          <th>Day of Op.</th>
          <th>Aircraft Type</th>
          <th>Tail No.</th>
          <th>Seat Config</th>
          <th ng-show="displayColumns.blockTime">Block Time</th>
          <th ng-show="displayColumns.groundTime">Ground Time</th>
          <th>Trip Distance</th>
          <th>Flight Info</th>
          <th ng-show="displayColumns.previousFlight">Prev. Flight</th>
          <th ng-show="displayColumns.nextFlight">Next Flight</th>
          <th>Updated Date/Time</th>
          <th>Updated User</th>
          <th ng-show="isCRUD">Actions</th>
        </tr>
        </thead>
        <tbody ng-repeat="menuAssignment in menuAssignments">
        <tr class="ng-scope" >
          <td>
            <input class="btn btn-default" style="margin-top:0px" type="checkbox" value="1" ng-model="menuAssignment.selected" >
          </td>
          <td>
            <span ng-if="!menuAssignment.isExpanded" class="fa fa-plus-square-o" ng-click="toggleAccordionView(menuAssignment)"></span>
            <span ng-if="menuAssignment.isExpanded" class="fa fa-minus-square" ng-click="toggleAccordionView(menuAssignment)"></span>
          </td>
          <td>{{ menuAssignment.scheduleNumber }}</td>
          <td>{{ menuAssignment.departure.Code}}</td>
          <td>{{ menuAssignment.departureTime }} ({{ menuAssignment.departure.city.utcOffset }})</td>
          <td>{{ menuAssignment.arrival.Code}}</td>
          <td>{{ menuAssignment.arrivalTime }} ({{ menuAssignment.arrival.city.utcOffset }})</td>
          <td>{{ menuAssignment.menuAssigned }}</td>
          <td>{{ menuAssignment.scheduleDate }}</td>
          <td>{{ menuAssignment.dayId }}</td>

          <td>{{ menuAssignment.companyCarrier.carrierNumber }}</td>
          <td>{{ menuAssignment.companyCarrierType.companyCarrierTypeCode }}</td>
          <td>{{ menuAssignment.seatConfiguration.code }}</td>
          <td ng-show="displayColumns.blockTime">{{ menuAssignment.blockTime }}</td>
          <td ng-show="displayColumns.groundTime">{{ menuAssignment.groundtime }}</td>
          <td>{{ menuAssignment.tripDistance ? (menuAssignment.tripDistance + ' ' + menuAssignment.tripdistanceUnitCode) : '' }}</td>
          <td>
            <span ng-show="menuAssignment.firstTrip">First Trip</span>
            <span ng-show="menuAssignment.firstTrip && menuAssignment.lastTrip">, </span>
            <span ng-show="menuAssignment.lastTrip">Last Trip</span>
          </td>
          <td ng-show="displayColumns.previousFlight">{{ menuAssignment.prevFlight }}</td>
          <td ng-show="displayColumns.nextFlight">{{ menuAssignment.nextFlight }}</td>

          <td>{{ getUpdatedOn(menuAssignment) }}</td>
          <td>{{ getUpdateBy(menuAssignment) }}</td>
          <td ng-show="isCRUD">
            <button class="btn btn-primary btn-xs" ng-click="redirectToMenuAssignment(menuAssignment.scheduleDayId, 'edit')" tabindex="0">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
        <tr ng-show="menuAssignment.isExpanded">
          <td colspan="20">
            <div ng-repeat="cabinClass in company.companyCabinClasses | orderBy: 'cabinClass'" class="panel panel-default">
              <div class="panel-heading">{{ cabinClass.cabinClass }} class</div>
              <div class="panel-body">
                <table class="table table-bordered table-hover">
                  <tbody>
                    <tr>
                      <th class="col-xs-2">Menu Codes</th>
                      <td class="col-xs-10"><span ng-repeat="menu in menuAssignment.menus">{{menu.menu.menuCode}}{{$last ? '' : ', '}}</span></td>
                    </tr>
                    <tr>
                      <th class="col-xs-2">Items</th>
                      <td class="col-xs-10"><span ng-repeat="item in menuAssignment.items">{{item.itemName}} ({{item.itemQty}}) {{$last ? '' : ', '}}</span></td>
                    </tr>
                  </tbody>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <alert ng-show="!loadingBarVisible && menuAssignments.length == 0 && isSearch" type="info">
      <span class="fa fa-flag"></span> Your search returned no results.
    </alert>
    <alert ng-show="!isSearch" type="info">
      <span class="fa fa-flag"></span> Click search to show the results.
    </alert>
    <p ng-if="menuAssignments.length > 0" class="record-count small text-center">Showing {{menuAssignments.length}} records</p>
    <p class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>
  </div>

</div>

<div class="modal fade delete-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Are you sure?</h3>
      </div>

      <div class="modal-body">
        <p>You are about to perform the following action: <strong>{{actionToExecute}}</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="executeAction()">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<delete-record-dialog></delete-record-dialog>

<dynamic-left-nav></dynamic-left-nav>
