<div class="container module-container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-6">

        <h2 class="view-name"> {{ viewName }} </h2>

      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">

          <a class="btn btn-default" ng-href="/#/menu-relationship-list">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">Back</span>
          </a>

          <buttonn ng-show="form.$dirty" class="btn btn-success" ng-click="submitForm(formData)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">{{ buttonText }}</span>
          </button>

        </fieldset>

      </div>

    </div>

  </div>

  <ng-form name="form" class="form">

			<form-error-dialog></form-error-dialog>

			<div class="row">

				<div class="col-xs-12 col-sm-6">

          <div class="row">

            <div class="col-xs-12 col-sm-6">
              <fieldset ng-disabled="viewOnly || isRelationshipActive()">
                <div class="form-group" ng-class="setInputValidClass('MenuCode')">
                  <label class="control-label" for="MenuCode">Menu Code *</label>
                  <select required name="MenuCode" ng-model="formData.menuId" class="form-control">
                    <option ng-selected="formData.menuId === menu.menuId" ng-repeat="(key,menu) in menuList" value="{{ menu.menuId }}">
                      {{ menu.menuCode }}
                    </option>
                  </select>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-6">
              <fieldset ng-disabled="viewOnly || isRelationshipActive()">
                <div class="form-group" ng-class="setInputValidClass('MenuCode')">
                  <label class="control-label" for="MenuName">Menu Name *</label>
                  <select required name="MenuName" ng-disabled="true" ng-model="formData.menuId" class="form-control">
                    <option ng-selected="formData.menuId === menu.menuId" ng-repeat="(key,menu) in menuList" value="{{ menu.menuId }}">
                      {{ menu.menuName }}
                    </option>
                  </select>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-6">
              <fieldset ng-disabled="viewOnly || isRelationshipActive()">
                <date-picker-field form="form" label="Effective From" name="EffectiveFrom" ng-model="formData.startDate" required="true"></date-picker-field>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-6">
              <fieldset ng-disabled="viewOnly || isRelationshipInactive()">
                <date-picker-field form="form" label="Effective To" name="EffectiveTo" ng-model="formData.endDate" required="true"></date-picker-field>
              </fieldset>
            </div>

          </div>

        </div>

        <div class="col-xs-12 col-sm-6">

          <fieldset ng-disabled="viewOnly || isRelationshipActive()">
            <div class="form-group" ng-class="setInputValidClass('CateringStations')">
              <label class="control-label" for="CateringStations">Catering Stations *</label>
              <select name="CateringStations" ng-required="true" ng-disabled="viewOnly || isRelationshipActive()" multiple="true" ng-model="formData.catererStationIds" class="multi-select">
                <option value="{{station.id}}" ng-repeat="(key,station) in stationList">{{ station.code }}</option>
              </select>
            </div>
          </fieldset>

        </div>

      </div>

  </ng-form>

</div>

<form-success-modal list-path="menu-relationship-list" create-path="menu-relationship-create"></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>
<left-navigation base-path="menu-relationship"></left-navigation>
