<div class="fluid-container module-container">

	<div class="list-controls">

		<div class="row item-list-row">
			<div class="col-xs-6">
				<h2 class="view-name">Menu Relationship List</h2>
			</div>
            <div class="col-xs-6 text-right">
				<a href="#/menu-relationship-create" ng-show="isCRUD" class="btn btn-primary btn-create">
					<span class="fa fa-plus" aria-hidden="true"></span> <span class="btn-label hidden-xs">Create Menu Relationship</span>
				</a>
				<button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false" aria-controls="search-collapse">
                    <span class="fa fa-filter" aria-hidden="true"></span>
					<span class="hidden-sm hidden-xs">Filter</span>
				</button>
            </div>
		</div>

		<div class="panel panel-default collapse no-transition" id="search-collapse">
			<form class="form" ng-submit="searchRecords()">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="form-group">
								<label for="menu-station">Menu Code</label>
								<select ng-model="search.menuId" class="form-control">
									<option value="{{menu.menuId}}" ng-repeat="menu in menuList | unique: 'id'">{{ menu.menuCode }}</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="form-group">
								<label for="menu-station">Menu Name</label>
								<select ng-model="search.menuId" class="form-control">
									<option value="{{menu.menuId}}" ng-repeat="menu in menuList | unique: 'id'">{{ menu.menuName }}</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">

							<div class="form-group">
								<label for="menu-station">Catering Stations</label>
								<select ng-model="search.catererStationId" class="form-control">
									<option value="{{station.id}}" ng-repeat="station in stationList | unique: 'id'">{{ station.code }}</option>
								</select>
							</div>
						</div>
					</div>
					<date-picker element-class="col-xs-12 col-sm-6 col-md-4"
						start-date-model="dateRange.startDate"
						end-date-model="dateRange.endDate"
						is-search-field="true"
						label-from="Effective From"
						label-to="Effective To">
					</date-picker>
					</div>
					<div class="panel-footer text-right">
                        <button type="button" class="btn btn-default  btn-search-clear" ng-click="clearSearchFilters()" ng-show="search.menuId.length || search.catererStationId.length || dateRange.startDate.length || dateRange.endDate.length">Clear</button>
                        <button type="submit" class="btn btn-primary" id="searchMenuRelationshipListId">Search</button>
					</div>
				</form>
			</div>

	</div>

  <div class="table-responsive">
    <table infinite-scroll="searchRelationshipList()" infinite-scroll-immediate-check="false" class="table table-bordered table-responsive table-hover">

    <thead>

      <tr>
        <th>Menu Code</th>
        <th>Menu Name</th>
        <th>Catering Stations</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Updated Date/Time</th>
        <th>Updated User</th>
        <th>Actions</th>
      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="(key,relationship) in relationshipList">

        <td>
          <span ng-style="{ color: relationship.isMenuExpired ? 'red' : 'black' }">{{ relationship.masterMenu.menuCode }}</span>
        </td>
        <td>
          <span ng-style="{ color: relationship.isMenuExpired ? 'red' : 'black' }">{{ relationship.masterMenu.menuName }}</span>
        </td>
        <td> <span class="label label-info" ng-repeat="(stationKey,station) in relationship.stations track by stationKey" ng-show="!!station.code"> {{ station.code }} </span> </td>
        <td>{{ relationship.startDate }}</td>
        <td>{{ relationship.endDate }}</td>
        <td>{{ getUpdatedOn(relationship) }}</td>
        <td>{{ getUpdateBy(relationship) }}</td>
        <td>

          <a class="btn btn-info btn-xs btn-view" ng-href="#/menu-relationship-view/{{relationship.id}}">
            <i class="fa fa-file"></i>
          </a>

          <a class="btn btn-primary btn-xs btn-edit" ng-href="#/menu-relationship-edit/{{relationship.id}}" ng-hide="!isCRUD || isRelationshipInactive(relationship.endDate)">
            <i class="fa fa-pencil"></i>
          </a>

          <button class="btn btn-danger btn-xs btn-delete" ng-click="deleteRecordDialog(relationship)"  ng-hide="!isCRUD || isRelationshipActive(relationship.startDate) || isRelationshipInactive(relationship.endDate)">
            <i class="fa fa-trash"></i>
          </button>

        </td>

      </tr>

    </tbody>

  </table>
    </div>
  <p ng-if="relationshipList.length > 0" class="record-count small text-center">Showing {{relationshipList.length}} records</p>
  <p class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>

</div>

<dynamic-left-nav></dynamic-left-nav>

<delete-record-dialog></delete-record-dialog>
