<div class="container">

  <div class="edit-controls">

    <div class="row">

      <div class="col-xs-6">

        <h2 class="view-name"> {{ viewName }} </h2>

      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">

          <button class="btn btn-default" ng-click="leaveView()">
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">Cancel</span>
          </button>

          <button class="btn btn-primary" ng-click="submitForm(formData)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs btn-label">{{ buttonText }}</span>
          </button>

        </fieldset>

      </div>

    </div>

  </div>

  <ng-form name="form" class="form">

			<form-error-dialog></form-error-dialog>

      <fieldset ng-disabled="viewOnly || itemIsActive">

			<div class="row">

				<div class="col-xs-12 col-sm-6">

						<input-text label="Menu Code" name="menuCode" required="true" pattern="regexp.alpha" placeholder="ORD" min-length="1" max-length="3"></input-text>

            <input-text label="Menu Name" name="menuName" required="true" pattern="regexp.word" placeholder="Main Menu" min-length="1" max-length="20"></input-text>

            <date-picker class="form-group"
  						element-class="col-xs-6 col-sm-6"
  						start-date-model="formData.startDate"
  						end-date-model="formData.endDate"
  						disable-past="true"
  						label-from="Effective From"
  						label-to="Effective To"
  						disable-start-date="viewOnly || itemIsActive"
  						disable-end-date="viewOnly || itemIsInactive"
  						>
  					</date-picker>

        </div>

        <div class="col-xs-12 col-sm-6">

          <div class="form-group">
            <label for="menu-station">Catering Station</label>
            <select multiple="true" ng-model="search.menuStation" class="form-control" id="menu-station">
              <option value="{{station.code}}" ng-repeat="station in stationList | unique: 'id'">{{ station.code }}</option>
            </select>
          </div>

        </div>

      </div>

    </fieldset>

  </ng-form>

</div>
