<div class="container module-container">

  <div class="top-header top-header-small">
    <div class="container">
      <div class="edit-controls">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="view-name">{{ viewName }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/TopHeader -->

  <form name="form" class="form edit-form post-trip-data-form">

    <form-error-dialog></form-error-dialog>

    <table class="table table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Schedule Number</th>
          <th>Schedule Date</th>
          <th>Departure Station</th>
          <th>Arrival Station</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngRepeat: menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName} -->
<!--         <tr ng-repeat="menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName}" class="ng-scope"> -->
        <tr class="ng-scope">
          <td class="ng-binding">T1</td>
          <td class="ng-binding">05/06/2015</td>
          <td class="ng-binding">Test</td>
          <td class="ng-binding">Test</td>
          <td>
            <button class="btn btn-info btn-xs" ng-click="showMenu(menu)" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="showMenu(menu)" ng-disabled="isMenuEditable(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation(menu)" ng-disabled="isMenuReadOnly(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr class="ng-scope">
          <td class="ng-binding">T1</td>
          <td class="ng-binding">05/06/2015</td>
          <td class="ng-binding">Test</td>
          <td class="ng-binding">Test</td>
          <td>
            <button class="btn btn-info btn-xs" ng-click="showMenu(menu)" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="showMenu(menu)" ng-disabled="isMenuEditable(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation(menu)" ng-disabled="isMenuReadOnly(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <!-- end ngRepeat: menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName} -->
      </tbody>
    </table>

  </form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
