<div class="module-container">
  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="view-name">{{ viewName }}</h2>
      </div>
    </div>
  </div>

  <div class="post-trip-data-list">
    <div class="row">
      <div class="col-xs-12 text-left">
        <a href="#/post-trip-data/create" class="btn btn-primary">+ <span class="hidden-xs">Create Post Trip</span></a>

        <div class="btn-group import-from-file">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-info"data-toggle="collapse" data-target="#importFromData" >
              <span class="fa fa-copy" aria-hidden="true"></span>
              Import PostTrip From File
            </button>
            <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://s3.amazonaws.com/ts5-dev-portal-images/templates/FileUpload-PostTripManagement.xlsx">Download Excel Template</a></li>
              <li><a data-toggle="modal" data-target=".download-template-modal"
                     ng-click="downloadTemplate()">View Excel Specifications</a></li>
            </ul>
          </div>

          <div id="importFromData" class="collapse width">
            <input type="file"
                   ngf-select
                   ng-model="postTripFile"
                   accept=".xls,.xlsx">
            <button type="button" class="btn btn-info" ng-click="uploadPostTripFileToApi(postTripFile)">
              Upload
            </button>
          </div>
        </div>

        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#search-collapse"
                aria-expanded="false"
                aria-controls="search-collapse">
          <span class="fa fa-search" aria-hidden="true"></span>
          <span class="hidden-xs">Search</span>
        </button>
      </div>
    </div>

    <div id="delete-modal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Are you sure you want to delete this post trip?</h4>
          </div>
          <div class="modal-body">
            <ul>
              <li>ScheduleNumber: {{ postTrips[tempDeleteIndex].scheduleNumber }}</li>
              <li>Departure Station: {{ postTrips[tempDeleteIndex].arrStationCode }}</li>
              <li>Departure Time: {{ postTrips[tempDeleteIndex].depTime }}</li>
              <li>Arrival Station: {{ postTrips[tempDeleteIndex].arrStationCode }}</li>
              <li>Arrival Time: {{ postTrips[tempDeleteIndex].arrTime }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deletePostTrip()">Delete
            </button>

          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default no-transition" id="search-collapse">
      <form name="menuSearchForm" ng-submit="searchPostTripData()">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="schedule-number">Schedule Number</label>
                <input ng-model="search.scheduleNumber" type="text" class="form-control" id="schedule-number"
                       placeholder="T1">
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="tail-number">Tail Number</label>
                <ui-select id="tail-number" multiple ng-model="multiSelectedValues.tailNumbers" theme="bootstrap">
                  <ui-select-match placeholder="Select Tail Number..">{{ $item.carrierNumber }}</ui-select-match>
                  <ui-select-choices repeat="number in carrierNumbers | filter: $select.search">
                    {{ number.carrierNumber }}
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <date-picker
                class="form-group"
                element-class="col-xs-6"
                start-date-model="search.scheduleStartDate"
                end-date-model="search.scheduleEndDate"
                label-from="Schedule Date From"
                label-to="Schedule Date To"
                is-search-field="true">
              </date-picker>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="departure-station">Departure Station</label>
                <ui-select id="departure-station" multiple ng-model="multiSelectedValues.depStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="arrival-station">Arrival Station</label>
                <ui-select id="arrival-station" multiple ng-model="multiSelectedValues.arrStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="employee-id">Employee Id</label>
                <ui-select id="employee-id" multiple ng-model="multiSelectedValues.employeeIds" theme="bootstrap">
                  <ui-select-match placeholder="Select EmployeeIds..">{{ $item.employeeIdentifier }}</ui-select-match>
                  <ui-select-choices repeat="employee in employees | filter: $select.search">
                    {{ employee.employeeIdentifier }} ({{employee.lastName}}, {{ employee.firstName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <br>
    <table class="table table-bordered table-hover ng-scope">
      <thead>
      <tr>
        <th>Schedule Number</th>
        <th>Departure Station</th>
        <th>Departure Time</th>
        <th>Arrival Station</th>
        <th>Arrival Time</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr class="ng-scope" ng-repeat="trip in postTrips">
        <td>{{ trip.scheduleNumber }}</td>
        <td>{{ trip.depStationCode}}</td>
        <td>{{ trip.depTime }}</td>
        <td>{{ trip.arrStationCode}}</td>
        <td>{{ trip.arrTime }}</td>
        <td>
          <button class="btn btn-info btn-xs" ng-click="redirectToPostTrip(trip.id, 'view')" tabindex="0">
            <i class="fa fa-file"></i>
          </button>
          <button class="btn btn-primary btn-xs" ng-click="redirectToPostTrip(trip.id, 'edit')"
                  ng-disabled="isMenuEditable(menu)"
                  tabindex="0" aria-disabled="true" disabled="disabled">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger btn-xs" ng-click="promptDeleteModal($index)" ng-disabled="isMenuReadOnly(menu)"
                  tabindex="0" aria-disabled="true" disabled="disabled" ng-show="showDeleteButton(trip.scheduleDate)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<download-template-modal></download-template-modal>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
