<div class="module-container">

  <div class="edit-controls">

    <div class="row">
      <div class="col-xs-6">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a class="btn btn-default" ng-href="#/post-trip-data-list" class="btn" ng-show="readOnly">Back</a>
      </div>
    </div>

  </div>

  <error-dialog form-object="postTripDataForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="postTripDataForm">
    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Schedule Number *</label>
              <select class="form-control"
                      name="scheduleNumber"
                      ng-model="postTrip.scheduleNumber"
                      ng-options="schedule.scheduleNumber as schedule.scheduleNumber for schedule in schedules"
                      ng-disabled="readOnly"
                      required="true">
                <option selected="selected" value>Select a Schedule Number</option>
              </select>


            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <date-picker
                disable-date-range="true"
                start-date-model="postTrip.scheduleDate"
                is-search-field="true"
                label-from="Schedule Date *"
                required="true"
                disable-start-date="readOnly">
              </date-picker>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="departureStation">Departure Station *</label>
              <select class="form-control"
                      name="departureStation"
                      ng-change="updateDepartureTimeZone()"
                      ng-model="postTrip.depStationId"
                      ng-options="station.stationId as (station.stationCode + ' (' + station.stationName +')') for station in stationList"
                      ng-disabled="readOnly"
                      required="true">
                <option selected="selected" value>Select a Departure Station</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <label for="departure-time">Departure Time *</label>
            <input custom-validity
                   custom-pattern="time"
                   required
                   ng-model="postTrip.depTime"
                   type="text"
                   class="form-control departure-time"
                   name="departureTime"
                   placeholder="21:34"
                   ng-readonly="readOnly">
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="departure-time-zone">Departure Time Zone *</label>
              <input type="text"
                     class="form-control"
                     name="departureTimeZone"
                     placeholder=""
                     ng-model="departureTimezone"
                     disabled>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="arrival-station">Arrival Station *</label>
              <select class="form-control"
                      name="arrivalStation"
                      ng-change="updateArrivalTimeZone()"
                      ng-model="postTrip.arrStationId"
                      ng-options="station.stationId as (station.stationCode + ' (' + station.stationName +')') for station in stationList"
                      ng-disabled="readOnly"
                      required="true">
                <option selected="selected" value>Select an Arrival Station</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Arrival Time *</label>
              <input custom-validity
                     custom-pattern="time"
                     required
                     ng-model="postTrip.arrTime"
                     type="text"
                     class="form-control departure-time"
                     name="arrivalTime"
                     placeholder="23:34"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Arrival Time Zone *</label>
              <input type="text" class="form-control"
                     name="arrivalTimeZone"
                     placeholder=""
                     ng-model="arrivalTimezone"
                     disabled>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Passenger Count *</label>
              <input custom-validity
                     custom-pattern="numberUpToFiveChars"
                     required="true"
                     ng-model="postTrip.passengerCount"
                     type="text"
                     class="form-control passenger-count"
                     placeholder="123"
                     ng-readonly="readOnly"
                     name="passengerCount" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="tailNumber">Tail Number *</label>
              <select class="form-control"
                      name="tailNumber"
                      ng-model="postTrip.tailNumber"
                      ng-options="number.carrierNumber as number.carrierNumber for number in carrierNumbers"
                      ng-disabled="readOnly"
                      required="true">
                <option selected="selected" value>Select a Tail Number</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 employee-id">
            <div class="form-group">
              <label>Employee ID's *</label>
              <ui-select required name="employeeIds" multiple ng-model="selectedEmployees.employeeIds" theme="bootstrap" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Employee IDs from list">{{ $item.employeeIdentifier }}</ui-select-match>
                <ui-select-choices repeat="employee in employees | filter: $select.search">
                  {{employee.employeeIdentifier}} ({{ employee.lastName }}, {{ employee.firstName }})
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <a href="#/post-trip-data-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>

      </div>
    </div>
  </form>

</div>
<!-- /Container -->

<div id="overwrite-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Overwrite Post Trip?</h3>
      </div>
      <div class="modal-body">
        A Post Trip already exists with schedule Number: <b>{{ postTrip.scheduleNumber }}</b> and scheduleDate: <b>{{ postTrip.scheduleDate }}</b>.
        If you continue, your changes will overwrite the existing post trip. Would you still like to continue and save this post trip?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="overwritePostTrip()">Continue</button>
      </div>
    </div>
  </div>
</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Post Trip Data"></dynamic-left-nav>
