<div class="module-container">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="view-name">{{viewName}}</h2>
    </div>

    <div class="col-xs-6 text-right">
      <a class="btn btn-default" ng-href="#/post-trip-data-list" class="btn" ng-show="readOnly">Back</a>
    </div>
  </div>

  <br>

  <form name="postTripDataForm">

    <form-error-dialog></form-error-dialog>
    <!--/TopHeader -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- form header-->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Schedule Number *</label>
              <input ng-model="postTrip.scheduleNumber" type="text" class="form-control schedule-number"
                     placeholder="123" required="true" ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <date-picker
                disable-date-range="true"
                start-date-model="postTrip.scheduleDate"
                is-search-field="true"
                label-from="Schedule Date *"
                required="true"
                disable-start-date="true">
              </date-picker>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="departureStation">Departure Station *</label>
              <select class="form-control" id="departureStation" ng-model="postTrip.depStationId"
                      ng-change="updateDepartureTimeZone()" ng-disabled="readOnly" required="true">
                <option ng-repeat="station in stationList" value="{{ station.stationId }}">
                  {{ station.stationCode }} ({{ station.stationName}})
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <label for="departure-time">Departure Time *</label>
            <input custom-validity
                   custom-pattern="time"
                   ng-model="postTrip.depTime"
                   type="text"
                   class="form-control departure-time"
                   id="departure-time"
                   placeholder="21:34"
                   ng-readonly="readOnly">
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="departure-time-zone">Departure Time Zone *</label>
              <input type="text"
                     class="form-control"
                     id="departure-time-zone"
                     placeholder=""
                     ng-model="departureTimezone"
                     disabled>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="arrival-station">Arrival Station *</label>
              <select class="form-control" id="arrival-station" ng-model="postTrip.arrStationId"
                      ng-change="updateArrivalTimeZone()" ng-disabled="readOnly" required="true">
                <option ng-repeat="station in stationList" value="{{ station.stationId }}">
                  {{ station.stationCode }} ({{ station.stationName}})
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Arrival Time *</label>
              <input custom-validity
                     custom-pattern="time"
                     ng-model="postTrip.arrTime"
                     type="text"
                     class="form-control departure-time"
                     id="departure-time"
                     placeholder="23:34"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Arrival Time Zone *</label>
              <input type="text" class="form-control" id="arrivalTimeZone" placeholder=""
                     ng-model="arrivalTimezone" disabled>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Passenger Count *</label>
              <input custom-validity
                     custom-pattern="numberUpToFiveChars"
                     required="true"
                     ng-model="postTrip.passengerCount"
                     type="text"
                     class="form-control passenger-count"
                     placeholder="123"
                     ng-readonly="readOnly">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="tailNumber">Tail Number *</label>
              <select class="form-control" id="tailNumber" ng-model="postTrip.tailNumber" ng-disabled="readOnly" required="true">
                <option ng-repeat="number in carrierNumbers" value="{{ number.carrierNumber }}">
                  {{ number.carrierNumber }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 employee-id">
            <div class="form-group">
              <label>Employee ID's *</label>
              <ui-select multiple ng-model="selectedEmployees.employeeIds" theme="bootstrap" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Employee IDs from list">{{ $item.employeeIdentifier }}</ui-select-match>
                <ui-select-choices repeat="employee in employees | filter: $select.search">
                  {{employee.employeeIdentifier}} ({{ employee.lastName }}, {{ employee.firstName }})
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
          <span class="fa fa-check-square-o" aria-hidden="true"></span>
          <span class="hidden-xs">Save</span>
        </button>
        <a href="#/post-trip-data-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>

      </div>
    </div>
  </form>

</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
