<div class="module-container">

  <div class="edit-controls">
    <div class="row">

      <div class="col-xs-12">
        <h2 class="view-name">{{ viewName }}</h2>
      </div>

    </div>
  </div>
  <!--/TopHeader -->

  <div class="post-trip-data-list">
    <div class="row">

      <div class="col-xs-12">
        <div class="btn-group import-from-file">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#importFromData">
            Import Post Trip From File <i class="fa fa-caret-right"></i>
          </button>

          <div id="importFromData" class="collapse width">
            <input type="file" style="margin:5px; display:block;">

<!-- TODO: 'UPLOAD' BUTTON FUNCTIONALITY -->
            <button type="button" class="btn btn-info">
              Upload
            </button>

            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".download-template-modal" ng-click="downloadTemplate()">
              <i class="fa fa-download"></i> Download Template
            </button>
          </div>

        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-6">
        <a ng-href="/#/post-trip-data" class="btn btn-primary"> + </a>
      </div>

      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search-collapse"
                aria-expanded="false"
                aria-controls="search-collapse">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span class="hidden-xs">Search</span>
        </button>
      </div>

    </div>
    <div class="panel panel-default collapse no-transition" id="search-collapse">
      <form name="menuSearchForm" ng-submit="searchPostTripData()">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="schedule-number">Schedule Number</label>
                <input ng-model="search.scheduleNumber" type="text" class="form-control" id="schedule-number" placeholder="T1">
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="tail-number">Tail Number</label>
                <select class="form-control" id="tail-number" ng-model="search.tailNumber">
                  <option>123456</option>
                  <option>123456</option>
                  <option>123456</option>
                  <option>123456</option>
                </select>
              </div>
            </div>

            <date-picker class="form-group"
              element-class="col-xs-12 col-sm-3"
              start-date-model="formData.startDate"
              end-date-model="formData.endDate"
              disable-past="true"
              label-from="Effective From"
              label-to="Effective To"
              disable-start-date="viewOnly || itemIsActive"
              disable-end-date="viewOnly || itemIsInactive">
            </date-picker>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="departure-station">Departure Station</label>
                <select class="form-control" id="departure-station" ng-model="search.departureStation">
                  <option value=""></option>
                  <option ng-repeat="station in stationList" value="{{ station.stationCode }}">
                    {{ station.stationCode }} ({{ station.stationName}})
                  </option>
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Departure Time</label>
                <input ng-model="search.departureTimeHour" type="text" class="form-control departure-time-from" id="departure-hour" placeholder="hh">
                <input ng-model="search.departureTimeMinute" type="text" class="form-control departure-time-to" id="departure-min" placeholder="mm">
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="arrival-station">Arrival Station</label>
                <select class="form-control" id="arrival-station" ng-model="search.arrivalStation">
                  <option value=""></option>
                  <option ng-repeat="station in stationList" value="{{ station.stationCode }}">
                    {{ station.stationCode }} ({{ station.stationName}})
                  </option>
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Arrival Time</label>
                <input ng-model="search.arrivalTimeHour" type="text" class="form-control arrival-time-from" id="arrival-hour" placeholder="hh">
                <input ng-model="search.arrivalTimeMinute" type="text" class="form-control arrival-time-to" id="arrival-min" placeholder="mm">
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>

    <table class="table table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Schedule Number</th>
          <th>Departure Station</th>
          <th>Departure Time</th>
          <th>Arrival Station</th>
          <th>Arrival Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngRepeat: menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName} -->
        <tr class="ng-scope">
          <td class="ng-binding">T1</td>
          <td class="ng-binding">05/06/2015</td>
          <td class="ng-binding">12:34</td>
          <td class="ng-binding">Test</td>
          <td class="ng-binding">12:34</td>
          <td>
            <button class="btn btn-info btn-xs" ng-click="showMenu(menu)" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="showMenu(menu)" ng-disabled="isMenuEditable(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation(menu)" ng-disabled="isMenuReadOnly(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr class="ng-scope">
          <td class="ng-binding">T2</td>
          <td class="ng-binding">05/07/2015</td>
          <td class="ng-binding">12:34</td>
          <td class="ng-binding">Test</td>
          <td class="ng-binding">12:34</td>
          <td>
            <button class="btn btn-info btn-xs" ng-click="showMenu(menu)" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="showMenu(menu)" ng-disabled="isMenuEditable(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="showDeleteConfirmation(menu)" ng-disabled="isMenuReadOnly(menu)" tabindex="0" aria-disabled="true" disabled="disabled">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <!-- end ngRepeat: menu in menuList | filter:{menuCode: search.menuCode, menuName: search.menuName} -->
      </tbody>
    </table>
  </div>

</div>

<download-template-modal></download-template-modal>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
