<div class="module-container">
	<div class="edit-controls">
	    <div class="row">
	      <div class="col-xs-6">
	        <h2 class="view-name">{{viewName}}</h2>
	      </div>

	      <div class="col-xs-6 text-right">
	        <a class="btn btn-default" ng-href="#/priceupdater-list" class="btn" ng-show="readOnly">Back</a>
	      </div>
	    </div>
	</div>
	<error-dialog form-object="priceUpdaterDataForm" error-response="errorResponse" display="displayError"></error-dialog>
	<!-- Data Input Section -->
	<form name="priceUpdaterDataForm">
		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="row">
				   <div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<label for="categoryName">Category*</label>
							<select name="Category" ng-model="rule.categoryId" class="form-control" ng-disabled="isDisabled()" id="item-sales-category" required
							 ng-options="salesCategory.id as salesCategory.name for salesCategory in salesCategories">
							 <option value="">Select Category...</option>
	                  		</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<date-picker-field
				                form="priceUpdaterDataForm" name="EffectiveStartDate"
								label="Effective Start Date"
								disable="isDisabled()"
								required="true"
								disable-past="true"
								ng-model="rule.startDate">
							</date-picker-field>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<date-picker-field
				                form="priceUpdaterDataForm"
				                name="EffectiveEndDate"
								label="Effective End Date"
								disable="readOnly || shouldDisableEndDate"
								ng-model="rule.endDate"
								end-current-effective="!viewEditItem"
								custom-effective="true"
								custom-date="rule.endDate"
								required="true">
				              </date-picker-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<label for="priceType">Price Type*</label>
							<select name="Price Type" ng-model="rule.priceTypeId" required="true" ng-disabled="isDisabled()" class="form-control"
								ng-options="type.id as type.name for type in priceTypes">
								<option value="">Select Price Type...</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<label for="taxIs">Tax Is*</label>
							<select name="Tax Is" ng-model="rule.taxFilter" ng-disabled="isDisabled()" required="true"  class="form-control"
							   ng-options="tax.value as tax.name for tax in taxIs">
							   <option value="">Select Tax Is...</option>
						    </select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<label class="invisible">Checkbox</label>
                		<div class="form-group">
							<input ng-model="rule.percentage" ng-disabled="isDisabled()" id="percentage" type="checkbox"/>
                			<label>Is Percentage</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4" ng-hide="rule.percentage">
						<div class="form-group">
							<label for="currencyList">Currencies List*</label>
							<div class="form-group" ng-repeat="(currencyKey,currency) in priceCurrencies track by $index">
								<div class="input-group">
									<div class="input-group-addon">
    	          						{{ currency.code }} *
									</div>
									<input name="Currencies List - {{ currency.code }}" ng-model="currency.price" ng-required="!rule.percentage"  
											ng-disabled="isDisabled()" type="text" custom-validity custom-pattern="numberOrDecimal" class="form-control" maxlength="8" placeholder="1.00"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4" ng-show="rule.percentage">
						<div class="form-group">
                			<label for="percentValue">Percentage Value*</label>
                			<input ng-model="rule.percentValue" type="text" class="form-control" name = "percentageValue" id="percentValue" ng-required="rule.percentage"
                				placeholder="10%" ng-disabled="isDisabled()" ng-pattern="regexp.percentage">
              			</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<!-- StationException Section-->
						<div class="panel panel-default">
						   <div class="panel-heading">
	    						<p class="panel-title">
								<i class="fa fa-tags"></i> Station Exception
								</p>
	  					   </div>
						   <div class="panel-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12">
								   <div class="row">
							          <div class="col-xs-12 col-sm-4">
							            <date-picker-field 
							            	ng-if="minDate" 
							            	disable="isDisabled()" 
							              	form="form" 
							              	label="Effective From"
							              	name="StationExceptionEffectiveFrom"
							              	ng-required="rule.bulkRuleStationException.endDate" 
							              	disable-past="true"
							              	ng-model="rule.bulkRuleStationException.startDate">
							            </date-picker-field>
	         						 </div>
						            <div class="col-xs-12 col-sm-4">
							            <date-picker-field 
							            	ng-if="minDate" 
							            	disable="readOnly || shouldDisableEndDate" 
							              	form="form" 
							              	label="Effective To"
							                name="StationExceptionEffectiveTo" 
							                custom-effective="true"
							                ng-required="rule.bulkRuleStationException.startDate"
											custom-date="stationException.endDate"
							                ng-model="rule.bulkRuleStationException.endDate">
							            </date-picker-field>
	          						</div>
	          						<div class="col-xs-12 col-sm-4" ng-show="rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate && stations.length > 0">
										<div class="form-group" ng-disabled="isDisabled()" 
										ng-class="{ 'has-error' : !rule.bulkRuleStationException.stationId , 'has-success' : rule.bulkRuleStationException.stationId }">
											<label>Station *</label>
											<select name="Station" ng-model="rule.bulkRuleStationException.stationId" 
												ng-disabled="isDisabled()" class="form-control"
												ng-required="rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate"
							   					ng-options="station.id as (station.code + ' (' + station.name +')') for station in stations">
						   					</select>
										</div>
									</div>
						           </div>
		   						   <div class="row" ng-show="rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate && stations.length > 0">
			       					<div class="col-xs-12 col-sm-4">
										<div class="form-group" ng-disabled="isDisabled()" 
										ng-class="{ 'has-error' : !rule.bulkRuleStationException.taxIs , 'has-success' : rule.bulkRuleStationException.taxIs }">
											<label>Tax Is *</label>
											<select name="Tax Is" 
												ng-disabled="!rule.bulkRuleStationException.startDate && !rule.bulkRuleStationException.endDate || isDisabled()" 
												ng-model="rule.bulkRuleStationException.taxIs"
												ng-required="rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate" 
												class="form-control">
												<option value="Included">Included</option>
												<option value="Excluded">Excluded</option>
												<option value="Exempt">Exempt</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="form-group">
											<label for="stationCurrencyList">Currencies List*</label>
											<div class="form-group" ng-repeat="(stnCurrencyKey,stnCurrency) in stationPriceCurrencies track by $index">
												<div class="input-group">
													<div class="input-group-addon">
				    	          						{{ stnCurrency.code }} *
													</div>
													<input name="Station Currencies List - {{ stnCurrency.code }}" ng-model="stnCurrency.price" ng-required="rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate"  
															ng-disabled="isDisabled()" custom-validity custom-pattern="numberOrDecimal" 
															type="text" class="form-control" maxlength="8" placeholder="1.00"/>
												</div>
											</div>
										</div>
										<!-- <label class="invisible">Checkbox</label>
				                		<div class="form-group">
											<input ng-model="rule.bulkRuleStationException.percentage" ng-disabled="isDisabled()" id="stnpercentage" type="checkbox"/>
				                			<label>Is Percentage</label>
										</div> -->
									</div>
									<!-- <div class="col-xs-12 col-sm-4" ng-hide="rule.bulkRuleStationException.percentage">
										<div class="form-group">
											<label for="stationCurrencyList">Currencies List*</label>
											<div class="form-group" ng-repeat="(stnCurrencyKey,stnCurrency) in stationPriceCurrencies track by $index">
												<div class="input-group">
													<div class="input-group-addon">
				    	          						{{ stnCurrency.code }} *
													</div>
													<input name="Station Currencies List - {{ stnCurrency.code }}" ng-model="stnCurrency.price" ng-required="!rule.bulkRuleStationException.percentage && rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate"  
															ng-disabled="isDisabled()" custom-validity custom-pattern="numberOrDecimal" 
															type="text" class="form-control" maxlength="8" placeholder="1.00"/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4" ng-show="rule.bulkRuleStationException.percentage">
										<div class="form-group">
				                			<label for="percentValue">Percentage Value*</label>
				                			<input ng-model="rule.bulkRuleStationException.percentValue" type="text" class="form-control" name = "stationPercentageValue" id="stnPercentValue" 
				                				ng-required="rule.bulkRuleStationException.percentage && rule.bulkRuleStationException.startDate && rule.bulkRuleStationException.endDate" placeholder="10%" ng-disabled="isDisabled()" ng-pattern="regexp.percentage">
				              			</div>
									</div> -->
								   </div>
								</div>
						     </div>
						   </div>
						</div>
						<!-- /StationException Section -->
      				</div>
				</div>	
			</div>
			<div class="panel-footer text-right">
				<a href="#/priceupdater-list" class="btn btn-default" ng-hide="readOnly">Cancel</a>
				<button class="btn btn-primary" ng-click="formSave()" ng-hide="readOnly">
					<span class="fa fa-check-square-o" aria-hidden="true"></span> <span
						class="hidden-xs">Save</span>
				</button>
			</div>
		</div>
	</form>
</div>
<!-- /Container -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav title="Retail Item Management"></dynamic-left-nav>