<div class="module-container">
  <div class="row item-list-row">
    <div class="col-xs-6">
    	<h2 class="view-name">{{ viewName }}</h2>
    	<button class="btn btn-primary" tabindex="0" ng-show="isCRUD" ng-disabled="!hasSelectedAnyRules()" ng-click="showBulkExecuteActionModal('Apply Rules')">Apply Rules
        </button>
    </div>
    <div class="col-xs-6 text-right">
       <a href="#/priceupdater/create" ng-show="isCRUD" class="btn btn-primary">+ <span class="hidden-xs">Create Rule</span></a>
       <button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse"
               aria-expanded="false"
               aria-controls="search-collapse">
        <span class="fa fa-search" aria-hidden="true"></span>
        <span class="hidden-xs">Filter</span>
       </button>
    </div>
  </div>

  <div class="priceupdater-data-list">
    
    <div class="panel panel-default no-transition" id="search-collapse">
      <form name="priceupdaterSearchForm" ng-submit="searchPriceUpdateRulesData()">
        <div class="panel-body">
          <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="form-group">
                <label for="category">Category</label>
                <select ng-model="search.categoryId" class="form-control" id="item-sales-category">
                  <option value="{{salesCategory.id}}"
                          ng-repeat="salesCategory in salesCategories | unique: 'salesCategoryId'">{{ salesCategory.name }}
                  </option>
                </select>
              </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8">
				<date-picker
	                class="form-group"
	                element-class="col-xs-6"
	                start-date-model="search.startDate"
	                end-date-model="search.endDate"
	                label-from="Effective Start Date"
	                label-to="Effective End Date"
	                is-search-field="true">
              </date-picker>
			</div>
		  </div>
          <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="form-group">
					<label for="priceType">Price Type</label>
					<select name="Price Type" ng-model="search.priceTypeId" class="form-control"
						ng-options="type.id as type.name for type in priceTypes">
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="form-group">
					<label for="taxIs">Tax Is</label>
					<select name="Tax Is" ng-model="search.taxFilter" class="form-control">
						<option value="true">Included</option>
						<option value="null">Excluded</option>
						<option value="false">Exempt</option>
				    </select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
          		<label for="Rule Appied">Rule Applied</label>
                <div class="form-group">
                	<select name="Rule Applied" ng-model="search.ruleApplied" class="form-control">
						<option value="yes">Yes</option>
						<option value="no">No</option>
				    </select>
				</div>
          	</div>  
		  </div>
		</div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <br>
    <div class="table-responsive">
      <table infinite-scroll="loadPriceUpdaterRules()" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            <input class="btn btn-default" style="margin-top:0px" type="checkbox" value="1" ng-model="allCheckboxesSelected" ng-click="selectAllCheckboxes()">
          </th>
          <th>Category</th>
          <th>Price Type</th>
          <th>Tax Is</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Rule Applied</th>
          <th>Updated Date/Time</th>
          <th>Updated User</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="ng-scope" ng-repeat="priceupdater in priceUpdateRules">
          <td>
            <input class="btn btn-default" style="margin-top:0px" type="checkbox" value="1" ng-show="isValidForRuleApply(priceupdater)" ng-model="priceupdater.selected" >
          </td>
          <td>{{ priceupdater.categoryName }}</td>
          <td>{{ priceupdater.priceTypeName }}</td>
          <td>{{ priceupdater.taxIs }}</td>
          <td>{{ priceupdater.startDate}}</td>
          <td>{{ priceupdater.endDate}}</td>
          <td>{{ isRuleApplied(priceupdater) }}</td>
          <td>{{ loadUpdatedOn(priceupdater) }}</td>
          <td>{{ loadUpdatedBy(priceupdater) }}</td>
          <td>
            <button class="btn btn-info btn-xs" ng-click="redirectToPriceUpdateRule(priceupdater.id, 'view')" tabindex="0">
              <i class="fa fa-file"></i>
            </button>
            <button class="btn btn-primary btn-xs" ng-click="redirectToPriceUpdateRule(priceupdater.id, 'edit')" ng-show="isCRUD && isPriceUpdaterEditable(priceupdater)" tabindex="0">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-xs"
                    ng-click="deleteRecordDialog(priceUpdateRules[$index], ['categoryName', 'priceTypeName', 'startDate', 'endDate'])"
                    tabindex="0"
                    ng-show="isCRUD && showDeleteButton(priceupdater)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <alert ng-show="!loadingBarVisible && priceUpdateRules.length == 0" type="info">
      <span class="fa fa-flag"></span> Your search returned no results.
    </alert>
    <p ng-if="priceUpdateRules.length > 0" class="record-count small text-center">Showing {{priceUpdateRules.length}} records</p>
    <p class="loading-more alert alert-info text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading more...</p>
  </div>

</div>
<div class="modal fade delete-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Are you sure?</h3>
      </div>

      <div class="modal-body">
        <p>You are about to perform the following action: <strong>{{actionToExecute}}</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="executeAction()">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<delete-record-dialog></delete-record-dialog>

<dynamic-left-nav></dynamic-left-nav>