<div class="module-container">

  <error-dialog form-object="promotionCategoryForm" error-response="errorResponse" display="displayError"></error-dialog>

  <form name="promotionCategoryForm" class="form edit-form">

    <div class="edit-controls">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="view-name">Promotion Category</h2>
        </div>
        <div class="col-xs-6 text-right">
          <a class="btn btn-default" ng-href="#/promotion-category-list" class="btn">Back</a>
          <button class="btn btn-success" ng-click="save()" ng-hide="isViewOnly" ng-disabled="isAnyItemExpired()">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-12" ng-class="{ 'has-error' : !promotionCategory.promotionCategoryName && displayError, 'has-success' : promotionCategory.promotionCategoryName }">
        <label>Category Name *</label>
        <input
               type="text"
               ng-model="promotionCategory.promotionCategoryName"
               class="form-control"
               name="CategoryName"
               id="newCategoryName"
               placeholder="Enter Category Name"
               maxlength="40"
               ng-pattern="regexp.alphanumericSpaces"
               required="promotionCategoryForm.$submitted"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" ng-class="{ 'has-error' : !promotionCategory.startDate && displayError, 'has-success' : promotionCategory.startDate }">
        <date-picker-field ng-if="disableEditField || isCopy"
          custom-effective="true"
          name="EffectiveFrom"
          min-date="startMinDate"
          ng-model="promotionCategory.startDate"
          disable="disableEditField"
          label="Effective From"
          required="promotionCategoryForm.$submitted">
        </date-picker-field>
         <date-picker-field ng-if="!disableEditField && !isCopy"
          name="EffectiveFrom"
          min-date="startMinDate"
          ng-model="promotionCategory.startDate"
          disable="disableEditField"
          label="Effective From"
          required="promotionCategoryForm.$submitted">
        </date-picker-field>
        </div>

        <div class="form-group col-xs-6" ng-class="{ 'has-error' : !promotionCategory.endDate && displayError , 'has-success' : promotionCategory.endDate }">
          <date-picker-field 
            ng-if="isCurrentEffectiveDate(promotionCategory)  || isCopy || isViewOnly"
            name="EffectiveTo"
            min-date="minDate"
            ng-model="promotionCategory.endDate"
            disable="isViewOnly"
            label="Effective To"
            required="promotionCategoryForm.$submitted"
            end-current-effective="true">
          </date-picker-field>
          <date-picker-field 
            ng-if="!isCurrentEffectiveDate(promotionCategory) && !isCopy && !isViewOnly"
            name="EffectiveTo"
            min-date="minDate"
            ng-model="promotionCategory.endDate"
            disable="isViewOnly"
            label="Effective To"
            required="promotionCategoryForm.$submitted">
          </date-picker-field>
      </div>
    </div>

    <br>

    <h3>Retail Items <span class="badge">{{ itemList.length }}</span>
      <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="addItem()" ng-hide="disableEditField">
        <i class="fa fa-plus"></i> Add Item
      </button>
    </h3>

    <table class="table">
      <tr>
        <th class="col-xs-4">Category</th>
        <th class="col-xs-7">Item</th>
        <th class="col-xs-1"></th>
      </tr>
      <tr ng-repeat="item in itemList track by $index">
        <td>
          <ui-select
            ng-model="item.selectedCategory"
            on-select="filterItemListFromCategory(item)"
            theme="bootstrap"
            ng-disabled="disableEditField"
            placeholder="Select a category to filter the items list...">
            <ui-select-match
              allow-clear="true"
              placeholder="Select a category to filter the items list...">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="category in categoryList | filter: $select.search | orderBy:'name'">
              <div ng-bind-html="category.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </td>
        <td>
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Lookup an Item"
                   name="menuItem-{{$index}}"
                   value="{{ item.selectedItem.itemName }}"
                   autocomplete="off"
                   ng-disabled="disableEditField" />
            <div class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="showMasterItemsModal(item, $index)"
                      ng-disabled="disableEditField">
                <i class="fa fa-info-circle"></i>
              </button>
            </div>
          </div>
          <div ng-if="item.isExpired" style="color:red">This item expired!</div>
        </td>
        <td>
          <button class="btn btn-danger btn-xs" ng-click="removeItem(item)" ng-hide="disableEditField">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>

  </form>
</div>

<div class="modal" id="master-items" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-8">
            <h4 class="modal-title">Lookup Valid Items</h4>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-default btn-cancel" data-dismiss="modal">Close</button>
            <button class="btn btn-success" ng-click="populateAllSelectedItems()">Select Items</button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <div class="input-group">
            <input ng-model="masterItemsListFilterText" type="text" class="form-control" id="filter-item-details"
                   placeholder="Filter Items List"/>
            <div class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="filterMasterItemsList()">
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </div>

          <table class="table table-bordered table-condensed">
            <tr>
              <th>Item Name</th>
              <th>Item Code</th>
              <th style="text-align:center;"><input class="btn btn-default" type="checkbox" value="1" ng-model="allCheckboxesSelected" ng-click="toggleAllCheckboxes()"></th>
            </tr>
            <tr ng-repeat="masterItem in filteredMasterItemList | filter: {itemName: masterItemsListSearch} | orderBy:'itemName'">
              <td>{{ masterItem.itemName }}</td>
              <td>{{ masterItem.itemCode }}</td>
              <td style="text-align:center;">
                <input class="btn btn-default" ng-click="toggleSelectAll()" type="checkbox" ng-model="masterItem.isItemSelected"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<dynamic-left-nav title="Promotion Management"></dynamic-left-nav>
