<div class="container module-container">
  <form name="promotionsForm" class="form edit-form create-item-form">
    <div class="edit-controls">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="view-name">{{ viewName }}</h2>
        </div>
        <div class="col-xs-6 text-right">
          <fieldset ng-hide="viewOnly">
            <button class="btn btn-default" type="button" ng-click="cancel()">
              <span class="fa fa-remove" aria-hidden="true"></span>
              <span class="hidden-xs">Cancel</span>
            </button>
            <button class="btn btn-primary" ng-click="save()"
                    ng-hide="readOnly"
                    ng-disabled="readOnly || (isAnyRetailItemExpired() || isAnyPromotionCategoryExpired())">
              <span class="fa fa-check-square-o" aria-hidden="true"></span>
              <span class="hidden-xs">{{ saveButtonText }}</span>
            </button>
          </fieldset>
        </div>
      </div>
    </div>

    <error-dialog form-object="promotionsForm" error-response="errorResponse" display="displayError">
    </error-dialog>

    <h3 id="promotion-information">Promotion Information</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : !promotion.promotionCode && displayError , 'has-success' : promotion.promotionCode }">
          <label for="promotion-code">Promotion Code*</label>
          <input type="text"
                 class="form-control"
                 id="promotion-code"
                 name="Promotion Code"
                 ng-model="promotion.promotionCode"
                 ng-pattern="regexp.alphanumeric"
                 ng-disabled="readOnly || isDisabled"
                 required="promotionsForm.$submitted">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : !promotion.description && displayError , 'has-success' : promotion.description }">
          <label for="promotion-description">Promotion Description*</label>
          <input type="text"
                 class="form-control"
                 id="promotion-description"
                 name="Promotion Description"
                 ng-model="promotion.description"
                 ng-disabled="readOnly || isDisabled"
                 required="promotionsForm.$submitted">
          
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : !promotion.promotionName && displayError , 'has-success' : promotion.promotionName }">
          <label for="promotion-name">Promotion Name*</label>
          <input type="text"
                 class="form-control"
                 id="promotion-name"
                 name="Promotion Name"
                 ng-model="promotion.promotionName"
                 ng-disabled="readOnly || isDisabled"
                 maxlength="40"
                 required="promotionsForm.$submitted">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6" ng-class="{ 'has-error' : !promotion.startDate && displayError , 'has-success' : promotion.startDate }">
               <date-picker-field 
                 ng-if="editing && isDisabled" 
                 disable="(shouldDisableStartDate && !isCopy()) || readOnly" 
                 name="EffectiveFrom" 
                 label="Effective From*"  
                 custom-effective="editing"
                 min-date="'+1d'" 
                 required="promotionsForm.$submitted" 
                 ng-model="promotion.startDate">
               </date-picker-field>

               <date-picker-field 
                 ng-if="!editing || !isDisabled" 
                 disable="(shouldDisableStartDate && !isCopy()) || readOnly" 
                 name="Effective From" 
                 label="Effective From*"
                 min-date="'+1d'" 
                 required="promotionsForm.$submitted" 
                 ng-model="promotion.startDate">
               </date-picker-field>
          </div>
          <div class="col-xs-12 col-sm-6" ng-class="{ 'has-error' : !promotion.endDate && displayError , 'has-success' : promotion.endDate }">
            <date-picker-field 
              ng-if="!(editing && isDisabled)" 
              disable="readOnly" 
              name="Effective To"
              min-date="( editing ? '0d' : '+1d')" 
              label="Effective To*" 
              required="promotionsForm.$submitted"
              ng-model="promotion.endDate">
            </date-picker-field>
            <date-picker-field 
              ng-if="(editing && isDisabled)" 
              disable="readOnly" 
              name="Effective To"
              min-date="( editing ? '0d' : '+1d')" 
              label="Effective To*" 
              required="promotionsForm.$submitted" 
              end-current-effective="true"
              ng-model="promotion.endDate">
            </date-picker-field>
          </div>
        </div>
      </div>
    </div>

    <h3 id="qualifiers">Qualifiers</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : !promotion.promotionType.id && displayError , 'has-success' : promotion.promotionType.id }">
          <label>Qualifier Type*</label>
          <ui-select theme="bootstrap" ng-model="promotion.promotionType" ng-disabled="readOnly || isDisabled" required name="QualifierType">
            <ui-select-match placeholder="Select Qualifier Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="promotionType in selectOptions.promotionTypes | filter: {name:$select.search}">
              <div ng-bind-html="promotionType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" ng-if="promotion.promotionType.name === 'Spend Limit'">
        <fieldset>
          <div class="form-group"  ng-class="{ 'has-error' : !promotion.spendLimitCategory.id && displayError , 'has-success' : promotion.spendLimitCategory.id }">
            <label>Promotion Category*</label>
            <ui-select theme="bootstrap" ng-model="promotion.spendLimitCategory" ng-disabled="readOnly || isDisabled" ng-required="promotion.promotionType.name === 'Spend Limit'" name="QualifiersPromotionCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && promotion.spendLimitCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>
          <div class="form-group">
            <label>Spend Limit Value*</label>
            <div class="row" ng-repeat="spendLimitAmountData in spendLimitAmountsUi track by $index">
              <div class="col-xs-2 col-sm-1 text-right">{{ spendLimitAmountData.code }}</div>
              <div class="col-xs-10 col-sm-8">
                <div class="input-group" ng-class="{ 'has-error' : !spendLimitAmountData.amount && displayError , 'has-success' : spendLimitAmountData.amount }">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <input type="text" class="form-control"
                         name="spendLimitAmount{{ spendLimitAmountData.code }}"
                         ng-pattern="regexp.sixNumberWithTwoDecimal"
                         ng-show="promotion.promotionType.name === 'Spend Limit'"
                         ng-model="spendLimitAmountData.amount"
                         ng-disabled="readOnly || isDisabled"
                         maxlength="9"
                         required>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <fieldset ng-if="promotion.promotionType.name === 'Product Purchase'">

      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
          <h3>Promotion Category <span class="badge">{{ promotion.promotionCategories.length }}</span><a class="pull-right"
                                                                                 ng-click="addBlankPromotionToArray(promotion.promotionCategories, promotion)"
                                                                                 ng-hidden="readOnly || isDisabled"
                                                                                 ng-disabled="readOnly || isDisabled">Add Promotion Category</a></h3>
        </div>
      </div>

      <div class="row" ng-repeat="promotionCategoryData in promotion.promotionCategories track by $index">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="form-group" ng-class="{ 'has-error' : !promotionCategoryData.promotionCategory.promotionCategoryName && displayError , 'has-success' : promotionCategoryData.promotionCategory.promotionCategoryName }">
            <label>Name*</label>
            <ui-select theme="bootstrap" ng-model="promotionCategoryData.promotionCategory" ng-disabled="readOnly || isDisabled" required name="PromotionCategoryName"
                       ng-change="promotionCategorySelectChanged($index)">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}"
                                 ui-disable-choice="disabledPromotionCategory(promotionCategory)">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
                <div>{{promotionCategory.startDate}} - {{promotionCategory.endDate}}</div>                
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && promotionCategoryData.promotionCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="form-group" ng-class="{ 'has-error' : !promotionCategoryData.categoryQty && displayError , 'has-success' : promotionCategoryData.categoryQty }">
            <label>Qty*</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="1" 
                   maxlength="4" 
                   ng-model="promotionCategoryData.categoryQty"
                   ng-pattern="regexp.positiveNumber"
                   ng-required="promotionCategoryQtyRequired(promotionCategoryData)"
                   ng-disabled="readOnly || isDisabled"
                   name="promotionCategoryQty">
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4 col-sm-offset-0">
          <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
          <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                  ng-click="removeFromPromotionCategoryByIndex($index)"
                  ng-hide="readOnly || isDisabled">
            <i class="fa fa-close"></i>
          </button>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
          <h3>Retail Item <span class="badge">{{ promotion.items.length }}</span>
            <a class="pull-right"
                                ng-click="addBlankObjectToArray(promotion.items)"
                                ng-hidden="readOnly || isDisabled"
                                ng-disabled="readOnly || isDisabled">Add Retail Item</a></h3>
        </div>
      </div>

      <div class="row" ng-repeat="retailItemData in promotion.items track by $index">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label>Item Category <i class="fa fa-question-circle" title="Filter Retail Items by Category"
                                    ng-hide="readOnly || isDisabled"></i></label>
            <ui-select theme="bootstrap"
                       ng-model="itemCategorySelects[$index]"
                       ng-change="itemCategoryChanged($index)"
                       ng-disabled="readOnly || isDisabled"
                       refresh-delay="0"
                       name="ItemCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="salesCategory in selectOptions.salesCategories | filter: {name:$select.search}">
                <div ng-bind-html="salesCategory.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="form-group" ng-class="{ 'has-error' : !retailItemData.retailItem.itemName && displayError , 'has-success' : retailItemData.retailItem.itemName }">
            <label>Retail Item*</label>
            <ui-select theme="bootstrap" ng-model="retailItemData.retailItem" ng-disabled="readOnly || isDisabled" required
                       ng-init="itemSelectInit($index)" ng-change="itemSelectChanged($index)" name="RetailItem">
              <ui-select-match placeholder="Select Item">{{ $select.selected.itemName }}</ui-select-match>
              <ui-select-choices repeat="masterItem in repeatableItemListSelectOptions[$index] | filter: {itemName:$select.search}"
                                 ui-disable-choice="disabledItems(masterItem)">
                <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && retailItemData.retailItem.isExpired" style="color:red">This retail item expired!</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="form-group" ng-class="{ 'has-error' : !retailItemData.itemQty && displayError , 'has-success' : retailItemData.itemQty }">
            <label>Qty*</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="1" 
                   maxlength="4" 
                   ng-model="retailItemData.itemQty"
                   ng-pattern="regexp.positiveNumber"
                   ng-required="retailItemQtyRequired(retailItemData)"
                   ng-disabled="readOnly || isDisabled"
                   name="RetailItemQty">
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4 col-sm-offset-0">
          <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
          <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                  ng-click="removeFromItemListByIndex($index)"
                  ng-hide="readOnly || isDisabled">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

    </fieldset>

    <h3 id="benefits">Benefits</h3>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : !promotion.benefitType.name && displayError , 'has-success' : promotion.benefitType.name }">
          <label>Benefit Type*</label>
          <ui-select theme="bootstrap" ng-model="promotion.benefitType" ng-disabled="readOnly || isDisabled" required name="BenefitType">
            <ui-select-match placeholder="Select Benefit Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="benefitType in selectOptions.benefitTypes | filter: {name:$select.search}">
              <div ng-bind-html="benefitType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <fieldset ng-if="promotion.benefitType.name === 'Discount'">

          <div class="form-group" ng-class="{ 'has-error' : !promotion.benefitDiscountApply.id && displayError , 'has-success' : promotion.benefitDiscountApply.id}">
            <label>Apply To*</label>
            <ui-select theme="bootstrap" ng-model="promotion.benefitDiscountApply" ng-disabled="readOnly || isDisabled" required name="ApplyTo">
              <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="discountType in selectOptions.discountApplyTypes | filter: {name:$select.search}">
                <div ng-bind-html="discountType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group" ng-if="promotion.benefitDiscountApply.name === 'Promotion Category'" ng-class="{ 'has-error' : !promotion.discountCategory.id && displayError , 'has-success' : promotion.discountCategory.id }">
            <label>Promotion Category*</label>
            <ui-select theme="bootstrap" ng-model="promotion.discountCategory"
                       ng-required="promotion.benefitDiscountApply.name === 'Promotion Category'"
                       ng-disabled="readOnly || isDisabled"
                       name="BenefitsPromotionCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && promotion.discountCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>

          <div class="row" ng-if="promotion.benefitDiscountApply.name === 'Retail Item'" ng-class="{ 'has-error' : !promotion.discountItem.itemName && displayError , 'has-success' : promotion.discountItem.itemName }">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>Retail Item*</label>
                <ui-select theme="bootstrap" ng-model="promotion.discountItem"
                           ng-disabled="readOnly || isDisabled" ng-required="promotion.benefitDiscountApply.name === 'Retail Item'" name="BenefitsRetailItem">
                  <ui-select-match placeholder="Select Item">{{ $select.selected.itemName }}</ui-select-match>
                  <ui-select-choices repeat="masterItem in selectOptions.masterItems | filter: {itemName:$select.search}">
                    <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
                <div ng-if="!readOnly && promotion.discountItem.isExpired" style="color:red">This retail item expired!</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <label class="invisible">Checkbox</label>
              <div class="form-group">
                <input type="checkbox"
                       id="benefits-discount-apply-to-retail-item-gift-with-purchase"
                       ng-model="promotion.giftWithPurchase">
                <label for="benefits-discount-apply-to-retail-item-gift-with-purchase">Gift With Purchase</label>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="col-xs-12 col-md-6">

        <fieldset ng-if="promotion.benefitType.name === 'Discount'">
          <div class="form-group" ng-class="{ 'has-error' : !promotion.discountType.id && displayError , 'has-success' : promotion.discountType.id }">
            <label>Discount Rate Type*</label>
            <ui-select theme="bootstrap" ng-model="promotion.discountType"
                       ng-required="true"
                       ng-disabled="readOnly || isDisabled"
                       name="DiscountRateType">
              <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="discountType in selectOptions.discountTypes | filter: {name:$select.search}">
                <div ng-bind-html="discountType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          
          <div class="row" ng-if="promotion.discountType.name === 'Percentage'">
            <div class="col-xs-12 col-sm-6" ng-if="showLowestPricedItem()">
              <label class="invisible">Checkbox</label>
                <div class="form-group">
                  <input type="checkbox"
                         id="benefits-discount-percentage-lowest-priced-article"
                         ng-model="promotion.lowestPricedArticle">
                  <label for="benefits-discount-percentage-lowest-priced-article">Lowest Price Item</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : !promotion.discountPercentage && displayError , 'has-success' : promotion.discountPercentage }">
                <label for="discount-rate-type-percentage-value">Percentage Value*</label>
                <input type="text" id="discount-rate-type-percentage-value"
                       class="form-control"
                       name="percentageValue"
                       custom-validity
                       custom-pattern="percentage"
                       ng-model="promotion.discountPercentage"
                       ng-required="promotion.discountType.name === 'Percentage'"
                       ng-disabled="readOnly || isDisabled">
              </div>
            </div>
          </div>
          <fieldset ng-if="promotion.discountType.name === 'Amount' || promotion.discountType.name === 'Fixed price' ">
            <div class="form-group">
              <label>Fixed Discount Value*</label>
              <div class="row" ng-repeat="benefitAmountData in benefitAmountsUi track by $index">
                <div class="col-xs-2 col-sm-1 text-right">{{ benefitAmountData.code }}</div>
                <div class="col-xs-10 col-sm-8">
                  <div class="input-group" ng-class="{ 'has-error' : !benefitAmountData.amount && displayError , 'has-success' : benefitAmountData.amount }">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" class="form-control"
                           name="benefitAmount{{ benefitAmountData.code }}"
                           ng-pattern="regexp.sixNumberWithTwoDecimal"
                           maxlength="9"
                           ng-model="benefitAmountData.amount"
                           ng-disabled="readOnly || isDisabled"
                           required>
                  </div>
                </div>
              </div>
            </div>
              <label>Miles/Points</label>
              <input class="form-control" ng-model="promotion.milesPoints" name="milesPoints" ng-pattern="regexp.number" maxlength="10" ng-disabled="readOnly || isDisabled"/>
          </fieldset>
        </fieldset>

        <div class="form-group" ng-if="promotion.benefitType.name === 'Coupon'" ng-class="{ 'has-error' : !promotion.companyCoupon.id && displayError , 'has-success' : promotion.companyCoupon.id }">
          <label>Coupon*</label>
          <ui-select theme="bootstrap" ng-model="promotion.companyCoupon"
                     required="promotion.benefitType.name === 'Coupon'"
                     ng-disabled="readOnly || isDisabled"
                     name="Coupon">
            <ui-select-match placeholder="Select Coupon Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="discountType in selectOptions.companyDiscountsCoupon | filter: {name:$select.search}">
              <div ng-bind-html="discountType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-if="!readOnly && promotion.companyCoupon.isExpired" style="color:red">This coupon expired!</div>
        </div>

        <div class="form-group" ng-if="promotion.benefitType.name === 'Voucher'" ng-class="{ 'has-error' : !promotion.companyVoucher.name && displayError , 'has-success' : promotion.companyVoucher.name }">
          <label>Voucher*</label>
          <ui-select theme="bootstrap" ng-model="promotion.companyVoucher"
                     ng-required="promotion.benefitType.name === 'Voucher'"
                     ng-disabled="readOnly || isDisabled"
                     name="Voucher"
                     >
            <ui-select-match placeholder="Select Voucher Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="discountType in selectOptions.companyDiscountsVoucher | filter: {name:$select.search}">
              <div ng-bind-html="discountType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-if="!readOnly && promotion.companyVoucher.isExpired" style="color:red">This voucher expired!</div>
        </div>

      </div>
    </div>

    <h3 id="discount-inclusion-filter">
      Inclusion Filter

      <span class="pull-right">
          <a ng-click="addBlankObjectToArray(promotion.filters)"
             ng-hide="readOnly || isDisabled"
             ng-disabled="readOnly || isDisabled">Per Station</a>
        </span>
      <span class="pull-right" style="margin-right:5px">
          <a ng-click="showInclusionFilterByCountryModal()"
             ng-hide="readOnly || isDisabled"
             ng-disabled="readOnly || isDisabled">Per Country</a>
        </span>

      <span class="pull-right" style="margin-right:5px" ng-hide="readOnly || isDisabled">Add Promotion Inclusion Filter: </span>
    </h3>

    <div class="row" ng-repeat="inclusionFilterData in promotion.filters">
      <div class="col-xs-10 col-sm-5">
        <div class="form-group">
          <label>Departure Station</label>
          <ui-select theme="bootstrap" ng-model="inclusionFilterData.departureStation" ng-disabled="readOnly || isDisabled"
                     ng-change="stationListChanged($index)">
            <ui-select-match placeholder="Select Departure Station">{{ $select.selected.code }}</ui-select-match>
            <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: $select.search"
                               ui-disable-choice="disabledDepartureStations(companyStation, inclusionFilterData)">
              {{ companyStation.code }} - {{ companyStation.name }}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5 col-sm-offset-1">
        <div class="form-group">
          <label>Arrival Station</label>
          <ui-select theme="bootstrap" ng-model="inclusionFilterData.arrivalStation" ng-disabled="readOnly || isDisabled"
                     ng-change="stationListChanged($index)">
            <ui-select-match placeholder="Select Arrival Station">{{ $select.selected.code }}</ui-select-match>
            <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: $select.search"
                               ui-disable-choice="disabledArrivalStations(companyStation, inclusionFilterData)">
              {{ companyStation.code }} - {{ companyStation.name }}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1 text-right">
        <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
        <button type="button" class="btn-remove-price-group btn btn-danger btn-xs"
                ng-click="removeFromStationListByIndex($index)"
                ng-disabled="readOnly || isDisabled" ng-hide="readOnly || isDisabled">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="modal" id="inclusion-filter-countries-modal" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-8">
            <h4 class="modal-title">Select countries</h4>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Departure</label>
                <select required name="departureCountry" class="form-control"
                        ng-options="country.id as country.name for country in countryList | orderBy: 'name'"
                        ng-model="countryInclusionFilterSelections.departure">
                  <option value="">Please select</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>Arrival</label>
                <select required name="arrivalCountry" class="form-control"
                        ng-options="country.id as country.name for country in countryList | orderBy: 'name'"
                        ng-model="countryInclusionFilterSelections.arrival">
                  <option value="">Please select</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-cancel" data-dismiss="modal">Close</button>
          <button class="btn btn-success" ng-click="addSelectedCountriesForInclusionFilter()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Container -->
<dynamic-left-nav title="Promotion Management"></dynamic-left-nav>
