<div class="container module-container">
  <form name="promotionsForm" class="form edit-form create-item-form">
    <div class="edit-controls">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="view-name">{{ viewName }}</h2>
        </div>
        <div class="col-xs-6 text-right">
          <fieldset ng-hide="viewOnly">
            <button class="btn btn-default" type="button" ng-click="cancel()">
              <span class="fa fa-remove" aria-hidden="true"></span>
              <span class="hidden-xs">Cancel</span>
            </button>
            <button class="btn btn-primary" ng-click="save()"
                    ng-hide="readOnly"
                    ng-disabled="readOnly || (!isCreate() && (isAnyRetailItemExpired() || isAnyPromotionCategoryExpired()))">
              <span class="fa fa-check-square-o" aria-hidden="true"></span>
              <span class="hidden-xs">{{ saveButtonText }}</span>
            </button>
          </fieldset>
        </div>
      </div>
    </div>

    <error-dialog form-object="promotionsForm" error-response="errorResponse" display="displayError">
    </error-dialog>

    <h3 id="promotion-information">Promotion Information</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="promotion-code">Promotion Code*</label>
          <input type="text"
                 class="form-control"
                 id="promotion-code"
                 name="promotionCode"
                 ng-model="promotion.promotionCode"
                 custom-validity
                 custom-pattern="alphanumeric"
                 ng-disabled="readOnly || isDisabled"
                 required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="promotion-description">Promotion Description*</label>
          <textarea class="form-control"
                    id="promotion-description"
                    name="promotionDescription"
                    ng-model="promotion.description"
                    ng-disabled="readOnly || isDisabled"
                    required></textarea>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="promotion-name">Promotion Name*</label>
          <input type="text"
                 class="form-control"
                 id="promotion-name"
                 name="promotionName"
                 ng-model="promotion.promotionName"
                 ng-disabled="readOnly || isDisabled"
                 maxlength="40"
                 required>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
               <date-picker-field ng-if="editing && isDisabled" disable="(shouldDisableStartDate && !isCopy()) || readOnly" name="EffectiveFrom" label="Effective From"  custom-effective="editing"
                               min-date="'+1d'" required="true" ng-model="promotion.startDate"></date-picker-field>

               <date-picker-field ng-if="!editing || !isDisabled" disable="(shouldDisableStartDate && !isCopy()) || readOnly" name="EffectiveFrom" label="Effective From"
                               min-date="'+1d'" required="true" ng-model="promotion.startDate"></date-picker-field>

          </div>
          <div class="col-xs-12 col-sm-6">
            <date-picker-field ng-if="!(editing && isDisabled)" disable="readOnly" name="EffectiveTo"
                               min-date="( editing ? '0d' : '+1d')" label="Effective To" required="true"
                               ng-model="promotion.endDate"></date-picker-field>
            <date-picker-field ng-if="(editing && isDisabled)" disable="readOnly" name="EffectiveTo"
                               min-date="( editing ? '0d' : '+1d')" label="Effective To" required="true" end-current-effective="true"
                               ng-model="promotion.endDate"></date-picker-field>
          </div>
        </div>
      </div>
    </div>

    <h3 id="qualifiers">Qualifiers</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label>Qualifier Type*</label>
          <ui-select theme="bootstrap" ng-model="promotion.promotionType" ng-disabled="readOnly || isDisabled" required name="QualifierType">
            <ui-select-match placeholder="Select Qualifier Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="promotionType in selectOptions.promotionTypes | filter: {name:$select.search}">
              <div ng-bind-html="promotionType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" ng-if="promotion.promotionType.name === 'Spend Limit'">
        <fieldset>
          <div class="form-group">
            <label>Promotion Category</label>
            <ui-select theme="bootstrap" ng-model="promotion.spendLimitCategory" ng-disabled="readOnly || isDisabled" ng-required="spendLimitCategoryRequired(promotion)" name="spendLimitCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && !isCreate() && promotion.spendLimitCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>
          <div class="form-group">
            <label>Spend Limit Value*</label>
            <div class="row" ng-repeat="spendLimitAmountData in spendLimitAmountsUi track by $index">
              <div class="col-xs-2 col-sm-1 text-right">{{ spendLimitAmountData.code }}</div>
              <div class="col-xs-10 col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <input type="text" class="form-control"
                         name="spendLimitAmount{{ spendLimitAmountData.code }}"
                         custom-validity
                         custom-pattern="numberOrDecimal"
                         ng-show="promotion.promotionType.name === 'Spend Limit'"
                         ng-model="spendLimitAmountData.amount"
                         ng-disabled="readOnly || isDisabled"
                         required>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <fieldset ng-if="promotion.promotionType.name === 'Product Purchase'">

      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
          <h3>Promotion Category <span class="badge">{{ promotion.promotionCategories.length }}</span><a class="pull-right"
                                                                                 ng-click="addBlankPromotionToArray(promotion.promotionCategories, promotion)"
                                                                                 ng-hidden="readOnly || isDisabled"
                                                                                 ng-disabled="readOnly || isDisabled">Add Promotion Category</a></h3>
        </div>
      </div>

      <div class="row" ng-repeat="promotionCategoryData in promotion.promotionCategories track by $index">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label>Name*</label>
            <ui-select theme="bootstrap" ng-model="promotionCategoryData.promotionCategory" ng-disabled="readOnly || isDisabled" required name="PromotionCategoryName"
                       ng-change="promotionCategorySelectChanged($index)">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}"
                                 ui-disable-choice="disabledPromotionCategory(promotionCategory)">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && !isCreate() && promotionCategoryData.promotionCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="form-group">
            <label>Qty*</label>
            <input type="number" class="form-control" min="1" ng-model="promotionCategoryData.categoryQty"
                   ng-required="promotionCategoryQtyRequired(promotionCategoryData)"
                   ng-disabled="readOnly || isDisabled"
                   name="promotionCategoryQty">
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4 col-sm-offset-0">
          <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
          <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                  ng-click="removeFromPromotionCategoryByIndex($index)"
                  ng-hide="readOnly || isDisabled">
            <i class="fa fa-close"></i>
          </button>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
          <h3>Retail Item <span class="badge">{{ promotion.items.length }}</span>
            <a class="pull-right"
                                ng-click="addBlankObjectToArray(promotion.items)"
                                ng-hidden="readOnly || isDisabled"
                                ng-disabled="readOnly || isDisabled">Add Retail Item</a></h3>
        </div>
      </div>

      <div class="row" ng-repeat="retailItemData in promotion.items track by $index">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label>Item Category <i class="fa fa-question-circle" title="Filter Retail Items by Category"
                                    ng-hide="readOnly || isDisabled"></i></label>
            <ui-select theme="bootstrap"
                       ng-model="itemCategorySelects[$index]"
                       ng-change="itemCategoryChanged($index)"
                       ng-disabled="readOnly || isDisabled"
                       refresh-delay="0"
                       name="ItemCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="salesCategory in selectOptions.salesCategories | filter: {name:$select.search}">
                <div ng-bind-html="salesCategory.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="form-group">
            <label>Retail Item*</label>
            <ui-select theme="bootstrap" ng-model="retailItemData.retailItem" ng-disabled="readOnly || isDisabled" required
                       ng-init="itemSelectInit($index)" ng-change="itemSelectChanged($index)" name="RetailItem">
              <ui-select-match placeholder="Select Item">{{ $select.selected.itemName }}</ui-select-match>
              <ui-select-choices repeat="masterItem in repeatableItemListSelectOptions[$index] | filter: {itemName:$select.search}"
                                 ui-disable-choice="disabledItems(masterItem)">
                <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && !isCreate() && retailItemData.retailItem.isExpired" style="color:red">This retail item expired!</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="form-group">
            <label>Qty*</label>
            <input type="number" class="form-control" min="1" ng-model="retailItemData.itemQty"
                   ng-required="retailItemQtyRequired(retailItemData)"
                   ng-disabled="readOnly || isDisabled"
                   name="RetailItemQty">
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4 col-sm-offset-0">
          <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
          <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                  ng-click="removeFromItemListByIndex($index)"
                  ng-hide="readOnly || isDisabled">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

    </fieldset>

    <h3 id="benefits">Benefits</h3>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Benefit Type*</label>
          <ui-select theme="bootstrap" ng-model="promotion.benefitType" ng-disabled="readOnly || isDisabled" required name="BenefitType">
            <ui-select-match placeholder="Select Benefit Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="benefitType in selectOptions.benefitTypes | filter: {name:$select.search}">
              <div ng-bind-html="benefitType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <fieldset ng-if="promotion.benefitType.name === 'Discount'">

          <div class="form-group">
            <label>Apply To*</label>
            <ui-select theme="bootstrap" ng-model="promotion.benefitDiscountApply" ng-disabled="readOnly || isDisabled" required>
              <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="discountType in selectOptions.discountApplyTypes | filter: {name:$select.search}">
                <div ng-bind-html="discountType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group" ng-if="promotion.benefitDiscountApply.name === 'Promotion Category'">
            <label>Promotion Category*</label>
            <ui-select theme="bootstrap" ng-model="promotion.discountCategory"
                       ng-required="promotion.benefitDiscountApply.name === 'Promotion Category'"
                       ng-disabled="readOnly || isDisabled"
                       name="PromotionCategory">
              <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
              <ui-select-choices repeat="promotionCategory in selectOptions.activePromotionCategories | filter: {promotionCategoryName:$select.search}">
                <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div ng-if="!readOnly && !isCreate() && promotion.discountCategory.isExpired" style="color:red">This promotion category expired!</div>
          </div>

          <div class="row" ng-if="promotion.benefitDiscountApply.name === 'Retail Item'">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>Retail Item*</label>
                <ui-select theme="bootstrap" ng-model="promotion.discountItem"
                           ng-disabled="readOnly || isDisabled" ng-required="promotion.benefitDiscountApply.name === 'Retail Item'" name="RetailItem">
                  <ui-select-match placeholder="Select Item">{{ $select.selected.itemName }}</ui-select-match>
                  <ui-select-choices repeat="masterItem in selectOptions.masterItems | filter: {itemName:$select.search}">
                    <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
                <div ng-if="!readOnly && !isCreate() && promotion.discountItem.isExpired" style="color:red">This retail item expired!</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <label class="invisible">Checkbox</label>
              <div class="form-group">
                <input type="checkbox"
                       id="benefits-discount-apply-to-retail-item-gift-with-purchase"
                       ng-model="promotion.giftWithPurchase">
                <label for="benefits-discount-apply-to-retail-item-gift-with-purchase">Gift With Purchase</label>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="col-xs-12 col-md-6">

        <fieldset ng-if="promotion.benefitType.name === 'Discount'">
          <div class="form-group">
            <label>Discount Rate Type*</label>
            <ui-select theme="bootstrap" ng-model="promotion.discountType"
                       ng-required="promotion.benefitType.name === 'Discount'"
                       ng-disabled="readOnly || isDisabled"
                       name="DiscountRateType">
              <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
              <ui-select-choices repeat="discountType in selectOptions.discountTypes | filter: {name:$select.search}">
                <div ng-bind-html="discountType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="row" ng-if="promotion.discountType.name === 'Percentage'">
            <div class="col-xs-12 col-sm-6" ng-if="showLowestPricedItem()">
              <label class="invisible">Checkbox</label>
                <div class="form-group">
                  <input type="checkbox"
                         id="benefits-discount-percentage-lowest-priced-article"
                         ng-model="promotion.lowestPricedArticle">
                  <label for="benefits-discount-percentage-lowest-priced-article">Lowest Price Item</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="discount-rate-type-percentage-value">Percentage Value*</label>
                <input type="text" id="discount-rate-type-percentage-value"
                       class="form-control"
                       name="percentageValue"
                       custom-validity
                       custom-pattern="percentage"
                       ng-model="promotion.discountPercentage"
                       ng-required="promotion.discountType.name === 'Percentage'"
                       ng-disabled="readOnly || isDisabled">
              </div>
            </div>
          </div>
          <fieldset ng-if="promotion.discountType.name === 'Amount'">
            <div class="form-group">
              <label>Fixed Discount Value</label>
              <div class="row" ng-repeat="benefitAmountData in benefitAmountsUi track by $index">
                <div class="col-xs-2 col-sm-1 text-right">{{ benefitAmountData.code }}</div>
                <div class="col-xs-10 col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" class="form-control"
                           name="benefitAmount{{ benefitAmountData.code }}"
                           custom-validity
                           custom-pattern="numberOrDecimal"
                           ng-model="benefitAmountData.amount"
                           ng-disabled="readOnly || isDisabled"
                           required>
                  </div>
                </div>
              </div>
              <label>Miles/Points</label>
              <input class="form-control" ng-model="promotion.milesPoints" name="milesPoints" ng-pattern="regexp.number" ng-required="false" maxlength="10" ng-disabled="readOnly || isDisabled"/>
          </fieldset>
        </fieldset>

        <div class="form-group" ng-if="promotion.benefitType.name === 'Coupon'">
          <label>Coupon*</label>
          <ui-select theme="bootstrap" ng-model="promotion.companyCoupon"
                     required
                     ng-disabled="readOnly || isDisabled"
                     name="CompanyCoupon">
            <ui-select-match placeholder="Select Coupon Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="discountType in selectOptions.companyDiscountsCoupon | filter: {name:$select.search}">
              <div ng-bind-html="discountType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-if="!readOnly && !isCreate() && promotion.companyCoupon.isExpired" style="color:red">This coupon expired!</div>
        </div>

        <div class="form-group" ng-if="promotion.benefitType.name === 'Voucher'">
          <label>Voucher*</label>
          <ui-select theme="bootstrap" ng-model="promotion.companyVoucher"
                     ng-required="promotion.benefitType.name === 'Voucher'"
                     ng-disabled="readOnly || isDisabled">
            <ui-select-match placeholder="Select Voucher Type">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="discountType in selectOptions.companyDiscountsVoucher | filter: {name:$select.search}">
              <div ng-bind-html="discountType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-if="!readOnly && !isCreate() && promotion.companyVoucher.isExpired" style="color:red">This voucher expired!</div>
        </div>

      </div>
    </div>

    <h3 id="promotion-inclusion-filter">Inclusion Filter <a class="pull-right"
                                                            ng-click="addBlankObjectToArray(promotion.filters)"
                                                            ng-hide="readOnly || isDisabled"
                                                            ng-disabled="readOnly || isDisabled">Add Promotion Inclusion Filter</a></h3>
    <div class="row" ng-repeat="inclusionFilterData in promotion.filters">
      <div class="col-xs-10 col-sm-5">
        <div class="form-group">
          <label>Departure Station</label>
          <ui-select theme="bootstrap" ng-model="inclusionFilterData.departureStation" ng-disabled="readOnly || isDisabled"
                     ng-change="stationListChanged($index)">
            <ui-select-match placeholder="Select Departure Station">{{ $select.selected.code }}</ui-select-match>
            <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: $select.search"
                               ui-disable-choice="disabledDepartureStations(companyStation, inclusionFilterData)">
              {{ companyStation.code }} - {{ companyStation.name }}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5 col-sm-offset-1">
        <div class="form-group">
          <label>Arrival Station</label>
          <ui-select theme="bootstrap" ng-model="inclusionFilterData.arrivalStation" ng-disabled="readOnly || isDisabled"
                     ng-change="stationListChanged($index)">
            <ui-select-match placeholder="Select Arrival Station">{{ $select.selected.code }}</ui-select-match>
            <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: $select.search"
                               ui-disable-choice="disabledArrivalStations(companyStation, inclusionFilterData)">
              {{ companyStation.code }} - {{ companyStation.name }}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1 text-right">
        <label ng-hide="readOnly || isDisabled" class="invisible">Remove</label>
        <button type="button" class="btn-remove-price-group btn btn-danger btn-xs"
                ng-click="removeFromStationListByIndex($index)"
                ng-disabled="readOnly || isDisabled" ng-hide="readOnly || isDisabled">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- /Container -->
<dynamic-left-nav title="Promotion Management"></dynamic-left-nav>
