<div class="container module-container">

    <div class="top-header">
      <div class="container">
        <div class="edit-controls">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="view-name">{{ viewName }}</h2>
            </div>
            <div class="col-xs-6 text-right">
              <fieldset ng-hide="viewOnly">
                <button class="btn btn-default">
                  <span class="fa fa-remove" aria-hidden="true"></span>
                  <span class="hidden-xs">Cancel</span>
                </button>
                <button class="btn btn-primary">
                  <span class="fa fa-check-square-o" aria-hidden="true"></span>
                  <span class="hidden-xs">Create</span>
                </button>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="form-nav btn-group-justified item-top" role="group">
          <a type="button" class="btn btn-default" ng-click="scrollToAnchor('promotion-information')"
             ng-class="{'active':activeBtn === 'promotion-information'}">Promotion Information</a>
          <a type="button" class="btn btn-default" ng-click="scrollToAnchor('qualifiers')"
             ng-class="{'active':activeBtn === 'qualifiers'}">Qualifiers</a>
          <a type="button" class="btn btn-default" ng-click="scrollToAnchor('benefits')"
             ng-class="{'active':activeBtn === 'benefits'}">Benefits</a>
          <a type="button" class="btn btn-default" ng-click="scrollToAnchor('promotion-inclusion-filter')"
             ng-class="{'active':activeBtn === 'promotion-inclusion-filter'}">Promotion Inclusion Filter</a>
        </div>
        <p>All required fields are marked with a *.</p>
      </div>
    </div>
    <!--/TopHeader -->

    <div class="create-form-container">

      <form name="form" class="form edit-form create-item-form">

        <form-error-dialog></form-error-dialog>

        <h3 id="promotion-information">Item Information</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="promotion-code">Promotion Code*</label>
              <input type="text" class="form-control" id="promotion-code"
                     ng-model="promotion.promotionCode" ng-disabled="readOnly" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="promotion-description">Promotion Description*</label>
              <textarea class="form-control" id="promotion-description"
                        ng-model="promotion.promotionDescription" ng-disabled="readOnly" required></textarea>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="promotion-name">Promotion Name*</label>
              <input type="text" class="form-control" id="promotion-name"
                     ng-model="promotion.promotionName" ng-disabled="readOnly" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <date-picker class="form-group"
               element-class="col-xs-12 col-sm-6"
               label-from="Effective Date - From*"
               label-to="Effective Date - To*"
               name-from="startDate"
               name-to="endDate"
               disable-start-Date="readOnly"
               disable-end-date="readOnly"
               start-date-model="promotion.effectiveDateFrom"
               end-date-model="promotion.effectiveDateTo"
               required="required">
            </date-picker>
          </div>
        </div>



        <h3 id="qualifiers">Qualifiers</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Qualifier Type*</label>
              <ui-select theme="bootstrap" ng-model="promotion.qualifier.type" ng-disabled="readOnly" required>
                <ui-select-match placeholder="Select Qualifier Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="promotionType in selectOptions.promotionTypes | filter: {name:$select.search}">
                  <div ng-bind-html="promotionType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6" ng-show="promotion.qualifier.type.name === 'Spend Limit'">
            <fieldset>
              <div class="form-group">
                <label>Promotion Category</label>
                <ui-select theme="bootstrap" ng-model="promotion.qualifier.spendLimit.promotionCategory" ng-disabled="readOnly">
                  <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
                  <ui-select-choices repeat="promotionCategory in selectOptions.promotionCategories | filter: {promotionCategoryName:$select.search}">
                    <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label>Spend Limit Value*</label>
                <div class="row" ng-repeat="currency in companyCurrencyGlobals">
                  <div class="col-xs-3">{{ currency.code }}</div>
                  <div class="col-xs-9">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-money"></i></span>
                      <input type="text" class="form-control" custom-validity custom-pattern="currencyWithFourDecimalPlace"
                             ng-model="promotion.qualifier.spendLimit.value[currency.code]"
                             ng-required="promotion.qualifier.type.name === 'Spend Limit'"
                             ng-disabled="readOnly">
                    </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <fieldset ng-show="promotion.qualifier.type.name === 'Product Purchase'" class="well">

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Promotion Category</h4>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <div class="form-group">
                <button type="button" class="btn btn-primary ng-click-active" ng-click="addBlankObjectToArray(promotion.qualifier.productPurchase.promotionCategories)"
                        ng-disabled="readOnly" ng-hide="readOnly">
                  <i class="fa fa-plus"></i> Add Promotion Category
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
              <div class="panel panel-default" ng-repeat="promotionCategoryData in promotion.qualifier.productPurchase.promotionCategories track by $index">
                <div class="panel-heading">
                  <p class="panel-title">
                    <i class="fa fa-tags"></i> Promotion Category {{ $index+1 }}
                    <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                            ng-click="removeFromArrayByIndex(promotion.qualifier.productPurchase.promotionCategories, $index)"
                            ng-disabled="readOnly" ng-hide="readOnly">
                      <i class="fa fa-close"></i>
                    </button>
                  </p>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                        <label>Name*</label>
                        <ui-select theme="bootstrap" ng-model="promotionCategoryData.promotionCategory" ng-disabled="readOnly">
                          <ui-select-match placeholder="Select Category">{{ $select.selected.promotionCategoryName }}</ui-select-match>
                          <ui-select-choices repeat="promotionCategory in selectOptions.promotionCategories | filter: {promotionCategoryName:$select.search}">
                            <div ng-bind-html="promotionCategory.promotionCategoryName | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                      <div class="form-group">
                        <label>Qty*</label>
                        <input type="number" class="form-control" min="1" ng-model="promotionCategoryData.qty"
                               ng-required="promotionCategoryQtyRequired(promotionCategoryData)"
                               ng-disabled="readOnly">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Retail Item</h4>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <div class="form-group">
                <button type="button" class="btn btn-primary ng-click-active" ng-click="addBlankObjectToArray(promotion.qualifier.productPurchase.retailItems)"
                        ng-disabled="readOnly" ng-hide="readOnly">
                  <i class="fa fa-plus"></i> Add Retail Item
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-10 col-sm-offset-1">
              <div class="panel panel-default" ng-repeat="retailItemData in promotion.qualifier.productPurchase.retailItems track by $index">
                <div class="panel-heading">
                  <p class="panel-title">
                    <i class="fa fa-tags"></i> Retail Item {{ $index+1 }}
                    <button type="button" class="btn-remove-price-group pull-right btn btn-danger btn-xs"
                            ng-click="removeFromArrayByIndex(promotion.qualifier.productPurchase.retailItems, $index)"
                            ng-hide="readOnly">
                      <i class="fa fa-close"></i>
                    </button>
                  </p>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                        <label>Item Category <i class="fa fa-question-circle" title="Filter Retail Items by Category"
                                                ng-hide="readOnly"></i></label>
                        <ui-select theme="bootstrap" ng-model="retailItemData.salesCategory" ng-disabled="readOnly">
                          <ui-select-match placeholder="Select Category">{{ $select.selected.name }}</ui-select-match>
                          <ui-select-choices repeat="salesCategory in selectOptions.salesCategories | filter: {name:$select.search}">
                            <div ng-bind-html="salesCategory.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                      <div class="form-group">
                        <label>Retail Item*</label>
                        <ui-select theme="bootstrap" ng-model="retailItemData.retailItem" ng-disabled="readOnly">
                          <ui-select-match placeholder="Select Item">{{ $select.selected.itemName }}</ui-select-match>
                          <ui-select-choices repeat="masterItem in selectOptions.masterItems | filter: {itemName:$select.search}">
                            <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                      <div class="form-group">
                        <label>Qty*</label>
                        <input type="number" class="form-control" min="1" ng-model="retailItemData.qty"
                               ng-required="retailItemQtyRequired(retailItemData)"
                               ng-disabled="readOnly">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>

        <h3 id="benefits">Benefits</h3>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Benefit Type*</label>
              <ui-select theme="bootstrap" ng-model="promotion.benefits.type" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Benefit Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="benefitType in selectOptions.benefitTypes | filter: {name:$select.search}">
                  <div ng-bind-html="benefitType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-12 col-md-6" ng-show="promotion.benefits.type.name === 'Discount'">
            <div class="form-group">
              <label>Discount Rate Type*</label>
              <ui-select theme="bootstrap" ng-model="promotion.benefits.discount.rateType" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="discountType in selectOptions.discountTypes | filter: {name:$select.search}">
                  <div ng-bind-html="discountType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-12 col-md-6" ng-show="promotion.benefits.type.name === 'Discount'">
            <div class="form-group">
              <label>Apply To*</label>
              <ui-select theme="bootstrap" ng-model="promotion.benefits.discount.applyTo" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="discountType in selectOptions.discountApplyTypes | filter: {name:$select.search}">
                  <div ng-bind-html="discountType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-12 col-md-6" ng-show="promotion.benefits.type.name === 'Coupon'" ng-disabled="readOnly">
            <div class="form-group">
              <label>Coupon*</label>
              <ui-select theme="bootstrap" ng-model="promotion.benefits.coupon">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="discountType in selectOptions.companyDiscountsCoupon | filter: {name:$select.search}">
                  <div ng-bind-html="discountType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-12 col-md-6" ng-show="promotion.benefits.type.name === 'Voucher'" ng-disabled="readOnly">
            <div class="form-group">
              <label>Voucher*</label>
              <ui-select theme="bootstrap" ng-model="promotion.benefits.voucher">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="discountType in selectOptions.companyDiscountsVoucher | filter: {name:$select.search}">
                  <div ng-bind-html="discountType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <h3 id="promotion-inclusion-filter">Promotion Inclusion Filter</h3>
        <div class="row" ng-repeat="inclusionFilterData in promotion.inclusionFilters">
          <div class="col-xs-10 col-sm-5">
            <div class="form-group">
              <label>Departure Station</label>
              <ui-select theme="bootstrap" ng-model="inclusionFilterData.departureStation" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: {name:$select.search}">
                  <div ng-bind-html="companyStation.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-10 col-sm-5 col-sm-offset-1">
            <div class="form-group">
              <label>Arrival Station</label>
              <ui-select theme="bootstrap" ng-model="inclusionFilterData.arrivalStation" ng-disabled="readOnly">
                <ui-select-match placeholder="Select Discount Type">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="companyStation in selectOptions.companyStationGlobals | filter: {name:$select.search}">
                  <div ng-bind-html="companyStation.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-xs-2 col-sm-1 text-right">
            <label ng-hide="readOnly" class="invisible">Remove</label>
            <button type="button" class="btn-remove-price-group btn btn-danger btn-xs"
                    ng-click="removeFromArrayByIndex(promotion.inclusionFilters, $index)"
                    ng-disabled="readOnly" ng-hide="readOnly">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
<!-- /Container -->
<dynamic-left-nav title="Promotion Management"></dynamic-left-nav>
