<style>
.param-header .hidden-xs {
  display: inline-flex !important;
  font-weight: bold;
  color: #5bc0de!important;
  font-size: 13px !important;
  padding: 5px !important;
}

.param-header > li {
	margin-left : 5px!important;
}

.report-param-tooltip-button {
	font-size:15px!important;
	color:#5bc0de!important;
	border:none!important;
	background:none!important
}

.tooltip > .tooltip-inner {
  border: 1.5px solid #ddd;
  max-width: 320px;
  color: black;
  text-align: left;
  background-color: white;
  background: white;
  padding-bottom: 5px !important;
  opacity: 1.0;
  filter: alpha(opacity=100);
  word-break: break-all;
} 
   
.tooltip > .tooltip-arrow { border-bottom-color:black; }
.tooltip.in{opacity:1!important;}
</style>
<!-- /Container  Starts -->
<div class="container">
   <h2>Report Queue</h2>

   <table class="table">
     <thead>
       <tr>
         <th>Report</th>
         <th>Status</th>
         <th>ID</th>
         <th>Requested On</th>
         <th>Requested By</th>
         <th>Runtime</th>
         <th>Report Size</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="job in jobs track by job.id" ng-if="isTemplateInFeaturesInRole(job.template)">
         <th>
         	<button type="button" class="fa fa-info-circle tooltip-focus report-param-tooltip-button"  tooltip-report="{{ requestParamTooltip(job.requestedParams) }}" tooltip-placement="bottom"></button> 
         {{job.name}}</th>
         <th>{{job.status}}</th>
         <th>{{job.id}}</th>
         <th>{{job.created | date : 'medium'}}</th>
          <th>{{job.createdByPerson.userName}}</th>
         <th>{{job.jobRunTimeMillis | timeinterval}}</th>
         <th><span ng-if="job.file">{{job.file.size | filesize}}</span></th>
         <th>
           <span ng-if="job.file">
             <a ng-click="download(job.file.id)" class="btn btn-xs btn-success">
               Download <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
             </a>
           </span>
           <span ng-if="job.status === 'STARTED' || job.status === 'QUEUED'">
	           <a ng-click="delete(job.id)" class="btn btn-xs btn-danger">
	            Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	           </a>
           </span>
         </th>
       </tr>
     </tbody>
   </table>
</div>
<!-- /Container  Ends -->

<dynamic-left-nav title="Reports"></dynamic-left-nav>