<div class="container-fluid">

  <!--payment report panel-->
  <div class="modal right fade" id="paymentReportModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="panel" ng-repeat="report in paymentReport">
            <h3 class="text-center">{{report.reportTitle}} Report</h3>
            <div class="panel-body">
              <table class="table table-condensed table-borderless text-left">
                <tbody class="table-borderless">
                  <tr>
                    <td colspan="2" class="text-center"><b>{{report.companyName}}</b></td>
                  </tr>
                  <tr>
                    <td class="text-right">Flight Date:</td>
                    <td>{{report.scheduleDate}}</td>
                  </tr>
                </tbody>
                <tbody ng-repeat="sector in report.sectors" class="table-borderless">
                  <tr>
                    <td class="text-right">Flight Number:</td>
                    <td>{{sector.flightNumber}} (Pax {{sector.pax}})</td>
                  </tr>
                  <tr>
                    <td class="text-right">Sector:</td>
                    <td>{{sector.departureStation}} - {{sector.arrivalStation}}</td>
                  </tr>
                </tbody>
                <tbody class="table-borderless">
                  <tr>
                    <td class="text-right">Barset:</td>
                    <td>{{storeInstance.storeDetails.storeNumber}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Aircraft Registration:</td>
                    <td>{{report.carrierNumber || 'N/A'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Cash Bag(s):</td>
                    <td>{{report.cashbagText}}</td>
                  </tr>
                </tbody>
              </table>

              <br>
              <h5 class="text-center"><b>Crew IDs and Names</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Crew ID</td>
                  <td>Last Name</td>
                </tr>
                <tr ng-repeat="crewMember in report.crew">
                  <td>{{crewMember.CrewId}}</td>
                  <td>{{crewMember.LastName}}</td>
                </tr>

                <tr ng-if="!report.crew.length">
                  <td colspan="2">No Crew Memebers</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Expected Cash</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="cash in report.cash">
                  <td>{{cash.currencyCode}}</td>
                  <td>{{cash.total}}</td>
                  <td>{{cash.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.cash.length">
                  <td>No expected cash added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Expected Cash Total</td>
                  <td>{{report.cashTotal ? report.cashTotal : '0.00'}}</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Expected Credit</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Card Type</td>
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="credit in report.credit">
                  <td>{{credit.cardType}}</td>
                  <td>{{credit.currencyCode}}</td>
                  <td>{{credit.total}}</td>
                  <td>{{credit.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.credit.length">
                  <td colspan="2">No expected credit added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="3">Expected Credit Total</td>
                  <td>{{report.creditTotal ? report.creditTotal : '0.00'}}</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Expected Coupon</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="coupon in report.coupon">
                  <td>{{coupon.currencyCode}}</td>
                  <td>{{coupon.total}}</td>
                  <td>{{coupon.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.coupon.length">
                  <td>No expected coupon added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Expected Coupon Total</td>
                  <td>{{report.couponTotal ? report.couponTotal : '0.00'}}</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Expected Frequent Flyer</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="frequentFlyer in report.ffCard">
                  <td>{{frequentFlyer.currencyCode}}</td>
                  <td>{{frequentFlyer.total}}</td>
                  <td>{{frequentFlyer.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.ffCard.length">
                  <td>No expected frequent flyer added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Expected Frequent Flyer Total</td>
                  <td>{{report.ffCardTotal ? report.ffCardTotal : '0.00'}}</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Voucher Total</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="voucher in report.voucher">
                  <td>{{voucher.currencyCode}}</td>
                  <td>{{voucher.total}}</td>
                  <td>{{voucher.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.voucher.length">
                  <td>No Voucher added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Expected Voucher Total</td>
                  <td>{{report.voucherTotal ? report.voucherTotal : '0.00'}}</td>
                </tr>
              </table>

              <h5 class="text-center"><b>Complimentary Total</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="complimentary in report.comp">
                  <td>{{complimentary.currencyCode}}</td>
                  <td>{{complimentary.total}}</td>
                  <td>{{complimentary.baseTotal}}</td>
                </tr>
                <tr ng-if="!report.comp.length">
                  <td>No Complimentary added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Complimentary Total</td>
                  <td>{{report.compTotal ? report.compTotal : '0.00'}}</td>
                </tr>
              </table>

              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <th colspan="2">Expected Total</th>
                  <th>{{report.total ? report.total : '0.00'}}</th>
                </tr>
              </table>

              <h5 class="text-center"><b>Crew Confirmed Cash</b></h5>
              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <td>Currency</td>
                  <td>Value</td>
                  <td>{{report.operatingCurrency}}</td>
                </tr>
                <tr ng-repeat="cash in report.cashCounts">
                  <td>{{cash.code}}</td>
                  <td>{{cash.total | number:2}}</td>
                  <td>{{cash.baseTotal | number:2}}</td>
                </tr>
                <tr ng-if="!report.cashCounts.length">
                  <td>No Crew Confirmed Cash added</td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>
                <tr class="active">
                  <td colspan="2">Crew Confirmed Cash Total</td>
                  <td>{{report.closingCashTotal ? report.closingCashTotal : 0 | number:2}}</td>
                </tr>
              </table>

              <table class="table table-condensed table-bordered col-xs-12">
                <tr class="active">
                  <th colspan="2">Crew Confirmed Total</th>
                  <th>{{report.crewConfirmedTotal ? report.crewConfirmedTotal : '0.00'}}</th>
                </tr>
              </table>


              <div ng-if="report.showSpendPerHead === true">
                <h5 class="text-center"><b>Spend Per Head</b></h5>
                <table class="table table-condensed table-bordered col-xs-12">
                  <tr class="active">
                    <td>Total Amount <br /> {{report.operatingCurrency}}</td>
                    <td>Pax</td>
                  </tr>
                  <tr>
                    <td>{{report.total | number:2}}</td>
                    <td>{{report.pax ? report.pax : 0 }}</td>
                  </tr>
                  <tr class="active">
                    <td>Spend Per Head</td>
                    <td>{{report.spendPerPax ? report.spendPerPax : 0 | number:2}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--payment report panel-->

  <div class="modal fade" id="t6Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4>{{ modalMainTitle }}: {{modalTotal}}</h4>
          <br>
          <table class="table table-bordered">
            <tr class="active">
              <td>{{ modalTableHeader }}</td>
              <td>Quantity</td>
              <td>Total</td>
            </tr>
            <tr ng-if="stockItem.eposQuantity !== null && stockItem.eposQuantity !== 0" ng-repeat="stockItem in stockTotals.stockItems | filter:{itemTypeName:modalItemTypeName}">
              <td>{{stockItem.itemName}}</td>
              <td>{{stockItem.eposQuantity}}</td>
              <td>{{stockItem.eposTotal}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <header>
      <div class="row item-list-row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="view-name">Discrepancy Detail</h3>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <a ng-show="showGenerateDocsButton" ng-href="{{exportURL}}" class="btn btn-sm btn-info" ng-disabled="false">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
            <span class="hidden-xs">Generate Doc</span>
          </a>
          <button class="btn btn-sm btn-info" ng-click="showPaymentReportPanel()"><span class="fa fa-file-text"></span> {{actionOnPaymentReport}} Payment Reports</button>
          <button ng-if="!isAmendReadOnly" class="btn btn-sm btn-warning" ng-show="isInStatus('Inbounded') || isInStatus('Discrepancies') || isInStatus('Confirmed') || isInStatus('Commission Paid')" ng-click="goToStoreInstanceAmend()">Amend Data</button>
          <button ng-if="isAmendReadOnly" class="btn btn-sm btn-warning" ng-show="isInStatus('Inbounded') || isInStatus('Discrepancies') || isInStatus('Confirmed') || isInStatus('Commission Paid')" ng-click="goToStoreInstanceAmend()">View Amend Data</button>
          <button ng-if="!isViewMode" class="btn btn-sm btn-danger" ng-show="isInStatus('Confirmed')" ng-click="confirmAction('Discrepancies', 'Unconfirm')">Unconfirm</button>
          <button ng-if="!isViewMode" class="btn btn-sm btn-success" ng-show="isInStatus('Discrepancies')" ng-disabled="storeInstance.amendToConfirm" ng-click="confirmAction('Confirmed', 'Confirm')">Confirm</button>
          <button ng-if="!isViewMode" class="btn btn-sm btn-primary" ng-show="isInStatus('Confirmed')" ng-click="confirmAction('Commission Paid', 'Pay Commission')">Pay Commission</button>
        </div>
      </div>
      <br/>
      <error-dialog form-object="reconciliationForm" error-response="errorResponse" display="displayError"></error-dialog>

      <div class="panel panel-default col-xs-12">
        <div class="col-xs-4 text-left pull-left">
          <h4>
            <strong>Store # {{storeInstance.storeDetails.storeNumber}}</strong><br>
            <small>{{storeInstance.scheduleDate}}</small>
          </h4>
        </div>
        <div class="col-xs-4 text-center">
          <h4><br>
            <small>Store Instance: {{storeInstance.id}}</small>
          </h4>
        </div>

        <div class="col-xs-4 text-right">
          <h4><br>
            <small>Warehouse: {{storeInstance.warehouseDetails.name}}</small>
          </h4>
        </div>
      </div>
      <br/>
    </header>

    <div class="accordion-wrapper">

      <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
        <accordion-group ng-init="status.items.open=true" is-open="status.items.open">
          <accordion-heading class="accordion-heading">
            <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
               class="fa"></i>
            Discrepancy
          </accordion-heading>
          <div clas="row">
            <div class="col-xs-4">
              <table class="table table-bordered">
                <tr>
                  <td colspan="2" class="active">LMP Station Stock [{{companyBaseCurrency.currencyCode}}]</td>
                </tr>
                <tr>
                  <td>Gross Value of LMP Stock</td>
                  <td class="value stockTotals totalRetail totalLMP" value="{{stockTotals.totalRetail.totalLMP}}">{{stockTotals.totalRetail.totalLMP}}</td>
                </tr>
                <tr>
                  <td>Virtual Items</td>
                  <td class="value stockTotals totalVirtual totalEPOS" value="+{{stockTotals.totalVirtual.totalEPOS}}">+{{stockTotals.totalVirtual.totalEPOS}}</td>
                </tr>
                <tr>
                  <td>Voucher Items</td>
                  <td class="value stockTotals totalVoucher totalEPOS" value="+{{stockTotals.totalVoucher.totalEPOS}}">+{{stockTotals.totalVoucher.totalEPOS}}</td>
                </tr>
                <tr>
                  <td>Promotion Discounts</td>
                  <td class="value stockTotals totalPromotion totalLMP" value="-{{stockTotals.totalPromotion.totalLMP}}">-{{stockTotals.totalPromotion.totalLMP}}</td>
                </tr>
                <tr class="active">
                  <td>Net Value of LMP Stock</td>
                  <td class="value stockTotals totalNet netLMP" value="{{stockTotals.totalNet.netLMP}}">{{stockTotals.totalNet.netLMP}}</td>
                </tr>
              </table>
            </div>
            <div class="col-xs-4">
              <table class="table table-bordered">
                <tr class="active">
                  <td colspan="2">ePOS Sales [{{companyBaseCurrency.currencyCode}}]</td>
                </tr>
                <tr>
                  <td>Gross Value of ePOS Sales</td>
                  <td class="value stockTotals totalRetail totalEPOS" value="{{stockTotals.totalRetail.totalEPOS}}">{{stockTotals.totalRetail.totalEPOS}}</td>
                </tr>
                <tr>
                  <td><a ng-click="showModal('Virtual')">Virtual Items</a></td>
                  <td class="value stockTotals totalVirtual totalEPOS" value="+{{stockTotals.totalVirtual.totalEPOS}}">+{{stockTotals.totalVirtual.totalEPOS}}</td>
                </tr>
                <tr>
                  <td><a ng-click="showModal('Voucher')">Voucher Items</a></td>
                  <td class="value stockTotals totalVoucher totalEPOS" value="+{{stockTotals.totalVoucher.totalEPOS}}">+{{stockTotals.totalVoucher.totalEPOS}}</td>
                </tr>
                <tr>
                  <td><a ng-click="showModal('Promotion')">Promotion Discount</a></td>
                  <td class="value stockTotals totalPromotion totalEPOS" value="-{{stockTotals.totalPromotion.totalEPOS}}">-{{stockTotals.totalPromotion.totalEPOS}}</td>
                </tr>
                <tr class="active">
                  <td>Net Value of ePOS Sales</td>
                  <td class="value stockTotals totalNet netEPOS" value="{{stockTotals.totalNet.netEPOS}}">{{stockTotals.totalNet.netEPOS}}</td>
                </tr>
              </table>
            </div>
            <div class="col-xs-4">
              <table class="table table-bordered">
                <tr>
                  <td class="active" colspan="2">Total Revenue [{{companyBaseCurrency.currencyCode}}]</td>
                </tr>
                <tr>
                  <td>@ Cash Handler Exchange Rate</td>
                  <td class="value totalRevenue cashHandler">{{companyIsUsingCash ? totalRevenue.cashHandler: 'N/A'}}</td>
                </tr>
                <tr>
                  <td>@ ePOS Exchange Rate</td>
                  <td class="value totalRevenue ePOS">{{totalRevenue.epos}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-xs-12">
            <table class="table table-bordered">
              <tr class="info">
                <th>Discrepancy</th>
                <th>Value</th>
                <th>&#37;</th>
              </tr>
              <tr>
                <td>Net LMP vs Net ePOS</td>
                <td class="value discrepancy net value">{{discrepancy.net.value}}</td>
                <td class="value discrepancy net percentage">{{discrepancy.net.percentage}} &#37;</td>
              </tr>
              <tr>
                <td>Total Revenue @ ePOS Exchange Rate vs Net ePOS</td>
                <td class="value discrepancy revenue value">{{companyIsUsingCash ? discrepancy.revenue.value: 'N/A'}}</td>
                <td class="value discrepancy revenue percentage">{{companyIsUsingCash ? discrepancy.revenue.percentage + ' &#37;': 'N/A'}}</td>
              </tr>
              <tr>
                <td>Foreign Exchange</td>
                <td class="value discrepancy exchange value ">{{companyIsUsingCash ? discrepancy.exchange.value : 'N/A'}}</td>
                <td class="value discrepancy exchange percentage ">{{companyIsUsingCash ? discrepancy.exchange.percentage + ' &#37;': 'N/A'}}</td>
              </tr>
              <tr class="active">
                <th>Total</th>
                <th class="value discrepancy total value">{{discrepancy.total.value}}</th>
                <th class="value discrepancy total percentage">{{discrepancy.total.percentage}} &#37;</th>
              </tr>
            </table>
          </div>
        </accordion-group>
      </accordion>

      <form name="reconciliationForm" ng-submit="submitForm()">

        <div class="accordion-wrapper">
          <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
            <accordion-group ng-init="status.items.open=false" is-open="status.items.open">
              <accordion-heading class="accordion-heading">
                <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
                   class="fa"></i>
                Stock Discrepancy
              </accordion-heading>

              <div class="row">
                <div class="col-xs-8">
                  <label>Filter by Item Name</label>
                  <input type="text" class="form-control" ng-model="filterItemDetails.itemName" placeholder="Type an Item Name"/>
                </div>
                <div class="col-xs-4">
                  <label>Show Only Discrepancies</label>
                  <br>
                  <input bs-switch ng-model="showLMPDiscrepancies" class="showLMPDiscrepancies-switch" type="checkbox" switch-size="small" switch-on-color="info" switch-on-text="Yes" switch-off-text="No">
                </div>
              </div>
              <br>
              <table class="table table-bordered">
                <tr class="active">
                  <th ng-click="updateOrderBy('itemName', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('itemName', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('itemName', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('itemName', true) === 'none'"></span>
                    Retail Item
                  </th>
                  <th ng-click="updateOrderBy('dispatchedCount', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('dispatchedCount', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('dispatchedCount', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('dispatchedCount', true) === 'none'"></span>
                    Dispatched<br/>Count
                  </th>
                  <th ng-click="updateOrderBy('replenishCount', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('replenishCount', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('replenishCount', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('replenishCount', true) === 'none'"></span>
                    Replenish<br/>Count
                  </th>
                  <th ng-click="updateOrderBy('eposUpliftCount', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('eposUpliftCount', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('eposUpliftCount', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('eposUpliftCount', true) === 'none'"></span>
                    ePOS Replenish<br/>Count
                  </th>
                  <th ng-click="updateOrderBy('inboundOffloadCount', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('inboundOffloadCount', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('inboundOffloadCount', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('inboundOffloadCount', true) === 'none'"></span>
                    Inbounded<br/>or Offload Count
                  </th>
                  <th ng-click="updateOrderBy('ePOSSales', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('ePOSSales', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('ePOSSales', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('ePOSSales', true) === 'none'"></span>
                    ePOS Sales
                  </th>
                  <th ng-click="updateOrderBy('varianceQuantity', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('varianceQuantity', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('varianceQuantity', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('varianceQuantity', true) === 'none'"></span>
                    Variance Quantity
                  </th>
                  <th ng-click="updateOrderBy('retailValue', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('retailValue', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('retailValue', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('retailValue', true) === 'none'"></span>
                    Retail Item<br/>Price [{{companyBaseCurrency.currencyCode}}]
                  </th>
                  <th ng-click="updateOrderBy('varianceValue', true)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('varianceValue', true) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('varianceValue', true) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('varianceValue', true) === 'none'"></span>
                    Variance<br/>Value [{{companyBaseCurrency.currencyCode}}]
                  </th>
                  <th></th>
                </tr>
                <tr ng-repeat="item in filteredLMPStock = (stockItemList | filter:filterItemDetails | orderBy: LMPSortTitle)"
                    ng-show="showLMPDiscrepancies ? item.isDiscrepancy : true">
                  <td>
                    <span class="value stock-discrepancy item itemName">{{ item.itemName }}</span>
                  </td>
                  <td>
                    <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="item.revision.dispatchedCount" ng-pattern="regexp.number">
                    <span ng-hide="showEditViewForItem(item, true)" class="value stock-discrepancy item dispatchedCount">{{ item.dispatchedCount }}</span>
                  </td>
                  <td>
                    <input ng-show="showEditViewForItem(item, true)" ng-disabled="!hasReplenishInstance(stockItemList)" type="text" class="form-control" ng-model="item.revision.replenishCount" ng-pattern="regexp.number">
                    <span ng-hide="showEditViewForItem(item, true)" class="value stock-discrepancy item replenishCount">{{ item.replenishCount }}</span>
                  </td>
                  <td>
                    <span class="value stock-discrepancy item eposUpliftCount">{{ item.eposUpliftCount }}</span>
                  </td>
                  <td>
                    <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="item.revision.inboundOffloadCount" ng-pattern="regexp.number">
                    <span ng-hide="showEditViewForItem(item, true)" class="value stock-discrepancy item inboundOffloadCount">{{ item.inboundOffloadCount }}</span>
                  </td>
                  <td>
                    <span class="value stock-discrepancy item ePOSSales">{{ item.eposQuantity }}</span>
                  </td>
                  <td>
                    <span class="value stock-discrepancy item varianceQuantity">{{ item.varianceQuantity }}</span>
                  </td>
                  <td>
                    <span class="value stock-discrepancy item retailValue">{{ item.retailValue }}</span>
                  </td>
                  <td>
                    <span class="value stock-discrepancy item varianceValue">{{ item.varianceValue }}</span>
                  </td>
                  <td>
                    <a ng-if="!isViewMode" class="btn btn-primary btn-xs btn-block" tabindex="0" ng-click="editItem(item)" ng-hide="!canEdit() || showEditViewForItem(item, true)"><span class="fa fa-pencil"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-success btn-xs btn-block" tabindex="0" ng-click="saveStockItemCounts(item)" ng-show="canEdit() && item.isEditing"><span class="fa fa-check"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="cancelEditItem(item)" ng-show="canEdit() && item.isEditing"><span class="fa fa-times"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="revertItem(item)" ng-show="canEdit() && editLMPStockTable"><span class="fa fa-undo"></span></a>
                  </td>
                </tr>
                <tr ng-show="filteredLMPStock.length === 0">
                  <td colspan="8" class="text-center"><span class="fa fa-exclamation-circle text-danger"></span> We're sorry, there are no items that match the given criteria
                  </td>
                </tr>
              </table>

              <div class="row">
                <div class="col-xs-12 text-right">
                  <button class="btn btn-info" ng-click="showOutlierItems()" ng-show="outlierItemList.length">
                    <span class="fa fa-th-list"></span> View Outlier Items
                  </button>
                  <span ng-show="canEdit()">
                    <button ng-if="!isViewMode" ng-hide="editLMPStockTable" class="btn btn-primary" ng-click="initEditTable(true)"><span class="fa fa-pencil active"></span> Edit Table</button>
                    <button ng-if="!isViewMode" ng-show="editLMPStockTable" class="btn btn-success" ng-click="saveStockItemCountsTable()"><span class="fa fa-check active"></span> Save All</button>
                    <button ng-if="!isViewMode" ng-show="editLMPStockTable" class="btn btn-default" ng-click="cancelEditingTable(true)">Cancel</button>
                  </span>
                </div>
              </div>
            </accordion-group>
          </accordion>

          <accordion class="store-instance-review-accordion" ng-if="companyIsUsingCash">
            <accordion-group ng-init="status.seals.open=false" is-open="status.seals.open">
              <accordion-heading class="accordion-heading">
                <i ng-class="{'fa-chevron-down': status.seals.open, 'fa-chevron-right': !status.seals.open}"
                   class="fa"></i>
                Cash Discrepancy
              </accordion-heading>
              <div class="row">
                <div class="col-xs-8">
                  <label>Filter by Cash Bag</label>
                  <input type="text" class="form-control" ng-model="filterCashBag.cashBagNumber" placeholder="Type a Cash Bag Number"/>
                </div>
                <div class="col-xs-4">
                  <label>Show Only Discrepancies</label>
                  <br>
                  <input bs-switch ng-model="showCashBagDiscrepancies" class="showCashBagDiscrepancies-switch" type="checkbox" switch-size="small" switch-on-color="info" switch-on-text="Yes" switch-off-text="No">
                  </select>
                </div>
              </div>
              <br>

              <table class="table table-striped table-bordered">
                <tr>
                  <th ng-click="updateOrderBy('cashBag', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('cashBag', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('cashBag', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('cashBag', false) === 'none'"></span>
                    Cash Bag Number
                  </th>
                  <th ng-click="updateOrderBy('currency', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('currency', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('currency', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('currency', false) === 'none'"></span>
                    Currency
                  </th>
                  <th ng-click="updateOrderBy('exchangeAmount', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('exchangeAmount', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('exchangeAmount', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('exchangeAmount', false) === 'none'"></span>
                    ePOS Calculated Amount
                  </th>
                  <th ng-click="updateOrderBy('crewAmount', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('crewAmount', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('crewAmount', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('crewAmount', false) === 'none'"></span>
                    ePOS Crew Amount
                  </th>
                  <th ng-click="updateOrderBy('paperAmount', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('paperAmount', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('paperAmount', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('paperAmount', false) === 'none'"></span>
                    Cash Handler Paper Amount
                  </th>
                  <th ng-click="updateOrderBy('coinAmount', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('coinAmount', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('coinAmount', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('coinAmount', false) === 'none'"></span>
                    Cash Handler Coin Amount
                  </th>
                  <th ng-click="updateOrderBy('varianceValue', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('varianceValue', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('varianceValue', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('varianceValue', false) === 'none'"></span>
                    Variance Value
                  </th>
                  <th ng-click="updateOrderBy('bankExchangeRate', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('bankExchangeRate', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('bankExchangeRate', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('bankExchangeRate', false) === 'none'"></span>
                    <span ng-hide="isPaperAndCoinExchangeRatePreferred">Bank Exchange Rate</span>
                    <span ng-show="isPaperAndCoinExchangeRatePreferred">Paper Exchange Rate</span>
                  </th>
                  <th ng-click="updateOrderBy('bankExchangeRate', false)" ng-show="isPaperAndCoinExchangeRatePreferred">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('bankExchangeRate', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('bankExchangeRate', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('bankExchangeRate', false) === 'none'"></span>
                    Coin Exchange Rate
                  </th>
                  <th ng-click="updateOrderBy('totalBank', false)">
                    <span class="fa fa-sort-asc active" ng-show="getArrowType('totalBank', false) === 'ascending'"></span>
                    <span class="fa fa-sort-desc active" ng-show="getArrowType('totalBank', false) === 'descending'"></span>
                    <span class="fa fa-sort active text-muted-light" ng-show="getArrowType('totalBank', false) === 'none'"></span>
                    Total Banked [{{companyBaseCurrency.currencyCode}}]
                  </th>
                  <td></td>
                </tr>
                <tr ng-repeat="item in cashBags | orderBy: cashBagSortTitle | filter:filterCashBag" ng-show="showCashBagDiscrepancies ? item.isDiscrepancy : true">
                  <td>
                    <span class="value cash-discrepancy item cashBagNumber">{{ item.cashBagNumber }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item currency">{{ item.currency }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item eposCalculatedAmount">{{ item.eposCalculatedAmount }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item crewAmount">{{ item.crewAmount }}</span>
                  </td>
                  <td>
                    <input ng-show="showEditViewForItem(item, false)" type="text" class="form-control" ng-model="item.revision.paperAmount">
                    <span ng-hide="showEditViewForItem(item, false)" class="value cash-discrepancy item paperAmount">{{ item.paperAmount }}</span>
                  </td>
                  <td>
                    <input ng-show="showEditViewForItem(item, false)" type="text" class="form-control" ng-model="item.revision.coinAmount">
                    <span ng-hide="showEditViewForItem(item, false)" class="value cash-discrepancy item coinAmount">{{ item.coinAmount }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item varianceValue">{{ item.varianceValue }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item bankExchangeRate">{{ item.bankOrPaperExchangeRate }}</span>
                  </td>
                  <td ng-show="isPaperAndCoinExchangeRatePreferred">
                    <span class="value cash-discrepancy item coinExchangeRate">{{ item.coinExchangeRate }}</span>
                  </td>
                  <td>
                    <span class="value cash-discrepancy item totalBank">{{ item.totalBank }}</span>
                  </td>
                  <td>
                    <a ng-if="!isViewMode" class="btn btn-info btn-xs btn-block" tabindex="0"><span class="fa fa-file-text"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-primary btn-xs btn-block" tabindex="0" ng-click="editItem(item)" ng-hide="!canEdit() || showEditViewForItem(item, false)"><span class="fa fa-pencil"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-success btn-xs btn-block" tabindex="0" ng-click="saveCashBagCurrency(item)" ng-show="canEdit() && item.isEditing"><span class="fa fa-check"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="cancelEditItem(item)" ng-show="canEdit() && item.isEditing"><span class="fa fa-times"></span></a>
                    <a ng-if="!isViewMode" class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="revertItem(item)" ng-show="canEdit() && editCashBagTable"><span class="fa fa-undo"></span></a>
                  </td>
                </tr>
              </table>

              <div class="row">
                <div class="col-xs-12 text-right" ng-show="canEdit()">
                  <button ng-if="!isViewMode" ng-hide="editCashBagTable" class="btn btn-primary" ng-click="initEditTable(false)"><span class="fa fa-pencil active"></span> Edit Table</button>
                  <button ng-if="!isViewMode" ng-show="editCashBagTable" class="btn btn-success" ng-click="saveCashBagTable()"><span class="fa fa-check active"></span> Save All</button>
                  <button ng-if="!isViewMode" ng-show="editCashBagTable" class="btn btn-default" ng-click="cancelEditingTable(false)">Cancel</button>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="outlier-items">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Outlier Items</h3>
        <br>
        <p>
          <b>Store Number: </b> {{ outlierItemData.storeNumber }}<br>
          <b>Schedule Date: </b> {{ outlierItemData.scheduleDate }}<br>
          <b>Menu(s): </b> {{ outlierItemData.menuList }}
        </p>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr class="active">
            <th>Retail Item Details</th>
            <th>Quantity Sold</th>
          </tr>
          <tr ng-repeat="item in outlierItemList">
            <td>{{ item.itemCode }} - {{ item.itemName }}</td>
            <td>{{ item.eposQuantity }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="action-confirm">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Are you sure?</h3>
      </div>

      <div class="modal-body">
        <p>You are about perform the following action: <strong>{{actionName}}</strong></p>
        <div ng-if="actionName !== 'Pay Commission'">
        <p>The following Store will be updated:
        <p>
          <strong>Store Number: </strong>{{storeInstance.storeDetails.storeNumber}} -
          <strong>Schedule Date: </strong>{{storeInstance.scheduleDate}} -
          <strong>Store Instance: </strong>{{storeInstance.id}}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="performAction()">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
