<div class="container">

  <form-error-dialog></form-error-dialog>

  <header>
    <div class="row">
      <div class="col-xs-5 pull-left">
        <h3>Discrepancy Detail</h3>
      </div>
    </div>
    <br>
    <div class="panel panel-default col-xs-12">
      <div class="col-xs-4 text-left pull-left">
        <h4>
          <strong>Store # 123</strong><br>
          <small>10/25/2015</small>
        </h4>
      </div>
      <div class="col-xs-4 text-center">
        <h4><br><small>Store Instance: 123</small></h4>
      </div>

      <div class="col-xs-4 text-right">
        <h4><br><small>Warehouse: Melborne</small></h4>
      </div>
    </div>
    <br>
  </header>

  <div class="accordion-wrapper">
    <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
      <accordion-group ng-init="status.items.open=true" is-open="status.items.open">
        <accordion-heading class="accordion-heading">
          <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
             class="fa"></i>
          Discrepancy Summary
        </accordion-heading>
        <div clas="row">
          <div class="col-xs-6">
            <table class="table table-striped table-bordered">
              <tr>
                <th colspan="2">Warehouse Stock</th>
              </tr>
              <tr>
                <td>Gross Value</td>
                <td>10.3</td>
              </tr>
              <tr>
                <td>Virtual Value</td>
                <td>+1.3</td>
              </tr>
              <tr>
                <td>Discount Value</td>
                <td>-10.3</td>
              </tr>
              <tr>
                <td>Net Value</td>
                <td>10.3</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-6">
            <table class="table table-striped table-bordered">
              <tr>
                <th colspan="2">EPOS Sales</th>
              </tr>
              <tr>
                <td>Gross Value</td>
                <td>10.3</td>
              </tr>
              <tr>
                <td>Virtual Value</td>
                <td>+1.3</td>
              </tr>
              <tr>
                <td>Discount Value</td>
                <td>-10.3</td>
              </tr>
              <tr>
                <td>Net Value</td>
                <td>10.3</td>
              </tr>
            </table>
          </div>
        </div>
        <div clas="row">
          <div class="col-xs-6">
            <table class="table table-striped table-bordered">
              <tr>
                <th colspan="2">Total Revenue</th>
              </tr>
              <tr>
                <td>Total @CH Rate</td>
                <td>10.3</td>
              </tr>
              <tr>
                <td>Total @PAX Rate</td>
                <td>10.3</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-6">
            <table class="table table-striped table-bordered">
              <tr>
                <th>Discrepancy Sum</th>
                <th>Value</th>
                <th>%</th>
              </tr>
              <tr>
                <td>Stock</td>
                <td>10.3</td>
                <td>0.09</td>
              </tr>
              <tr>
                <td>Cash</td>
                <td>10.3</td>
                <td>0.09</td>
              </tr>
              <tr>
                <td>FX</td>
                <td>10.3</td>
                <td>0.09</td>
              </tr>
              <tr>
                <th>Total</th>
                <th>10.3</th>
                <th>0.09</th>
              </tr>
            </table>
          </div>
        </div>
      </accordion-group>
    </accordion>

    <form name="createStoreInstance" ng-submit="submitForm()">

      <div class="accordion-wrapper">
        <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
          <accordion-group ng-init="status.items.open=false" is-open="status.items.open">
            <accordion-heading class="accordion-heading">
              <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
                 class="fa"></i>
              Stock Discrepancy
            </accordion-heading>

            <div class="row">
              <div class="col-xs-6">
                <label>Filter by Groups</label>
                <select class="form-control">
                  <option selected="selected" value>Items With Discrepancies</option>
                </select>
              </div>
              <div class="col-xs-6">
                <label>Filter Items</label>
                <input type="text" class="form-control" placeholder="Type an item code or name"/>
              </div>
            </div>
            <br>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Retail Item</th>
                <th>Dispatched Count</th>
                <th>Inbound Count</th>
                <th>EPOS Sales</th>
                <th>Variance Quantity</th>
                <th>Retail Value [GBP]</th>
                <th>Variance Value [GBP]</th>
              </tr>
              <tr>
                <td>Chocolate</td>
                <td>50</td>
                <td>20</td>
                <td>0</td>
                <td>-5</td>
                <td>7.00</td>
                <td>-35.00</td>
              </tr>
            </table>
          </accordion-group>
        </accordion>

        <accordion class="store-instance-review-accordion">
          <accordion-group ng-init="status.seals.open=false" is-open="status.seals.open">
            <accordion-heading class="accordion-heading">
              <i ng-class="{'fa-chevron-down': status.seals.open, 'fa-chevron-right': !status.seals.open}"
                 class="fa"></i>
              Cash Discrepancy
            </accordion-heading>
            <div class="row">
              <div class="col-xs-6">
                <label>Filter by Product Groups</label>
                <select class="form-control">
                  <option selected="selected" value>Products With Discrepencies</option>
                  <option>All Products</option>
                </select>
              </div>
              <div class="col-xs-6">
                <label>Filter Products</label>
                <select class="form-control">
                  <option selected="selected">Select a Cash Bag...</option>
                  <option>123</option>
                  <option>345</option>
                </select>
              </div>
            </div>
            <br>

            <table class="table table-striped table-bordered">
              <tr>
                <th>Cash Bag</th>
                <th>Currency</th>
                <th>Exchange Amount</th>
                <th>Crew Amount</th>
                <th>Cash Handler Paper Amount</th>
                <th>Cash Handler Coin Amount</th>
                <th>Variance Value</th>
                <th>Bank Exchange Rate</th>
                <th>Total Band [GBP]</th>
              </tr>
              <tr>
                <td>12345</td>
                <td>AUD</td>
                <td>141.00</td>
                <td>148.00</td>
                <td>120.00</td>
                <td>18.00</td>
                <td>-3.00</td>
                <td>1.0000</td>
                <td>138.00</td>
              </tr>

            </table>
          </accordion-group>
        </accordion>
      </div>

    </form>

  </div>
