<div class="container-fluid">

  <form-error-dialog></form-error-dialog>

  <div class="modal fade" id="t6Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Virtual Product Revenue: 123.00</h4>
          <br>
          <table class="table table-bordered">
            <tr class="active">
              <td>Virtual Product Name</td>
              <td>Quantity</td>
              <td>Total</td>
            </tr>
            <tr>
              <td>Test name</td>
              <td>5</td>
              <td>10.00</td>
            </tr>
            <tr>
              <td>Test name 2</td>
              <td>6</td>
              <td>11.00</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 main">
      <header>
        <div class="row item-list-row">
          <div class="col-xs-8">
            <h3 class="view-name">Discrepancy Detail</h3>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-warning">
              Hide Payment Reports
            </button>
            <!--<button class="btn btn-info">-->
            <!--<span class="fa fa-file-text" aria-hidden="true"></span> Show Payment Reports-->
            <!--</button>-->
          </div>
        </div>
        <br>

        <div class="panel panel-default col-xs-12">
          <div class="col-xs-4 text-left pull-left">
            <h4>
              <strong>Store # 123</strong><br>
              <small>10/25/2015</small>
            </h4>
          </div>
          <div class="col-xs-4 text-center">
            <h4><br>
              <small>Store Instance: 123</small>
            </h4>
          </div>

          <div class="col-xs-4 text-right">
            <h4><br>
              <small>Warehouse: Melborne</small>
            </h4>
          </div>
        </div>
        <br>
      </header>

      <div class="accordion-wrapper">
        <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
          <accordion-group ng-init="status.items.open=true" is-open="status.items.open">
            <accordion-heading class="accordion-heading">
              <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
                 class="fa"></i>
              Discrepancy
            </accordion-heading>
            <div clas="row">
              <div class="col-xs-4">
                <table class="table table-bordered">
                  <tr>
                    <td colspan="2" class="active">LMP Station Stock [GBP]</td>
                  </tr>
                  <tr>
                    <td><a ng-click="showModal()">Gross Value of LMP Stock</a></td>
                    <td>10.3</td>
                  </tr>
                  <tr>
                    <td><a ng-click="showModal()">Virtual Retail Items</a></td>
                    <td>+1.3</td>
                  </tr>
                  <tr>
                    <td><a ng-click="showModal()">Voucher Items</a></td>
                    <td>+1.3</td>
                  </tr>
                  <tr>
                    <td>Promotion Discounts</td>
                    <td>-10.3</td>
                  </tr>
                  <tr class="active">
                    <td>Net Value of LMP Stock</td>
                    <td>10.3</td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-4">
                <table class="table table-bordered">
                  <tr class="active">
                    <td colspan="2">ePOS Sales [GBP]</td>
                  </tr>
                  <tr>
                    <td>Gross Value of ePOS Sales</td>
                    <td>10.3</td>
                  </tr>
                  <tr>
                    <td>Virtual Retail Items</td>
                    <td>+1.3</td>
                  </tr>
                  <tr>
                    <td>Voucher Items</td>
                    <td>+1.3</td>
                  </tr>
                  <tr>
                    <td>Promotion Discount</td>
                    <td>-10.3</td>
                  </tr>
                  <tr class="active">
                    <td>Net Value of ePOS Sales</td>
                    <td>10.3</td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-4">
                <table class="table table-bordered">
                  <tr>
                    <td class="active" colspan="2">Total Revenue [GBP]</td>
                  </tr>
                  <tr>
                    <td>Total Revenue in Cash Handler Exchange Rate</td>
                    <td>10.3</td>
                  </tr>
                  <tr>
                    <td>Total Revenue in ePOS Exchange Rate</td>
                    <td>10.3</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-xs-12">
              <table class="table table-bordered">
                <tr class="info">
                  <th>Discrepancy</th>
                  <th>Value</th>
                  <th>%</th>
                </tr>
                <tr>
                  <td>Net LMP vs Net ePOS Discrepancy Values</td>
                  <td>10.3</td>
                  <td>0.09</td>
                </tr>
                <tr>
                  <td>Revenue vs Net ePOS Discrepancy Value</td>
                  <td>10.3</td>
                  <td>0.09</td>
                </tr>
                <tr>
                  <td>Foreign Exchange Discrepancy Value</td>
                  <td>10.3</td>
                  <td>0.09</td>
                </tr>
                <tr class="active">
                  <th>Discrepancy Value</th>
                  <th>10.3</th>
                  <th>0.09</th>
                </tr>
              </table>
            </div>
          </accordion-group>
        </accordion>

        <form name="createStoreInstance" ng-submit="submitForm()">

          <div class="accordion-wrapper">
            <accordion class="store-instance-review-accordion" ng-class="{'accordion-footer':isEndInstance()}">
              <accordion-group ng-init="status.items.open=false" is-open="status.items.open">
                <accordion-heading class="accordion-heading">
                  <i ng-class="{'fa-chevron-down': status.items.open, 'fa-chevron-right': !status.items.open}"
                     class="fa"></i>
                  Stock Discrepancy
                </accordion-heading>

                <div class="row">
                  <div class="col-xs-8">
                    <label>Filter by Item Name or Category</label>
                    <input type="text" class="form-control" placeholder="Type an item name or category"/>
                  </div>
                  <div class="col-xs-4">
                    <label>Show Only Discrepancies</label>
                    <br>
                    <input bs-switch ng-model="showLMPDiscrepancies" type="checkbox" switch-size="small" switch-on-color="info">
                  </div>
                </div>
                <br>
                <table class="table table-bordered">
                  <tr class="active">
                    <th><span class="fa fa-sort-asc active"></span> Retail Item</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> Dispatched Count</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> Inbound Count</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> ePOS Sales</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> Variance Quantity</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> Retail Value [GBP]</th>
                    <th><span class="fa fa-sort active text-muted-light"></span> Variance Value [GBP]</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="item in LMPStock" ng-show="showLMPDiscrepancies ? item.isDiscrepancy : true">
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].itemName">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.itemName }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].dispatchedCount">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.dispatchedCount }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].inboundCount">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.inboundCount }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].ePOSSales">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.ePOSSales }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].varianceQuantity">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.varianceQuantity }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].retailValue">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.retailValue }}</span>
                    </td>
                    <td>
                      <input ng-show="showEditViewForItem(item, true)" type="text" class="form-control" ng-model="LMPStockRevisions[$index].varianceValue">
                      <span ng-hide="showEditViewForItem(item, true)">{{ item.varianceValue }}</span>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-xs btn-block" tabindex="0" ng-click="editLMPStockItem($index)" ng-hide="showEditViewForItem(item, true)"><span class="fa fa-pencil"></span></a>
                      <a class="btn btn-success btn-xs btn-block" tabindex="0" ng-click="saveLMPStockItem($index)" ng-show="item.isEditing"><span class="fa fa-check"></span></a>
                      <a class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="cancelEditingLMPStockItem($index)" ng-show="item.isEditing"><span class="fa fa-times"></span></a>
                      <a class="btn btn-default btn-xs btn-block" tabindex="0" ng-click="revertLMPStockItem($index)" ng-show="editLMPStockTable"><span class="fa fa-undo"></span></a>
                    </td>
                  </tr>
                </table>

                <div class="row">
                  <div class="col-xs-12 text-right">
                    <button ng-hide="editLMPStockTable" class="btn btn-primary" ng-click="enableEditLMPStockTable()"><span class="fa fa-pencil active"></span> Edit Table</button>
                    <button ng-show="editLMPStockTable" class="btn btn-success" ng-click="saveLMPStockTable()"><span class="fa fa-check active"></span> Save All</button>
                    <button ng-show="editLMPStockTable" class="btn btn-default" ng-click="cancelEditingLMPStockTable()">Cancel</button>
                  </div>
                </div>
              </accordion-group>
            </accordion>

            <accordion class="store-instance-review-accordion">
              <accordion-group ng-init="status.seals.open=false" is-open="status.seals.open">
                <accordion-heading class="accordion-heading">
                  <i ng-class="{'fa-chevron-down': status.seals.open, 'fa-chevron-right': !status.seals.open}"
                     class="fa"></i>
                  Cash Discrepancy
                </accordion-heading>
                <div class="row">
                  <div class="col-xs-8">
                    <label>Filter by Cash Bag</label>
                    <select class="form-control">
                      <option selected="selected">Select a Cash Bag...</option>
                      <option>123</option>
                      <option>345</option>
                    </select>
                  </div>
                  <div class="col-xs-4">
                    <label>Show Only Discrepancies</label>
                    <br>
                    <input bs-switch ng-model="switchModel" type="checkbox" switch-size="small" switch-on-color="info">
                    </select>
                  </div>
                </div>
                <br>

                <table class="table table-striped table-bordered">
                  <tr>
                    <th><span class="fa fa-sort-asc active"></span> Cash Bag</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Currency</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Exchange Amount</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Crew Amount</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Cash Handler Paper Amount</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Cash Handler Coin Amount</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Variance Value</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Bank Exchange Rate</th>
                    <th><span class="fa fa-sort text-muted-light"></span> Total Band [GBP]</th>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <!--<input type="text" class="form-control">-->
                      <span>12345</span>
                    </td>
                    <td>
                      <!--<input type="text" class="form-control">-->
                      <span>AUD</span>
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>141.00</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>148.00</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>120.00</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>18.00</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>-3.00</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>1.0000</span>-->
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <!--<span>138.00</span>-->
                    </td>
                    <td>
                      <a class="btn btn-success btn-xs btn-block" tabindex="0"><span class="fa fa-check"></span></a>
                      <a class="btn btn-default btn-xs btn-block" tabindex="0"><span class="fa fa-times"></span></a>
                      <a class="btn btn-info btn-xs btn-block" tabindex="0"><span class="fa fa-file-text"></span></a>
                    </td>
                  </tr>
                </table>

                <div class="row">
                  <div class="col-xs-12 text-right">
                    <button class="btn btn-primary"><span class="fa fa-pencil active"></span> Edit Table</button>
                    <!--<button class="btn btn-success"><span class="fa fa-check active"></span> Save</button>-->
                    <!--<button class="btn btn-default">Cancel</button>-->
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </form>

      </div>
    </div>

    <div class="col-xs-4 fixed-sidebar">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-10 view-name">
            <h4><span class="fa fa-file-text" aria-hidden="true"></span> Payment Reports</h4>
          </div>
          <div class="col-xs-2 text-right view-name">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <br>

      <div class="panel col-xs-12">
        <div class="panel-body">
          <p>Flight Date: 10/20/2015</p>

          <p>Flight Number: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <p>Flight Number: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <table class="table table-bordered col-xs-12">
            <tr class="active">
              <td>Crew ID</td>
              <td>Last Name</td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
          </table>
          <table class="table col-xs-12">
            <tr>
              <td>Expected Cash Total</td>
              <td>141.00</td>
            </tr>
            <tr>
              <td>Card Total</td>
              <td>196.00</Td>
            </tr>
            <tr>
              <td>Voucher Total</td>
              <td>15.00</Td>
            </tr>
            <tr>
              <td>Complimentary Total</td>
              <td>39.00</Td>
            </tr>
            <tr>
              <td>Expected Total</td>
              <td>391.00</Td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel col-xs-12">
        <div class="panel-body">
          <p>Flight Date: 10/20/2015</p>

          <p>Flight Number: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <p>Flight Number: 10/20/2015</p>

          <p>Flight Date: 10/20/2015</p>

          <table class="table table-bordered col-xs-12">
            <tr class="active">
              <td>Crew ID</td>
              <td>Last Name</td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
            <tr>
              <td>123</td>
              <td>somename</Td>
            </tr>
          </table>
          <table class="table col-xs-12">
            <tr>
              <td>Expected Cash Total</td>
              <td>141.00</td>
            </tr>
            <tr>
              <td>Card Total</td>
              <td>196.00</Td>
            </tr>
            <tr>
              <td>Voucher Total</td>
              <td>15.00</Td>
            </tr>
            <tr>
              <td>Complimentary Total</td>
              <td>39.00</Td>
            </tr>
            <tr>
              <td>Expected Total</td>
              <td>391.00</Td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>


</div>
</div>
