<div class="module-container">
  <div class="edit-controls">
    <div class="row">

      <div class="col-xs-6">
        <h2 class="view-name"> {{ viewName }} </h2>
      </div>

      <div class="col-xs-6 text-right">

        <fieldset ng-hide="viewOnly">

<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW           <button class="btn btn-warning" ng-click="toggleReview()" ng-hide="hideReview">
          <button class="btn btn-warning">
            <span class="fa fa-file-text-o" aria-hidden="true"></span>
            <span class="hidden-xs">Review</span>
          </button> -->

          <button type="button" class="btn btn-default" ng-click="cancel()">
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="hidden-xs">Cancel</span>
          </button>

<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW           <button class="btn btn-primary" ng-click="save(false)" ng-show="showSaveButton()"> -->
          <button class="btn btn-primary">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs">Save</span>
          </button>
          
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW           <button class="btn btn-success" ng-click="save(true)" ng-show="showSaveButton()"> 
          <button class="btn btn-success">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <span class="hidden-xs">Submit</span>
          </button> -->

        </fieldset>

      </div>

    </div>
  </div>
  
     <div class="row">
      <div class="col-xs-12">

        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#search-collapse"
                aria-expanded="false"
                aria-controls="search-collapse">
          <span class="fa fa-search" aria-hidden="true"></span>
          <span class="hidden-xs">Search</span>
        </button>
      </div>
    </div>

    <div class="panel panel-default no-transition" id="search-collapse">
      <form name="menuSearchForm" ng-submit="searchPostTripData()">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Operating Currency*</label>
                  <select required class="form-control">
                    <option selected="selected" value>Select Currency</option>
                  </select>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Accepted Currency</label>
<!-- TODO: USE MULTIPLE SELECT -->
                <ui-select id="select-accepted-currency" class="form-control" multiple ng-model="" theme="bootstrap">
                  <ui-select-match placeholder="Select Currency">{{ }}</ui-select-match>
                  <ui-select-choices>
                    {{ }} ({{ }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-5">
              <date-picker
                element-class="col-xs-6"
                start-date-model="search.scheduleStartDate"
                end-date-model="search.scheduleEndDate"
                label-from="Start Date"
                label-to="End Date"
                is-search-field="true">
              </date-picker>
            </div>
            
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    
  
  <form class="form edit-form retail-company-exchange-rate-setup-form" name="form">
    <error-dialog form-object="form"></error-dialog>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label for="lmp-station">Operating Currency*</label>
              <select class="form-control" required>
                <option selected="selected">GBP</option>
              </select>
            </div>
          </div>
          
          <!-- COMMENTED OUT FOR MOCKUP          <div class="col-xs-2">{{cashHandlerCompany.companyName}}</div> -->
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW          <div class="col-xs-10 text-right"><p>Base Currency: <span>{{companyBaseCurrency.currencyCode}}</span></p></div> -->
          <div class="col-xs-12 col-sm-6 col-md-8 text-right">
            <p>Base Currency: <span>GBP</span></p>
          </div>

        </div>
      </div>

      <div class="panel-body">
              
        <table class="table table-bordered table-hover ng-scope">
          <thead>
            <tr>
              <th>Accepted Currency</th>
              <th width="30%">Denomination*</th>
              <th>Exchange Rate*</th>
              <th colspan="2">Start/End Date*</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          
<!-- TODO: FIRST ROW WILL BE THE BASELINE EXCHANGE RATE 1.000000 AND WILL BE DISABLED -->
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="GBP" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="0.01, 0.02, 0.05, 0.10, 0.20, 0.50, 1, 2, 5, 10, 20, 50">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-readonly="companyBaseCurrency.currencyCode == currency.code || !showActionButtons"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="1.000000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="USD" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="1, 2, 5, 10, 20, 50, 100">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="1.698000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="EUR" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="0.5, 1, 2, 5, 10, 20, 50, 100">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="1.290000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="CHF" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="0.5, 1, 2, 5, 10, 20, 50, 100">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="1.604000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="CZK" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="50, 100, 200, 500, 1000">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="40.201000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="DKK" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="50, 100, 200, 500, 1000">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="11.070000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="TRY" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="1, 5, 10, 20, 50, 100">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="4.988000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="EGP" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="1, 5, 10, 20, 50, 100, 200">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="13.331000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="SEK" disabled="disabled">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="20, 50, 100, 500">
    <!-- TODO: USE SELECTIVIZE HERE, JUST LIKE ASSIGN SEALS IN DISPATCH SCREENS -->            
    <!--                 <input type="text" id="seal-numbers-inbound" value="" placeholder="Add Seals Here, Enter After Each Seal"> -->
    <!--                 <script>
    //                   $('#seal-numbers-inbound').selectize({
    //                     persist: false,
    //                     createOnBlur: true,
    //                     create: true
    //                   });
                    </script> -->
              </td>
              <td>
                <div class="input-group">
                  <input custom-validity
                         custom-pattern="currencyWithFourDecimalPlace"
                         ng-model="currenciesFields[currency.code].paperExchangeRate"
                         ng-required="!(companyBaseCurrency.currencyCode == currency.code || !showActionButtons)"
                         name="{{currency.code}}paperExchangeRate"
                         currencyType="paperExchangeRate" placeholder="14.294000"
                         class="form-control"
                         aria-label="Amount (to the nearest dollar)"/>
                </div>
              </td>
              <td colspan="2">
                  <date-picker
                    element-class="col-xs-6"
                    start-date-model="search.scheduleStartDate"
                    end-date-model="search.scheduleEndDate"
                    is-search-field="true">
                  </date-picker>
              </td>
              <td>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <a class="btn btn-warning btn-xs" ng-href="#/item-copy/{{item.versions[0].id}}"> -->
                <a class="btn btn-warning btn-xs">
                  <i class="fa fa-copy"></i>
                </a>
<!-- COMMENTED OUT FOR MOCKUP, USING LINE BELOW                 <button class="btn btn-danger btn-xs" ng-click="deleteRecordDialog(item.versions[0].id)" ng-hide="isDateActive(item.versions[0].startDate) || isDateActive(item.versions[0].endDate)"> -->
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
                        
          </tbody>
        </table>
        
      </div>

    </div>
    
  </form>
</div>
<dynamic-left-nav is-editing="1"></dynamic-left-nav>
