<!-- /Container  Starts -->
<form class="form-horizontal" name="scheduleReportForm" ng-submit="saveReport()">
<!-- <pre id="default-spacing">{{ user.daysOfWeek | json }}</pre> --> 
<div class="modal-header">
  <h3 class="modal-title">Scheduling Report {{template.name}}</h3>
</div>

<div class="modal-body">
     <div class="form-group">
      <label class="col-sm-4 control-label">Recurrence Pattern: <span style="color:red">*</span></label>
     <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
      <select class="form-control" id="" ng-model="scheduleReport.recurrencePattern" name="" ng-required="true"
	    ng-options="pattern.value as pattern.name for pattern in recurrencePattern">
	    <option selected="selected" value disabled="disabled">Select a pattern</option>
        </select>
      </span> 
    </div> 
   <div class="form-group" ng-show="scheduleReport.recurrencePattern=='Daily'">
     <label class="col-sm-4 control-label">Days Of Week	: <span style="color:red">*</span></label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.daysOfWeek.$invalid}"> 
      <div ng-repeat="day in daysOfWeek" class="form-group">
            <input type="checkbox" data-checklist-model="user.daysOfWeek" data-checklist-value="day.value"> {{day.value}} 
      </div>
      </span>
    </div>
    
    <div class="form-group" ng-show="scheduleReport.recurrencePattern=='Weekly'">
      <label class="col-sm-4 control-label">Day Of Week	: <span style="color:red">*</span> </label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
      <select id="" class="form-control" name="" ng-model="scheduleReport.dayOfWeek"
      				ng-options="pattern.value as pattern.name for pattern in daysOfWeek" ng-required= "scheduleReport.recurrencePattern == 'Weekly'">
       	 <!-- <option ng-repeat="weekDay in daysOfWeek"  name="{{weekDay}}">{{weekDay}}</option> -->
       	 <option selected="selected" value disabled="disabled" >Select WeekDay</option>
        </select> 	
      </span>
    </div>
    
    <div class="form-group" ng-show="scheduleReport.recurrencePattern=='Monthly'">
      <label class="col-sm-4 control-label">Day of Month: <span style="color:red">*</span> </label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
      <select id="" class="form-control" name="" ng-model="scheduleReport.dayOfMonth"
      			    ng-options="pattern.value as pattern.name for pattern in dayOfMonth" ng-required= "scheduleReport.recurrencePattern == 'Monthly'">
       	 <!-- <option ng-repeat="month in dayOfMonth"  name="{{month}}" >{{month}}</option> -->
       	 <option selected="selected"  value disabled="disabled" >Select Day of Month</option>
        </select> 	
      </span>
    </div>
    
   
    
    <div class="form-group">
     <label class="col-sm-4 control-label">Recurrence Start Date:	<span style="color:red">*</span></label>
     <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}"  ng-controller="OptionSelectionDateCtrl" class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport[option.code].$invalid && scheduleReport[option.code].$dirty}">
       <input type="text" class="form-control" name="" ng-model="scheduleReport.recurrenceStartDate" ng-required="true"  
               datepicker-popup="{{format}}" min-date="today"
               datepicker-options="dateOptions" ng-required="true" close-text="Close" is-open="status.opened"  /> <!-- -->
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
      <div ng-if="scheduleReport.name.$error && scheduleReport.name.$dirty">
         <p ng-show="scheduleReport.name.$error.required">Date is required.</p>
      </div>
      </div>
   
    
     <div class="form-group">
      <label class="col-sm-4 control-label">Recurrence End Date:	 <span style="color:red">*</span></label>
        <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}"  ng-controller="OptionSelectionDateCtrl" class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport[option.code].$invalid && scheduleReport[option.code].$dirty}">
       <input type="text" class="form-control" name="" ng-model="scheduleReport.recurrenceEndDate" ng-required="true" 
       		   datepicker-popup="{{format}}" min-date="today"
               datepicker-options="dateOptions" ng-required="true" close-text="Close" is-open="status.opened"/> <!-- -->
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
   
      <div ng-if="scheduleReport.name.$error && scheduleReport.name.$dirty">
         <p ng-show="scheduleReport.name.$error.required">Date is required.</p>
      </div>
    </div>
    
     <div class="form-group">
      	<label class="col-sm-4 control-label">Recurrence Time:	<span style="color:red">*</span></label>
      	<span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
       	 <input type="time"  name="" ng-model="scheduleReport.recurrenceTime" placeholder="hh:mm" required />
      	</span>

      <div ng-if="scheduleReport.name.$error && scheduleReport.name.$dirty">
          <p ng-show="scheduleReport.name.$error.required">Name is required.</p>
      </div>
     </div>
    
     <div class="form-group">
      <label class="col-sm-4 control-label">Time/Zone	: <span style="color:red">*</span></label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">	  
      <timezone-selector 
		class="form-control"
	    ng-model="scheduleReport.timeZone"  
	    display-utc="true"
	    show-local="true"
	    set-local="true"
	    primary-choices="UTC GMT America/Chicago Europe/London Asia/Kolkata"
		required
		></timezone-selector> 
      </span>      
    </div>
    
     <div class="form-group">
      <label class="col-sm-4 control-label">Date Range: <span style="color:red">*</span></label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
      <select id="" class="form-control"  ng-model="scheduleReport.dateRange" name=""  ng-required="true"
      	ng-options="pattern.value as pattern.name for pattern in dateRange">
         <option selected="selected" value disabled="disabled" >Select Date Range</option>
       	 <!-- <option ng-repeat="dateRange in dateRanges"  name="{{dateRange}}" >{{dateRange}}</option> -->
        </select> 	
      </span>
     </div>
    
     <div class="form-group">
      <label class="col-sm-4 control-label">Email	: <span style="color:red">*</span></label>
      <span class="col-sm-6 input-group" ng-class="{'has-error': scheduleReport.name.$invalid}">
        <input type="text" class="form-control" name="name" ng-model="scheduleReport.email" ng-required="true"/>
      </span>

      <div ng-if="scheduleReport.name.$error && scheduleReport.name.$dirty">
         <p ng-show="scheduleReport.name.$error.required">Name is required.</p>
      </div>
    </div>
   	
	<div ng-repeat="option in template.options" class="form-group" ng-switch on="option.type">  
	  <div ng-if="option.type != 'DATE'">
       	<label class="col-sm-4 control-label">{{option.prompt}}: <span ng-if="!option.optional" style="color:red">*</span></label>
      </div>
	  <span ng-switch-when="ID" ng-controller="OptionSelectionSelectCtrl" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
        <ui-select ng-if="option.multiValue && option.choiceLookup" name="{{option.code}}" multiple ng-model="selection.options[option.code]">
          <ui-select-match placeholder="Select value...">{{$item.code}}</ui-select-match>
          <ui-select-choices repeat="choice in choices | filter: $select.search track by choice.id"
                             refresh="refreshChoiceValues($select.search)" refresh-delay="10" >
            <div ><span ng-bind-html="choice.code | highlight: $select.search"/><span ng-if="choice.description !== undefined"> (<span ng-bind-html="choice.description | highlight: $select.search"/>)</span></div>
          </ui-select-choices>
        </ui-select>
        <ui-select ng-if="!option.multiValue && option.choiceLookup" ng-model="selection.options[option.code]">
          <ui-select-match placeholder="Select value...">{{$select.selected.code}}</ui-select-match>
          <ui-select-choices repeat="choice in choices | filter: $select.search track by choice.id"
                             refresh="refreshChoiceValues($select.search)" refresh-delay="10" >
              <div ><span ng-bind-html="choice.code | highlight: $select.search"/><span ng-if="choice.description !== undefined"> (<span ng-bind-html="choice.description | highlight: $select.search"/>)</span></div>
          </ui-select-choices>
        </ui-select>
        <span ng-if="!option.multiValue && !option.choiceLookup" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <input type="number" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" ng-trim="true" placeholder="{{option.code}}" />
          <div ><span ng-bind-html="choice.code | highlight: $select.search"/><span ng-if="choice.description !== undefined"> (<span ng-bind-html="choice.description | highlight: $select.search"/>)</span></div>
        </span>
      </span>
      <span ng-switch-when="STRING">
        <span ng-if="option.multiValue && !option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" ng-list="," ng-trim="true" placeholder="seperate values with a comma" />
        </span>
        <span ng-if="!option.multiValue && !option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" />
        </span>
        <span ng-if="!option.multiValue && option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <select name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" ng-required="false" >
            <option ng-if="option.optional" value="">All</option>
            <option ng-repeat="choiceValue in option.choiceValues" value="{{choiceValue}}">{{choiceValue}}</option>
          </select>
        </span>
        <span ng-if="option.multiValue && option.choiceValues" class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
          <select name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]" >
            <option ng-repeat="choiceValue in option.choiceValues" value="{{choiceValue}}" >{{choiceValue}}</option>
          </select>
        </span>
        <div ng-if="reportOptions[option.code].$error && reportOptions[option.code].$dirty">
          <p ng-show="reportOptions[option.code].$error.required">{{option.prompt}} is required.</p>
        </div>
      </span>
      
	  <div ng-if="option.type != 'DATE'">
        <span ng-switch-default class="col-sm-6 input-group" ng-class="{'has-error': reportOptions[option.code].$invalid && reportOptions[option.code].$dirty}">
        	<input type="text" name="{{option.code}}" class="form-control" ng-model="selection.options[option.code]"/>
      	</span>
      	<div ng-if="reportOptions[option.code].$error && reportOptions[option.code].$dirty">
        	<p ng-show="reportOptions[option.code].$error.required">{{option.prompt}} is required.</p>
        </div>
      </div>
    </div>
    
  <div class="modal-footer">
	  <button class="btn btn-primary" type="submit">Schedule</button>
	  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
    
 </div> 
</form>

<!-- /Container  Ends -->