<div class="container module-container">

	<div class="list-controls">

		<div class="row item-list-row">

			<div class="col-xs-6">

				<h2 class="view-name">Stations List</h2>

			</div>

      <div class="col-xs-6 text-right">

				<button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false" aria-controls="search-collapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
					<span class="hidden-sm hidden-xs">Toggle Filter</span>
				</button>

      </div>

		</div>

		<!-- Search Panel -->
		<div class="panel panel-default no-transition in" id="search-collapse">

			<div class="panel-heading">Search for Stations</div>

			<form name="searchForm" class="form">

				<div class="panel-body">

					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-4">
              <div class="form-group">
                <label>Country</label>
								<select class="form-control" ng-model="search.countryId">
									<option value="{{country.id}}" ng-repeat="country in countryList track by country.id ">{{ country.countryName }}</option>
								</select>
              </div>
            </div>

						<div class="col-xs-12 col-sm-6 col-md-4">

              <div class="form-group">
                <label>City</label>
								<ui-select multiple ng-model="search.cityId" theme="bootstrap">
	                <ui-select-match placeholder="Start typing to find a city">{{ $item.cityName }}
	                </ui-select-match>
	                <ui-select-choices repeat="city in cityList | filter: $select.search | filter: filterCityByCountry | orderBy:'cityName'">
	                  <div ng-bind-html="city.cityName | highlight: $select.search"></div>
	                </ui-select-choices>
	              </ui-select>
              </div>

            </div>

						<div class="col-xs-12 col-sm-6 col-md-4">
              <div class="form-group">
                <label>Station Name</label>
                <input type="text" class="form-control" ng-model="search.stationName" />
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <date-picker-field name="EffectiveFrom" label="Effective From"
                ng-model="search.startDate"></date-picker-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <date-picker-field  name="EffectiveTo" label="Effective To"
                ng-model="search.endDate"></date-picker-field>
            </div>

					</div>

				</div>

				<div class="panel-footer text-right">

						<button class="btn btn-default btn-search-clear"
							ng-click="clearSearchFilters()"
							ng-show="search.countryId || search.cityId.length || search.startDate || search.endDate">
							<span class="btn-label">Clear</span>
						</button>

						<button ng-click="searchRecords()" class="btn btn-primary btn-search">
							<span class="fa fa-search" aria-hidden="true"></span>
							<span class="hidden-sm hidden-xs btn-label">Search</span>
						</button>

					</div>

				</form>

			</div>

			<!-- Station Edit Controls Panel -->
			<div class="panel panel-default" ng-show="canSave()">

					<div class="panel-body">

						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-4">
								<date-picker-field name="EffectiveFrom" label="Effective From"
									ng-model="dateRange.startDate"></date-picker-field>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4">
								<date-picker-field  name="EffectiveTo" label="Effective To"
									ng-model="dateRange.endDate"></date-picker-field>
							</div>

						</div>

						<p>
							<i class="fa fa-info-circle"></i>
							<em>Use the fields above to update all selected Stations. You may also update stations per row.</em>
						</p>

					</div>

					<div class="panel-footer">

						<button ng-show="canSave()" class="btn btn-success" type="button" ng-click="submitForm()">
							<i class="fa fa-check-square-o"></i> Save Stations
						</button>

						<button class="btn btn-default" type="button" ng-click="selectAllStations()">
							<i class="fa"></i> Select All Stations
						</button>

						<button class="btn btn-default" type="button" ng-click="deselectAllStations()">
							<i class="fa"></i> Deselect Stations
						</button>

					</div>

			</div>

	</div>


	<form name="stationListForm" ng-show="stationList.length">

	  <table class="table table-bordered table-responsive table-hover">

	    <thead>

	      <tr>
					<th>Selected</th>
	        <th>Station Name</th>
					<th>Country</th>
					<th>City</th>
					<th>Timezone</th>
	        <th>Start Date</th>
	        <th>End Date</th>
	        <!-- <th>Actions</th> -->
	      </tr>

	    </thead>

	    <tbody>

	      <tr ng-repeat="station in stationList">

					<td>
						<input type="checkbox" ng-model="selectedStations[station.id]" />
					</td>

	        <td>{{ station.stationCode }}</td>

					<td>{{ station.countryName }}</td>

					<td>{{ station.cityName }}</td>

					<td>UTC {{station.utcDstOffset}}</td>

	        <td width="200px">
						<date-picker-field form="stationListForm" name="startDate" required="true"
							ng-model="formData.stations[$index].startDate">
						</date-picker-field>
					</td>

	        <td width="200px">
						<date-picker-field form="stationListForm" name="endDate" required="true"
							ng-model="formData.stations[$index].endDate">
						</date-picker-field>
					</td>

	        <!--<td>

	          <button class="btn btn-success" type="submit" ng-show="isSubscribed(station)">
	            <i class="fa fa-check-square-o"></i> Save
	          </button>

						<button class="btn btn-danger" type="submit"  ng-show="isSubscribed(station)">
	            <i class="fa fa-times"></i>
	          </button>

	        </td>-->

	      </tr>

	    </tbody>

	  </table>

	</form>

</div>

<dynamic-left-nav></dynamic-left-nav>

<delete-record-dialog></delete-record-dialog>
