<div class="module-container">

  <div class="top-header">

    <div class="container stock-dashboard">

      <div class="edit-controls">
        <div class="row">

          <div class="col-xs-6">
            <h2 class="view-name"> {{ viewName }} </h2>
          </div>

          <div class="col-xs-6 text-right">

            <fieldset ng-hide="viewOnly">

                <button class="btn btn-primary" ng-click="formReview()" ng-hide="readOnly">
                  <span>Review</span>
                </button>

                <!-- TODO: SAVE BUTTON AVAIALABLE ONLY AFTER REVIEWED (BUTTON ABOVE) -->
                <button class="btn btn-primary" ng-click="formSave()" ng-hide="true">
                  <span>Save</span>
                </button>

                <button class="btn btn-default" ng-click="" ng-hide="readOnly">Cancel</button>

                <!-- TODO: SUBMIT BUTTON AVAIALABLE ONLY AFTER REVIEWED (BUTTON ABOVE) -->
                <button class="btn btn-primary" ng-click="submitForm(formData)" ng-hide="true">
                  <span class="fa fa-check-square-o" aria-hidden="true"></span>
                  <span>Submit</span>
                </button>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="row" ng-hide="readOnly">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <label>LMP Station</label>
                <select class="form-control"
                       ng-model="stockTake.catererStationId"
                       ng-disabled="readOnly || catererStationList.length == 1"
                       ng-show="catererStationList.length"
                       required>
                  <option ng-selected="station.id==deliveryNote.catererStationId" ng-repeat="station in catererStationList" value="{{ station.id }}">
                    {{ station.name }} - {{ station.code }}
                  </option>
                </select>
          </div>
        </div>

      </div>
<!--       <div class="row"> -->

<!--         <div class="col-xs-12"> -->
<!--           <div class="form-group"> -->
<!--             <excel-upload type="stockTake"></excel-upload> -->

<!--             <div class="btn-group import-from-file"> -->
<!--               <div class="btn-group" dropdown> -->
<!--                 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#importFromData" > -->
<!--                   <span class="fa fa-copy" aria-hidden="true"></span> -->
<!--                   Import Stock From File -->
<!--                 </button> -->
<!--                 <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle> -->
<!--                   <span class="caret"></span> -->
<!--                 </button> -->
<!--                 <ul class="dropdown-menu" role="menu"> -->
<!--                   <li><a href="https://s3.amazonaws.com/ts5-dev-portal-images/templates/StockTake-ImportFile.xlsx">Download Excel Template</a></li> -->
<!--                   <li><a data-toggle="modal" data-target=".download-template-modal" -->
<!--                          ng-click="downloadTemplate()">View Excel Specifications</a></li> -->
<!--                 </ul> -->
<!--               </div> -->

<!--               <div id="importFromData" class="collapse width"> -->
<!--                 <input type="file" -->
<!--                        ngf-select -->
<!--                        ng-model="stockTakeFile" -->
<!--                        accept=".xls,.xlsx"> -->
<!--                 <button type="button" class="btn btn-info" ng-click="uploadStockTakeFileToApi(stockTakeFile)"> -->
<!--                   Upload -->
<!--                 </button> -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

<!--       </div> -->

    </div>

  </div>
  <!--/TopHeader -->

  <div class="container stock-take-container">

    <excel-upload type="stockTake"></excel-upload><br>


    <div class="row" ng-hide="state == 'review' || state == 'create'">
    <!-- TODO: THIS ROW ONLY AVAILABLE ON VIEW/EDIT NOT CREATE -->

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="deliveryNoteCreatedBy">Created By</label>
          <input ng-model="deliveryNoteCreatedBy" type="text" class="form-control" id="delivery-note-created-by"
                 placeholder="User 0001" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="deliveryNoteCreatedDateTime">Created Date/Time</label>
          <input ng-model="deliveryNoteCreatedDateTime" type="text" class="form-control" id="delivery-note-created-date-time"
                 placeholder="2/05 - 12:34pm" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="deliveryNoteUpdatedBy">Updated By</label>
          <input ng-model="deliveryNoteUpdatedBy" type="text" class="form-control" id="delivery-note-updated-by"
                 placeholder="User 0002" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="deliveryNoteUpdatedDateTime">Updated Date/Time</label>
          <input ng-model="deliveryNoteUpdatedDateTime" type="text" class="form-control" id="delivery-note-updated-date-time"
                 placeholder="2/07 - 12:34pm" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="stockTakeID">Stock Take ID</label>
          <input ng-model="stockTakeID" type="text" class="form-control" id="stock-take-id"
                 placeholder="123456789" ng-readonly="readOnly">
        </div>
      </div>

    </div>

<!-- TODO: FILTER ADJUSTS TABLE DATA BELOW -->
    <div class="row" ng-show="cateringStationItems.length">
      <div class="col-xs-12 col-sm-1">
        <div class="form-group">
          <label>Filter by:</label>
          <button class="btn btn-default" type="button" ng-click="clearFilter()" ng-show="filterInput.itemCode || filterInput.itemName">Clear</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="filter-item-code">Item Code</label>
          <input ng-model="filterInput.itemCode" type="text" class="form-control" id="filter-item-code">
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="filter-item-name">Item Name</label>
          <input ng-model="filterInput.itemName" type="text" class="form-control" id="filter-item-name">
        </div>
      </div>
    </div>


    <ng-form name="form" class="form edit-form delivery-note-form">

      <form-error-dialog></form-error-dialog>


      <div class="well" ng-repeat="item in cateringStationItems | filter:filterInput track by $index">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="item-code-{{ $index }}">Item Code</label>
              <input ng-model="item.itemCode" type="text" class="form-control" id="item-code-{{ $index }}" readonly disabled>
            </div>
          </div>

          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <label for="item-name-{{ $index }}">Item Code</label>
               <input ng-model="item.itemName" type="text" class="form-control" id="item-name-{{ $index }}" readonly disabled>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="item-quantity-{{ $index }}">Quantity</label>
              <input ng-model="quantity" type="text" class="form-control" id="item-quantity-{{ $index }}" ng-readonly="readOnly">
            </div>
          </div>

        </div>
      </div>

    </ng-form>

  </div>

</div>
<!-- /Container -->

<!-- <download-template-modal></download-template-modal> -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>
