<div class="module-container">

  <div class="top-header">

    <div class="container stock-dashboard">

      <div class="edit-controls">
        <div class="row">

          <div class="col-xs-6">
            <h2 class="view-name">{{ viewName }}</h2>
          </div>

          <div class="col-xs-6 text-right">
            <fieldset ng-hide="viewOnly">

              <a ng-href="/#/stock-take" class="btn btn-primary">Start Stock Take</a>

              <button type="button" class="btn btn-info disabled">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span>Export (CSV)</span>
              </button>

            </fieldset>
          </div>

        </div>

      </div>

    </div>

  </div>
  <!--/TopHeader -->

  <div class="container stock-dashboard-container">

    <div class="row">

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Todays Date:</label>
          <p>{{todaysDate}}</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label>Item Code</label>
          <input ng-model="search.itemCode" type="text" class="form-control" id="filter-item-code" placeholder="Search" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label>Item Name</label>
          <input ng-model="search.itemName" type="text" class="form-control" id="filter-item-name" placeholder="Search" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4" ng-hide="readOnly">
        <div class="form-group">
          <label>LMP Station*</label>
          <select
            class="form-control"
            id="deliveryStation"
            ng-disabled="isCatererStationListReadOnly()"
            ng-model="selectedCateringStation"
            ng-change="updateDeliveryInfo()"
            ng-options="cateringStation.name for cateringStation in cateringStationList | orderBy:'name' track by cateringStation.id"
            >
            <option selected="selected" value>Select Catering Station</option>
          </select>

        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Item Code</th>
          <th>Item Name</th>
          <th>Opening Count</th>
          <th>Goods Received</th>
          <th>Dispatched Count</th>
          <th>Current Count</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="stockItem in stockDashboardItemsList | index | orderBy:'itemName' | filter: search as searchResults">
          <td>{{stockItem.itemCode}}</td>
          <td>{{stockItem.itemName}}</td>
          <td>
            <input type="text" class="form-control" value="{{stockItem.currentCountQuantity}}" ng-disabled="true">
          </td>
          <td>
            <input type="text" class="form-control" value="{{stockItem.openingQuantity}}" ng-disabled="true">
          </td>
          <td >
            <input type="text" class="form-control" value="{{stockItem.receivedQuantity}}" ng-disabled="true">
          </td>
          <td id="dispatchedQuantity-{{id}}" ng-click="stockTakeReasonOpen(stockItem.index)">
            <input type="text" class="form-control" ng-model="dispatchedQuantity[stockItem.index]" placeholder="Click to Edit"  ng-disabled="true">
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>

<stock-take-reason key="index"></stock-take-reason>
