<div class="module-container">

  <div class="top-header">

    <div class="container stock-dashboard">

      <div class="edit-controls">
        <div class="row">

          <div class="col-xs-6">
            <h2 class="view-name"> {{ viewName }} </h2>
          </div>

          <div class="col-xs-6 text-right">

            <fieldset ng-hide="viewOnly">

                <button class="btn btn-primary" ng-show="canReview" ng-click="toggleReview()">
                  <span>Review</span>
                </button>

                <button type="button" class="btn btn-primary" ng-click="save(false)" ng-show="state == 'review'">
                  <span>Save</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="cancel()" ng-hide="readOnly && state !='review'">Cancel</button>

                <button class="btn btn-primary" ng-click="save(true)" ng-show="state == 'review'">
                  <span class="fa fa-check-square-o" aria-hidden="true"></span>
                  <span>Submit</span>
                </button>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <label>LMP Station*</label>
                <select class="form-control"
                       ng-model="stockTake.catererStationId"
                       ng-disabled="readOnly || catererStationList.length == 1 || state != 'create'"
                       ng-show="catererStationList.length"
                       required>
                  <option ng-disabled="disabledCatererStationIds[station.id]" ng-selected="station.id==stockTake.catererStationId" ng-repeat="station in catererStationList" value="{{ station.id }}">
                    {{ station.name }} - {{ station.code }}
                  </option>
                </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8" ng-show="cateringStationItems.length && state !== 'review'">
          <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-1">
              <div class="form-group">
                <label>Filter:</label>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="filter-item-code">Item Code</label>
                <input ng-model="filterInput.itemCode" type="text" class="form-control" id="filter-item-code">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="filter-item-name">Item Name</label>
                <input ng-model="filterInput.itemName" type="text" class="form-control" id="filter-item-name">
              </div>
            </div>
            <div class="col-xs-3">
              <label class="invisible">Clear filter</label>
              <button class="btn btn-default" type="button" ng-click="clearFilter()" ng-show="filterInput.itemCode || filterInput.itemName">Clear</button>
            </div>
          </div>
        </div>

      </div>
<!--       <div class="row"> -->

<!--         <div class="col-xs-12"> -->
<!--           <div class="form-group"> -->
<!--             <excel-upload type="stockTake"></excel-upload> -->

<!--             <div class="btn-group import-from-file"> -->
<!--               <div class="btn-group" dropdown> -->
<!--                 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#importFromData" > -->
<!--                   <span class="fa fa-copy" aria-hidden="true"></span> -->
<!--                   Import Stock From File -->
<!--                 </button> -->
<!--                 <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle> -->
<!--                   <span class="caret"></span> -->
<!--                 </button> -->
<!--                 <ul class="dropdown-menu" role="menu"> -->
<!--                   <li><a href="https://s3.amazonaws.com/ts5-dev-portal-images/templates/StockTake-ImportFile.xlsx">Download Excel Template</a></li> -->
<!--                   <li><a data-toggle="modal" data-target=".download-template-modal" -->
<!--                          ng-click="downloadTemplate()">View Excel Specifications</a></li> -->
<!--                 </ul> -->
<!--               </div> -->

<!--               <div id="importFromData" class="collapse width"> -->
<!--                 <input type="file" -->
<!--                        ngf-select -->
<!--                        ng-model="stockTakeFile" -->
<!--                        accept=".xls,.xlsx"> -->
<!--                 <button type="button" class="btn btn-info" ng-click="uploadStockTakeFileToApi(stockTakeFile)"> -->
<!--                   Upload -->
<!--                 </button> -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

<!--       </div> -->

    </div>

  </div>
  <!--/TopHeader -->

  <div class="container stock-take-container">

    <excel-upload type="stockTake" ng-show="state == 'create'"></excel-upload><br>

    <div class="row" ng-hide="state == 'review' || state == 'create'">

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Created By</label>
          <input ng-model="stockTake.createdBy" type="text" class="form-control" readonly>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Created Date/Time</label>
          <input ng-model="stockTake.createdOn" type="text" class="form-control" readonly>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Updated By</label>
          <input ng-model="stockTake.updatedBy" type="text" class="form-control" readonly>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Updated Date/Time</label>
          <input ng-model="stockTake.updatedOn" type="text" class="form-control" readonly>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Stock Take ID</label>
          <input ng-model="stockTake.id" type="text" class="form-control" readonly>
        </div>
      </div>

    </div>

    <ng-form name="form" class="form edit-form delivery-note-form">

      <form-error-dialog></form-error-dialog>

      <div class="well" ng-repeat="item in cateringStationItems | filter:filterInput track by $index" ng-hide="!itemQuantities[item.masterItemId] && ( state == 'review' || state == 'view' )">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="item-code-{{ $index }}">Item Code</label>
              <input ng-model="item.itemCode" type="text" class="form-control" id="item-code-{{ $index }}" readonly disabled>
            </div>
          </div>

          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <label for="item-name-{{ $index }}">Item Code</label>
               <input ng-model="item.itemName" type="text" class="form-control" id="item-name-{{ $index }}" readonly disabled>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="item-quantity-{{ $index }}">Quantity</label>
              <input ng-model="itemQuantities[item.masterItemId]" type="text" class="form-control" id="item-quantity-{{ $index }}" ng-readonly="readOnly">
            </div>
          </div>

        </div>
      </div>

    </ng-form>

  </div>

</div>
<!-- /Container -->

<!-- <download-template-modal></download-template-modal> -->

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>
