<div class="module-container">

  <div class="top-header">
  
    <div class="container stock-dashboard">
  
      <div class="edit-controls">
        <div class="row">
    
          <div class="col-xs-4">
            <h2 class="view-name">{{ viewName }}</h2>
          </div>
    
          <div class="col-xs-8 text-right">
            <fieldset ng-hide="viewOnly">
    
              <a ng-href="/#/stock-take" class="btn btn-primary">Start Stock Take</a>
          
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span>Export (Excel)</span>
              </button>
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span>Export (PDF)</span>
              </button>
    
            </fieldset>
          </div>
    
        </div>
      </div>
    
      <div class="row" ng-hide="readOnly">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <label>LMP Station*</label>
            <select class="form-control" id="deliveryStation" ng-model="deliveryStationIndex" ng-change="updateDeliveryInfo()" ng-disabled="readOnly">
              <option ng-repeat="station in stationList" value="{{ $index }}">
                {{ station.stationCode }} ({{ station.stationName}})
              </option>
            </select>

<!-- TODO: IF ONLY ONE LMP STATION IS AVAILABLE, USE READ-ONLY (BELOW) INSTEAD OF SELECT (ABOVE)  -->
<!--               <input ng-model=deliveryStation type="text" class="form-control" id="delivery-station" placeholder="LGW" ng-readonly="readOnly" ng-disabled="true"> -->
          
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-8 text-right">
          <label>02/03/2015</label>
        </div>
        
      </div>
      
    </div>
    
  </div>
  <!--/TopHeader -->

  <div class="container stock-dashboard-container">

<!-- TODO: FILTER ADJUSTS TABLE DATA BELOW -->
    <div class="row">
      <div class="col-xs-12 col-sm-1">
        <div class="form-group">
          <label>Filter by:</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Item Code</label>
          <input ng-model="filterItemCode" type="text" class="form-control" id="filter-item-code"
                 placeholder="1234" ng-readonly="readOnly">
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Item Name</label>
          <input ng-model="filterItemName" type="text" class="form-control" id="filter-item-name"
                 placeholder="Coke" ng-readonly="readOnly">
        </div>
      </div>
    </div>
    
    <table class="table table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Item Code</th>
          <th>Item Name</th>
          <th>Opening Count</th>
          <th>Goods Received</th>
          <th>Dispatched Count</th>
          <th>Current Count</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ng-scope">
          <td class="ng-binding">0001</td>
          <td class="ng-binding">Coke</td>
          <td class="ng-binding">
          
<!-- TODO: STOCK ADJUSTMENT POPOVER IMPLEMENTED HERE -->
            <input type="text" class="form-control" placeholder="100" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="10" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="10" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="100" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0002</td>
          <td class="ng-binding">Sprite</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="0" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="10" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="40" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <!-- TODO: ROW BACKGROUND SHOWS DISCREPANCY IN ITEM COUNT -->
        <tr class="ng-scope bg-danger">
          <td class="ng-binding">0003</td>
          <td class="ng-binding">Chicken Sandwich</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="200" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="100" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="100" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="500" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0004</td>
          <td class="ng-binding">Coffee</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="100" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="0" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0005</td>
          <td class="ng-binding">Cheeseburger</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="60" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="40" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="10" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="90" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0006</td>
          <td class="ng-binding">Chips</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="130" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="20" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="100" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0007</td>
          <td class="ng-binding">Root Beer</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="200" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="0" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="250" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0008</td>
          <td class="ng-binding">Fries</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="75" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="75" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="10" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="140" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
        
        <tr class="ng-scope">
          <td class="ng-binding">0009</td>
          <td class="ng-binding">Orange Soda</td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="225" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="25" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="50" ng-disabled="true">
          </td>
          <td class="ng-binding">
            <input type="text" class="form-control" placeholder="200" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>

<!-- Content for Stock Adjustment Popover -->    
<div id="stockAdjustmentPopover" class="hidden">
  <div class="popover-heading">Adjustment<a href="#" class="close" data-dismiss="alert">&times</a></div>
  
  <div class="popover-body">
    
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Reason*</label>

          <ui-select id="stock-adjustment-reason" ng-model="stockAdjustmentReason" theme="bootstrap">
            <ui-select-match placeholder="Broken">{{ $item.stockAdjustmentReasonCode }}</ui-select-match>
            <ui-select-choices repeat="">{ item.ullageReasonCode }} ({{ item.stockAdjustmentReasonName }})</ui-select-choices>
          </ui-select>
          
        </div>
        
        <div class="form-group">
          <label>Comments</label>
            <textarea rows="2"></textarea>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-12 text-right">
        <a ng-href="#" class="btn btn-primary">Save</a>
      </div>        
    </div>    
  </div>
</div>   

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<left-navigation></left-navigation>
