<div class="module-container">

  <div class="top-header">

    <div class="container stock-dashboard">

      <div class="edit-controls">
        <div class="row">

          <div class="col-xs-6">
            <h2 class="view-name">{{ viewName }}</h2>
          </div>

          <div class="col-xs-6 text-right">
            <fieldset ng-hide="viewOnly">

              <a ng-href="/#/stock-take" class="btn btn-primary">Start Stock Take</a>

              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span>Export (CSV)</span>
              </button>

            </fieldset>
          </div>

        </div>
      </div>

        <div class="col-xs-12 col-sm-8 text-right">
          <label>02/03/2015</label>
        </div>

      </div>

    </div>
  <!--/TopHeader -->

  <div class="container stock-dashboard-container">

    <div class="row">

      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label>Filter by:</label>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label>Item Code</label>
          <input ng-model="search.itemCode" type="text" class="form-control" id="filter-item-code" placeholder="1234" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label>Item Name</label>
          <input ng-model="search.itemName" type="text" class="form-control" id="filter-item-name" placeholder="Coke" ng-readonly="readOnly">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4" ng-hide="readOnly">
        <div class="form-group">
          <label>LMP Station*</label>
          <select
            class="form-control"
            id="deliveryStation"
            ng-disabled="isCatererStationListReadOnly()"
            ng-model="selectedCateringStation"
            ng-change="updateDeliveryInfo()"
            ng-options="cateringStation.name for cateringStation in cateringStationList | orderBy:'name' track by cateringStation.id"
            >
            <option selected="selected" value>Select Catering Station</option>
          </select>

<!-- TODO: IF ONLY ONE LMP STATION IS AVAILABLE, USE READ-ONLY (BELOW) INSTEAD OF SELECT (ABOVE)  -->
<!--               <input ng-model=deliveryStation type="text" class="form-control" id="delivery-station" placeholder="LGW" ng-readonly="readOnly" ng-disabled="true"> -->
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover ng-scope">
      <thead>
        <tr>
          <th>Item Code</th>
          <th>Item Name</th>
          <th>Opening Count</th>
          <th>Goods Received</th>
          <th>Dispatched Count</th>
          <th>Current Count</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="stockItem in stockDashboardItemsList | filter : search">
          <td>{{stockItem.itemCode}}</td>
          <td>{{stockItem.itemName}}</td>
          <td>
            <!-- TODO: STOCK ADJUSTMENT POPOVER IMPLEMENTED HERE -->
            <input type="text" class="form-control" value="{{stockItem.currentCountQuantity}}" ng-disabled="true">
          </td>
          <td >
            <input type="text" class="form-control" value="{{stockItem.openingQuantity}}" ng-disabled="true">
          </td>
          <td >
            <input type="text" class="form-control" value="{{stockItem.receivedQuantity}}" ng-disabled="true">
          </td>
          <td >
            <input type="text" class="form-control" value="{{stockItem.dispatchedQuantity}}" data-toggle="popover" data-popover-content="#stockAdjustmentPopover">
          </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>

<!-- Content for Stock Adjustment Popover
<div id="stockAdjustmentPopover" class="hidden">
  <div class="popover-heading">Adjustment<a href="#" class="close" data-dismiss="alert">&times</a></div>

  <div class="popover-body">

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Reason*</label>

          <ui-select id="stock-adjustment-reason" ng-model="stockAdjustmentReason" theme="bootstrap">
            <ui-select-match placeholder="Broken">{{ $item.stockAdjustmentReasonCode }}</ui-select-match>
            <ui-select-choices repeat="">{ item.ullageReasonCode }} ({{ item.stockAdjustmentReasonName }})</ui-select-choices>
          </ui-select>

        </div>

        <div class="form-group">
          <label>Comments</label>
            <textarea rows="2"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <a ng-href="#" class="btn btn-primary">Save</a>
      </div>
    </div>
  </div>
</div>
-->
<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<dynamic-left-nav></dynamic-left-nav>
