<div class="container module-container">

  <div class="list-controls">

    <div class="row item-list-row">

      <div class="col-xs-6">
        <h2 class="view-name">Stock Take Report</h2>
      </div>

      <div class="col-xs-6 text-right">
        <a ng-show="catererStationId" ng-href="/#/stock-take/create/{{catererStationId}}" class="btn btn-primary">
          + <span class="hidden-xs hidden-sm">Create Stock Take</span>
        </a>
        <button ng-show="catererStationId" class="btn btn-default"data-toggle="collapse" data-target="#search-collapse"
          aria-expanded="false" aria-controls="search-collapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>
      </div>
    </div>

  </div>

  <div ng-show="catererStationId" class="panel panel-default collapse no-transition" id="search-collapse">
    <form name="menuSearchForm" ng-submit="searchPostTripData()">
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label>Stock Take Report Number</label>
              <input type="text" class="form-control" ng-model="search.stockTakeCode" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <date-picker-field name="EffectiveFrom" label="Effective From"
              ng-model="dateRange.startDate"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <date-picker-field  name="EffectiveTo" label="Effective To"
              ng-model="dateRange.endDate"></date-picker-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Status</label>
            <select class="form-control" ng-model="search.isSubmitted">
              <option value="0">Saved</option>
              <option value="1">Submitted</option>
            </select>
          </div>

        </div>

      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="clearSearchFilters()">Clear</button>
        <button type="submit" class="btn btn-primary" ng-click="searchRecords()">Search</button>
      </div>
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Select an LMP Station to View Stock Takes*</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
        <select class="form-control" ng-model="catererStationId">
          <option ng-disabled="true" selected="selected" value>Select Catering Station</option>
          <option ng-repeat="station in stationsList | orderBy:'name' track by station.id" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
        </select>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!stockTakeList.length && userSelectedStation" class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><i class="fa fa-exclamation-circle"></i> No Stock Takes Found</div>
    </div>
    <div class="panel-body">
      <p>The station and/or the search criteria you selected has no stock takes.
        <a ng-href="/#/lmp-delivery-note/create">Create a new Stock Take</a> or update your search criteria
    </div>
  </div>

  <table ng-show="catererStationId && stockTakeList.length > 0" class="table table-responsive table-bordered table-hover ng-scope">
    <thead>
      <tr>
        <th>Stoke Take Report Number</th>
        <th>Stock Take Date</th>
        <th>Status</th>
        <th>Updated By</th>
        <th>Updated On</th>
        <th class="hide-from-print">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stockTake in stockTakeList">
        <td>{{ stockTake.stockTakeCode }}</td>
        <td>{{ stockTake.stockTakeDate }}</td>
        <td>
          <span ng-show="{{ !stockTake.isSubmitted }}">Saved</span>
          <span ng-show="{{ stockTake.isSubmitted }}">Submitted</span>
        </td>
        <td>{{ stockTake.updatedBy }}</td>
        <td>{{ stockTake.updatedOn }}</td>
        <td class="hide-from-print">
          <a class="btn btn-info btn-xs" ng-href="/#/stock-take/view/{{stockTake.id}}" tabindex="0">
            <i class="fa fa-file"></i>
          </a>
          <a class="btn btn-primary btn-xs" ng-hide="stockTake.isSubmitted" ng-href="/#/stock-take/edit/{{stockTake.id}}"  tabindex="0" aria-disabled="true">
            <i class="fa fa-pencil"></i>
          </a>
          <button class="btn btn-danger btn-xs" ng-hide="stockTake.isSubmitted" ng-click="deleteRecordDialog(stockTake)" tabindex="0" aria-disabled="true">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>

    </tbody>

  </table>

</div>

<form-success-modal></form-success-modal>
<form-update-modal></form-update-modal>
<leave-view-modal></leave-view-modal>
<delete-record-dialog></delete-record-dialog>
<dynamic-left-nav></dynamic-left-nav>
