<div class="module-container">
  <div class="edit-controls">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="view-name">{{ viewName }}</h2>
      </div>
    </div>
  </div>

  <div class="store-instance-dashboard">
    <div class="row">
      <div class="col-xs-12">

        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#search-collapse"
                aria-expanded="false"
                aria-controls="search-collapse">
          <span class="fa fa-search" aria-hidden="true"></span>
          <span class="hidden-xs">Search</span>
        </button>
      </div>
    </div>

    <div class="panel panel-default no-transition" id="search-collapse">
      <form name="menuSearchForm" ng-submit="searchPostTripData()">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Dispatch LMP Station</label>
                <select required class="form-control" ng-model="search.dispatchLMPStation" name="dispatchLMPStation">
                  <option ng-disabled="true" selected="selected" value>Select Dispatch Station</option>
                  <option ng-repeat="station in catererStationList | orderBy:'name'" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>Inbound LMP Station</label>
                <select required class="form-control">
                  <option selected="selected" value>Select Inbound Station</option>
                  <option>{{ station.name }} - {{ station.code }}</option>
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Store Number</label>
                <input type="text" class="form-control" placeholder="1234">
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <date-picker
                class="form-group"
                element-class="col-xs-6"
                start-date-model="search.scheduleStartDate"
                end-date-model="search.scheduleEndDate"
                label-from="Schedule Date From"
                label-to="Schedule Date To"
                is-search-field="true">
              </date-picker>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="departure-station">Departure Station</label>
                <ui-select id="departure-station" multiple ng-model="multiSelectedValues.depStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="arrival-station">Arrival Station</label>
                <ui-select id="arrival-station" multiple ng-model="multiSelectedValues.arrStations" theme="bootstrap">
                  <ui-select-match placeholder="Select Stations..">{{ $item.stationCode }}</ui-select-match>
                  <ui-select-choices repeat="station in stationList | filter: $select.search">
                    {{ station.stationCode }} ({{ station.stationName }})
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Store Instance</label>
                <input type="text" class="form-control" placeholder="1234567">
              </div>
            </div>

            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label>Status</label>
                <select required class="form-control">
                  <option selected="selected" value>Select Status</option>
                  <option>{{ station.name }} - {{ station.code }}</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="clearSearchForm()">Clear</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-12 select-all-instances">
        <div class="input-group">
          <!-- TODO: THESE BUTTONS ARE HIDDEN UNTIL SELECT ALL CHECKBOX IS SELECTED -->
          <!-- TODO: EACH BUTTON FUNCTION WILL CORRESPOND TO CERTAIN STATUS -->
          <button class="btn btn-info" tabindex="0">Generate Docs</button>
          <button class="btn btn-info" tabindex="0">Dispatch All</button>
          <button class="btn btn-info" tabindex="0">Receive All</button>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover ng-scope">
      <thead>
      <tr>
        <th></th>
        <th>
          <!-- TODO: SELECT ALL CHECKBOX, TO SELECT ALL WITH STATUS "DISPATCHED"  -->
          <input class="btn btn-default" type="checkbox" value="1">
        </th>
        <th>Dispatch LMP Station</th>
        <th>Inbound LMP Station</th>
        <th>Store Number</th>
        <th>Updated Date/Time</th>
        <th>Schedule Date</th>
        <th>Departure Station</th>
        <th>Departure Time</th>
        <th>Arrival Station</th>
        <th>Arrival Time</th>
        <th>Inbound Seals Tampered</th>
        <th>Store Instance</th>
        <th>Status</th>
        <th>Updated User</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="store in storeInstanceList">
          <td><!-- TODO: add expand/collapse button for stores with replenish --></td>
          <td><!-- TODO: add checkbox for stores in dispatch, onFloor, and readyForDispatch --></td>
          <td>{{ store.cateringStationId }}</td>
          <td><!-- TODO: add Inbound LMP Station --></td>
          <td>{{ store.storeNumber }}</td>
          <td><!-- TODO: add Updated date / time, which requires user accounts --></td>
          <td>{{ store.scheduleDate }}</td>
          <td><!-- TODO: add Departure Station --></td>
          <td><!-- TODO: add Departure Time --></td>
          <td><!-- TODO: add Arrival Station --></td>
          <td><!-- TODO: add Arrival Time --></td>
          <td>{{ (store.tampered) ? 'true' : 'false' }}</td>
          <td>{{ store.id }}</td>
          <td>{{ store.statusName }}</td>
          <td><!-- TODO: add user, which requires user accounts --></td>
          <td><!-- TODO: add actions TSVPORTAL-2904 --></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<form-success-modal></form-success-modal>

<form-update-modal></form-update-modal>

<leave-view-modal></leave-view-modal>

<delete-record-dialog></delete-record-dialog>

<dynamic-left-nav></dynamic-left-nav>
