<div class="container">

  <step-wizard steps="wizardSteps" save-trigger="saveAndExit()"></step-wizard>

  <error-dialog form-object="createStoreInstance"></error-dialog>

  <form name="createStoreInstance" class="well" ng-submit="submitForm()" ng-show="uiSelectTemplateReady" >

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>LMP Station *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('CateringStation')">
          <select required class="form-control" ng-model="formData.cateringStationId" name="CateringStation" ng-change="getMenuCatererList()">
            <option ng-disabled="true" selected="selected" value>Select Catering Station</option>
            <option ng-repeat="station in cateringStationList | orderBy:'name' track by station.id" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isEndInstance()">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Store Number *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('StoreNumber')">
          <select class="form-control" ng-model="formData.storeId" required name="StoreNumber" ng-disabled="isEndInstance()">
            <option ng-disabled="true" selected="selected" value>Select Store</option>
            <option ng-repeat="store in storesList | orderBy:'storeNumber' track by store.id" value="{{ store.id }}">{{ store.storeNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Schedule Date *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
          <date-picker-field form="createStoreInstance" name="scheduleDate"
            min-date="'0d'" required="true" ng-model="formData.scheduleDate" disable="isEndInstance()"></date-picker-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Schedule Number *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <ui-select name="scheduleNumber" required ng-model="formData.scheduleNumber" theme="bootstrap" id="scheduleNumber" ng-disabled="isEndInstance()">
            <ui-select-match placeholder="Select a schedule">{{ $select.selected.scheduleNumber }}</ui-select-match>
            <ui-select-choices repeat="schedule in scheduleNumbers | filter: {scheduleNumber:$select.search} | orderBy:'scheduleNumber' track by schedule.id" ui-lock-choice="isDisabled()">
              <div ng-bind-html="schedule.scheduleNumber | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="!isEndInstance()">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Store Number *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('StoreNumber')">
          <select class="form-control" ng-model="formData.storeId" required name="StoreNumber" ng-disabled="isEndInstance() || isReplenish()">
            <option ng-disabled="true" selected="selected" value>Select Store</option>
            <option ng-repeat="store in storesList | orderBy:'storeNumber' track by store.id" value="{{ store.id }}">{{ store.storeNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Select Menus *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateMenus()">
          <ui-select name="menus" required multiple ng-model="formData.menus" theme="bootstrap" id="menuIds" ng-disabled="isEndInstance() || isReplenish()" style="min-height:34px;">
            <ui-select-match placeholder="{{action == 'replenish' ? '' : 'Select one or more Menus'}}">{{ $item.menuCode }}
            </ui-select-match>
            <ui-select-choices repeat="menu in filteredMenuList | filter: $select.search | orderBy:'menuCode'">
              <div ng-bind-html="menu.menuCode | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Aircraft Tail Number</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <select class="form-control" ng-model="formData.carrierId" name="carrierNumber" ng-disabled="isEndInstance() || isReplenish()">
            <option ng-disabled="true" selected="selected" value>Select a Tail Number</option>
            <option ng-repeat="tailNumber in carrierNumbers | orderBy:'carrierNumber' track by tailNumber.id" value="{{ tailNumber.id }}">{{ tailNumber.carrierNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <footer class="text-right">
      <button type="submit" class="btn btn-success">
        <span class="btn-label">Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </footer>

  </form>

</div>
