<div class="container">

  <step-wizard steps="wizardSteps"></step-wizard>

  <form-error-dialog></form-error-dialog>

  <form name="createStoreInstance" class="well" ng-submit="submitForm()">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <label>LMP Station *</label>
          <select required class="form-control" ng-model="formData.cateringStationId">
            <option ng-disabled="true" selected="selected" value>Select Catering Station</option>
            <option ng-repeat="station in cateringStationList | orderBy:'name' track by station.id" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
          </select>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <label>Store Number</label>
          <!-- TODO: Loop the store numbers from API -->
          <select class="form-control" ng-model="formData.storeId">
            <option value="1">Store 1</option>
            <option value="2">Store 2</option>
          </select>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <date-picker-field form="createStoreInstance" name="scheduleDate" label="Schedule Date"
            min-date="'+1d'" required="true" ng-model="formData.scheduleDate"></date-picker-field>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <label>Schedule Number *</label>
          <input maxlength="10" required class="form-control" type="text" ng-model="formData.scheduleNumber" placeholder="SCHED123" custom-validity custom-pattern="alphanumeric" />
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <label>Select Menus *</label>
          <ui-select required multiple ng-model="formData.menus" theme="bootstrap" id="menuIds">
            <ui-select-match placeholder="Select one or more Menus" ui-lock-choice="isDisabled()">{{ $item.menuCode }}
            </ui-select-match>
            <ui-select-choices  repeat="menu in menuMasterList | filter: $select.search | orderBy:'menuCode'">
              <div ng-bind-html="menu.menuCode | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="form-group">
          <label>Aircraft Tail Number</label>
          <select class="form-control" ng-model="formData.carrierId">
            <!-- TODO: Loop the aircraft tail number from API-->
            <option value="1">COL964</option>
            <option value="2">MNA124</option>
          </select>
        </div>

      </div>

    </div>

    <footer class="text-right">
      <button ng-onclick="submitForm()" type="submit" class="btn btn-success">
        <i class="fa fa-check-square-o"></i>
        <span class="btn-label">Create Store Instance</span>
      </button>
    </footer>

  </form>

</div>
