<div class="container">

  <step-wizard ng-if="wizardSteps" steps="wizardSteps" save-trigger="saveAndExit()" next-trigger="nextTrigger()" prev-trigger="prevTrigger()" save-button-text="saveButtonName"></step-wizard>

  <store-instance-header></store-instance-header>

  <error-dialog form-object="assignSealsForm"></error-dialog>

  <form name="assignSealsForm" ng-submit="submitForm()">

    <div class="well" ng-if="showTamperedSeals()">
      <input type="checkbox" ng-model="storeDetails.tampered" ng-disabled="readOnly"/> <span>Inbound Seals Tampered</span>
      <textarea class="form-control" ng-if="storeDetails.tampered" ng-model="storeDetails.note" placeholder="Notes" max-length="255" ng-disabled="readOnly"></textarea>
    </div>

    <div ng-repeat="(sealTypeKey, sealType) in sealTypesList | orderBy:'order'" ng-if="sealTypesList">
      <seal-type seal-type-object="sealType" ng-if="!hideSealType(sealType.name)"></seal-type>
    </div>

    <footer ng-hide="readOnly" class="text-right">
      <button type="button" ng-click="goToPacking()" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
        <span class="btn-label">Prev</span>
      </button>
      <button type="submit" class="btn btn-success">
        <span class="btn-label">Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </footer>

  </form>

</div>
