<div class="container">

  <step-wizard ng-if="areWizardStepsInitialized" steps="wizardSteps" save-trigger="saveAndExit()" next-trigger="nextTrigger()" prev-trigger="prevTrigger()" save-button-text="saveButtonName"></step-wizard>

  <store-instance-header></store-instance-header>

  <error-dialog form-object="assignSealsForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="assignSealsForm" ng-submit="submitForm()">

    <div class="well" ng-if="showTamperedSeals()">
      <input type="checkbox" ng-model="formData.tampered" ng-disabled="readOnly"/> <span>Inbound Seals Tampered</span>
      <textarea class="form-control" ng-if="formData.tampered" ng-model="formData.note" placeholder="Notes" max-length="255" ng-disabled="readOnly"></textarea>
    </div>

    <div ng-repeat="(sealTypeKey, sealType) in sealTypesList | orderBy:'order'" ng-if="sealTypesList">
      <seal-type seal-type-object="sealType" ng-if="!hideSealType(sealType.name)"></seal-type>
    </div>

    <!--carts, canister and c208 section-->
    <div class="well seal-type" ng-if="isReplenish()">
      <div class="row">
        <div class="col-xs-12">
          <div class="seal-label">Carts, Canisters &amp; C208 Serial Number</div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-4">
          <label>Cart Quantity<span ng-hide="validateField()">*</span>:</label>
          <input type="number"
                 max="999"
                 class="form-control"
                 ng-model="storeDetails.cartQty"
                 ng-class="validateField()"
                 name="cartQty"
                 placeholder="Enter Cart quantity"/>
        </div>
        <div class="col-xs-4">
          <label>Canister Quantity <span ng-hide="validateField()">*</span>:</label>
          <input type="number"
                 max="999"
                 class="form-control"
                 ng-class="validateField()"
                 ng-model="storeDetails.canisterQty"
                 name="canisterQty"
                 placeholder="Enter Canister quantity"/>
        </div>
        <div class="col-xs-4">
          <label>C208 Serial Number:</label>
          <input type="number"
                 max="999999999"
                 name="c208SerialNo"
                 class="form-control"
                 ng-model="storeDetails.c208SerialNo"
                 placeholder="Enter C208 Serial Number"/>
        </div>
      </div>
    </div>
    <!--carts, canister and c208 section-->

    <footer ng-hide="readOnly" class="text-right">
      <button type="button" ng-click="goToPacking()" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
        <span class="btn-label">Prev</span>
      </button>
      <button type="submit" class="btn btn-success">
        <span class="btn-label">Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </footer>

  </form>

</div>
