<div class="container">

  <step-wizard></step-wizard>

  <form name="createStoreInstance">

    <div class="form-group">
      <label>LMP Station *</label>
      <select class="form-control">
        <option>ORD - Chicago</option>
        <option>JFK - New York JFK</option>
      </select>
    </div>

    <date-picker-field form="createStoreInstance" name="storeInstanceDate" label="Instance Date"
      min-date="'+1d'" required="true" ng-model="storeInstanceDate"></date-picker-field>

    <div class="form-group">
      <label>Schedule Number *</label>
      <input class="form-control" type="text" placeholder="Schedule12456" custom-validity custom-pattern="alphanumeric" />
    </div>

    <div class="form-group">
      <label>Store Number *</label>
      <select class="form-control">
        <option>Store 1</option>
        <option>Store 2</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select Menus *</label>
      <select multiple class="form-control">
        <option>Menu 1</option>
        <option>Menu 2</option>
      </select>
    </div>

    <div class="form-group">
      <label>Aircraft Tail Number *</label>
      <select class="form-control">
        <option>COL964</option>
        <option>MNA124</option>
      </select>
    </div>

  </form>

</div>
