<style>
.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<div class="container">

  <error-dialog form-object="storeInstancePackingForm" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="storeInstancePackingForm" class="form">

    <step-wizard ng-if="areWizardStepsInitialized" steps="wizardSteps" save-trigger="submit(false)" prev-trigger="goToPreviousStep()"
                 save-button-text="saveButtonName"></step-wizard>


    <!-- INFORMATION BAR -->
    <store-instance-header></store-instance-header>


    <div class="modal" id="varianceWarningModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Variance Threshold Warning</h3>
          </div>

          <div class="modal-body">
            <p>The Dispatch Quantity for the following items varies from the Required Quantity.
              <span ng-show="canProceedWithExceededVariance">Are you sure you want to continue?</span>
              <span ng-hide="canProceedWithExceededVariance">Please adjust the highlighted rows.</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="save()" data-dismiss="modal" ng-show="canProceedWithExceededVariance">
              Yes
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <span ng-show="canProceedWithExceededVariance">No</span>
              <span ng-hide="canProceedWithExceededVariance">Ok</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Filter -->
    <div class="well">
      <div class="form-group">
        <div class="input-group">
          <input ng-model="itemFilterText" type="text" class="form-control" id="filter-item-details"
          placeholder="Filter list by item code or name"/>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="clearFilteredPackingList()"><i class="fa fa-times"></i></button>
            <button type="button" class="btn btn-default" ng-click="filterPackingList()"><i class="fa fa-search"></i> Search </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pick List -->
    <div class="well" ng-hide="isActionState('end-instance')">
      	<div class="row">
          <div class="col-xs-8">
            <h3><span>Pick List</span></h3>
          </div>
          <div class="col-xs-2  text-right">
            <span>Sort By</span>
  	      </div>
          <div class="col-xs-2  text-right">
  		    <select
  		          type="text"
                name="itemSortBy"
                class="form-control"
                ng-model="itemSortOrder"
                id="itemSortBy"
                ng-change="changePicklistOrder(itemSortOrder)">
      		    <option value="[salesCategoryName,itemName]">Sales Category</option>
          		<option value="itemName">Item Name</option>
          		<option value="[menuVersionId, sortOrder]">Items in Menu</option>
       		 </select>
 	       </div>
        </div>

      <div class="table-responsive">
        <table class="table pick-list">
        <thead>
        <tr>
          <th>Retail Item Details</th>
          <th ng-show="shouldDisplayQuantityField('inbound')" width="5%">Inbound Quantity</th>
          <th ng-show="shouldDisplayQuantityField('ullage')" width="5%">Ullage Quantity</th>
          <th ng-show="shouldDisplayQuantityField('ullage')" width="25%">Ullage Reason</th>
          <th width="5%" ng-show="shouldDisplayQuantityField('template')">Required Quantity</th>
          <th width="5%" ng-show="shouldDisplayQuantityField('picked') || shouldDisplayQuantityField('dispatch')">
            <span ng-show="shouldDisplayQuantityField('dispatch')">Dispatched Quantity</span>
            <span ng-show="shouldDisplayQuantityField('picked')">Picked Quantity</span>
          </th>
          <th width="5%" ng-show="shouldDisplayQuantityField('calcPicked')">Picked Quantity</th>
          <th width="5%"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in pickListItems | filter:{itemDescription: itemFilterText} | orderBy:pickListOrder" ng-class="showVarianceWarningClass(item)" class="item-{{item.itemMasterId}}">
          <td>
            <input type="text" class="form-control" ng-model="item.itemDescription"
                   disabled/>
          </td>
          <td ng-if="shouldDisplayQuantityField('inbound')">
            <input type="text"
                   name="pick-list-inbound-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.inboundQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   required="true"
                   ng-if="item.shouldDisplayOffloadData"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('ullage')">
            <input type="text"
                   name="pick-list-ullage-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.ullageQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   ng-if="item.shouldDisplayOffloadData"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('ullage')">
            <ui-select ng-model="item.ullageReason" theme="bootstrap" ng-if="item.shouldDisplayOffloadData" name="pickUllageReason{{ $index }}" ng-disabled="shouldDisableUllage(item)">
              <ui-select-match allow-clear placeholder="Select an Ullage Reason">
                {{ $select.selected.companyReasonCodeName }}
              </ui-select-match>
              <ui-select-choices
                repeat="ullageReason in ullageReasonCodes | filter: {companyReasonCodeName:$select.search} | orderBy:'companyReasonCodeName'">
                <div
                  ng-bind-html="ullageReason.companyReasonCodeName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td ng-if="shouldDisplayQuantityField('template')">
            <input type="text"
                   name="pick-list-template-{{$index}}"
                   class="form-control"
                   ng-model="item.menuQuantity"
                   disabled
                   maxlength="5"
                   required="true"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('picked') || shouldDisplayQuantityField('dispatch')">
            <input type="text"
                   name="pick-list-picked-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control pick-list-picked"
                   ng-model="item.pickedQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   required="true"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('calcPicked')">
            <input type="text"
                   name="pick-list-calc-picked-{{$index}}"
                   class="form-control"
                   ng-model="item.calculatedPickQuantity"
                   ng-value="calculatePickedQtyFromTotal(item)"
                   disabled/>
          </td>
          <td>
            <button type="button" ng-if="canDeleteItem(item)" class="btn btn-sm btn-danger"
                    ng-click="showDeleteWarning(item)" ng-hide="readOnly">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        <!-- New Pick List Items-->
        <tr ng-repeat="item in newPickListItems | filter:{itemDescription: itemFilterText} | orderBy:itemSortOrder" ng-hide="readOnly">
          <td>
            <input type="text" ng-model="item.itemDescription" disabled ng-hide="true"/>
            <ui-select required="required" ng-model="item.masterItem" theme="bootstrap" on-select="filterPickListItems()" name="newPickListItem{{ $index }}" ng-change="setItemDescription(item)">
              <ui-select-match placeholder="Select item from list">{{$select.selected.itemCode }} - {{
                $select.selected.itemName }}
              </ui-select-match>
              <ui-select-choices
                repeat="masterItem in filteredItemsList | filter: {itemName:$select.search} | orderBy:itemSortOrder">
                <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td colspan="3" ng-if="isActionState('redispatch')"></td>
          <td ng-if="shouldDisplayQuantityField('template')">
            <input type="text"
                   name="new-pick-list-template-{{$index}}"
                   class="form-control"
                   ng-model="item.menuQuantity"
                   disabled="true"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('picked') || shouldDisplayQuantityField('dispatch')">
            <input type="text"
                   name="new-pick-list-picked-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.pickedQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   required="true"/>
          </td>
          <td ng-if="shouldDisplayQuantityField('calcPicked')">
            <input type="text"
                   name="new-pick-list-calc-picked-{{$index}}"
                   class="form-control"
                   ng-model="item.calculatedPicked"
                   disabled
                   ng-value="calculatePickedQtyFromTotal(item)"/>
          </td>
          <td ng-init="item.index = $index">
            <button type="button" class="btn btn-sm btn-danger" ng-click="showDeleteWarning(item)">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
      </div>
      <br>

      <div class="row" ng-hide="readOnly">
        <div class="col-xs-7 col-md-9"></div>
        <div class="col-xs-5 col-md-3 text-right">
          <div class="input-group pull-right">
            <input type="number" min="1" max="100" class="form-control" ng-model="addPickListNum" placeholder="1"/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addItems()"><i class="fa fa-plus"></i> Add
                      Items
                    </button>
                  </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Offload List --><!-- have to check this isECSPreviousStoreInstance whether have to apply root level offload list or new or exisiting  -->
    <div class="well" ng-show="isActionState('redispatch') || isActionState('end-instance') ">
      <h3>Offload List</h3>
          <div class="col-xs-10 text-right">
            <span>Sort By</span>
  	      </div>
          <div class="col-xs-2 text-right">
  		    <select
  		          type="text"
                name="itemSortBy"
                class="form-control"
                ng-model="offLoadItemsSortOrder"
                id="itemSortBy">
      		    <option value="[salesCategoryName,itemName]">Sales Category</option>
          		<option value="itemName">Item Name</option>
              <option value="sortOrder">Items in Menu</option>
       		 </select>
 	       </div>

      <div class="table-responsive">
        <table class="table table-striped pick-list">
        <thead>
        <tr>
          <th>Retail Item Details</th>
          <th width="10%">Inbound Quantity</th>
          <th width="10%">Ullage Quantity</th>
          <th width="30%">Ullage Reason</th>
          <th width="5%"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in offloadListItems | filter:{itemDescription: itemFilterText} | orderBy:offLoadItemsSortOrder">
          <td>
            <input type="text" class="form-control" ng-model="item.itemDescription"
                   disabled/>
          </td>
          <td>
            <input type="text"
                   name="offload-inbound-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.inboundQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   required="true"/>
          </td>
          <td>
            <input type="text"
                   name="offload-ullage-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.ullageQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"/>
          </td>
          <td>
            <ui-select ng-model="item.ullageReason" theme="bootstrap" name="offloadUllageReason{{ $index }}" ng-disabled="shouldDisableUllage(item)">
              <ui-select-match placeholder="Select an Ullage Reason" allow-clear>{{
                $select.selected.companyReasonCodeName }}
              </ui-select-match>
              <ui-select-choices
                repeat="ullageReason in ullageReasonCodes | filter: {companyReasonCodeName:$select.search} | orderBy:'companyReasonCodeName'">
                <div
                  ng-bind-html="ullageReason.companyReasonCodeName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td>
            <button type="button" ng-if="canDeleteItem(item)"
                    class="btn btn-sm btn-danger"
                    ng-click="showDeleteWarning(item)" ng-hide="readOnly">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        <!-- New Offload List Items-->
        <tr ng-repeat="item in newOffloadListItems | filter:{itemDescription: itemFilterText}  | orderBy:offLoadItemsSortOrder" ng-hide="readOnly">
          <td>
            <input type="text" ng-model="item.itemDescription" disabled ng-hide="true"/>
            <ui-select required="required" ng-model="item.masterItem" theme="bootstrap" on-select="filterOffloadListItems()" name="newOffloadListItem{{ $index }}" ng-change="setItemDescription(item)">
              <ui-select-match placeholder="Select item from list">{{$select.selected.itemCode }} - {{
                $select.selected.itemName }}
              </ui-select-match>
              <ui-select-choices
                repeat="masterItem in filteredOffloadItemsList | filter: {itemName:$select.search} | orderBy:offLoadItemsSortOrder">
                <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td>
            <input type="text"
                   name="new-offload-inbound-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.inboundQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"
                   required="true"/>
          </td>
          <td>
            <input type="text"
                   name="new-offload-ullage-{{$index}}"
                   custom-validity
                   custom-pattern="number"
                   class="form-control"
                   ng-model="item.ullageQuantity"
                   ng-disabled="readOnly"
                   maxlength="5"/>
          </td>
          <td>
            <ui-select ng-model="item.ullageReason" theme="bootstrap" ng-disabled="shouldDisableUllage(item)">
              <ui-select-match placeholder="Select an Ullage Reason" allow-clear>{{
                $select.selected.companyReasonCodeName }}
              </ui-select-match>
              <ui-select-choices
                repeat="ullageReason in ullageReasonCodes | filter: {companyReasonCodeName:$select.search} | orderBy:'companyReasonCodeName'">
                <div
                  ng-bind-html="ullageReason.companyReasonCodeName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </td>
          <td ng-init="item.index = $index">
            <button type="button" class="btn btn-sm btn-danger" ng-click="showDeleteWarning(item)">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
      </div>
      <div class="row" ng-hide="readOnly">
        <div class="col-xs-7 col-md-9"></div>
        <div class="col-xs-5 col-md-3 text-right">
          <div class="input-group pull-right">
            <input type="number" min="1" max="100" class="form-control" placeholder="1" ng-model="addOffloadNum"/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addOffloadItems()"><i
                      class="fa fa-plus"></i> Add Items
                    </button>
                  </span>
          </div>
        </div>
      </div>
      <br>

    </div>

    <footer ng-hide="readOnly" class="text-right">
      <button type="button" ng-click="goToPreviousStep()" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
        <span class="btn-label">Prev</span>
      </button>
      <button type="button" class="btn btn-success" ng-click="submit(true)" ng-show="canProceed()">
        <span class="btn-label">Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </footer>

  </form>
</div>

<delete-record-dialog></delete-record-dialog>
