<div class="fluid-container">
  <!--<step-wizard></step-wizard>-->

  <form-error-dialog></form-error-dialog>

  <form name="createStoreInstance" class="well" ng-submit="submitForm()">

    <!-- INFORMATION BAR -->
    <store-instance-header></store-instance-header>

    <!-- TODO: FILTER ADJUSTS TABLE DATA BELOW -->
    <div class="row">
      <div class="col-xs-12 col-sm-1">
        <div class="form-group">
          <label>Filter by:</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <label>Item Details</label>
          <input ng-model="filterItemDetails" type="text" class="form-control" id="filter-item-details"
                 placeholder="Coke" ng-readonly="readOnly">
        </div>
      </div>
    </div>

    <div class="well">
      <h3>Pick List</h3>

      <table class="table table-striped pick-list">
        <thead>
        <tr>
          <th>Retail Item Details</th>
          <th width="15%">Template Quantity</th>
          <th width="15%">Packed Quantity</th>
          <th width="5%"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in menuItems | filter:{itemDescription: filterItemDetails} | orderBy:'itemName'">
          <td>
            <input type="text" class="form-control" id="item-code" ng-model="item.itemDescription"
                   disabled/>
          </td>
          <td>
            <input type="text" class="form-control" id="required-quantity" ng-model="item.menuQuantity" placeholder="0"
                   disabled/>
          </td>
          <td>
            <input type="text" class="form-control" id="picked-quantity" ng-model="item.quantity" placeholder="0">
          </td>
          <td>
            <button ng-if="!item.menuQuantity" class="btn btn-sm btn-danger" ng-click="deleteInstanceItem(item)">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        <tr ng-repeat="item in emptyMenuItems track by $index">
        <td>
          <ui-select ng-model="item.masterItem" theme="bootstrap">
            <ui-select-match placeholder="Select item from list">{{$select.selected.itemCode }} - {{ $select.selected.itemName }}
            </ui-select-match>
            <ui-select-choices repeat="masterItem in filteredMasterItemList | filter: {itemName:$select.search} | orderBy:'itemName'">
              <div ng-bind-html="masterItem.itemName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

        </td>
        <td>
          <input type="text" class="form-control" ng-model="item.menuQuantity" placeholder="0" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="item.quantity" placeholder="{{$index}}">
        </td>
          <td>
            <button class="btn btn-sm btn-danger" ng-click="deleteNewItem($index)">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
      <br>

      <div class="row" ng-hide="readOnly">
        <div class="col-xs-4 col-md-9"></div>
        <div class="col-xs-4 col-md-3 text-right">
          <div class="input-group">
            <!-- TODO: ADD SEALS, MATCH ADD ITEMS -->
            <input type="number" min="1" max="100" class="form-control" ng-model="addItemsNumber" placeholder="1"/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addItems()"><i class="fa fa-plus"></i> Add
                      Items
                    </button>
                  </span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-1">
          <button class="btn btn-success" type="button" ng-click="savePackingData()">Complete Packing & Exit
          </button>
      </div>
    </div>


  </form>
</div>
