<div class="container">

  <step-wizard ng-if="wizardSteps" steps="wizardSteps" save-trigger="saveAndExit()"></step-wizard>

  <error-dialog form-object="createStoreInstance" error-response="errorResponse" display="displayError">
  </error-dialog>

  <form name="createStoreInstance" class="well" ng-submit="submitForm()" ng-show="uiSelectTemplateReady">

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>LMP Station *</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('CateringStation')">
          <select required class="form-control" ng-model="formData.cateringStationId" name="CateringStation">
            <option ng-disabled="true" selected="selected" value>Select Catering Station</option>
            <option ng-repeat="station in cateringStationList | orderBy:'name' track by station.id" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isEndInstanceOrRedispatch()">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Store Number <span ng-show="!isEndInstanceOrRedispatch()">*</span></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('StoreNumber')">
          <select class="form-control" ng-model="formData.storeId" required name="StoreNumber" ng-disabled="true">
            <option ng-disabled="true" selected="selected" value>Select Store</option>
            <option ng-repeat="store in storesList | orderBy:'storeNumber' track by store.id" value="{{ store.id }}">{{ store.storeNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Schedule Date <span ng-show="!isActionState('end-instance')">*</span></label>
      </div>
      <div class="col-xs-12 col-sm-8">
          <date-picker-field form="createStoreInstance" name="scheduleDate" ng-if="minDate"
            min-date="minDate" required="true" ng-model="formData.scheduleDate" disable="isActionState('end-instance')"></date-picker-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Schedule Number <span ng-show="!isActionState('end-instance')">*</span></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <ui-select name="scheduleNumber" required ng-model="formData.scheduleNumber" theme="bootstrap" id="scheduleNumber" ng-disabled="isActionState('end-instance')">
            <ui-select-match placeholder="Select a schedule">{{ $select.selected.scheduleNumber }}</ui-select-match>
            <ui-select-choices repeat="schedule in scheduleNumbers | filter: {scheduleNumber:$select.search} | orderBy:'scheduleNumber' track by schedule.id" ui-lock-choice="isDisabled()">
              <div ng-bind-html="schedule.scheduleNumber | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isActionState('replenish')">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Dispatched LMP Station <span ng-show="!isActionState('end-instance')">*</span></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('DispatchedCateringStation')">
          <select ng-disabled="true" required class="form-control" ng-model="formData.dispatchedCateringStationId" name="DispatchedCateringStation">
            <option ng-repeat="station in cateringStationList | orderBy:'name' track by station.id" value="{{ station.id }}">{{ station.name }} - {{ station.code }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="!isEndInstanceOrRedispatch()">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Store Number <span ng-show="!isActionState('end-instance')">*</span></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateInput('StoreNumber')">
          <select class="form-control" ng-model="formData.storeId" required name="StoreNumber" ng-disabled="isActionState('end-instance') || isActionState('replenish')">
            <option ng-disabled="true" selected="selected" value>Select Store</option>
            <option ng-repeat="store in storesList | orderBy:'storeNumber' track by store.id" value="{{ store.id }}">{{ store.storeNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>
          <span ng-hide="isActionState('replenish')">Select</span> Menus <span ng-show="!isActionState('end-instance')">*</span>
        </label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group" ng-class="validateMenus()">
          <ui-select ng-if="uiSelectTemplateReady" name="menus" required multiple ng-model="formData.menus" theme="bootstrap" ng-disabled="isActionState('end-instance') || isActionState('replenish')" style="min-height:34px;">
            <ui-select-match placeholder="{{ menuPlaceholderText() }}">{{ $item.menuCode }}
            </ui-select-match>
            <ui-select-choices repeat="menu in filteredMenuList | filter:omitSelectedMenus | filter: $select.search | orderBy:'menuCode' track by menu.id">
              <div ng-bind-html="menu.menuCode | highlight: $select.search "></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-xs-left text-sm-right">
        <label>Aircraft Tail Number</label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <select class="form-control" ng-model="formData.carrierId" name="carrierNumber" ng-disabled="isActionState('end-instance')">
            <option ng-disabled="true" selected="selected" value>Select a Tail Number</option>
            <option ng-repeat="tailNumber in carrierNumbers | orderBy:'carrierNumber' track by tailNumber.id" value="{{ tailNumber.id }}">{{ tailNumber.carrierNumber }}</option>
          </select>
        </div>
      </div>
    </div>

    <footer class="text-right">
      <button type="submit" class="btn btn-success">
        <span class="btn-label">Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </footer>

  </form>

  <confirmation-modal
   title="The Store you selected is already associated to another Instance"
   body="Currently, Instance {{ onFloorInstance.id }} is in the 'On Floor' status. You can either Redispatch this Instance, End this Instance, or press Cancel to select a different Store."
   confirmation-callback="goToActionState('redispatch')"
   confirmation-label="Redispatch"
   alternative-callback="goToActionState('end-instance')"
   alternative-label="End Instance"
   cancel-label="Cancel"
   ></confirmation-modal>

</div>
