<div class="container">

  <div class="list-controls">
    <div class="row item-list-row">
      <div class="col-xs-4">
        <h2 class="view-name">{{viewName}}</h2>
      </div>

      <div class="col-xs-8 text-right">

        <button class="btn btn-default" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false"
                aria-controls="search-collapse">
          <span class="fa fa-filter" aria-hidden="true"></span>
          <span class="hidden-sm hidden-xs">Filter</span>
        </button>

      </div>
    </div>

    <div class="panel panel-default collapse no-transition" id="search-collapse">
      <form name="promotionSearchForm" ng-submit="searchPromotions()">
        <div class="panel-body">
          <div class="row">

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="transaction-type">Transaction Type</label>
                <select ng-model="search.transactionTypeId" class="form-control" id="transaction-type">
                  <option value="{{type.id}}" ng-repeat="type in transactionTypeList | unique: 'id'">{{ type.name }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="transaction-id">Transaction Id</label>
                <input ng-model="search.transactionId" type="text" class="form-control" id="transaction-id" />
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="employee-id">Employee Id</label>
                <input ng-model="search.employeeId" type="text" class="form-control" id="employee-id" />
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="currency">Currency</label>
                <select ng-model="search.currency" class="form-control" id="currency">
                  <option value="{{currency.id}}" ng-repeat="currency in currencyList | unique: 'id'">{{ currency.code }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input ng-model="search.amount" type="text" class="form-control" id="amount" />
              </div>
            </div>

            <date-picker
              class="col-xs-12 col-md-4 col-sm-12"
              element-class="col-xs-6 col-sm-6"
              start-date-model="search.startDate"
              end-date-model="search.endDate"
              label-from="Effective From *"
              label-to="Effective To *"
              is-search-field="true">
            </date-picker>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="schedule-number">Schedule Number</label>
                <input ng-model="search.scheduleNumber" type="text" class="form-control" id="schedule-number" />
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="departure-station">Departure Station</label>
                <select ng-model="search.departureStation" class="form-control" id="departure-station">
                  <option value="{{departureStation.id}}" ng-repeat="departureStation in departureStationList | unique: 'id'">{{ departureStation.name }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="arrival-station">Arrival Station</label>
                <select ng-model="search.arrivalStation" class="form-control" id="arrival-station">
                  <option value="{{arrivalStation.id}}" ng-repeat="arrivalStation in arrivalStationList | unique: 'id'">{{ arrivalStation.name }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="payment-method">Payment Method</label>
                <select ng-model="search.paymentMethod" class="form-control" id="payment-method">
                  <option value="{{paymentMethod.id}}" ng-repeat="paymentMethod in paymentMethodList | unique: 'id'">{{ paymentMethod.name }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="store-number">Store Number</label>
                <input ng-model="search.storeNumber" type="text" class="form-control" id="store-number" />
              </div>
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label for="store-instance-number">Store Instance Numb.</label>
                <input ng-model="search.storeInstanceNumber" type="text" class="form-control" id="store-instance-number" />
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer text-right">
          <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" ng-click="clearForm()">Clear</button>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <error-dialog form-object="form" error-response="errorResponse" display="displayError">
  </error-dialog>

  <table infinite-scroll="getPromotionList()" class="table table-responsive table-bordered table-hover">
    <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Transaction ID</th>
      <th>Transaction Type</th>
      <th>Payment Method</th>
      <th>Card Type</th>
      <th>Card Number</th>
      <th>CC Processed Date</th>
      <th>CC Transaction Status</th>
      <th>CC Authorization Status</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr id="promotion-{{$index}}"
        ng-repeat="transaction in transactionList">
      <td>{{ transaction.transactionDate }}</td>
      <td>{{ transaction.transactionId }}</td>
      <td>{{ transaction.transactionTypeName }}</td>
      <td>{{ transaction.benefitTypeName }}</td>
      <td>{{ transaction.paymentMethod }}</td>
      <td>{{ transaction.cardType }}</td>
      <td>{{ transaction.carrierNumber }}</td>
      <td>{{ transaction.ccProcessedDate }}</td>
      <td>{{ transaction.ccTransactionStatus }}</td>
      <td>{{ transaction.ccAuthorizationStatus }}</td>
      <td>
        <button class="btn btn-danger btn-xs" ng-click="showTransactionDetails(promotion)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <p ng-if="transactionList.length > 0" class="record-count small text-center">Showing {{transactionList.length}} records</p>
</div>

